<div class="accordion w-90">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        (click)="isCollapsed = !isCollapsed"
        [class.collapsed]="isCollapsed"
        class="accordion-button"
        type="button"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseControl">
        <i *ngIf="icon" class="{{icon}} icon-circle m-2 bg-primary text-light"></i>
        {{title}}
      </button>
    </h2>
    <div [class.collapse]="isCollapsed" id="collapseControl" class="accordion-collapse" aria-labelledby="headingOne">
      <div class="accordion-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
