@import '../../../assets/scss/layout';
@import '../../../assets/scss/breakpoint';
@import '../../../assets/scss/color';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/shapes';
@import '../../../assets/scss/z-index';

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

h3 {
  margin: 0;
}

h4 {
  margin-bottom: 16px;
}

.form {
  background: $grey-7;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100 - #{$header-height});
  top: #{$header-height};
  z-index: $structure-details-z-index;
  @media #{$tablet} {
    height: calc(var(--vh, 1vh) * 100 - #{$header-height});
    position: fixed; //Hide default header app.
  }
}

.footer {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  text-align: center;
  &.desktop {
    @media #{$tablet} {
      display: none;
    }
  }

  &.phone {
    display: none;
    @media #{$tablet} {
      margin: 0 auto;
      //border-top: 1px solid $grey-4;
      display: block;
    }
  }
}
.header {
  height: #{$header-height-phone};
  line-height: #{$header-height-phone};
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: solid 1px $grey-4;
  background-color: $grey-1;
  color: $white;
  padding: 0 20px;
  @media #{$tablet} {
    display: block !important;
  }
  .container-icoMenu {
    width: 100%;
    position: absolute;
    height: 50px;

    .block-iconMenu {
      right: 44px;
      width: 50px;
      height: 50px;
      position: absolute;
    }
    .ico-menu {
      right: 13px;
      top: 24px;
      background: $white;
      &::after {
        background: $white;
      }
      &::before {
        background: $white;
      }
    }
  }
}
.content {
  .editHome {
    height: calc(
      100vh - #{$header-height} - #{$footer-height} - 81px - 1px - 55px - 48px
    ) !important; // -1px because of header border
  }
  @media #{$tablet} {
    &.editMode {
      .page {
        height: calc(
          100vh - #{$header-height-phone} - #{$footer-height-phone} - 87px - 1px
        ); // -1px because of header border
      }
      .editHome {
        height: unset !important; // -1px because of header border
        margin-bottom: 80px;
      }
    }
  }
  padding: 0 16px;
  display: block;
  overflow-y: auto;
  height: auto;
  h2 {
    @include lato-bold-26;
    color: $black;
    margin-bottom: 0;
    span {
      color: $primary-color;
    }
  }
  h3 {
    @include lato-bold-26;

    @media #{$tablet} {
      @include lato-bold-22;
    }
  }
  .page {
    max-width: 1000px;
    box-sizing: border-box;
    margin: auto;
    min-height: 450px;
    max-height: 75vh;
    overflow-y: auto;
    color: $grey-1;
    background: $white;
    border-radius: 8px;
    border: 1px solid $grey-6;
    padding: 32px 24px 32px 48px;
    * {
      max-width: 600px;
    }
    &.home {
      .btnStart {
        margin-top: 90px;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    &.informations {
      ul {
        padding-left: 24px;
        li::marker {
          color: $primary-color;
          font-size: 26px;
        }
        li > * {
          vertical-align: text-bottom;
        }
        li {
          @include lato-regular-18;
          line-height: 24px;
          margin: 10px 0;
        }
      }
    }
    .title {
      margin-bottom: 16px;
    }
    .nextTitle {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .type-picker {
      height: 100%;
    }
    .welcomingTerms,
    .procedureContainer,
    .otherServices,
    .textareaBlock {
      max-width: 600px;
    }
    .labelsQualifications {
      gap: 0 8px;
    }
  }
  .titleDesc {
    @include lato-bold-20;
    margin-bottom: 20px;
  }
  p {
    color: $grey-1;
    @include lato-regular-14;
    margin: 7px 0 0 0;
    &.special {
      @include lato-regular-14;
      color: $grey-3;

      margin-top: 4px;
      width: 280px;
      &.invalid {
        color: $orange-warning;
      }
    }
    &.informationEndForm {
      margin-top: 18px;
      color: $grey-2;
      @include lato-regular-14;
      a {
        color: $default-link-color;
        text-decoration: underline;
        font-weight: bold;
      }
    }
    &.notRequired {
      @include lato-regular-18;
      color: $grey-3;
      font-style: italic;
      margin-top: 4px;
    }
  }
  .passwordInfo {
    @include lato-regular-14;
    font-style: italic;
    color: $grey-3;
  }
  .textareaBlock {
    @media #{$tablet} {
      max-width: 90%;
    }
    p {
      text-align: right;
      @include lato-regular-14;
      color: $grey-3;
      font-style: italic;
    }
  }
}

.btn-primary {
  &.previous {
    background-color: initial;
    color: $grey-2;
    width: 120px;
    border-radius: 6px;
    border: 1px solid $grey-4;
  }
  &.start {
    margin-bottom: 26px;
  }
}
.chevronRight {
  height: 24px;
  width: 24px;
  stroke: $grey-2;
  margin-left: 10px;
}
.chevronLeft {
  height: 24px;
  width: 24px;
  stroke: $black;
  margin-right: 10px;
}
.form-group {
  &.facebook,
  &.twitter,
  &.instagram,
  &.linkedin,
  &.website,
  &.equipments {
    div {
      height: 52px;
      .validationIcon {
        margin-right: -53px;
      }
    }
  }
  div {
    height: 44px;
  }
  ul {
    padding-left: 0;
    li {
      display: flex;
      margin-left: 1%;
      font-size: small;
      align-items: center;
      p {
        margin-left: 10px;
        margin-top: unset;
        @include lato-regular-14;
      }
      &.valid {
        color: $green;
      }
      &.invalid {
        color: $orange-warning;
        p {
          color: $orange-warning;
        }
      }
    }
  }
  .addressRow {
    height: auto;
    .validateIcon {
      height: 38px !important;
    }
  }
}

input {
  &.email-placeholder::placeholder {
    color: $white;
    font-style: italic;
  }
  &.phone {
    width: 205px;
  }
  &.password {
    width: 256px;
  }
  &.structureName {
    width: 250px;
  }
}
img {
  max-height: 340px;
  &.eyePassword {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

//section equipments controller
.controller {
  border: 1px solid $grey-5;
  border-radius: 4px;
  margin-bottom: 13px;
  max-width: 600px;
  @media #{$small-phone} {
    width: 95% !important;
  }
  @media #{$tablet} {
    width: 296px;
  }
  .contorllerHeader {
    height: 65px;
    padding: 0 15px 0 12px;
    p {
      @include lato-bold-14;
    }
  }
  .equipments {
    svg {
      width: 32px;
      height: 32px;
      background-color: $grey-8;
      border-radius: 50%;
      cursor: pointer;
    }
    input {
      width: 56px;
      margin: 0 6px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

// collapse
.collapse {
  border: 1px solid $grey-5;
  border-radius: 4px;
  margin-bottom: 13px;
  max-width: 600px;
  @media #{$small-phone} {
    width: 95% !important;
  }
  @media #{$tablet} {
    width: 296px;
  }
  &.notCollapsed {
    margin-bottom: 8px;
    background: $grey-8;
    .logo {
      .hide {
        display: none;
      }
      .show {
        display: block;
      }
    }
  }
  .form-group {
    margin: 0;
    color: $grey-2;
    @include lato-regular-14;
    &.website,
    &.facebook,
    &.twitter,
    &.instagram,
    &.linkedin {
      svg {
        height: 22px;
        width: 22px;
        padding: 6px;
      }
      &:focus-within {
        input {
          border-color: $grey-3;
          fill: $primary-color;
        }
      }
    }
    app-svg-icon {
      padding-top: 12px;
      margin-right: 0 !important;
    }
    &.website {
      &:focus-within {
        svg {
          &.website {
            border-color: $grey-3;
            fill: $primary-color;
          }
        }
      }
    }
    &.facebook {
      &:focus-within {
        svg {
          &.facebook {
            border-color: $grey-3;
            fill: $primary-color;
          }
        }
      }
    }
    &.instagram {
      &:focus-within {
        svg {
          &.instagram {
            border-color: $grey-3;
            fill: $primary-color;
          }
        }
      }
    }
    &.twitter {
      &:focus-within {
        svg {
          &.twitter {
            border-color: $grey-3;
            fill: $primary-color;
          }
        }
      }
    }
    &.linkedin {
      &:focus-within {
        svg {
          &.linkedin {
            border-color: $grey-3;
            fill: $primary-color;
          }
        }
      }
    }
  }
  .inputSection {
    input {
      width: 100%;
      margin-top: 8px;
      &.withIcon {
        border-radius: 0 4px 4px 0;
        border-left: 0;
      }
    }
    padding: 0px 15px 19px 12px;
    svg {
      margin-top: 8px;
      width: 22px;
      height: 38px;
      fill: $grey-3;
      margin-right: 0 !important;
      border: 1px solid $grey-5;
      border-radius: 4px 0 0 4px;
      border-right: 0;
      padding-left: 16px;
      background: $grey-8;
    }
  }
  .titleCollapse {
    width: 100%;
    @include lato-bold-16;
    color: $grey-2;
    p {
      color: $grey-2;
      @include lato-bold-16;
    }
  }
  .collapseHeader {
    height: 65px;
    padding: 0 15px 0 12px;
    cursor: pointer;
  }
  .logo {
    height: 24px;
    width: 24px;
    svg {
      width: 100%;
      height: 100%;
      fill: $grey-1;
    }
  }
  .logo,
  .titleCollapse {
    .hide {
      display: block;
    }
    .show {
      display: none;
    }
  }
}

.tags {
  padding: 8px;
  button {
    background: $grey-8;
    border-radius: 20px;
    margin: 4px;
    max-width: 100%;
    height: 40px;
    padding: 0 13px;
    @include lato-bold-14;
    outline: none;
    border: none;
    cursor: pointer;
    &.selectedChoice {
      background: $green-1 !important;
      color: $white;
    }
  }
  svg {
    width: 20px;
    height: 10px;
    margin-right: 4px;
    stroke: $grey-8;
  }
}
.textBtn {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  margin-right: 12px;
}

.cgu {
  h3 {
    @include lato-bold-18;
  }
  .asterisk {
    color: $primary-color;
  }
}

.structureInfoBlock {
  background: $green-1;
  color: $white;
  padding: 16px;
  border-radius: 6px;
  @include lato-bold-18;
  .structureInfoContent {
    width: 100%;
  }
  span {
    font-style: italic;
    @include lato-regular-14;
  }
  .validateSvg {
    stroke: $white;
    text-align: right;
    svg {
      height: 14px;
      width: 14px;
    }
  }
}
.footerEditMode {
  width: 100%;
  position: fixed;
  bottom: 56px;
  margin: 0;
  background: $white;
  left: 0;
  border-top: 1px solid $grey-4;
  padding: 20px 0;
  @media #{$tablet} {
    bottom: 0;
    left: 0;
  }
}
.returnBtnSection {
  max-width: 960px;
  margin: 24px auto;
}
.itemSummary {
  height: 60px;
  border-bottom: 1px solid $grey-4;
  @include lato-bold-20;
  cursor: pointer;
  &:hover {
    background: $grey-8;
  }
  &.last {
    border: 0;
  }
}
.headerEditMode {
  max-width: 960px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.lastPage {
  max-width: 530px;
  margin: 0 auto;
}

.section {
  padding-bottom: 2rem;
}
.dataShareConsent {
  ::ng-deep button p {
    font-weight: normal !important;
  }
}
.missing-information {
  display: flex;
  color: $orange-warning;
  span {
    margin-top: 12px;
    margin-left: 1%;
  }
}
