<div class="d-flex">
  <app-address-field
    [addressSuggestions]="(addressesFound$ | async) ?? []"
    [addressNotFound]="(addressNotFound$ | async) ?? false"
    (selectAddress)="onSelectAddress($event)"
    (searchAddress)="onSearchAddress($event)"></app-address-field>
  <button class="btn btn-sm btn-secondary ms-2" (click)="onGeoLocate()" *ngIf="(displayGeolocation$ | async) === true">
    <div *ngIf="loadingState$ | async">
      <span class="spinner-border spinner-border-sm text-primary me-1" role="status" aria-hidden="true"></span>
      <span class="text-primary">Chargement...</span>
    </div>
    <span *ngIf="(loadingState$ | async) === false">
      <i class="ri-map-pin-2-line align-bottom"></i>
      Me géolocaliser
    </span>
  </button>
</div>
