<div class="section-container no-padding" fxLayout="row" fxLayoutGap="32px">
  <div *ngIf="isLoading" class="loader">
    <img class="loader-gif" src="/assets/gif/loader_circle.gif" alt />
  </div>
  <div *ngIf="!isLoading" fxLayout="column" class="list-container" fxLayoutGap="16px">
    <!-- <div fxLayout="column" *ngIf="displayTags()">
      <div fxLayout="row wrap" fxLayoutAlign="none center" fxLayoutGap="8px">
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="9px"
          *ngFor="let filter of filters | slice: 1"
          class="tag"
          (click)="removeTag(filter)"
        >
          <p>{{ filter.slug | titlecase }}</p>
          <app-svg-icon [type]="'ico'" [iconColor]="'currentColor'" [icon]="'cancel'"></app-svg-icon>
        </div>
      </div>
    </div> -->
    <div fxLayout="column">
      <div *ngIf="allPosts.length <= 0 && !isLoading" fxLayout="column">
        <p>Aucun résultat ne correspond à votre recherche.</p>
      </div>
      <div fxLayout="row" fxLayoutGap="33px">
        <div class="posts-container">
          <app-post-card [post]="news" class="col" *ngFor="let news of allPosts"></app-post-card>
        </div>
      </div>
    </div>
  </div>
</div>
