<div class="section-container" fxLayout="row">
  <div fxLayout="column" class="list-container">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2>A la une</h2>
        <button>Publier votre actu</button>
      </div>
    </div>

    <div fxLayout="column">
      <div fxLayout="row">
        <h2>Autres actualités</h2>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center" class="project-container">Appels ap rojets</div>
</div>
