<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="!isInClaimStructure && !isToClaimStructure && !isClaimedStructure">
    Choisir un filtre pour afficher la liste des structures
  </div>
  <table aria-describedby="demands attachment results" class="results-tab results-column">
    <thead>
      <th scope="col">Structures en cours de revendication ({{ structuresInClaim.length }})</th>
    </thead>
    <tbody>
      <tr *ngFor="let structure of structuresInClaim">
        <td>
          <a href="/acteurs?id={{ structure.structureId }}" target="_blank"> {{ structure.structureName }}</a>
        </td>
      </tr>
      <tr *ngIf="!structuresInClaim?.length">
        <td colspan="3">Aucune structure</td>
      </tr>
    </tbody>
  </table>
  <table aria-describedby="demands attachment results" class="results-tab results-column">
    <thead>
      <th scope="col">Structures à revendiquer ({{ structuresToClaim.length }})</th>
    </thead>
    <tbody>
      <tr *ngFor="let structure of structuresToClaim">
        <td>
          <a href="/acteurs?id={{ structure.structureId }}" target="_blank"> {{ structure.structureName }}</a>
        </td>
      </tr>
      <tr *ngIf="!structuresToClaim?.length">
        <td colspan="3">Aucune structure</td>
      </tr>
    </tbody>
  </table>
  <table aria-describedby="demands attachment results" class="results-tab results-column">
    <thead>
      <th scope="col">Structures revendiquées ({{ structuresClaimed.length }})</th>
    </thead>
    <tbody>
      <tr *ngFor="let structure of structuresClaimed">
        <td>
          <a href="/acteurs?id={{ structure.structureId }}" target="_blank"> {{ structure.structureName }}</a>
        </td>
      </tr>
      <tr *ngIf="!structuresClaimed?.length">
        <td colspan="3">Aucune structure</td>
      </tr>
    </tbody>
  </table>
</div>
