<div class="header">
  <span class="title">Acteurs de la médiation</span>
</div>
<div class="content" fxLayout="column">
  <div class="searchSection" fxLayout="row" fxLayoutGap="1.5vw">
    <div class="icon">
      <div class="ico-pin-search grey"></div>
    </div>
    <input type="text" placeholder="Rechercher une adresse, une association..." />
    <button type="button">Rechercher</button>
  </div>

  <div class="btnSection" fxLayout="row" fxLayoutAlign="space-between center">
    <button type="button" [className]="btnServicesChecked ? 'selected' : ''" (click)="openModal(this.modalType[0])">
      <span class="btnText">Services</span>
      <div class="arrow"></div>
    </button>
    <button type="button" [className]="btnHomeChecked ? 'selected' : ''" (click)="openModal(this.modalType[1])">
      <span class="btnText">Accueil</span>
      <div class="arrow"></div>
    </button>
    <button type="button" [className]="btnMoreFilterchecked ? 'selected' : ''" (click)="openModal(this.modalType[2])">
      <span class="btnText">Plus de filtres</span>
      <div class="arrow"></div>
    </button>
  </div>
  <div *ngIf="modalOpened" class="modal" fxLayout="column" fxLayoutAlign="space-between">
    <div class="contentModal" fxLayout="row wrap">
      <!--<div class="blockFiltre" *ngFor="let s of services">-->
      <div class="blockFiltre" *ngFor="let s of services">
        <div class="blockLigne">
          <h4>{{ s.titre }}</h4>
          <div
            fxLayout="row"
            class="ligneFiltre"
            fxLayoutAlign="space-between center"
            *ngFor="let categ of s.categories"
          >
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                <span class="customCheck"></span>
                {{ categ }}
              </label>
            </div>
            <span class="nbResult">34</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="3vw">
      <a href="">Effacer</a>
      <button type="button" (click)="applyFilter()">Appliquer</button>
    </div>
  </div>
</div>
<div class="footer" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="checkbox">
    <label>
      <input type="checkbox" />
      <span class="customCheck"></span>
      Pass numérique
    </label>
  </div>
  <a href="">Ajouter une structure</a>
</div>
