<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-5">
      <span class="text-primary">Où</span>
      vous trouvez-vous&nbsp;?
    </h1>
    <div class="text-center fw-bold mb-5 text-muted">
      Définissez la zone géographique dans laquelle vous souhaitez chercher un lieu d'accompagnement
    </div>
    <form class="bg-light py-5" [formGroup]="orientationLayout.filterForm">
      <div class="row gx-0 justify-content-center">
        <div class="col-9">
          <div class="row gx-0">
            <div class="col-md col-12 me-3">
              <app-address-field
                [displayReset]="true"
                [addressSuggestions]="(addressesFound$ | async) ?? []"
                [addressNotFound]="(addressNotFound$ | async) ?? false"
                [defaultValue]="orientationLayout.filterForm.get('address')?.value"
                (selectAddress)="onSelectAddress($event)"
                (resetAddress)="onResetAddress()"
                (searchAddress)="onSearchAddress($event)"></app-address-field>
            </div>
            <button class="btn btn-secondary mt-md-0 mt-3 text-nowrap col-auto mx-auto" (click)="onGeoLocate()">
              <div *ngIf="loadingState$ | async">
                <span class="spinner-border spinner-border-sm text-primary me-1" role="status" aria-hidden="true"></span>
                <span class="text-primary">Chargement...</span>
              </div>
              <span *ngIf="(loadingState$ | async) === false">
                <i class="ri-map-pin-2-line"></i>
                Me géolocaliser
              </span>
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="orientationLayout.filterForm.get('latitude')?.value && orientationLayout.filterForm.get('longitude')?.value"
        class="row justify-content-center">
        <div class="col-9 my-5">
          <input
            type="range"
            id="distance-range"
            name="distance"
            class="form-range distance-range"
            min="5000"
            max="100000"
            step="5000"
            formControlName="distance" />
          <div class="d-flex mt-4">
            <div class="mx-auto d-flex align-items-end">
              <div class="bg-white py-1 px-5 border-bottom border-2 rounded-top">
                Rayon :
                <b class="text-primary">{{ orientationLayout.filterForm.get('distance')?.value / 1000 + ' km' }}</b>
              </div>
              <i
                class="ri-information-line ms-2 fw-normal text-muted ri-2x"
                role="button"
                (click)="informationOrientationModal.toggle()"></i>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center mt-5">
      <a class="btn btn-primary mx-3" [routerLink]="['..', 'accessibilite']" queryParamsHandling="preserve">
        Valider
        <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>
  </div>
</div>
<app-information-orientation-modal
  #informationOrientationModal
  [orientationInformation]="{
    titre: 'Rayon maximum',
    description: 'Vous pouvez modifier le rayon de votre recherche grâce au petit cercle déplaçable sous le champ adresse. Plus votre rayons sera petit, plus l’outil vous proposera des structures proches de chez vous'
  }"></app-information-orientation-modal>
