<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="results">Résultat</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-sm-5 mt-3">
      <span class="text-primary">Où</span>
      résidez-vous &nbsp;?
    </h1>
    <p class="text-center fw-bold mb-sm-5 mb-4 text-muted">
      Renseignez votre adresse puis définissez la distance maximale jusqu'à laquelle vous pouvez vous déplacer
    </p>
    <form class="bg-light py-5" [formGroup]="orientationLayout.filterForm">
      <div class="ms-5">
        <label class="form-label ms-5">Entrez une adresse :</label>
      </div>
      <div class="row gx-0 justify-content-center">
        <div class="col-md-9 col-11">
          <div class="row g-4">
            <div class="col-sm">
              <app-search-field
                [displayReset]="true"
                [suggestions]="(addressesFound$ | async) ?? []"
                [isNotFound]="(addressNotFound$ | async) ?? false"
                [defaultValue]="orientationLayout.filterForm.get('address')?.value"
                (selected)="onSelectAddress($event)"
                (resetSearch)="onResetAddress()"
                (search)="onSearchAddress($event)"></app-search-field>
            </div>
            <button class="btn btn-sm btn-secondary text-nowrap col-auto mx-auto" (click)="onGeoLocate()">
              <div *ngIf="loadingState$ | async">
                <span class="spinner-border spinner-border-sm text-primary me-1" role="status" aria-hidden="true"></span>
                <span class="text-primary">Chargement...</span>
              </div>
              <span *ngIf="(loadingState$ | async) === false">
                <span role="img" class="ri-focus-3-line" aria-hidden="true"></span>
                Me géolocaliser
              </span>
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="orientationLayout.filterForm.get('latitude')?.value && orientationLayout.filterForm.get('longitude')?.value"
        class="row justify-content-center">
        <div class="col-9 mt-5 position-relative">
          <span class="visually-hidden">La distance maximum doit être comprise</span>
          <span
            style="left: 24px; top: 16px"
            [ngClass]="orientationLayout.filterForm.get('distance')?.value / 1000 === 5 ? 'bg-primary text-white' : 'bg-white'"
            class="pe-none position-absolute translate-middle rounded-circle text-center square-range-thumb">
            <i>
              <span class="visually-hidden">entre :</span>
              5
              <span class="visually-hidden">km</span>
            </i>
          </span>
          <span
            style="top: 16px; right: 0"
            [ngClass]="orientationLayout.filterForm.get('distance')?.value / 1000 === 100 ? 'bg-primary text-white' : 'bg-white'"
            class="pe-none position-absolute translate-middle rounded-circle text-center square-range-thumb">
            <i>
              <span class="visually-hidden">et</span>
              100
              <span class="visually-hidden">km</span>
            </i>
          </span>
          <input
            type="range"
            id="distance-range"
            name="distance"
            class="form-range distance-range"
            min="5000"
            max="100000"
            step="5000"
            formControlName="distance"
            (change)="handleRangeChange($event)" />
          <div class="d-flex mt-4">
            <label class="mx-auto" for="distance-range">
              <span class="form-label">Distance maximum :</span>
              <div>
                <b class="text-primary bg-white py-2 px-5 border-bottom border-2 rounded-top">
                  {{ orientationLayout.filterForm.get('distance')?.value / 1000 + ' km' }}
                </b>
                <button
                  class="btn btn-link text-decoration-none p-0 border-0 ms-2"
                  (click)="informationOrientationModal.control.toggle($event)">
                  <span class="visually-hidden">Info</span>
                  <span role="img" class="ri-information-line fw-normal text-muted ri-2x" aria-hidden="true"></span>
                </button>
              </div>
            </label>

            <div class="d-flex align-items-center"></div>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center mt-4">
      <a role="button" class="btn btn-primary mx-3" [routerLink]="['..', 'accessibilite']" queryParamsHandling="preserve">
        Suivant
        <span role="img" class="ri-arrow-right-s-line" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
<app-information-orientation-modal
  #informationOrientationModal
  [orientationInformation]="{
    titre: 'Rayon Maximum',
    description: 'Vous pouvez modifier le rayon de votre recherche grâce au petit cercle déplaçable sous le champ adresse. Plus votre rayon sera petit, plus l’outil vous proposera des lieux d\'inclusion numérique proches du lieu renseigné'
  }"></app-information-orientation-modal>
