<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-5">
      <span class="text-primary">Où</span>
      vous trouvez-vous&nbsp;?
    </h1>
    <div class="text-center fw-bold mb-5 text-muted">
      Définissez la zone géographique dans laquelle vous souhaitez chercher un lieu d'accompagnement
    </div>
    <form class="bg-light py-5" [formGroup]="orientationLayout.filterForm">
      <div class="row gx-0 justify-content-center">
        <div class="col-9">
          <div class="row gx-0">
            <div class="col-md col-12 me-3">
              <app-address-field
                [displayReset]="true"
                [addressSuggestions]="(addressesFound$ | async) ?? []"
                [addressNotFound]="(addressNotFound$ | async) ?? false"
                [defaultValue]="orientationLayout.filterForm.get('address')?.value"
                (selectAddress)="onSelectAddress($event)"
                (resetAddress)="onResetAddress()"
                (searchAddress)="onSearchAddress($event)"></app-address-field>
            </div>
            <button class="btn btn-secondary mt-md-0 mt-3 text-nowrap col-auto mx-auto" (click)="onGeoLocate()">
              <div *ngIf="loadingState$ | async">
                <span class="spinner-border spinner-border-sm text-primary me-1" role="status" aria-hidden="true"></span>
                <span class="text-primary">Chargement...</span>
              </div>
              <span *ngIf="(loadingState$ | async) === false">
                <i class="ri-map-pin-2-line"></i>
                Me géolocaliser
              </span>
            </button>
          </div>
        </div>
      </div>
      <div
        *ngIf="orientationLayout.filterForm.get('latitude')?.value && orientationLayout.filterForm.get('longitude')?.value"
        class="row justify-content-center">
        <div
          class="col-9 mt-4"
          *ngIf="lieuxMediationNumeriqueByDistanceRange$ | async as lieuxMediationNumeriqueByDistanceRange">
          <div class="d-flex justify-content-between mx-auto px-2">
            <button
              *ngFor="let lieuMediationNumeriqueByDistanceRange of lieuxMediationNumeriqueByDistanceRange; index as i"
              [ngStyle]="{height: (lieuMediationNumeriqueByDistanceRange.height) + 'px'}"
              [ngClass]="lieuMediationNumeriqueByDistanceRange.distance && (lieuMediationNumeriqueByDistanceRange.distance <= orientationLayout.filterForm.get('distance')?.value) ? 'bg-primary' : 'bg-muted'"
              (click)="orientationLayout.filterForm.get('distance')?.setValue(lieuMediationNumeriqueByDistanceRange.distance)"
              style="width: 15px"
              class="btn btn-primary mt-auto p-0 rounded-0 border-0"
              tabindex="-1"></button>
          </div>
          <label class="visually-hidden">Filtre par distance en mètres</label>
          <div class="position-relative mx-3">
            <span
              style="margin-top: -2px"
              class="position-absolute translate-middle bg-white rounded-circle square-lg text-muted d-flex align-items-center">
              <small class="w-100 text-center fst-italic">5</small>
            </span>
            <span
              style="margin-top: -2px"
              class="position-absolute start-100 translate-middle bg-white rounded-circle square-lg text-muted d-flex align-items-center">
              <small class="w-100 text-center fst-italic">100</small>
            </span>
          </div>
          <div class="position-relative mx-3 z-index-over-base">
            <span
              [ngStyle]="{marginLeft: ((orientationLayout.filterForm.get('distance')?.value - 5000) * 100) / (100000 - 5000) + '%'}"
              style="margin-top: -2px"
              class="position-absolute translate-middle text-white d-flex align-items-center pe-none">
              <small class="w-100 text-center fst-italic">
                {{ orientationLayout.filterForm.get('distance')?.value / 1000 }}
              </small>
            </span>
          </div>
          <input
            type="range"
            id="distance-range"
            name="distance"
            class="form-range distance-range position-relative"
            min="5000"
            max="100000"
            step="5000"
            formControlName="distance" />
          <div class="d-flex mt-4">
            <input
              disabled
              class="fs-5 mx-auto text-center"
              [value]="orientationLayout.filterForm.get('distance')?.value / 1000 + ' km'" />
          </div>
        </div>
      </div>
    </form>
    <div class="text-center mt-5">
      <a class="btn btn-primary mx-3" [routerLink]="['..', 'accessibilite']" queryParamsHandling="preserve">
        Valider
        <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>
  </div>
</div>
