@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/z-index';
@import '../../../../assets/scss/hyperlink';

.modalTitle {
  display: flex;
  h3 {
    margin-top: 6%;
    width: 50%;
  }
  .ico-close {
    width: 50%;
  }
}

.incorrectId {
  color: $orange-warning;
}

h3 {
  @include cn-bold-26;
  color: $black;
  margin-top: 0;
}
.form {
  max-width: 391px;
  margin: 0 32px;
  margin-bottom: 8%;
}

.form-group {
  margin-top: 26px;
  .notValidate {
    min-width: 26px;
    width: 26px;
    height: 40px;
  }
  label {
    margin-bottom: 4px;
    @include cn-regular-14;
    color: $grey-2;
  }
  input {
    width: 100%;
  }
  &.password {
    margin-bottom: 39px;
    p {
      @include cn-regular-14;
      color: $grey-3;
      margin-top: 0;
      margin-bottom: 4px;
      &.invalid {
        color: $orange-warning;
      }
    }
    .eyePassword {
      cursor: pointer;
      width: 24px;
      height: 40px;
      stroke: $grey-3;
      fill: $grey-3;
    }
  }
}
.footerModal {
  button {
    width: 100% !important;
    &.invalid {
      opacity: 0.4;
    }
    &.confirm {
      font-size: 14px;
    }
    &.register {
      background: $white;
      border: 1px solid $grey-4;
      color: $secondary-color;
      height: 38px;
    }
  }
}
