<div *ngIf="openned" class="modalBackground">
  <div class="modal">
    <div (clickOutside)="closeModal(false)" class="contentModal" fxLayout="column" fxLayoutAlign="space-around start">
      <div class="form">
        <div class="modalTitle">
          <h3>Se connecter</h3>
          <div class="ico-close" fxLayout="row" fxLayoutAlign="end center">
            <div class="ico-close-wrapper">
              <div (click)="closeModal()" class="ico-close-details"></div>
            </div>
          </div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group" fxLayout="column">
            <label for="email">Courriel du compte</label>
            <div fxLayout="row" fxLayoutGap="13px">
              <input type="text" autocomplete="on" formControlName="email" class="form-input" />
              <svg *ngIf="f.email.invalid && f.email.value" class="notValidate" aria-hidden="true">
                <use [attr.xlink:href]="'assets/form/sprite.svg#notValidate'"></use>
              </svg>
            </div>
          </div>
          <div class="form-group password" fxLayout="column">
            <label for="password">Mot de passe</label>
            <p [ngClass]="{ invalid: f.password.invalid && f.password.value }">
              Le mot de passe doit contenir au minimum : 8 caractères dont un caractère spécial, un caractère en
              majuscule et un chiffre.
            </p>
            <div fxLayout="row" fxLayoutGap="13px">
              <input
                [type]="isShowPassword ? 'text' : 'password'"
                autocomplete="on"
                formControlName="password"
                class="form-input"
              />
              <svg (click)="toggleShowPassword()" class="eyePassword" aria-hidden="true">
                <use [attr.xlink:href]="'assets/form/sprite.svg#eyePassword'"></use>
              </svg>
              <svg *ngIf="f.password.invalid && f.password.value" class="notValidate" aria-hidden="true">
                <use [attr.xlink:href]="'assets/form/sprite.svg#notValidate'"></use>
              </svg>
            </div>
            <div class="incorrectId" *ngIf="authFailed">Identifiant ou mot de passe invalide</div>
          </div>
          <div class="footerModal" fxLayout="row" fxLayoutAlign="space-around center">
            <button type="button" class="btn confirm" (click)="swithToResetPassword()">Mot de passe oublié</button>
            <button
              type="submit"
              class="btn-primary"
              [disabled]="loginForm.invalid || loading"
              [ngClass]="{ invalid: loginForm.invalid || loading }"
            >
              Connexion
            </button>
          </div>
          <div class="footerModal" fxLayout="row" fxLayoutAlign="space-around center">
            <button class="btn register" (click)="sendSwitchToSignIn()">Je n’ai pas encore de compte</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
