<div fxLayout="column" class="content-container full-screen">
  <div class="section-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="resetPasswordForm">
      <h1>Réinitialisation du mot de passe</h1>
      <form *ngIf="!token" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Courriel personnel</label>
            <div fxLayout="row" fxLayoutGap="13px">
              <input type="text"
               autocomplete="on" 
               formControlName="email" 
               class="form-input" 
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
            </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" >L'adresse e-mail est requise</div>
          </div>
        </div>
        <div class="button" fxLayout="row" fxLayoutAlign="space-around center">
          <a routerLink="../login" class="btn btn-link">Annuler</a>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Envoyer
          </button>
        </div>
      </form>
    </div>
    <form *ngIf="token" [formGroup]="resetFormChangePassword" (ngSubmit)="onSubmitPassword()">
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          autocomplete="on"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fPassword.password.errors }"
        />
        <div *ngIf="submitted && fPassword.password.errors" class="invalid-feedback">
          <div *ngIf="fPassword.password.errors.required">Le mot de passe est obligatoire</div>
          <div *ngIf="fPassword.password.errors.pattern">
            Le mot de passe doit avoir au minimun 8 caractères, une majuscule, une minuscule, un chiffre et un caractère
            spécial.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmation du mot de passe</label>
        <input
          type="password"
          autocomplete="on"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && fPassword.confirmPassword.errors }"
        />
        <div *ngIf="submitted && fPassword.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="fPassword.confirmPassword.errors.required">La confirmation du mot de passe est obligatoire</div>
          <div *ngIf="fPassword.confirmPassword.errors.mustMatch">Les mot de passe ne sont pas les mêmes</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
