<div fxLayout="column" class="content-container full-screen">
  <div class="section-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="resetPasswordForm">
      <h1>Réinitialisation du mot de passe</h1>
      <form *ngIf="!token" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Courriel du compte</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              type="text"
              autocomplete="on"
              formControlName="email"
              class="form-input"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">L'adresse e-mail est requise</div>
          </div>
        </div>
        <div class="button" fxLayout="row" fxLayoutAlign="space-around center">
          <a routerLink="../login" class="btn btn-link">Annuler</a>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Envoyer
          </button>
        </div>
      </form>
    </div>
    <app-password-form *ngIf="token" (passwordForm)="onSubmitPassword($event)"></app-password-form>
  </div>
</div>
