<div fxLayout="column" class="content-container full-screen">
  <div class="section-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="resetPasswordForm">
      <h1>Réinitialisation du mot de passe</h1>
      <form *ngIf="!token" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Courriel du compte</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              type="text"
              autocomplete="on"
              formControlName="email"
              class="form-input"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
          </div>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">L'adresse e-mail est requise</div>
          </div>
        </div>
        <div class="button" fxLayout="row" fxLayoutAlign="space-around center">
          <a routerLink="../login" class="btn btn-link">Annuler</a>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Envoyer
          </button>
        </div>
      </form>
    </div>
    <form *ngIf="token" [formGroup]="accountForm" (ngSubmit)="onSubmitPassword()">
      <div class="form-group" fxLayout="column">
        <label for="password">Création de mot de passe</label>
        Le mot de passe doit contenir au minimum :
        <ul>
          <li
            [ngClass]="{
              invalid: accountForm.get('password').value.length < 8,
              valid: accountForm.get('password').value.length >= 8
            }"
            class=""
          >
            <app-svg-icon
              *ngIf="accountForm.get('password').value.length >= 8"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="accountForm.get('password').value.length < 8"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>8 caractères</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasSpecialChar(accountForm.get('password').value),
              valid: checkIfPasswordHasSpecialChar(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère spécial</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasLowerCase(accountForm.get('password').value),
              valid: checkIfPasswordHasLowerCase(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasLowerCase(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasLowerCase(accountForm.get('password').value); s"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère en minuscule</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasUpperCase(accountForm.get('password').value),
              valid: checkIfPasswordHasUpperCase(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasUpperCase(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasUpperCase(accountForm.get('password').value); s"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère en majuscule</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasDigit(accountForm.get('password').value),
              valid: checkIfPasswordHasDigit(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasDigit(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasDigit(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un chiffre</p>
          </li>
        </ul>
        <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-input password"
            (input)="setValidationsForm()"
            autocomplete="on"
          />
          <app-svg-icon
            [iconClass]="'validation grey hover'"
            [type]="'form'"
            [icon]="'eyePassword'"
            (click)="showPassword()"
          ></app-svg-icon>

          <app-svg-icon
            *ngIf="accountForm.get('password').valid"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'validate'"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('password').invalid && accountForm.get('password').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'notValidate'"
          ></app-svg-icon>
        </div>
      </div>
      <div class="form-group" fxLayout="column">
        <label for="confirmPassword">Vérification du mot de passe</label>
        <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
          <input
            [type]="isShowConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            class="form-input password"
            (input)="setValidationsForm()"
            autocomplete="on"
          />
          <app-svg-icon
            [iconClass]="'validation grey hover'"
            [type]="'form'"
            [icon]="'eyePassword'"
            (click)="showConfirmPassword()"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('confirmPassword').valid && accountForm.get('confirmPassword').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'validate'"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('confirmPassword').invalid && accountForm.get('confirmPassword').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'notValidate'"
          ></app-svg-icon>
        </div>
      </div>
      <div class="form-group">
        <button
          [disabled]="loading"
          class="btn btn-primary"
          [disabled]="accountForm.get('confirmPassword').invalid || accountForm.get('password').invalid"
        >
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Enregistrer
        </button>
      </div>
    </form>
  </div>
</div>
