@import '../../assets/scss/color';

.form-group {
  margin-bottom: 26px;
  label {
    color: $grey-2;
  }
  .resetPasswordForm {
    max-width: 500px;
  }

  .button {
    margin-top: 20px;
  }

  .form-input {
    width: 256px;
  }
}
