@import '../../assets/scss/color';
@import '../../assets/scss/typography';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/layout';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.resetPage {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
  min-height: 450px;
  max-height: 75vh;
  overflow-y: auto;
  color: $grey-1;
  background: $white;
  border-radius: 8px;
  border: 1px solid $grey-6;
  padding: 32px 24px 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media #{$tablet} {
    height: calc(
      100vh - #{$header-height-phone} - #{$footer-height-phone} - 87px - 1px
    ); // -1px because of header border
  }
}
.resetPasswordForm {
  max-width: 430px;
  margin: auto;
  h1,
  p {
    text-align: center;
    margin: 0.5rem 0;
  }
  h1 {
    @include lato-bold-24;
  }
  p {
    @include lato-regular-14;
  }
}
.form-group {
  max-width: 320px;
  margin: auto;
  margin-top: 2rem;
  label {
    color: $grey-2;
  }
  .button {
    margin-top: 20px;
  }
  .form-input {
    width: 320px;
  }
  .inputInvalid {
    border-color: $orange-warning;
  }
  .incorrectId {
    @include lato-regular-14;
    color: $orange-warning;
  }
}
.footer {
  width: 340px;
  margin: auto;
  margin-top: 2rem;
}
