<ng-container *ngFor="let openingHourGroup of openingHoursForm.controls ?? []; index as i; first as isFirst; last as isLast">
  <app-text-separator *ngIf="!isFirst" class="mt-4" background="light">OU</app-text-separator>
  <fieldset>
    <legend class="visually-hidden">
      Filtre horaire numéro {{ i + 1 }}
      <span *ngIf="openingHourGroup.valid">(valide)</span>
    </legend>
    <div class="d-flex">
      <span
        role="img"
        class="text-primary my-auto ri-check-line"
        [class.invisible]="openingHourGroup.invalid"
        aria-hidden="true"></span>
      <div class="row g-2 px-2 flex-grow-1">
        <div class="d-flex align-items-center">
          <div class="col-sm col-12">
            <label [for]="'jour-ouverture-' + i"><small class="text-muted">Choisir un jour</small></label>
            <div class="input-group">
              <button
                type="button"
                *ngIf="openingHourGroup.controls.day.value"
                class="btn input-group-btn link-dark opacity-75 text-decoration-none p-0"
                title="Supprimer ce jour"
                (click)="clearDateInput(i, 'day')">
                <span role="img" class="ri-close-line mx-1" aria-hidden="true"></span>
                <span class="visually-hidden">Effacer le jour numéro {{ i }}</span>
              </button>
              <select
                [id]="'jour-ouverture-' + i"
                class="form-select"
                [formControl]="openingHourGroup.controls.day"
                aria-label="Jour d'ouverture"
                (change)="onDaySelect(openingHourGroup); onOpeningHourChanges(i)">
                <option value="now">Ouvert Maintenant</option>
                <option value="all">Tous les jours</option>
                <option value="mo">Lundi</option>
                <option value="tu">Mardi</option>
                <option value="we">Mercredi</option>
                <option value="th">Jeudi</option>
                <option value="fr">Vendredi</option>
                <option value="sa">Samedi</option>
                <option value="su">Dimanche</option>
              </select>
            </div>
          </div>
          <div class="col mt-4" *ngIf="openingHourGroup.controls.day.value && openingHourGroup.controls.day.value !== 'now'">
            <div class="form-check form-switch my-2 ms-3">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" role="switch" (change)="onOpeningHourChanges(i, $event)" />
                Toute la journée
              </label>
            </div>
          </div>
        </div>

        <div class="row g-2 px-2 flex-grow-1" *ngIf="openingHourGroup.controls.period.value === 'hours'">
          <div class="col-6" *ngIf="openingHourGroup.controls.day.value && openingHourGroup.controls.day.value !== 'now'">
            <label [for]="'debut-' + i"><small class="text-muted">Choisir une date de début</small></label>
            <div class="input-group">
              <button
                type="button"
                *ngIf="openingHourGroup.controls.start.value"
                class="btn input-group-btn link-dark opacity-75 text-decoration-none p-0"
                title="Supprimer cette date de début"
                (click)="clearDateInput(i, 'start')">
                <span role="img" class="ri-close-line mx-1" aria-hidden="true"></span>
                <span class="visually-hidden">Effacer la date de début numéro {{ i }}</span>
              </button>
              <input
                type="time"
                class="form-control"
                [id]="'debut-' + i"
                [formControl]="openingHourGroup.controls.start"
                (change)="onOpeningHourChanges(i)"
                name="start" />
            </div>
          </div>
          <div class="col-6" *ngIf="openingHourGroup.controls.day.value">
            <label [for]="'fin-' + i"><small class="text-muted">Choisir une date de fin</small></label>
            <div class="input-group">
              <button
                type="button"
                *ngIf="openingHourGroup.controls.end.value"
                class="btn input-group-btn link-dark opacity-75 text-decoration-none p-0"
                title="Supprimer cette date de fin"
                (click)="clearDateInput(i, 'end')">
                <span role="img" class="ri-close-line mx-1" aria-hidden="true"></span>
                <span class="visually-hidden">Effacer la date de fin numéro {{ i }}</span>
              </button>
              <input
                type="time"
                class="form-control"
                [id]="'fin-' + i"
                [formControl]="openingHourGroup.controls.end"
                (change)="onOpeningHourChanges(i)"
                name="end" />
            </div>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="btn btn-link link-dark opacity-75 text-decoration-none p-0"
        [class.invisible]="!openingHourGroup || isLast"
        title="Supprimer cette ligne"
        (click)="removeOpeningHours(i)">
        <span role="img" class="ri-close-line" aria-hidden="true"></span>
        <span class="visually-hidden">Supprimer le filtre horaire numéro {{ i }}</span>
      </button>
    </div>
  </fieldset>
</ng-container>
