<div fxLayout="row" fxLayout.lt-sm="column" class="header">
  <div class="logo">
    <div fxLayout="column">
      <span><span class="yellow">╔╧╤</span> Médiation</span>
      <span><span class="orange">╚╪╧╤</span> Numérique</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <a routerLink="/resources" [routerLinkActive]="'active'">Ressources</a>
    <a routerLink="/projects" [routerLinkActive]="'active'">Projets</a>
    <a routerLink="/sturctures" [routerLinkActive]="'active'" i18n>Médiateurs numériques</a>
    <span class="ico-mglass orange-icon"></span>
    <a routerLink="/login" [routerLinkActive]="'active'">Se connecter</a>
  </div>
</div>
