@import '../../assets/scss/icons';
@import '../../assets/scss/typography';
@import '../../assets/scss/layout';
@import '../../assets/scss/color';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/shapes';

.header {
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 0 4vw;
  text-align: center;
  a {
    &.active {
      @include highlight;
    }
  }
  .right-header {
    height: 100%;
  }
  .grey-background {
    height: 100%;
    padding: 0 3vw;
    background-color: $grey-2;
    a {
      text-decoration: underline;
    }
  }
}

.logo {
  @include cn-regular-28;
  text-align: initial;
  .primary {
    color: $primary-color;
  }
  .secondary {
    color: $secondary-color;
  }
  @media #{$tablet} {
    @include cn-regular-16;
  }
}
