@import '../../assets/scss/icon';
@import '../../assets/scss/typography';
@import '../../assets/scss/color';
@import '../../assets/scss/breakpoint';

.header {
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4vw;
  a {
    &.active:before,
    &.active:after {
      display: inline-block;
      text-decoration: none;
    }
    &.active:before {
      content: '╟';
      margin-right: 10px;
    }
    &.active:after {
      content: '╢';
      margin-left: 10px;
    }
  }
}

.logo {
  @include cn-regular-28;
  .yellow {
    color: $yellow;
  }
  .orange {
    color: $orange;
  }
  @media #{$tablet} {
    @include cn-regular-16;
  }
}
