<div fxLayout="row" class="header hide-on-print">
  <div class="logo clickable" routerLink="/home">
    <img *ngIf="displayLogo(); else customTitle" class="logo-grand-lyon" src="/assets/logos/resin.svg" alt />
    <div class="logo-text" fxLayout="column" fxLayoutAlign="center">
      <p>Réseau des acteurs de l'inclusion numérique de la métropole de Lyon</p>
    </div>
  </div>
  <div class="containerIconMenu">
    <app-svg-icon (click)="openMenu()" [type]="'ico'" [icon]="'menu'" [iconClass]="'icon-32'"></app-svg-icon>
  </div>
  <div fxLayout="row" class="right-header" fxLayoutAlign="center center" fxLayoutGap="3vw">
    <a routerLink="/news" [routerLinkActive]="'active'" i18n>Actualités</a>
    <a routerLink="/home" [routerLinkActive]="'active'" i18n>Cartographie de acteurs</a>
    <a routerLink="/about" [routerLinkActive]="'active'" i18n>Qui sommes-nous ?</a>
    <a *ngIf="isAdmin" routerLink="/admin" [routerLinkActive]="'active'">Administration</a>
    <button *ngIf="isLoggedIn" class="red" routerLink="/profile" [routerLinkActive]="'active'">
      {{ displayName }}
    </button>
    <button *ngIf="!isLoggedIn" (click)="isPopUpOpen = !isPopUpOpen">Se connecter</button>
  </div>
</div>
<div *ngIf="showMenu" class="mobile-menu" fxLayout="row">
  <div class="outside" (click)="closeMenu()"></div>
  <div class="menu-content" fxLayout="column" fxLayoutAlign="space-between">
    <div>
      <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Menu</span>
        <div (click)="closeMenu()" class="ico-close-details"></div>
      </div>
      <div fxLayout="column" class="right-header" fxLayoutAlign="none baseline" fxLayoutGap="5vw">
        <a routerLink="/news" [routerLinkActive]="'active'" (click)="closeMenu()" i18n>Actualités</a>
        <a routerLink="/home" [routerLinkActive]="'active'" (click)="closeMenu()" i18n>Cartographie de acteurs</a>
        <a routerLink="/about" [routerLinkActive]="'active'" i18n>Qui sommes-nous ?</a>
        <a *ngIf="isAdmin" routerLink="/admin" [routerLinkActive]="'active'" (click)="closeMenu()">Administration</a>
      </div>
    </div>
    <div>
      <button *ngIf="isLoggedIn" class="red" routerLink="/profile" [routerLinkActive]="'active'" (click)="closeMenu()">
        {{ displayName }}
      </button>
      <button *ngIf="!isLoggedIn" (click)="isPopUpOpen = !isPopUpOpen; closeMenu()">Se connecter</button>
    </div>
  </div>
</div>

<app-signup-modal *ngIf="displaySignUp" [openned]="isPopUpOpen" (closed)="closeSignUpModal($event)"></app-signup-modal>

<ng-template #customTitle>
  <img class="desktop-show logo-grand-lyon" src="/assets/logos/resin.svg" alt />
  <p class="mobile-show">Création de compte</p>
</ng-template>
