<div fxLayout="row" fxLayoutAlign="center" class="header">
  <div>
    <a routerLink="/home" tabindex="0">logo</a>
  </div>
  <div class="right">
    <a routerLink="/resources" routerLinkActive="active" tabindex="0">Ressources</a>
    <a routerLink="/projects" routerLinkActive="active">Projets</a>
    <a routerLink="/sturctures" routerLinkActive="active" tabindex="0">Médiateurs numériques</a>
    <span class="ico-mglass orange-icon"></span>
    <a routerLink="/login" routerLinkActive="active" tabindex="0">Se connecter</a>
  </div>
</div>
