@import '../../assets/scss/icons';
@import '../../assets/scss/typography';
@import '../../assets/scss/layout';
@import '../../assets/scss/color';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/shapes';

.header {
  height: $header-height;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: solid 1px $grey-4;
  background-color: $white;
  padding: 0 20px;
  a {
    font-style: italic;
    color: $grey-2;
    &.active {
      font-weight: bold;
      color: $grey-1;
      &:before {
        color: $primary-color;
        content: '// ';
      }
      &:after {
        color: $primary-color;
        content: ' //';
      }
    }
  }
  .right-header {
    height: 100%;
  }
}

.logo {
  @include cn-regular-14;
  text-align: initial;
  outline: none;
  p {
    margin: 0;
  }
}
