<div class="footer" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="row">
    <a class="clickable text-align-center" routerLink="/page/accessibilite" i18n>Accessibilité</a>
    <a class="clickable text-align-center" routerLink="/legal-notice" i18n>Mentions légales</a>
    <a class="clickable text-align-center" routerLink="/newsletter" i18n>Newsletter</a>
    <!-- <a class="clickable text-align-center" routerLink="/sitemap" i18n>Plan du site</a> -->
    <a class="clickable text-align-center" routerLink="/contact" i18n>Contact</a>
  </div>
  <a
    class="metro-link"
    href="https://www.grandlyon.com"
    title="Accéder au site de la Métropole de Lyon (nouvelle fenêtre)"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img class="logo-grand-lyon" src="/assets/logos/ic_metro.svg" alt />
    <p class="metro-title" i18n>Un site de la Métropole de Lyon</p>
  </a>
</div>
