@import '../../assets/scss/color';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/typography';
@import '../../assets/scss/layout';

.footer {
  height: $footer-height;
  background-color: black;
  display: flex;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0px 22px;
  a {
    color: $white;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    @include cn-regular-12;
    &:hover {
      text-decoration: underline;
    }
    &:not(:last-child)::after {
      content: '•';
      margin: 0px 0px 0px 10px;
      display: inline-block;
    }
  }
  img {
    height: 37px;
    width: 22px;
  }

  @media #{$large-phone} {
    display: none !important;
    font-size: 0.75em;
    div {
      margin: 20px 0;
      text-align: center;
    }
  }
}

.metro-title {
  margin-left: 6px;
  @include arial-regular-16;
}

.metro-link {
  display: flex;
  align-items: center;
}

@media print {
  div {
    display: none !important;
  }
}
