<div class="row">
  <div class="col">
    <h5 class="fw-bold mb-0">{{ lieuMediationNumerique.nom }}</h5>
    <div class="text-muted">
      {{ lieuMediationNumerique.adresse.voie.toLowerCase() }}
      {{ lieuMediationNumerique.adresse.code_postal }}
      {{
        lieuMediationNumerique.adresse.commune.charAt(0).toUpperCase() +
          lieuMediationNumerique.adresse.commune.substring(1).toLowerCase()
      }}
    </div>
    <div class="mt-1" *ngIf="lieuMediationNumerique.distance || lieuMediationNumerique.conditions_access">
      <span *ngIf="lieuMediationNumerique.distance">{{ lieuMediationNumerique.distance | distance }}</span>
      <ng-container *ngIf="lieuMediationNumerique.distance && lieuMediationNumerique.conditions_access?.includes('Payant')">
        -
      </ng-container>
      <span class="text-muted" *ngIf="lieuMediationNumerique.conditions_access?.includes('Payant')">Payant</span>
    </div>
  </div>
  <div class="col-auto text-end">
    <a
      *ngIf="lieuMediationNumerique.contact?.courriel as courriel"
      href="mailto:{{ courriel }}"
      class="btn btn-sm btn-secondary d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-mail-line me-2 align-bottom text-right"></i>
      <span>Contacter par mail</span>
    </a>
    <a
      *ngIf="lieuMediationNumerique.contact?.telephone as telephone"
      href="tel://+33678049164"
      class="text-decoration-none d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-phone-line align-bottom"></i>
      {{ telephone }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col mt-3" *ngIf="lieuMediationNumerique.date_maj">
    <small *ngIf="lieuMediationNumerique.date_maj" class="text-muted fst-italic">
      Mise à jour le {{ lieuMediationNumerique.date_maj | date: 'dd/MM/y' }}
    </small>
  </div>
</div>
