<div
  *ngIf="activateModal$ | async"
  [class.show]="animate$ | async"
  class="modal d-block fade"
  tabindex="-1"
  aria-labelledby="hubModal"
  spellcheck="false"
  aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content overflow-hidden">
      <div class="modal-header bg-primary text-bg-dark">
        <h2 class="modal-title h3" id="hubModal">
          <i class="ri-xl ri-error-warning-line align-text-top me-2" style="transform: rotate(180deg)"></i>
          Informations Hub
        </h2>
        <button type="button" class="btn-close btn-close-white opacity-100 mb-0" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="bg-white">
        <div class="modal-body col-lg-7 col-12 m-auto">
          <div *ngIf="hub as hub" class="text-center">
            <img class="mb-4" [src]="'/assets/img/logo/hubs/48/' + hub.nom + '.png'" [alt]="'Logo' + hub.nom" />
            <h4 class="fw-bold">
              HUB d'inclusion numérique
              <br />
              <span class="text-primary">{{ hub.region }}</span>
            </h4>
            <div class="mt-5 mb-4">
              <ng-container *ngFor="let departement of hub.departements; last as isLast">
                <b>{{ departement.nom }}</b>
                <i>&ensp;({{ departement.numero }})</i>
                <ng-container *ngIf="!isLast">&ensp;-&ensp;</ng-container>
              </ng-container>
            </div>
            <span *ngIf="hub.lieuxCount as lieuxCount" class="rounded-5 bg-light py-1 px-3">
              <i class="ri-map-pin-5-line align-bottom"></i>
              Ce hub a référencé
              <b>{{ lieuxCount }} lieux</b>
            </span>
          </div>
        </div>
        <div class="modal-footer justify-content-center bg-light">
          <button type="button" class="btn btn-secondary me-3" (click)="close()">
            <i class="ri-arrow-go-back-line align-bottom"></i>
            Retour à la carte
          </button>
          <a
            *ngIf="hub?.url as href"
            [href]="href"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
            (click)="close()">
            En savoir plus
            <i class="ri-external-link-line align-bottom"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="activateModal$ | async" class="modal-backdrop fade" [class.show]="animate$ | async"></div>
