@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/shapes';

@mixin btn-bold {
  @include lato-bold-14;
  line-height: 18px;
}
@mixin btn-bold-underline {
  @include btn-bold;
  text-decoration: underline;
}
@mixin btn-regular {
  @include lato-regular-14;
  line-height: 19px;
}

button {
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
  padding: 0;
}

.btn-regular {
  padding: 0 0 1px 1px;
  background: $grey-8;
  div:first-child {
    width: 125px;
  }
  &:hover {
    @include background-hash($grey-1);
  }
  &:focus {
    border-color: $primary-color;
  }
  &:active {
    background: none;
    border-color: $grey-8;
  }
  &.primary {
    background: $primary-color;
    @include btn-bold;
    .text {
      background: $primary-color;
      color: $white;
      &.withIcon {
        color: $white;
      }
    }
  }
  &.secondary {
    div:first-child {
      width: unset;
    }
    background: $white;
    @include btn-regular;
    .text {
      background: $white;
      color: $grey-1;
      font-size: 12px;
      height: 0;
      // @include btn-regular;
      &.withIcon {
        color: $grey-1;
      }
    }
  }
  .text {
    background: $white;
    height: 31px;
    color: $primary-color;
    padding: 3px 15px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 14px;
    &.withIcon {
      color: $black;
      height: 36px;
      &.left {
        padding-left: 8px !important;
      }
      &.right {
        padding-right: 8px !important;
      }
    }
  }
}

.btn-switch-phone {
  background: $black;
  height: 40px;
  color: $white;
  padding: 4px 37px 4px 37px;
  border-radius: 20px;
}

// .btn-secondary {
//   background: $white;
//   height: 30px;
//   width: 132px;
//   color: $grey-1;
//   padding: 0 0 1px 1px;
//   // padding: 4px 37px 4px 37px;
//   border-color: transparent;
//   line-break: 18px;
//   &:hover {
//     @include background-hash($grey-1);
//   }
//   &:focus {
//     background-color: $white;
//     border-color: $primary-color;
//     color: $primary-color;
//   }
//   &:active {
//     background-color: $blue-light;
//   }
// }
.btn-filter-phone {
  background: $white;
  height: 40px;
  color: $grey-1;
  padding: 4px 37px 4px 37px;
  border-color: $grey-4;
  @include btn-normal;
  &.containCheckedFilters {
    border-color: $primary-color;
  }
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
