<ng-container *ngIf="style === buttonTypeEnum.Regular">
  <button
    class="btn-regular"
    type="{{ type }}"
    (click)="doAction()"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled }"
  >
    <div *ngIf="!iconBtn" class="text">{{ text }}</div>
    <div
      *ngIf="iconBtn && iconPos === 'left'"
      fxLayout="row center"
      class="text withIcon left"
      fxLayoutAlign="space-around center"
    >
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
      <span>{{ text }}</span>
    </div>
    <div
      *ngIf="iconBtn && iconPos === 'right'"
      fxLayout="row center"
      class="text withIcon right"
      fxLayoutAlign="space-around center"
    >
      <span>{{ text }}</span>
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
    </div>
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.Primary">
  <button
    class="btn-regular primary"
    type="{{ type }}"
    (click)="doAction()"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled }"
  >
    <div *ngIf="!iconBtn" class="text">{{ text }}</div>
    <div
      *ngIf="iconBtn && iconPos === 'left'"
      fxLayout="row center"
      class="text withIcon left"
      fxLayoutAlign="space-around center"
    >
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
      <span>{{ text }}</span>
    </div>
    <div
      *ngIf="iconBtn && iconPos === 'right'"
      fxLayout="row center"
      class="text withIcon right"
      fxLayoutAlign="space-around center"
    >
      <span>{{ text }}</span>
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
    </div>
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.Secondary">
  <button
    class="btn-regular secondary"
    type="{{ type }}"
    (click)="doAction()"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled }"
  >
    <div *ngIf="!iconBtn" class="text">{{ text }}</div>
    <div
      *ngIf="iconBtn && iconPos === 'left'"
      fxLayout="row center"
      class="text withIcon left"
      fxLayoutAlign="space-around center"
    >
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
      <span>{{ text }}</span>
    </div>
    <div
      *ngIf="iconBtn && iconPos === 'right'"
      fxLayout="row center"
      class="text withIcon right"
      fxLayoutAlign="space-around center"
    >
      <span>{{ text }}</span>
      <app-svg-icon [type]="iconType" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
    </div>
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.ButtonPhone">
  <button
    [disabled]="disabled"
    class="btn-filter-phone"
    [ngClass]="extraClass"
    type="{{ type }}"
    (click)="doAction()"
    [ngClass]="{ disabled: disabled }"
  >
    {{ text }}
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.Filter">
  <button
    [disabled]="disabled"
    class="btn-switch-phone"
    type="{{ type }}"
    (click)="doAction()"
    [ngClass]="{ disabled: disabled }"
  >
    <div *ngIf="!iconBtn" class="text">{{ text }}</div>
    <div
      *ngIf="iconBtn"
      fxLayout="row center"
      class="text withIcon"
      fxLayoutAlign="space-around center"
      fxLayoutGap="13px"
    >
      <app-svg-icon [type]="'ico'" [iconClass]="'icon-32'" [icon]="iconBtn" [iconColor]="'currentColor'"></app-svg-icon>
      {{ text }}
    </div>
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.Tertiary">
  <button
    class="btn-regular tertiary"
    type="{{ type }}"
    (click)="doAction()"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled }"
  >
    <div>{{ text }}</div>
  </button>
</ng-container>

<ng-container *ngIf="style === buttonTypeEnum.IconOnly">
  <button
    class="btn-regular icon-only"
    type="{{ type }}"
    (click)="doAction()"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled, active: active }"
  >
    <div *ngIf="iconBtn" class="text withIcon">
      <app-svg-icon
        *ngIf="iconBtn"
        [type]="iconType"
        [icon]="iconBtn"
        [iconColor]=""
        [iconClass]="'icon-28'"
        [iconColor]="active ? 'green' : 'currentColor'"
      ></app-svg-icon>
    </div>
  </button>
</ng-container>
