<app-conteneur #conteneur>
  <router-outlet></router-outlet>
  <ng-container slot="links">
    <li class="nav-item">
      <a
        [routerLink]="['/', 'presentation']"
        queryParamsHandling="preserve"
        class="nav-link ms-4 pb-0 px-0"
        ariaCurrentWhenActive="page"
        routerLinkActive="active"
        (click)="conteneur.navbarOffcanvas.close()">
        Présentation
      </a>
    </li>
  </ng-container>
  <footer id="footer" slot="footer" class="container-fluid p-4 bg-dark d-print-none">
    <div class="row justify-content-between">
      <div class="col-lg-auto">
        <img src="/assets/img/footer/footer-mark.svg" class="img-fluid me-4" alt="" />
        <img src="/assets/img/footer/footer-anct-logo.svg" class="img-fluid" alt="" />
      </div>
      <div class="col-xl-6 col-lg mt-lg-0 mt-4 text-secondary">
        <p>
          La Cartographie nationale des lieux d'inclusion numérique peut être
          <a href="https://labase.anct.gouv.fr/ressource/993" class="text-white" target="_blank" rel="noopener noreferrer">
            intégrée facilement sur votre site web
          </a>
          . Vous souhaitez apparaître sur la cartographie ? il vous suffit de renseigner vos données sur
          <a href="https://labase.anct.gouv.fr/ressource/975" class="text-white" target="_blank" rel="noopener noreferrer">
            DORA
          </a>
          .
        </p>
        <p>
          Toutes les données des lieux affichés ici respectent
          <a
            class="text-white"
            href="https://schema.data.gouv.fr/LaMednum/standard-mediation-num/0.1.0/documentation.html"
            target="_blank"
            rel="noopener noreferrer">
            le schéma de données des lieux d'inclusion numérique
          </a>
          développé par la Mednum et Datactivist.
        </p>
        <div class="d-flex mt-5">
          <span class="d-flex me-3">
            <a
              class="nav-link me-1 link-muted-light text-hover-light"
              href="https://labase.anct.gouv.fr/base/356"
              target="_blank"
              rel="noopener noreferrer">
              Documentation
              <i class="ri-external-link-line" aria-hidden="true"></i>
            </a>
          </span>
          <span class="d-flex me-3">
            <a
              class="nav-link me-1 link-muted-light text-hover-light"
              href="mailto:cartographie.sonum@anct.gouv.fr"
              target="_blank"
              rel="noopener noreferrer">
              Nous contacter
              <i class="ri-external-link-line" aria-hidden="true"></i>
            </a>
          </span>
          <span class="d-flex me-3">
            <a
              class="nav-link me-1 link-muted-light text-hover-light"
              [routerLink]="['presentation']"
              fragment="webinaire"
              target="_blank"
              rel="noopener noreferrer">
              Participer à nos webinaires !
              <i class="ri-external-link-line" aria-hidden="true"></i>
            </a>
          </span>
        </div>
      </div>
      <div>
        <hr class="mt-5 mb-2 text-secondary" />
      </div>
    </div>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link link-muted-light text-hover-light"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['presentation']"
            aria-current="page">
            Présentation de la cartographie
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-muted-light text-hover-light"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['mentions-legales']"
            aria-current="page">
            Mentions légales
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-muted-light text-hover-light"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['donnees-personnelles']"
            aria-current="page">
            Données personnelles
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-muted-light text-hover-light"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['gestion-des-cookies']"
            aria-current="page">
            Gestion des cookies
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-muted-light text-hover-light"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['accessibilite']"
            aria-current="page">
            Accessibilité : non-conforme
          </a>
        </li>
      </ul>
    </div>
  </footer>
</app-conteneur>
