<app-conteneur>
  <router-outlet></router-outlet>
  <footer slot="footer" class="pt-5 pb-2" style="background-color: rgba(22, 22, 22, 1)">
    <div class="container-fluid row">
      <div class="flex-grow-1 col-auto align-items-start d-flex">
        <div class="row">
          <div class="col-9">
            <p class="text-secondary">Avec le soutien de :</p>
            <hr class="mt-1 mb-3 text-secondary" />
          </div>
          <div class="col-auto">
            <img src="/assets/img/footer/footer-mark.svg" class="img-fluid me-5" alt="" />
            <img src="/assets/img/footer/footer-anct-logo.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
      <div class="col-5 mt-5">
        <p class="text-secondary">
          La Cartographie nationale des lieux de médiation numérique peut être
          <a href="https://labase.anct.gouv.fr/ressource/993" style="color: inherit" target="_blank" rel="noopener noreferrer">
            intégrée sur votre site web
          </a>
          en personnalisant les données affichées, les couleurs, le logo, etc. Vous souhaitez apparaître sur la cartographie ?
          il vous suffit de renseigner vos données sur
          <a href="https://labase.anct.gouv.fr/ressource/975" style="color: inherit" target="_blank" rel="noopener noreferrer">
            DORA
          </a>
          .Toutes les données des structures affichées ici respectent
          <a
            href="https://schema.data.gouv.fr/LaMednum/standard-mediation-num/0.1.0/documentation.html"
            style="color: inherit"
            target="_blank"
            rel="noopener noreferrer">
            le schéma de données des lieux d'inclusion numérique
          </a>
          développé par la Mednum et Datactivist.
        </p>
        <div class="d-flex mt-5">
          <span class="d-flex me-3">
            <a
              class="nav-link me-1 text-muted"
              href="https://labase.anct.gouv.fr/base/356"
              target="_blank"
              rel="noopener noreferrer">
              Documentation
            </a>
            <i class="ri-external-link-line align-bottom text-muted"></i>
          </span>
          <span class="d-flex me-3">
            <a
              class="nav-link me-1 text-muted"
              href="mailto:cartographie.sonum@anct.gouv.fr"
              target="_blank"
              rel="noopener noreferrer">
              Nous contacter
            </a>
            <i class="ri-external-link-line align-bottom text-muted"></i>
          </span>
        </div>
      </div>
      <div>
        <hr class="mt-5 mb-2 text-secondary" />
      </div>
    </div>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link text-muted"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['mentions-legales']"
            aria-current="page">
            Mentions légales
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-muted"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['donnees-personnelles']"
            aria-current="page">
            Données personnelles
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-muted"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['gestion-des-cookies']"
            aria-current="page">
            Gestion des cookies
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-muted"
            target="_blank"
            rel="noopener noreferrer"
            [href]="['accessibilite']"
            aria-current="page">
            Accessibilité
          </a>
        </li>
      </ul>
    </div>
  </footer>
</app-conteneur>
