<div class="postContainer" *ngIf="post" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="row">
    <div class="backLink" fxLayout="row" fxLayoutAlign=" center" (click)="backToPosts()">
      <svg class="chevronLeft" aria-hidden="true">
        <use [attr.xlink:href]="'assets/form/sprite.svg#chevronLeft'"></use>
      </svg>
      <span>Retour à la liste d'acutalités</span>
    </div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row" class="tag" fxLayoutAlign=" center" fxLayoutGap="12px">
      <app-svg-icon
        [iconClass]="'icon-32'"
        [iconColor]="'inherit'"
        [type]="'post'"
        [icon]="post.tags[0].slug"
      ></app-svg-icon>
      <span>{{ post.tags[0].name }}</span>
    </div>
    <div fxLayout="row" class="title">
      {{ post.title }}
    </div>
  </div>

  <div fxLayout="column" class="informations" *ngIf="post.tags[0].slug != 'appels'">
    <div fxLayout="row">
      {{ post.published_at | date: 'shortDate' }}
    </div>
    <div fxLayout="row">par {{ post.author }}</div>
  </div>
  <div fxLayout="row" class="imageContainer" *ngIf="post.feature_image">
    <img class="image" alt="image about the news" [src]="post.feature_image" />
  </div>
  <div fxLayout="row" class="description">
    <div [innerHtml]="post.safeHtml"></div>
  </div>
</div>
