@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/layout';
@import '../../../../assets/scss/breakpoint';
@import '../../../../assets/scss/hyperlink';
@import '../../../../assets/scss/ghost';

.postContainer {
  .chevronLeft {
    height: 24px;
    width: 24px;
    stroke: $black;
    margin-right: 10px;
  }
}

.tag {
  @include cn-bold-16;
  text-transform: uppercase;
  color: $secondary-color;
  fill: $secondary-color;
  stroke: $secondary-color;
}
.informations {
  @include cn-regular-16;
  div:nth-child(2n) {
    color: $grey-3;
  }
}

.description {
  ::ng-deep img {
    width: 100%;
    height: 100%;
  }
  ::ng-deep figure {
    figcaption {
      margin-top: 1%;
      text-align: center;
    }
  }
}
