@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/layout';
@import '../../../../assets/scss/breakpoint';
@import '../../../../assets/scss/hyperlink';
@import '../../../../assets/scss/ghost';

.postContainer {
  .chevronLeft {
    height: 24px;
    width: 24px;
    stroke: $black;
    margin-right: 10px;
  }
}

.informations {
  @include lato-regular-16;
  div:nth-child(2n) {
    color: $grey-3;
  }
}

.description {
  div {
    height: fit-content;
  }
  ::ng-deep img {
    height: 100%;
  }
  ::ng-deep iframe {
    width: 100% !important;
    max-height: 400px;
    height: 100vw;
  }
  ::ng-deep .kg-embed-card {
    max-height: 400px;
    iframe {
      width: 100% !important;
      max-height: 100%;
      min-height: 100px;
    }
  }
  ::ng-deep figure {
    figcaption {
      margin-top: 1%;
      text-align: center;
    }
  }
}
