$purple: #594d59;
$black: #000000;
$grey: #b4bbbf;
$grey-1: #333333;
$yellow: #f2cb04;
$yellow-light: #fff8d6;
$orange: #f27405;
$orange-light: #f29f05;
$orange-3: #fff4ea;
$white: #ffff;

$default-link-color: $grey-1;
