//TODO: Clean colors when design is properly setup
$black: #000000;
$white: #ffff;
/*  GREYS  */
$grey: #b4bbbf;
$grey-1: #333333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-6: #f2f2f2;
/* Status colors */
$green: #41c29c;
$red: #f98181;
/* OTHERS */
$blue: #348899;
$blue-hover: #117083;
$blue-active: #8cb6be;
$red-metro: #d50000;
/* APP COLORS */
$primary-color: $red-metro;
$secondary-color: $blue;
$default-link-color: $grey-2;
$button-secondary: $blue;
$app-background: $grey-6;
$modal-background: rgba($grey-1, 0.75);
