//TODO: Clean colors when design is properly setup
$black: #000000;
$white: #ffff;
/*  GREYS  */
$grey: #b4bbbf;
$grey-1: #333333;
$grey-2: #eeeeee;
$grey-3: #c3c3c3;
$grey-4: #f2ecf2;
$grey-5: #f2f2f2;
/* YELLOW */
$yellow: #f2cb04;
$yellow-light: #fff8d6;
/* ORANGES */
$orange: #f27405;
$orange-light: #f29f05;
$orange-3: #fff4ea;
/* GREEN */
$green: #41c29c;
/* OTHERS */
$blue: #b3f8f8;
$purple: #594d59;
/* APP COLORS */
$primary-color: $yellow;
$secondary-color: $orange;
$default-link-color: $grey-1;
