@import './color';

.ico-mglass {
  position: relative;
  display: inline-block;
  background: transparent;
  border-radius: 30px;
  border: 2px solid $purple;
  height: 12px;
  width: 12px;
  min-width: 12px;
  max-width: 12px;

  &:after {
    content: '';
    height: 2px;
    width: 8px;
    background: $purple;
    position: absolute;
    top: 14px;
    left: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
}

.ico-pin {
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50% 50% 50% 0;
  background: transparent;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -4px 0 0 0;
  &.after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: transparent;
    border-radius: 50%;
  }

  &.orange {
    background: $orange;
  }
}
.ico-dot-available {
  height: 12px;
  width: 12px;
  background-color: $green;
  border-radius: 50%;
  display: inline-block;
}
.ico-dot-unavailable {
  height: 12px;
  width: 12px;
  background-color: $red;
  border-radius: 50%;
  display: inline-block;
}
.ico-dot-unknown {
  height: 12px;
  width: 12px;
  background-color: $grey-4;
  border-radius: 50%;
  display: inline-block;
}

.ico-marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $purple;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.ico-marker-pin::after {
  content: '';
  width: 10px;
  height: 10px;
  margin: 10px 0 0 10px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.ico-marker-pin-sm {
  width: 14px;
  height: 14px;
  border-radius: 50% 50% 50% 0;
  background: $grey-3;
  transform: rotate(-45deg);
  margin: 0px 4px;
}

.ico-marker-pin-sm::after {
  content: '';
  width: 6px;
  height: 6px;
  margin: 4px 0 0 4px;
  background: $app-background;
  position: absolute;
  border-radius: 50%;
}

.ico-profile {
  .head {
    width: 12px;
    height: 12px;
    border-radius: 25px;
    border: 2px solid $purple;
  }
  .body {
    width: 28px;
    height: 10px;
    border-radius: 20px 20px 0px 0px;
    border-top: 2px solid $purple;
    border-right: 2px solid $purple;
    border-left: 2px solid $purple;
  }
}

.ico-close {
  .mdiv {
    height: 10px;
    width: 2px;
    margin-left: 5px;
    background-color: $grey-3;
    transform: rotate(45deg);
    z-index: 1;
  }

  .md {
    height: 10px;
    width: 2px;
    background-color: $grey-3;
    transform: rotate(90deg);
    z-index: 2;
  }
}
