$text-font: 'Courier New', 'Helvetica', sans-serif;
$footer-text-font: 'Arial', 'Helvetica', sans-serif;
$title-font: 'Courier New', 'Helvetica', sans-serif;

$font-size-xsmall: 0.875em; // 14px
$font-size-small: 1em; // 16px
$font-size-medium: 1.25em; // 20px
$font-size-large: 1.75em; // 28px
$font-size-xlarge: 2em; // 32px
$font-size-medium-mobile: 1em;

html,
body,
p,
span,
label {
  font-family: $text-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card-header-text,
.welcome-message,
.user-name,
.profile-user-name,
.project-name,
.annuaire-label,
.event_title,
.objective_title {
  font-family: $title-font;
}

@mixin arial-regular-16 {
  font-family: $footer-text-font;
  font-style: normal;
  font-size: $font-size-small;
}

@mixin cn-bold-36 {
  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-large;
  text-transform: uppercase;
}
@mixin cn-bold-32 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-xlarge;
  text-transform: uppercase;
}
@mixin cn-bold-28 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-large;
  text-transform: uppercase;
}
@mixin cn-bold-28 {
  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-large;
  text-transform: uppercase;
}
@mixin cn-bold-20 {
  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-medium;
}
@mixin cn-regular-20 {
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-medium;
}
@mixin cn-bold-20 {
  font-family: $title-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-medium;
}
@mixin cn-regular-20 {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-medium;
}
@mixin cn-regular-18 {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-medium-mobile;
}
@mixin cn-bold-16 {
  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-small;
}
@mixin cn-regular-16 {
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-small;
}
@mixin cn-bold-14 {
  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: $font-size-xsmall;
}
@mixin cn-regular-14 {
  font-family: $text-font;
  font-style: normal;
  font-weight: normal;
  font-size: $font-size-xsmall;
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
