<div class="position-relative d-print-none">
  <a
    class="text-decoration-none link-dark link-lieu"
    [routerLink]="[lieuMediationNumerique.id, 'details']"
    [relativeTo]="route.parent"
    queryParamsHandling="preserve"
    (mouseover)="enableHover.emit(lieuMediationNumerique.id)"
    (mouseout)="disableHover.emit()">
    <div class="row d-print-none">
      <div class="col me-3">
        <h2 class="h5 mb-0 text-first-letter-uppercase fw-bold">
          {{ lieuMediationNumerique.nom }}
        </h2>
        <div class="text-muted">{{ lieuMediationNumerique.adresse }}</div>
        <div class="mt-1" *ngIf="lieuMediationNumerique.distance">{{ lieuMediationNumerique.distance | distance }}</div>
        <div *ngIf="lieuMediationNumerique.status" class="text-muted d-inline-flex flex-wrap align-items-center">
          <i
            class="ri-checkbox-blank-circle-fill ri-xxs me-1"
            [class.text-primary]="lieuMediationNumerique.status.label === 'Ouvert'"
            aria-hidden="true"></i>
          <span [class.text-primary]="lieuMediationNumerique.status.label === 'Ouvert'">
            {{ lieuMediationNumerique.status.label }}
          </span>
          <span class="mx-1">·</span>
          <i class="small align-self-end">{{ lieuMediationNumerique.status.limite }}</i>
        </div>
      </div>
      <div
        style="width: 180px"
        *ngIf="lieuMediationNumerique.courriel || lieuMediationNumerique.telephone || lieuMediationNumerique.prise_rdv"></div>
    </div>
    <div
      class="mt-4 d-flex flex-column text-end ms-auto"
      style="width: 180px"
      *ngIf="lieuMediationNumerique.conditions_acces || lieuMediationNumerique.date_maj">
      <div
        [ngClass]="lieuMediationNumerique.conditions_acces.isFree ? 'text-primary' : 'text-muted'"
        *ngIf="lieuMediationNumerique.conditions_acces; else emptyConditionAcces">
        {{ lieuMediationNumerique.conditions_acces.label }}
      </div>
      <ng-template #emptyConditionAcces>
        <div *ngIf="(lieuMediationNumerique.labels_nationaux ?? []).length > 0" aria-hidden="true">&nbsp;</div>
      </ng-template>
      <small
        *ngIf="lieuMediationNumerique.date_maj && dateIsValide(lieuMediationNumerique.date_maj)"
        class="text-muted fst-italic">
        Mise à jour le {{ lieuMediationNumerique.date_maj | date : 'dd/MM/y' }}
      </small>
    </div>
  </a>
  <div
    class="text-end position-absolute top-0 end-0"
    style="width: 180px"
    *ngIf="lieuMediationNumerique.courriel || lieuMediationNumerique.telephone">
    <a
      *ngIf="lieuMediationNumerique.courriel as courriel"
      href="mailto:{{ courriel }}"
      class="btn btn-sm btn-secondary d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-mail-line me-2 text-right" aria-hidden="true"></i>
      Contacter par mail
    </a>
    <a
      *ngIf="lieuMediationNumerique.telephone as telephone"
      href="tel://{{ telephone }}"
      class="text-decoration-none text-muted"
      (click)="$event.stopPropagation()">
      <span aria-hidden="true">{{ telephone | phone }}</span>
      <span class="visually-hidden">Contacter par téléphone</span>
      <i class="ms-2 ri-phone-line" aria-hidden="true"></i>
    </a>
    <div class="text-muted" *ngIf="lieuMediationNumerique.prise_rdv">
      RDV disponible
      <i class="ri-calendar-check-line ms-1" aria-hidden="true"></i>
    </div>
  </div>
  <div class="position-absolute row g-2 start-0 bottom-0">
    <ng-container *ngIf="lieuMediationNumerique.labels_nationaux as labelsNationaux">
      <div class="col" *ngFor="let label of labelsNationaux">
        <button
          (click)="
            showLabel.emit(label); showLabelInvokingContext.emit($event); $event.stopPropagation(); $event.preventDefault()
          "
          class="btn btn-link p-0">
          <img [src]="assetsConfiguration.path + '/img/logo/labels/' + label + '.svg'" [alt]="'Label ' + label" />
        </button>
      </div>
    </ng-container>
  </div>
</div>
<div class="d-none d-print-block small">
  <div class="fw-bold">{{ lieuMediationNumerique.nom }}</div>
  <div>{{ lieuMediationNumerique.adresse }}</div>
  <div class="text-muted my-1">
    <div *ngIf="lieuMediationNumerique.telephone">
      <i class="ri ri-phone-line" aria-hidden="true"></i>
      {{ lieuMediationNumerique.telephone }}
    </div>
    <div *ngIf="lieuMediationNumerique.courriel">
      <i class="ri ri-mail-line" aria-hidden="true"></i>
      {{ lieuMediationNumerique.courriel }}
    </div>
    <div *ngIf="lieuMediationNumerique.site_web">
      <i class="ri ri-link" aria-hidden="true"></i>
      {{ lieuMediationNumerique.site_web }}
    </div>
  </div>
</div>
