@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/shapes';

.container {
  height: 100%;
}
button {
  outline: none;
  border: none;
}
.tags {
  background: $grey-6;
  padding: 15px;
  width: calc(100% + 2px);
  margin-left: -16px;
  height: 100%;
  button {
    background: $white;
    border-radius: 20px;
    margin: 4px;
    max-width: 100%;
    white-space: nowrap;
    height: 40px;
    padding: 0 28px;
    @include cn-bold-14;
  }
}
.selectedChoice {
  background: $green-1 !important;
  color: $white;
}
.selectedType {
  background: $grey-6;
  .btnText {
    color: $secondary-color;
  }
}
.boutonSection {
  text-align: center;
  width: 99px;
  padding-top: 9px;
  border-radius: 6px 6px 0px 0px;
  .btnText {
    min-height: 36px;
    @include cn-bold-14;
    margin-bottom: 12px;
  }
  button {
    background: none;
    max-width: 114px;
    &:focus {
      .containerBtn {
        background: none;
        border-color: $secondary-color;
      }
    }
  }
  .containerBtn {
    @include background-hash;
    padding: 0 0 4px 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid $grey-4;
    .btn {
      background: $white;
      height: 53px;
      width: 35px;
      color: $secondary-color;
      padding: 3px 16px 0px 12px;
      display: table-cell;
      vertical-align: middle;
      border-radius: 4px;
      @include btn-bold;
      &.withIcon {
        color: $black;
        height: 36px;
      }
    }
  }
}

svg {
  width: 28px;
  height: 40px;
  fill: $secondary-color;
  stroke: $secondary-color;
  &.validate {
    width: 13px;
    height: 10px;
    margin-left: -17px;
  }
}
