@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/shapes';
@import '../../../../assets/scss/breakpoint';

button {
  outline: none;
  border: none;
}
.tags {
  padding: 15px;
  width: calc(100% + 2px);
  margin-left: -16px;
  height: 100%;
  button {
    background: $grey-8;
    text-align: center;
    border-radius: 20px;
    margin: 4px;
    max-width: 100%;
    white-space: nowrap;
    height: 40px;
    padding: 0 28px;
    cursor: pointer;
    @include lato-bold-14;
  }
}
.selectedChoice {
  background: $green-1 !important;
  color: $white;
}
.selectedType {
  .btnText {
    color: $primary-color;
  }
  .containerBtn {
    background: none !important;
    border-color: $primary-color;
  }
}
.boutonSection {
  padding-top: 9px;
  border-radius: 6px 6px 0px 0px;
  .btnText {
    min-height: 36px;
    @include lato-bold-14;
    margin-bottom: 12px;
  }

  button {
    background: none;
    max-width: 114px;
  }
  .containerBtn {
    @include background-hash($grey-2);
    padding: 0 0 4px 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid $grey-4;
    .btn {
      background: $white;
      height: 53px;
      width: 35px;
      color: $primary-color;
      padding: 3px 16px 0px 12px;
      display: table-cell;
      vertical-align: middle;
      border-radius: 4px;
      @include btn-bold;
      &.withIcon {
        color: $black;
        height: 36px;
      }
    }
  }
}

svg {
  width: 28px;
  height: 40px;
  &.validate {
    width: 13px;
    height: 10px;
    margin-left: -17px;
    stroke: $white;
  }
}

.collapse {
  border: 1px solid $grey-5;
  border-radius: 4px;
  @media #{$small-phone} {
    width: 95% !important;
  }
  @media #{$tablet} {
    width: 296px;
  }
  &.notCollapsed {
    background: $grey-8;
    .logo {
      .hide {
        display: none;
      }
      .show {
        display: block;
      }
    }
  }
  .inputSection {
    padding: 0px 15px 19px 12px;
    svg {
      border-right: 0;
      padding-left: 16px;
    }
  }
  .collapseHeader {
    .titleCollapse {
      width: 100%;
      @include lato-bold-14;
      color: $grey-1;
    }
    .svgContainer {
      height: 48px;
      width: 48px;
      svg {
        margin-right: 8px;
        stroke: $grey-1;
        fill: $grey-1;
      }
    }
  }
  .collapseHeader {
    height: 65px;
    padding: 0 15px 0 12px;
    cursor: pointer;
  }
  .logo {
    height: 24px;
    width: 24px;
    svg {
      width: 100%;
      height: 100%;
      fill: $grey-1;
    }
  }
  .logo,
  .titleCollapse {
    .hide {
      display: block;
    }
    .show {
      display: none;
    }
  }
}

.tags {
  padding: 8px;
  button {
    background: $grey-8;
    border-radius: 20px;
    margin: 4px;
    max-width: 100%;
    height: 40px;
    padding: 0 13px;
    @include lato-bold-14;
    outline: none;
    border: none;
    cursor: pointer;
    &.selectedChoice {
      background: $green-1 !important;
      color: $white;
    }
  }
  svg {
    width: 20px;
    height: 10px;
    margin-right: 4px;
    stroke: $grey-8;
  }
}
