<div class="container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="boutonSection" [ngClass]="{ selectedType: type.name == pickedType }" *ngFor="let type of type_data">
      <button (click)="pickType(type.name)">
        <div class="containerBtn">
          <div class="btn">
            <svg aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#' + type.logo"></use>
            </svg>
          </div>
        </div>
      </button>
      <div class="btnText" fxLayoutAlign="center center">{{ type.name }}</div>
    </div>
  </div>
  <div *ngIf="pickedType" class="tags">
    <button
      *ngFor="let choice of getChoices(pickedType)"
      (click)="pickChoice(choice)"
      [ngClass]="{ selectedChoice: choice == pickedChoice }"
    >
      <svg *ngIf="choice == pickedChoice" class="validate" aria-hidden="true">
        <use [attr.xlink:href]="'assets/form/sprite.svg#validateVector'"></use>
      </svg>
      {{ choice }}
    </button>
  </div>
</div>
