@use 'sass:color';

.active-primary {
  &.active,
  &:active,
  .btn-check:checked + &,
  .btn-check:active + & {
    color: $primary !important;
    box-shadow: 0 0 0 1px $primary;

    &:hover {
      box-shadow: -0.5px 0.5px 0 1.5px $primary;
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba($primary, 0.25);
    }
  }
}

.btn-primary:hover {
  color: $primary;
  box-shadow: -0.5px 0.5px 0 1.5px $primary;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.btn-secondary:hover {
  color: $black;
  background-color: $secondary;
  box-shadow: -0.5px 0.5px 0 1.5px $primary;
}
