@include media-breakpoint-down(sm) {
  .btn-affiner-recherche {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

.btn-secondary.active.active-primary:focus-visible,
.btn-secondary:focus-visible,
.btn:focus-visible {
  box-shadow: 0 0 0 3px rgba(192 192 255 / 100%), 1px 1px 3px 3px rgba(0 0 145 / 100%);
}
