@include media-breakpoint-up(lg) {
  .map-list {
    flex: 0 0 auto;
    width: 50%;
    max-width: 660px;
  }
}

@include media-breakpoint-up(xl) {
  .map-details {
    flex: 0 0 auto;
    width: 760px;
  }
}

.show-map {
  transition: all 0.3s ease-in-out;

  @include media-breakpoint-down(lg) {
    &.show-map-for-small-devices {
      transition: all 0.5s ease-in-out;
      transform: translateX(-100%);
    }
  }
}
