.carousel {
  .btn {
    &.active:focus-visible,
    &:focus-visible {
      box-shadow: 0 0 0 3px white;
    }
  }

  .carousel-control-prev {
    border: 2px solid transparent;
    padding: 5px;
    transition: border-color 0.3s;
  }

  .carousel-control-prev:focus {
    border-color: white;
    outline: none;
  }

  .carousel-control-next {
    border: 2px solid transparent;
    padding: 5px;
    transition: border-color 0.3s;
  }

  .carousel-control-next:focus {
    border-color: white;
    outline: none;
  }
}
