@include media-breakpoint-up(lg) {
  .map-list {
    flex: 0 0 auto;
    width: 50%;
    max-width: 660px;
  }
}

@include media-breakpoint-up(xl) {
  .map-details {
    flex: 0 0 auto;
    width: 760px;
  }
}
