.form-chip {
  padding-left: $form-chip-padding-start;

  .form-check-input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;

    & + .form-check-label {
      transition: all 250ms ease;
      @include transition($form-chip-transition);
      @include border-radius($form-chip-border-radius);

      padding: $form-chip-padding-y $form-chip-padding-x;
      border: 1px solid transparent;
    }

    &:not(:checked) + .form-check-label {
      color: $form-chip-color !important;
      background-color: $form-chip-padding-background-color !important;

      &:hover {
        color: $form-chip-hover-color !important;
      }
    }

    &:checked + .form-check-label {
      color: $light;
      background-color: $primary;
    }

    &:focus-visible + .form-check-label {
      outline: 0;
      box-shadow: $input-focus-box-shadow;
    }
  }

  .chip-pointer {
    cursor: pointer;
  }
}

input[type='checkbox'] {
  & ~ label > .d-checked-inherit {
    display: none;
  }

  & ~ label > .d-checked-none {
    display: inherit;
  }

  &:checked ~ label > .d-checked-inherit {
    display: inherit;
  }

  &:checked ~ label > .d-checked-none {
    display: none;
  }
}

.chip-button {
  border: none;
  display: inline;
  padding: 0 15px;
  height: 25px;
  font-size: 13px;
  line-height: 15px;
  border-radius: 25px;
  background-color: $light;
  opacity: 0.6;

  .chip-button-trim {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
