.form-control {
  border: none;
  border-bottom: $input-border-width solid #999;
  border-radius: $input-border-radius $input-border-radius 0 0;

  &:focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-bottom: $input-border-width solid $input-focus-border-color;
  }

  &:hover:not(:focus, :disabled, [readonly]) {
    border-color: $input-hover-border-color;
  }
}
