.form-chip {
  padding-left: $form-chip-padding-start;

  .form-check-input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;

    & + .form-check-label {
      cursor: pointer;
      transition: all 250ms ease;
      @include transition($form-chip-transition);
      @include border-radius($form-border-radius);

      padding: $form-chip-padding-y $form-chip-padding-x;
      border: 1px solid transparent;
    }

    &:not(:checked) + .form-check-label {
      color: $form-chip-color;
      background-color: $form-chip-background-color;

      &:hover {
        color: $form-chip-hover-color;
      }
    }

    &:checked + .form-check-label {
      color: $light !important;
      background-color: $primary !important;
    }

    &:focus-visible + .form-check-label {
      outline: 0;
      box-shadow: $input-focus-box-shadow;
    }
  }
}

input[type='checkbox'] {
  & ~ label > .d-checked-inherit {
    display: none;
  }

  & ~ label > .d-checked-none {
    display: inherit;
  }

  &:checked ~ label > .d-checked-inherit {
    display: inherit;
  }

  &:checked ~ label > .d-checked-none {
    display: none;
  }
}

.btn-chip {
  padding: 0 $btn-padding-x-sm;
  border-radius: $form-border-radius;
  box-shadow: none;
  font-weight: normal;

  &:hover {
    box-shadow: none;
    background-color: white;
    color: $primary;
  }

  &.btn-chip-trim {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
