.form-select {
  border: none;
  border-bottom: $input-border-width solid #999;
  border-radius: $form-select-border-radius $form-select-border-radius 0 0;

  &:focus {
    color: $form-select-focus-color;
    border-bottom: $input-border-width solid $form-select-focus-border-color;
    outline: 0 !important;
  }

  &:hover:not(:focus, :disabled, [readonly]) {
    border-color: $form-select-hover-border-color;
  }
}
