@use 'sass:string';

$font-family-icons-lower: string.to-lower-case($font-family-icons);

@include font-face(
  $font-family-icons,
  $font-path-icons + $font-family-icons-lower + '/',
  $font-family-icons-lower,
  $font-extensions-icons
);

[class^='ri-'],
[class*='ri-'] {
  font-family: remixicon, sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ri-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.ri-xl {
  font-size: 1.5em;
  line-height: 0.6666em;
  vertical-align: -0.075em;
}

.ri-xxs {
  font-size: 0.5em;
}

.ri-xs {
  font-size: 0.75em;
}

.ri-sm {
  font-size: 0.875em;
}

.ri-1x {
  font-size: 1em;
}

.ri-2x {
  font-size: 2em;
}

.ri-3x {
  font-size: 3em;
}

.ri-4x {
  font-size: 4em;
}

.ri-5x {
  font-size: 5em;
}

.ri-6x {
  font-size: 6em;
}

.ri-7x {
  font-size: 7em;
}

.ri-8x {
  font-size: 8em;
}

.ri-9x {
  font-size: 9em;
}

.ri-10x {
  font-size: 10em;
}

.ri-space {
  min-width: 2em;
  line-height: 2em;
}

.ri-fw {
  text-align: center;
  width: 1.25em;
}

.ri-wifi-line::before {
  content: '\f2c0';
}

.ri-computer-line::before {
  content: '\ebca';
}

.ri-printer-line::before {
  content: '\f029';
}

.ri-phone-line::before {
  content: '\efec';
}

.ri-map-pin-2-line::before {
  content: '\ef0a';
}

.ri-add-line::before {
  content: '\ea13';
}

.ri-check-line::before {
  content: '\eb7b';
}

.ri-close-line::before {
  content: '\eb99';
}

.ri-radio-button-line::before {
  content: '\f050';
}

.ri-checkbox-blank-circle-line::before {
  content: '\eb7d';
}

.ri-search-line::before {
  content: '\f0d1';
}

.ri-home-5-line::before {
  content: '\ee1f';
}

.ri-calendar-check-line::before {
  content: '\eb23';
}

.ri-mail-line::before {
  content: '\eef6';
}

.ri-compasses-2-fill::before {
  content: '\ebc5';
}

.ri-arrow-right-s-line::before {
  content: '\ea6e';
}

.ri-arrow-left-s-line::before {
  content: '\ea64';
}

.ri-file-list-3-line::before {
  content: '\ecef';
}

.ri-notification-3-line::before {
  content: '\ef94';
}

.ri-mouse-line::before {
  content: '\ef7d';
}

.ri-price-tag-3-line::before {
  content: '\f023';
}

.ri-group-line::before {
  content: '\ede3';
}

.ri-wheelchair-line::before {
  content: '\f2be';
}

.ri-parent-line::before {
  content: '\efca';
}

.ri-calendar-event-line::before {
  content: '\eb25';
}

.ri-translate-2::before {
  content: '\f226';
}

.ri-user-3-line::before {
  content: '\f256';
}

.ri-tools-line::before {
  content: '\f21b';
}

.ri-service-line::before {
  content: '\f0e2';
}
