.input-group-text {
  border: none;
  border-bottom: $input-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius $input-border-radius 0 0;
}

.input-group-btn {
  background-color: $input-group-addon-bg;
  border: none;
  border-bottom: $input-border-width solid $input-group-addon-border-color;
  border-radius: $input-border-radius $input-border-radius 0 0;

  &:hover:not(:disabled, [readonly]) {
    border-bottom-color: $input-hover-border-color;
    background-color: $input-group-addon-bg;
  }

  &:active {
    background-color: $input-group-addon-bg !important;
  }
}

.form-control:hover ~ .input-group-btn {
  border-bottom-color: $input-hover-border-color;
}

.form-control:focus ~ .input-group-btn {
  border-bottom-color: $input-focus-border-color;
}
