.list-group-item-hover {
  background-color: $list-group-hover-bg;
}

.list-group-lg {
  .list-group-item {
    padding-top: $list-group-lg-item-padding-top;
    padding-bottom: $list-group-lg-item-padding-bottom;
  }
}

.list-group-flush.list-group-flush-at-edge {
  .list-group-item {
    padding-left: 0;
    padding-right: 0;
  }
}
