.full-animation-container {
  width: 100%;
  height: 100%;
  position: relative;
  clip-path: polygon(
    90.6% 75%,
    88.7% 75.7%,
    87.2% 74.9%,
    86.2% 74.7%,
    85.2% 73.5%,
    85.2% 73.5%,
    85.5% 72.7%,
    84.9% 71.8%,
    85.3% 71.5%,
    85.5% 70.5%,
    85.5% 70.5%,
    85.5% 70.5%,
    85.8% 70.1%,
    86.4% 70.1%,
    85.8% 68.6%,
    84.8% 68.6%,
    83.9% 68.1%,
    83.8% 67%,
    83.3% 67%,
    82.8% 66%,
    82.8% 66%,
    86% 64.6%,
    86.3% 64%,
    86.1% 63.6%,
    86.6% 62.8%,
    85.4% 62%,
    85% 61%,
    85.1% 60.5%,
    84.2% 60.1%,
    83.7% 59.7%,
    83.6% 59.2%,
    83.6% 59.2%,
    85% 57.9%,
    85.2% 57.4%,
    84.6% 56.7%,
    83.3% 55.5%,
    83.7% 54.5%,
    83.1% 53.6%,
    83.2% 53.1%,
    82.6% 53%,
    81.2% 53.1%,
    80.4% 53.8%,
    79.8% 53.6%,
    78.6% 53.5%,
    78.1% 53%,
    78.1% 53%,
    78.7% 51%,
    80.6% 49.2%,
    80.5% 47.6%,
    81.9% 46.6%,
    83.8% 44.2%,
    83.8% 43.7%,
    84.2% 43.3%,
    83.5% 42.7%,
    83.7% 42.2%,
    84.3% 41.5%,
    84.9% 41.4%,
    84.9% 41.4%,
    85.2% 42%,
    86.4% 42%,
    87.4% 41.3%,
    87.4% 40.8%,
    87.8% 40.5%,
    87.3% 39.2%,
    87.7% 36.7%,
    87.4% 35%,
    88.4% 32.7%,
    88.6% 30.1%,
    90.3% 27.9%,
    90.9% 26.1%,
    89.5% 25.6%,
    87.1% 25.5%,
    85.7% 24.3%,
    84.7% 25%,
    83.6% 24.8%,
    83.2% 25%,
    83% 24.5%,
    82.5% 24.3%,
    82% 24.5%,
    82% 25%,
    81.5% 24.9%,
    80.2% 23.4%,
    79.9% 22.4%,
    79.4% 22.1%,
    77.6% 21.7%,
    76.9% 22.3%,
    76.4% 22.3%,
    75.5% 21.9%,
    75% 21.3%,
    73.9% 21.3%,
    73.7% 21.8%,
    72.8% 21.9%,
    72.2% 20.7%,
    71.7% 20.7%,
    71.7% 20.2%,
    70.7% 20%,
    69.6% 19%,
    68.6% 19%,
    68.7% 17.9%,
    68.2% 17%,
    68.2% 16.3%,
    68.6% 15.5%,
    68.2% 15.3%,
    67.5% 16%,
    67.3% 17%,
    65.9% 17.6%,
    65% 17.3%,
    64.5% 17.4%,
    64.4% 17.4%,
    63.8% 17.2%,
    64.3% 16.2%,
    63.8% 15.3%,
    63.7% 14.3%,
    63% 13.5%,
    62% 13.7%,
    61.1% 13.5%,
    60.4% 12.3%,
    59.5% 12.1%,
    58.8% 12%,
    58.4% 12%,
    57.9% 10.6%,
    58% 10.1%,
    57.4% 9.4%,
    56.4% 9.5%,
    55.5% 10.1%,
    55% 9.9%,
    54.5% 9%,
    54% 9%,
    53.8% 8.6%,
    54% 7.7%,
    53.6% 6.7%,
    53% 6.3%,
    50.3% 7%,
    48% 7.7%,
    47% 8.5%,
    47% 11.5%,
    47% 11.8%,
    46.9% 12.8%,
    47% 13.4%,
    46.8% 13.9%,
    46.7% 14.4%,
    46.7% 15.1%,
    45.6% 16.6%,
    45.6% 16.6%,
    44% 17.8%,
    40.4% 18.7%,
    38% 20%,
    37% 22%,
    37.3% 22.4%,
    37.4% 23.1%,
    36.6% 23.8%,
    35% 24.3%,
    33.6% 23.7%,
    31.5% 23.5%,
    30% 22.9%,
    29.1% 23.3%,
    28% 21.5%,
    28.4% 20.2%,
    28.2% 19.7%,
    27.1% 19.6%,
    26.8% 20%,
    25.7% 20%,
    23.8% 19.2%,
    23.8% 19.7%,
    24.3% 20%,
    24.4% 20.8%,
    24.1% 21.1%,
    24.5% 22.8%,
    25.9% 24.3%,
    25.7% 26%,
    26% 26.5%,
    25.9% 27.5%,
    25.5% 28.4%,
    26.2% 29.9%,
    25.7% 30.5%,
    23.8% 30.5%,
    23.8% 29.6%,
    23.3% 29.7%,
    22.6% 30.3%,
    22% 30.5%,
    21.3% 30.6%,
    21.1% 30.1%,
    20.4% 29.9%,
    19.8% 29.9%,
    18% 31.4%,
    18% 30.8%,
    17.3% 30.4%,
    17.3% 29.9%,
    16.6% 28.6%,
    16.1% 28.5%,
    15.7% 28.1%,
    14.8% 27.4%,
    13.3% 28%,
    13.1% 27.6%,
    12.4% 28.2%,
    12.3% 29.2%,
    11.8% 29.3%,
    11% 28.8%,
    10.5% 28.9%,
    9.8% 28.5%,
    7.4% 29.2%,
    7.2% 28.8%,
    5.5% 29.7%,
    4.5% 29.8%,
    4.2% 30.2%,
    4% 31.6%,
    4.3% 32%,
    4.8% 31.8%,
    5.1% 32%,
    5% 32.8%,
    5.4% 33.7%,
    5.7% 33.2%,
    6.2% 33.2%,
    7.1% 33.7%,
    7.2% 34.2%,
    7% 34.7%,
    6.6% 34.5%,
    4.5% 34.7%,
    4.3% 35.1%,
    5.9% 35.7%,
    6.5% 36.7%,
    6.3% 37.6%,
    7.5% 37.7%,
    8.1% 37%,
    8.1% 37%,
    8.6% 37.3%,
    9.3% 37%,
    10.1% 38%,
    10.6% 37.9%,
    10.7% 37.9%,
    10.7% 37.9%,
    11.1% 37.7%,
    11% 38.2%,
    11.5% 38.3%,
    12.1% 38.1%,
    12.2% 38.9%,
    12.6% 39.2%,
    13.1% 39%,
    13.5% 39.4%,
    14.1% 39.6%,
    14.1% 39.6%,
    14.2% 40.1%,
    14.6% 40.6%,
    14.6% 41.1%,
    15% 40.7%,
    15.5% 40.6%,
    15.9% 40.9%,
    16% 41.1%,
    16.8% 41.7%,
    18.8% 41.5%,
    18.8% 41.8%,
    19.1% 42.2%,
    18.4% 42.9%,
    18.8% 43.9%,
    19.8% 44.1%,
    20.1% 44.4%,
    20.9% 43.8%,
    21% 44%,
    20.9% 45.1%,
    21.4% 45.7%,
    22.2% 46.5%,
    20.9% 47.9%,
    21% 48.6%,
    22.7% 50.6%,
    23% 51.8%,
    24.3% 52.9%,
    25.1% 53.1%,
    25.3% 53.7%,
    26.3% 53.9%,
    27.1% 54.5%,
    27.2% 54%,
    27.7% 54.1%,
    27% 55.7%,
    27.5% 55.8%,
    28.2% 57.1%,
    28% 58.1%,
    27.5% 59.1%,
    26.7% 59.6%,
    26.9% 60.3%,
    28.2% 61.1%,
    29.9% 62.9%,
    30.3% 64.1%,
    30.3% 64.1%,
    29.6% 63.8%,
    27.8% 62.1%,
    27.6% 61.6%,
    27.1% 62.5%,
    26.1% 70.8%,
    25.9% 71.8%,
    25.9% 72.6%,
    24.1% 80.8%,
    23.5% 82%,
    23.5% 82%,
    22.8% 83%,
    21.8% 83.8%,
    22.8% 84.2%,
    23.3% 84.4%,
    24.4% 84.6%,
    24.6% 85.1%,
    24.3% 86.1%,
    23.9% 86.5%,
    24.1% 87%,
    24.7% 87.2%,
    25.3% 87%,
    26.3% 87.5%,
    27.9% 88.1%,
    28.9% 88%,
    29.3% 88.8%,
    30.6% 89.9%,
    31% 89.6%,
    31.4% 89.8%,
    32.4% 89.3%,
    32.4% 89.3%,
    34.2% 90.9%,
    36.2% 90.6%,
    36.6% 91%,
    38.2% 91%,
    39.2% 91.1%,
    39.6% 90.7%,
    39.5% 89.6%,
    39.9% 89.4%,
    41% 89.8%,
    42.6% 90.2%,
    43.4% 90.9%,
    44.5% 90.8%,
    45.4% 92%,
    45.6% 91.5%,
    46.2% 91.5%,
    47.9% 92.3%,
    47.6% 93.1%,
    49.1% 93.5%,
    49.5% 94.4%,
    50% 94.4%,
    50.7% 93.7%,
    51.2% 93.7%,
    52.8% 94.1%,
    53.6% 94.7%,
    54.6% 94.6%,
    54.6% 94.1%,
    55.9% 93.4%,
    56.9% 93.2%,
    58.3% 93.6%,
    57.3% 92.4%,
    57.2% 89.5%,
    57.3% 87.9%,
    58.2% 86.1%,
    58.6% 85.7%,
    59.5% 85%,
    60.6% 85%,
    61.7% 83.8%,
    63.5% 82.5%,
    64.9% 82.1%,
    65.4% 82.9%,
    65.9% 83%,
    65.9% 83%,
    68.3% 83.1%,
    68.6% 83.5%,
    68.5% 84%,
    69.1% 84.1%,
    70.7% 83.9%,
    71.8% 84%,
    74% 83.8%,
    74.6% 85.3%,
    76.2% 85.7%,
    76.7% 85.6%,
    76.7% 85.6%,
    77.7% 86.2%,
    79.1% 86.2%,
    80.1% 86.5%,
    80.6% 86.1%,
    81.8% 85.8%,
    82.7% 85.6%,
    83.1% 85.2%,
    83.7% 85.3%,
    84.1% 84.4%,
    83.5% 84.1%,
    84.5% 82.8%,
    85.4% 82.7%,
    86.1% 81.4%,
    87% 81%,
    87.2% 80.3%,
    89.6% 79%,
    89.7% 77.8%,
    90.7% 76.4%,
    91% 75.7%,
    90.6% 75%
  );
}

/* degrade de fond */
.fond-degrade {
  background: conic-gradient(from 0deg at 50% 50%, white, white, white, white, white, #000091);
  width: 100%;
  height: 100%;
  -webkit-animation: 1.6s ease infinite degrade-animate;
  animation: 1.6s ease infinite degrade-animate;
}

/* formes animees */
.elmt-animation {
  position: absolute;
  width: 0%;
  height: 0%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  margin-left: 0%;
  margin-top: 0%;
  -webkit-animation: 1.6s linear infinite retrecissement-rotation;
  animation: 1.6s linear infinite retrecissement-rotation;
}

.elmt-animation-0 {
  left: 54.1%;
  top: 18.3%;
  animation-delay: 0ms;
}

.elmt-animation-1 {
  left: 58.3%;
  top: 35%;
  animation-delay: 50ms;
}

.elmt-animation-2 {
  left: 68.5%;
  top: 26.1%;
  animation-delay: 100ms;
}

.elmt-animation-3 {
  left: 77.5%;
  top: 38%;
  animation-delay: 200ms;
}

.elmt-animation-4 {
  left: 68.5%;
  top: 50.6%;
  animation-delay: 250ms;
}

.elmt-animation-5 {
  left: 59.6%;
  top: 57.5%;
  animation-delay: 300ms;
}

.elmt-animation-6 {
  left: 75.4%;
  top: 61.2%;
  animation-delay: 320ms;
}

.elmt-animation-7 {
  left: 59.6%;
  top: 73.7%;
  animation-delay: 420ms;
}

.elmt-animation-8 {
  left: 52%;
  top: 58.5%;
  animation-delay: 450ms;
}

.elmt-animation-9 {
  left: 52%;
  top: 68%;
  animation-delay: 500ms;
}

.elmt-animation-10 {
  left: 46.8%;
  top: 84.5%;
  animation-delay: 520ms;
}

.elmt-animation-11 {
  left: 39%;
  top: 82.4%;
  animation-delay: 550ms;
}

.elmt-animation-12 {
  left: 36.9%;
  top: 62.8%;
  animation-delay: 580ms;
}

.elmt-animation-13 {
  left: 47.6%;
  top: 52.7%;
  animation-delay: 620ms;
}

.elmt-animation-14 {
  left: 32.1%;
  top: 51.7%;
  animation-delay: 680ms;
}

.elmt-animation-15 {
  left: 48.9%;
  top: 42.2%;
  animation-delay: 1100ms;
}

.elmt-animation-16 {
  left: 14.3%;
  top: 29.5%;
  animation-delay: 800ms;
}

.elmt-animation-17 {
  left: 23.2%;
  top: 29.5%;
  animation-delay: 860ms;
}

.elmt-animation-18 {
  left: 34.8%;
  top: 26.8%;
  animation-delay: 950ms;
}

.elmt-animation-19 {
  left: 46.8%;
  top: 27.4%;
  animation-delay: 1100ms;
}

.elmt-animation-20 {
  left: 44.7%;
  top: 18.1%;
  animation-delay: 1150ms;
}

/* animation du degrade */
@keyframes degrade-animate {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

/* animation des formes */
@keyframes retrecissement-rotation {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    width: 0%;
    margin-left: 0%;
    height: 0%;
    margin-top: 0%;
  }

  50% {
    width: 4%;
    margin-left: -2%;
    height: 4%;
    margin-top: -2%;
  }

  100% {
    width: 0%;
    margin-left: 0%;
    height: 0%;
    margin-top: 0%;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
