:root {
  --blue-france-sun-113-625: #000091;
  --red-marianne-main-472: #e1000f;
}

@keyframes cnfs-marker-in-focus {
  from {
    fill: var(--blue-france-sun-113-625);
  }

  to {
    fill: var(--red-marianne-main-472);
  }
}

@keyframes cnfs-marker-out-focus {
  from {
    fill: var(--red-marianne-main-472);
  }

  to {
    fill: var(--blue-france-sun-113-625);
  }
}

.default-marker {
  .marker-focus-active {
    display: none;
  }
}

.marker-status-unknown,
.marker-status-closed {
  .default-marker,
  .cnfs-marker {
    // todo: replace $primary with $muted
    fill: $primary;
  }
}

.marker-status-open {
  .default-marker {
    fill: $primary;
  }

  .cnfs-marker {
    .cnfs-marker-in {
      fill: var(--blue-france-sun-113-625);
      transform-origin: center 34.3%;
    }

    .cnfs-marker-out {
      fill: var(--red-marianne-main-472);
    }
  }
}

.marker-focus {
  .default-marker {
    .marker-focus-active {
      display: inherit;
    }
  }

  .cnfs-marker {
    .cnfs-marker-in {
      animation: cnfs-marker-in-focus 0.5s linear 0s 1 normal forwards;
    }

    .cnfs-marker-out {
      animation: cnfs-marker-out-focus 0.5s linear 0s 1 normal forwards;
    }
  }
}

.marker-hover-active {
  display: none;
}

.marker-hover {
  .marker-hover-active {
    display: inherit;
  }
}

.departement-marker {
  fill: $primary;
}

.region-marker {
  fill: $primary;
}
