:root {
  --blue-france-sun-113-625: #000091;
  --red-marianne-main-472: #e1000f;
}

.departement-marker,
.region-marker,
.user-marker {
  fill: $primary;
}

.marker-default,
.marker-cnfs {
  .marker-body {
    transform: translateY(11px);
    transition: 0.35s cubic-bezier(0.3, 0.8, 0.55, 1.9);

    .marker-shape {
      stroke: $white;
      stroke-width: 2px;
    }

    .marker-shadow {
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }

    .marker-opening-status {
      stroke: $white;
      stroke-width: 3;
    }
  }

  .marker-base {
    opacity: 0;
    transition: 0.5s;
  }
}

.marker-default {
  .marker-shape,
  .marker-base {
    fill: $primary;
  }
}

.marker-cnfs {
  .marker-shape,
  .marker-base {
    fill: var(--red-marianne-main-472);
  }

  .marker-shape-in {
    fill: var(--blue-france-sun-113-625);
  }

  .marker-shape-out {
    fill: $white;
  }
}

.departement-marker,
.region-marker {
  .marker-shadow {
    opacity: 0;
    transition: 0.35s;
    fill: #fff;
    filter: drop-shadow(1px 3px 3px rgb(0 0 0 / 40%));
  }
}

.marker-focus,
.marker-hover {
  z-index: $zindex-sticky !important;

  .marker-default,
  .marker-cnfs {
    .marker-base {
      opacity: 1;
    }

    .marker-body {
      transform: translateY(0);
    }
  }

  .departement-marker,
  .region-marker {
    .marker-shadow {
      opacity: 1;
    }
  }
}

.marker-status-closed {
  .marker-opening-status {
    fill: $muted;
  }
}

.marker-status-open {
  .marker-opening-status {
    fill: $success;
  }
}

.marker-status-unknown {
  .marker-opening-status {
    display: none;
  }
}
