.nav-underline {
  .nav-link {
    text-decoration: none;
  }

  .active {
    border-bottom: 1px solid $primary;
  }
}

.navbar-brand {
  color: $black;
}

.navbar-btn {
  @include transition($btn-transition);

  background-color: transparent;
  font-size: small;
  padding: $spacer * 0.75;
  margin-top: calc(var(--bs-nav-link-padding-y) * -1);
  margin-bottom: calc(var(--bs-nav-link-padding-y) * -1);
  border: none;
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  color: $muted-dark;

  &:hover {
    color: $body-color;
  }

  &.active {
    color: $body-color;
    background-color: $white;
    box-shadow: 0 -3px 0 0 $primary inset;
  }
}
