.square-xs {
  width: $square-xs;
  height: $square-xs;
}

.square-sm {
  width: $square-sm;
  height: $square-sm;

  * {
    margin-top: -2px;
  }
}

.square {
  width: $square;
  height: $square;

  * {
    font-size: $small-font-size;
  }
}

.square-range-thumb {
  width: $square-range-thumb;
  height: $square-range-thumb;

  * {
    font-size: $small-font-size * 0.8;
    display: inline-block;
    transform: translateY(-2px);
  }
}

.square-lg {
  width: $square-lg;
  height: $square-lg;
}

.square-xl {
  width: $square-xl;
  height: $square-xl;
}
