.square-xs {
  width: $square-xs;
  height: $square-xs;
}

.square-sm {
  width: $square-sm;
  height: $square-sm;

  * {
    margin-top: -2px;
  }
}

.square {
  width: $square;
  height: $square;

  * {
    font-size: $small-font-size;
  }
}

.square-lg {
  width: $square-lg;
  height: $square-lg;
}
