.btn-tile {
  --#{$prefix}tile-transition: #{$btn-tile-transition};
  --#{$prefix}tile-btn-padding-x: #{$btn-tile-padding-x};
  --#{$prefix}tile-btn-padding-y: #{$btn-tile-padding-y};
  --#{$prefix}tile-btn-hover-bg: #{$btn-tile-hover-bg};
  --#{$prefix}tile-btn-hover-color: #{$btn-tile-btn-hover-color};

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--#{$prefix}tile-btn-padding-y) var(--#{$prefix}tile-btn-padding-x);
  border: 0;
  border-radius: 0;
  @include transition(var(--#{$prefix}tile-transition));

  &:hover {
    background-color: var(--#{$prefix}tile-btn-hover-bg) !important;
    color: var(--#{$prefix}tile-btn-hover-color) !important;
  }

  &:focus {
    background-color: var(--#{$prefix}tile-btn-hover-bg) !important;
    color: var(--#{$prefix}tile-btn-hover-color) !important;
  }

  &:focus-visible {
    box-shadow: $focus-box-shadow inset;
  }
}
