.active-primary {
  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    color: $primary !important;
    box-shadow: 0 0 0 1px $primary;

    &:hover {
      box-shadow: -0.5px 0.5px 0px 1.5px $primary;
    }
  }
}
