<form [formGroup]="structureForm" (keyup.enter)="(!isEditMode ? '' : null)">
  <div class="section" *ngIf="!isEditMode">
    <div class="title">
      <h3>
        Acceptez-vous que les informations saisies soient enregistrées par la Métropole de Lyon<span class="asterisk"
          >*</span
        >
        ?
      </h3>
    </div>
    <app-checkbox-form [isChecked]="userAcceptSavedDate" [text]="'J\'accepte'" (checkEvent)="acceptDataBeSaved($event)">
    </app-checkbox-form>
  </div>
  <div class="section">
    <div class="title">
      <h3>
        Acceptez-vous que les informations de votre structure soient mises à disposition sur la plateforme
        data.grandlyon.com<span class="asterisk" *ngIf="!isEditMode">**</span
        ><span class="asterisk" *ngIf="isEditMode">*</span> ?
      </h3>
      <p class="notRequired" *ngIf="!isEditMode">Facultatif</p>
    </div>
    <app-checkbox-form
      *ngIf="!isEditMode"
      [text]="'J\'accepte'"
      (checkEvent)="acceptOpenData($event)"
    ></app-checkbox-form>
    <div class="dataShareConsent">
      <app-radio-form
        *ngIf="isEditMode"
        name="{{ getStructureControl('structureName').value }}"
        horizontal="true"
        [selectedOption]="getStructureControl('dataShareConsentDate').value === null ? false : true"
        (selectedEvent)="onRadioBtnChange('dataShareConsentDate', $event)"
      >
      </app-radio-form>
    </div>
  </div>
  <p *ngIf="!isEditMode" class="informationEndForm">
    <span class="asterisk">*</span> Les informations recueillies sont enregistrées dans un fichier par la Métropole de
    Lyon en vue de l'animation du réseau des acteurs de la médiation numérique. Elles sont conservées pendant 24 mois et
    sont destinées aux seuls intervenants habilités de la Métropole de Lyon.<br />
    Vos données personnelles sont traitées dans ce cadre aux fins de recensement des actions de médiation numérique sur
    le territoire de la métropole. Conformément à la loi 78-17 du 6 janvier 1978 modifiée relative à l'information, aux
    fichiers et aux libertés, et au Règlement Général européen à la Protection des Données, vous avez la possibilité
    d’exercer vos droits d’accès, de rectification, d’effacement, d’opposition, de limitation du traitement et de
    révocation de votre consentement. Afin d'exercer vos droits, vous pouvez vous adresser : <br />
    - par courrier postal à : Métropole de Lyon - Direction des Affaires Juridiques et de la Commande Publique - 20, rue
    du Lac - BP 33569 - 69505 Lyon Cedex<br />
    - par courrier électronique en remplissant le formulaire dédié sur Toodego, le site des services et démarches en
    ligne dans la Métropole de Lyon
  </p>
  <p class="informationEndForm">
    <span class="asterisk" *ngIf="!isEditMode">**</span><span class="asterisk" *ngIf="isEditMode">*</span> La Métropole
    de Lyon, engagée pour la transparence de l’action publique et la valorisation de ses partenaires, encourage
    l’ouverture des données. Les données de votre structure seront publiées sur la plateforme
    <a href="https://data.grandlyon.com/" target="_blank">https://data.grandlyon.com/</a> sous la licence ouverte (open
    data) et seront donc librement accessibles et réutilisables. Vous pourrez modifier votre choix à tout moment,
    exercer vos droits d’accès et de modification, en le signifiant, par tout moyen à votre convenance, auprès de vos
    interlocuteurs de la Métropole de Lyon.
  </p>
</form>
