@import '../../../assets/scss/color';
@import '../../../assets/scss/breakpoint';
@import '../../../assets/scss/layout';
@import '../../../assets//scss/typography';

::ng-deep.page {
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
  min-height: 450px;
  max-height: 75vh;
  overflow-y: auto;
  color: $grey-1;
  background: $white;
  border-radius: 8px;
  border: 1px solid $grey-6;
  padding: 32px 48px;
  * {
    max-width: 600px;
  }
  .no-max-width {
    max-width: none;
  }
}

::ng-deep.title {
  margin-bottom: 16px;
  .overtitle {
    @include lato-regular-18;
    color: $grey-3;
    margin-bottom: 3px;
  }
  h3 {
    @include lato-bold-24;
    margin: 0;
    @media #{$tablet} {
      @include lato-bold-22;
    }
  }
  p {
    @include lato-regular-18;
    color: $grey-3;
    font-style: italic;
    margin-top: 4px;
  }
}

::ng-deep.textareaBlock {
  @media #{$tablet} {
    max-width: 90%;
  }
  p {
    text-align: right;
    @include lato-regular-14;
    color: $grey-3;
    font-style: italic;
  }
}

@media #{$tablet} {
  .page {
    height: calc(
      100vh - #{$header-height-phone} - #{$footer-height-phone} - 87px - 1px
    ); // -1px because of header border
  }
}
