<form [formGroup]="structureForm" *ngIf="structureForm" (keyup.enter)="isPageValid && !isEditMode ? nextPage() : null">
  <div class="title">
    <h3>Quelles sont les modalités d'accueil de la structure&nbsp;?</h3>
    <p>Plusieurs choix possibles</p>
  </div>
  <p class="missing-information" *ngIf="isEditMode && !structureForm.get('accessModality').valid">
    <app-svg-icon [iconClass]="'icon-26'" [type]="'form'" [icon]="'notValidate'" class="validationIcon"></app-svg-icon>
    <span>Il faut renseigner au moins un champ</span>
  </p>
  <div *ngIf="accessModality" fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start" class="welcomingTerms">
    <app-checkbox-form
      *ngFor="let module of accessModality.modules"
      [isChecked]="isInArray('accessModality', module.id)"
      [text]="module.text"
      [iconSvg]="module.id"
      (checkEvent)="onCheckChange($event, 'accessModality', module.id)"
    >
    </app-checkbox-form>
  </div>
</form>
