<div class="days">
  <div *ngFor="let day of structure.hours" (click)="activateDay(day)" class="day" [ngClass]="{ active: day.active }">
    <div
      class="header-container sub-text"
      [ngClass]="modifiedFields && modifiedFields.hours && modifiedFields.hours[day.name] ? 'modified' : ''">
      <div class="header">
        <div class="grid-center">
          <label class="switch">
            <input
              type="checkbox"
              id="{{ day.name }}"
              (click)="toggleOpenDay(day, $event.target.checked)"
              [checked]="day.open" />
            <span class="slider"></span>
          </label>
          <label for="{{ day.name }}" class="toggle-label"></label>
        </div>

        <div>
          {{ day.name | titlecase }}
        </div>
      </div>
    </div>

    <div *ngIf="day.open" class="row-container">
      <div class="active" *ngIf="day.active">
        <div class="hour" *ngFor="let hour of day.hours; let i = index">
          <div>de</div>

          <div class="input-container">
            <input type="time" [(ngModel)]="hour.start" (change)="submitForm()" />
          </div>

          <div>à</div>

          <div class="input-container">
            <input type="time" [(ngModel)]="hour.end" (change)="submitForm()" (blur)="onBlur()" (focus)="onFocus()" />
          </div>

          <div>
            <div *ngIf="hour.error === 'wrong' || hour.error === 'incomplete'" class="error-message">
              <app-svg-icon [iconClass]="'icon-32'" [type]="'ico'" [icon]="'nok'"></app-svg-icon>
            </div>
            <div *ngIf="hour.error === null" class="error-message">
              <app-svg-icon [iconClass]="'icon-32'" [type]="'ico'" [icon]="'ok'"></app-svg-icon>
            </div>
          </div>
        </div>
        <div class="add" *ngIf="day.hours.length === 1">
          <app-button
            (action)="addHours(day)"
            [text]="'Ajouter'"
            [iconType]="'form'"
            [iconBtn]="'show'"
            [style]="buttonTypeEnum.Secondary"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
