<div class="days">
  <div *ngFor="let day of structure.hours" (click)="activateDay(day)" class="day" [ngClass]="{ active: day.active }">
    <div
      class="header-container sub-text"
      [ngClass]="modifiedFields && modifiedFields.hours && modifiedFields.hours[day.name] ? 'modified' : ''"
    >
      <div class="header">
        <div class="grid-center">
          <!-- <input
            type="checkbox"
            id="{{ day.name }}"
            class="toggle-checkbox hidden"
            (click)="toggleOpenDay(day, $event.target.checked)"
            [checked]="day.open"
          /> -->
          <label class="switch">
            <input
              type="checkbox"
              id="{{ day.name }}"
              (click)="toggleOpenDay(day, $event.target.checked)"
              [checked]="day.open"
            />
            <span class="slider"></span>
          </label>
          <label for="{{ day.name }}" class="toggle-label"></label>
        </div>

        <div>
          {{ day.name | titlecase }}
        </div>
      </div>
    </div>

    <!-- <div *ngIf="!day.open">
      <div class="active">
        <div class="grid-center">
          <app-copy-paste
            [day]="day"
            [copiedDayName]="copiedDayName"
            (copyEvent)="copy($event)"
            (pasteEvent)="paste($event)"
            (cancelEvent)="cancelCopy()"
          ></app-copy-paste>
        </div>
      </div>
    </div> -->

    <div *ngIf="day.open" class="row-container">
      <div class="active" *ngIf="day.active">
        <div class="hour" *ngFor="let hour of day.hours; let i = index">
          <div>de</div>

          <div class="input-container">
            <input type="time" [(ngModel)]="hour.start" (change)="submitForm()" />
          </div>

          <div>à</div>

          <div class="input-container">
            <input type="time" [(ngModel)]="hour.end" (change)="submitForm()" />
          </div>

          <div>
            <div *ngIf="hour.error === 'wrong' || hour.error === 'incomplete'" class="error-message">
              <app-svg-icon [type]="'ico'" [icon]="'nok'"></app-svg-icon>
            </div>
            <div *ngIf="hour.error === null" class="error-message">
              <app-svg-icon [type]="'ico'" [icon]="'ok'"></app-svg-icon>
            </div>
          </div>
        </div>
        <div class="add" *ngIf="day.hours.length === 1">
          <div
            (click)="addHours(day)"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="3px"
            class="grey-rounded-border"
          >
            <app-svg-icon [type]="'ico'" [icon]="'add'" [iconColor]="'currentColor'"></app-svg-icon>Ajouter
          </div>
          <!-- <div class="grid-center">
            <app-copy-paste
              [day]="day"
              [copiedDayName]="copiedDayName"
              (copyEvent)="copy($event)"
              (pasteEvent)="paste($event)"
              (cancelEvent)="cancelCopy()"
            ></app-copy-paste>
          </div> -->
        </div>

        <!-- <div *ngIf="day.hours.length === 2" class="grid-center">
          <app-copy-paste
            [day]="day"
            [copiedDayName]="copiedDayName"
            (copyEvent)="copy($event)"
            (pasteEvent)="paste($event)"
            (cancelEvent)="cancelCopy()"
          ></app-copy-paste>
        </div> -->
      </div>

      <!-- <div class="inactive hour" *ngIf="!day.active">
        <div>De</div>

        <div>
          <input type="time" [(ngModel)]="day.hours[0].start" (change)="checkHoursValid()" />
        </div>

        <div>à</div>

        <div>
          <input type="time" [(ngModel)]="day.hours[0].end" (change)="checkHoursValid()" />
        </div>

        <div>
          <div
            *ngIf="
              day.hours[0].error === 'incomplete' ||
                (day.hours[1] && day.hours[1].error === 'incomplete') ||
                (day.hours[2] && day.hours[2].error === 'incomplete') ||
                (day.hours[3] && day.hours[3].error === 'incomplete') ||
                (day.hours[4] && day.hours[4].error === 'incomplete');
              else wrong
            "
            class="warning-message"
          >
            <app-svg-icon [type]="'ico'" [icon]="'nok'"></app-svg-icon>
          </div>
          <ng-template #wrong>
            <div
              *ngIf="
                day.hours[0].error === 'wrong' ||
                (day.hours[1] && day.hours[1].error === 'wrong') ||
                (day.hours[2] && day.hours[2].error === 'wrong') ||
                (day.hours[23] && day.hours[3].error === 'wrong') ||
                (day.hours[4] && day.hours[4].error === 'wrong')
              "
              class="error-message"
            >
              <app-svg-icon [type]="'ico'" [icon]="'nok'"></app-svg-icon>
            </div>
          </ng-template>
        </div>
      </div> -->
    </div>
  </div>
</div>
