.days {
  display: grid;
  row-gap: 15px;

  .day {
    display: grid;
    grid-template-columns: 175px 1fr;
    column-gap: 20px;

    .header-container {
      .header {
        display: grid;
        grid-template-columns: 1fr auto auto;
        column-gap: 20px;
        align-items: center;
        height: 40px;
      }
    }

    .active {
      display: grid;
      row-gap: 10px;
    }

    .hour {
      height: 40px;
      display: grid;
      grid-template-columns: auto 100px auto 100px 1fr 30px 20px;
      column-gap: 10px;
      align-items: center;
      justify-items: center;
    }
  }
}

p {
  margin-top: 0px;
}

img {
  cursor: pointer;
  height: 15px;
  width: 15px;
  &.add {
    height: 20px;
    width: 20px;
  }
}

.modified {
  border-left: 3px solid red;
  padding-left: 8px;
  margin-left: -11px;
  border-radius: 3px;
}

.warning-message,
.error-message {
  font-weight: bold;
  font-size: 1em;
  display: grid;
  align-items: center;
}

.legend {
  font-weight: normal;
  font-style: italic;
  text-align: right;
}
