.map-container {
  position: relative;
  z-index: 0;
  height: 0;
}

.presentation-resume {
  font-weight: bold;
}

.typologie {
  visibility: hidden;
}

@media print {
  .map-details {
    border: none !important;
  }

  .lieux-mediation-numerique-details-print {
    min-height: 100vh;
  }

  .map-container {
    height: auto;
    width: auto;
  }

  .table-horaires {
    & table {
      font-size: $font-size-sm;
    }

    & tr {
      padding: 0.25rem 0;
      border-top: solid $gray-300 2px !important;
    }

    & tbody:last-child {
      border-bottom: solid $gray-300 2px !important;
    }

    .day {
      font-weight: bold;
    }
  }

  .list-items-print {
    break-inside: avoid-page !important;
  }

  .allow-page-break {
    height: 50vh !important;
  }

  .presentation-resume {
    font-weight: normal !important;
  }
}
