<div class="row d-print-none">
  <div class="text-center col" *ngFor="let modaliteAccompagnement of modalitesAccompagnement">
    <span class="d-flex justify-content-center">
      <i class="{{ modaliteAccompagnement.icon }} ri-xl ri-space bg-light rounded-circle"></i>
    </span>
    <div class="mt-2">
      <b class="text-lowercase">{{ modaliteAccompagnement.label }}</b>
    </div>
    <div class="mt-2">
      <small class="text-muted fst-italic">{{ modaliteAccompagnement.description }}</small>
    </div>
  </div>
</div>
<div class="d-none d-print-block">
  <span class="badge rounded-pill text-bg-light py-1 fw-normal" *ngFor="let modaliteAccompagnement of modalitesAccompagnement">
    {{ modaliteAccompagnement.label }}
  </span>
</div>
