<div class="row d-print-none">
  <div class="text-center col-md col-6 my-md-0 my-3" *ngFor="let modaliteAccompagnement of modalitesAccompagnement">
    <span class="ri-circled bg-light fw-normal">
      <i [ngClass]="modaliteAccompagnement.icon"></i>
    </span>
    <div class="mt-2">
      <b class="text-lowercase">{{ modaliteAccompagnement.label }}</b>
    </div>
    <div class="mt-2">
      <small class="text-muted fst-italic">{{ modaliteAccompagnement.description }}</small>
    </div>
  </div>
</div>
<div class="d-none d-print-block">
  <span class="badge rounded-pill text-bg-light py-1 fw-normal" *ngFor="let modaliteAccompagnement of modalitesAccompagnement">
    {{ modaliteAccompagnement.label }}
  </span>
</div>
