<ul *ngIf="filter" class="nav justify-content-center pb-3">
  <li class="nav-item">
    <app-nav-link [size]="size" [link]="['besoin']" [filtersCheck]="filter.service ? 1 : 0">Besoin</app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link [size]="size" [link]="['localisation']" [filtersCheck]="filter.distance ? 1 : 0">Localisation</app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link
      [size]="size"
      [link]="['accessibilite']"
      [filtersCount]="
        (filter.publics_specifiquement_adresses?.length ?? 0) +
        (filter.prise_en_charge_specifique?.length ?? 0) +
        (filter.modalites_accompagnement?.length ?? 0)
      ">
      Accessibilité
    </app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link [size]="size" [link]="['disponibilite']" [filtersCount]="filter.horaires_ouverture?.length ?? 0">
      Disponibilité
    </app-nav-link>
  </li>
</ul>
