<ul *ngIf="filter" class="nav justify-content-center pb-3">
  <li class="nav-item">
    <app-nav-link [size]="size" [link]="['besoin']" [filtersCheck]="filter.service ? 1 : 0">Besoin</app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link [size]="size" [link]="['localisation']" [filtersCheck]="filter.distance ? 1 : 0">Localisation</app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link
      [size]="size"
      [link]="['accessibilite']"
      [filtersCount]="
        (filter.conditions_acces?.length ?? 0) +
        (filter.publics_accueillis?.length ?? 0) +
        (filter.modalites_accompagnement?.length ?? 0)
      ">
      Accessibilité
    </app-nav-link>
  </li>
  <li class="nav-item">
    <app-nav-link
      [size]="size"
      [link]="['disponibilite']"
      [filtersCount]="(filter.date_ouverture ? 1 : 0) + (filter.ouvert_actuellement ? 1 : 0)">
      Disponibilité
    </app-nav-link>
  </li>
</ul>
