<app-leaflet-map-marker
  *ngFor="let lieuMediationNumerique of lieuxMediationNumeriques; trackBy: trackByLieuId"
  [latitude]="lieuMediationNumerique.localisation.latitude"
  [longitude]="lieuMediationNumerique.localisation.longitude"
  [properties]="lieuMediationNumerique"
  [highlight]="selectedId === lieuMediationNumerique.id ? 'focus' : undefined"
  markerFactoryKey="lieuMediationNumerique"
  (markerClick)="showDetails.emit($event.markerProperties)">
  <app-leaflet-map-tooltip [content]="popupContent" [sticky]="true">
    <div
      #popupContent
      class="text-center p-3 border-bottom border-3"
      [ngClass]="lieuMediationNumerique.status === 'Fermé' ? 'border-muted' : 'border-primary'">
      <b class="fs-5">{{ lieuMediationNumerique.nom }}</b>
      <br />
      <span
        *ngIf="lieuMediationNumerique.status; else noOpeningHours"
        [ngClass]="lieuMediationNumerique.status === 'Fermé' ? 'text-muted' : 'text-primary'">
        {{ lieuMediationNumerique.status }}
        <i class="ri-checkbox-blank-circle-fill ri-xxs"></i>
      </span>
      <ng-template #noOpeningHours>
        <span class="text-muted">Horaires inconnus</span>
      </ng-template>
    </div>
  </app-leaflet-map-tooltip>
</app-leaflet-map-marker>
