<app-leaflet-map-marker
  *ngFor="let departement of departements; index as i; trackBy: trackByDepartementCode"
  [latitude]="departement.localisation.latitude"
  [longitude]="departement.localisation.longitude"
  [properties]="{ index: i, count: departement.lieuxCount ?? 0 }"
  [highlight]="highlightState(departement.nom)"
  markerFactoryKey="territoire"
  (markerClick)="showLieux.emit(departement)"
  (markerEnter)="enableHover.emit(departement.nom)"
  (markerLeave)="disableHover.emit()"></app-leaflet-map-marker>
