<div class="cModal" [ngClass]="openned ? 'oModal' : ''">
  <div (clickOutside)="closeModal()" fxLayout="column" fxLayoutAlign="center center">
    <div class="ico-close-wrapper">
      <div (click)="closeModal()" class="ico-close-details"></div>
    </div>
    <h4>Inscription</h4>
    <div *ngIf="!success">
      <app-create-account-form (submitForm)="onSubmit($event)"></app-create-account-form>
    </div>
    <div *ngIf="userAlreadyExist">Cette addresse mail est déjà utilisée</div>
    <div *ngIf="success">
      <p>
        Un mail de confirmation vous a été envoyé. Merci de valider votre addresse mail avant de pouvoir vous connecter.
      </p>
    </div>
  </div>
</div>
