@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';

.ico-close {
  width: 100%;
}
h3 {
  @include cn-bold-26;
  color: $black;
  margin-top: 0;
}
.form {
  max-width: 391px;
  margin: 0 32px;
  width: 100%;
}
.emailAlreadyUse {
  color: $orange-warning;
  text-align: center;
  margin-bottom: 10px;
}
