<ng-container *ngIf="inLieuxZoomLevel((zoom$ | async) ?? 0, getDistance()); else : regions">
  <ng-container *ngIf="lieuxMediationNumerique$ | async as lieuxMediationNumerique">
    <div class="d-flex h-100" *ngIf="lieuxMediationNumerique?.length === 0">
      <app-no-lieux-found
        class="w-100 my-auto mx-4"
        (resetFilters)="resetFilters()"
        [hasFilters]="(listOfLieuxWithoutFilters$ | async)?.length !== 0"
        [queryParams]="toQueryString(route.queryParams)"
        [orientationFeature]="features.get('orientation')"></app-no-lieux-found>
    </div>
    <app-lieux-mediation-numerique-list
      class="d-print-none"
      [lieuxMediationNumerique]="lieuxMediationNumerique"
      [orientationFeature]="features.get('orientation')"
      [focusId]="(lieuSelected$ | async)?.id"
      [hoverId]="markersPresenter.highlighted$ | async"
      (print)="printPage()"
      (selectLieu)="select($event.id, $event.latitude, $event.longitude)"
      (enableHover)="hover($event)"
      (disableHover)="hover()"
      (showLabel)="onShowLabel($event); labelModal.toggle()"></app-lieux-mediation-numerique-list>
    <app-lieux-mediation-numerique-list-print
      class="d-none d-print-block"
      [filters]="(filters$ | async) ?? undefined"
      [lieuxMediationNumerique]="lieuxMediationNumerique ?? []"></app-lieux-mediation-numerique-list-print>
    <app-label-modal #labelModal [label]="labelToDisplay$ | async"></app-label-modal>
  </ng-container>
</ng-container>
<ng-template #regions>
  <app-regions-list
    [regions]="(regions$ | async) ?? []"
    [hoverId]="markersPresenter.highlighted$ | async"
    (enableHover)="hover($event)"
    (disableHover)="hover()"
    (showHub)="onShowHub($event); hubModal.toggle()"
    (showLieux)="markersPresenter.center($event.localisation, $event.zoom)"></app-regions-list>
  <app-hub-modal [hub]="hubToDisplay$ | async" #hubModal></app-hub-modal>
</ng-template>
