<div class="d-flex h-100 w-100" *ngIf="(lieuxMediationNumerique$ | async)?.length === 0">
  <app-no-lieux-found
    class="my-auto mx-4"
    (resetFilters)="resetFilters()"
    [hasFilters]="(listOfLieuxWithoutFilters$ | async)?.length !== 0"
    [queryParams]="toQueryString(route.queryParams)"
    [orientationFeature]="features.get('orientation')"></app-no-lieux-found>
</div>
<app-lieux-mediation-numerique-list
  *ngIf="inLieuxZoomLevel((markersPresenter.currentZoomLevel$ | async) ?? 0)"
  [lieuxMediationNumerique]="(lieuxMediationNumerique$ | async) ?? []"
  [orientationFeature]="features.get('orientation')"
  [focusId]="markersPresenter.focuced$ | async"
  [hoverId]="markersPresenter.hovered$ | async"
  (print)="printPage()"
  (selectLieu)="select($event)"
  (enableHover)="hover($event)"
  (disableHover)="hover()"></app-lieux-mediation-numerique-list>
