<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<main id="content" class="container">
  <div class="row">
    <div class="col-lg-7 col-12 me-auto mb-5">
      <h1 class="my-5">Déclaration d'accessibilité</h1>
      <p>
        <strong>L&rsquo; Agence Nationale de la Cohésion des Territoires</strong>
        s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
        <span class="d-block">
          Cette déclaration d’accessibilité s’applique au site Web :
          <strong>Cartographie Numérique</strong>
        </span>
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">État de conformité</h2>
      <p>
        <strong>Cartographie Numérique</strong>
        est en conformité partielle avec le référentiel général d’amélioration de l’accessibilité en raison des non-conformités
        énumérées ci- dessous.
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Résultats des tests</h2>
      <p>
        L’audit de conformité au RGAA 4.1.2 réalisé par la société
        <a href="https://www.numerik-ea.fr/" target="_blank" rel="noopener noreferrer" title="numerik-ea (nouvel onglet)">
          numerik-ea
        </a>
        révèle que :
        <strong>71,15 %</strong>
        des critères RGAA 4.1.2 sont respectés.
      </p>
      Dans le détail :
      <ul>
        <li>
          Nombre de critères conformes :
          <strong>37</strong>
        </li>
        <li>
          Nombre de critères non applicables :
          <strong>54</strong>
        </li>
        <li>
          Nombre de critères non conformes :
          <strong>15</strong>
        </li>
      </ul>
      <h2 class="h3 mt-5 mb-3 text-primary">Établissement de cette déclaration d'accessibilité</h2>
      <p>
        Cette déclaration a été établie le
        <strong>03 juin 2024.</strong>
      </p>
      <h3>Technologies utilisées pour la réalisation du site web</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
      </ul>
      <h3>Environnement de test</h3>
      <p>Les tests des pages web ont été effectués avec les combinaisons de navigateurs web et lecteurs d’écran suivants :</p>
      <ul>
        <li>NVDA, Firefox</li>
        <li>Jaws , Firefox</li>
        <li>Voiceover, Safari</li>
      </ul>
      <h3>Les outils suivants ont été utilisés lors de l’évaluation</h3>
      <ul>
        <li>WCAG contrast checker</li>
        <li>HeadingsMap</li>
        <li>Web developer</li>
        <li>ARC Toolkit</li>
        <li>PAC (PDF Accessibility Checker)</li>
      </ul>
      <h3>Pages du site ayant fait l’objet de la vérification de conformité</h3>
      <ol>
        <li>
          P01 Page d'accueil :
          <a href="https://cartographie.societenumerique.gouv.fr/">https://cartographie.societenumerique.gouv.fr/</a>
        </li>
        <ol type="a">
          <li>
            Formulaire étape Besoin :
            <a href="https:// cartographie.societenumerique.gouv.fr/orientation/besoin">
              https:// cartographie.societenumerique.gouv.fr/orientation/besoin
            </a>
          </li>
          <li>
            Formulaire étape Localisation :
            <a href="https:// cartographie.societenumerique.gouv.fr/orientation/localisation">
              https:// cartographie.societenumerique.gouv.fr/orientation/localisation
            </a>
          </li>
          <li>
            Formulaire étape Accessibilité :
            <a href="https:// cartographie.societenumerique.gouv.fr/orientation/accessibilite">
              https:// cartographie.societenumerique.gouv.fr/orientation/accessibilite
            </a>
          </li>
          <li>
            Formulaire étape Disponibilité :
            <a href="https://cartographie.societenumerique.gouv.fr/orientation/disponibilite">
              https:// cartographie.societenumerique.gouv.fr/orientation/disponibilite
            </a>
          </li>
        </ol>
        <li>
          P02 Accessibilité :
          <a href="https://cartographie.societenumerique.gouv.fr/accessibilite">
            https://cartographie.societenumerique.gouv.fr/accessibilite
          </a>
        </li>
        <li>
          P03 Mentions légales :
          <a href="https://cartographie.societenumerique.gouv.fr/mentions-legales">
            https://cartographie.societenumerique.gouv.fr/mentions-legales
          </a>
        </li>
        <li>
          P04 Présentation :
          <a href="https://cartographie.societenumerique.gouv.fr/presentation">
            https://cartographie.societenumerique.gouv.fr/presentation
          </a>
        </li>
        <li>
          P05 Écran détail :
          <a href="https://cartographie.societenumerique.gouv.fr/cartographie">
            https://cartographie.societenumerique.gouv.fr/presentation
          </a>
        </li>
        <ol type="a">
          <li>
            Écran détail :
            <a
              href="https://cartographie.societenumerique.gouv.fr/cartographie/Conseiller-Numerique_63cz164c2b76ddc06f2a6678f/details">
              https://cartographie.societenumerique.gouv.fr/cartographie/Conseiller-Numerique_63cz164c2b76ddc06f2a6678f/details
            </a>
          </li>
        </ol>
      </ol>
      <h2 class="h3 mt-5 mb-3 text-primary">Amélioration et contact</h2>
      <p>
        Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de
        <strong>Cartographie Nationale</strong>
        pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
      </p>
      <ul>
        <li>
          E-mail :
          <a href="mailto:cartographie.sonum@anct.gouv.fr">cartographie.sonum@anct.gouv.fr</a>
        </li>
      </ul>
      <p>
        Nous essayons de répondre dans les
        <strong>2 jours ouvrés.</strong>
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Voie de recours</h2>
      <p>
        Cette procédure est à utiliser dans le cas suivant : Vous avez signalé au responsable du site web un défaut
        d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services et vous n’avez pas obtenu de réponse
        satisfaisante.
      </p>
      <div class="my-2">Vous pouvez :</div>
      <ul>
        <li>
          Écrire un message au
          <a
            href="https://formulaire.defenseurdesdroits.fr/"
            target="_blank"
            title="Écrire un message au défenseur des droits (nouvel onglet)"
            rel="noopener noreferrer">
            Défenseur des droits
          </a>
        </li>
        <li>
          Contacter
          <a
            href="https://www.defenseurdesdroits.fr/saisir/delegues"
            target="_blank"
            title="Contacter le délégué du Défenseur des droits dans votre région (nouvel onglet)"
            rel="noopener noreferrer">
            le délégué du Défenseur des droits dans votre région
          </a>
        </li>
        <li>
          Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre)
          <br />
          Défenseur des droits
          <br />
          Libre réponse
          <br />
          75342 Paris CEDEX 07
        </li>
      </ul>
    </div>
  </div>
</main>
