<div class="container">
  <div class="row">
    <div class="col-lg-7 col-12 me-auto mb-5">
      <h1 class="my-5">Déclaration d'accessibilité</h1>
      <p>
        <strong>Agence Nationale de la Cohésion des Territoires</strong>
        s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
        <br />
        Cette déclaration d’accessibilité s’applique à
        <strong>Cartographie Nationale.</strong>
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">État de conformité</h2>
      <p>
        <strong>Cartographie Nationale</strong>
        est non conforme avec le RGAA 4.1. Le site n'a encore pas été audité.
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Établissement de cette déclaration d'accessibilité</h2>
      <p>
        Cette déclaration a été établie le
        <strong>21 novembre 2022.</strong>
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Amélioration et contact</h2>
      <p>
        Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de
        <strong>Cartographie Nationale</strong>
        pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.
      </p>
      <ul>
        <li>
          E-mail :
          <a href="mailto:cartographie.sonum@anct.gouv.fr">cartographie.sonum@anct.gouv.fr</a>
        </li>
      </ul>
      <p>
        Nous essayons de répondre dans les
        <strong>2 jours ouvrés.</strong>
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Voie de recours</h2>
      <p>
        Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut
        d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de
        réponse satisfaisante.
      </p>
      <div class="my-2">Vous pouvez:</div>
      <ul>
        <li>
          Écrire un message au
          <a
            href="https://formulaire.defenseurdesdroits.fr/code/afficher.php?ETAPE=accueil_2016"
            target="_blank"
            rel="noopener noreferrer">
            Défenseur des droits
          </a>
        </li>
        <li>
          Contacter
          <a href="https://www.defenseurdesdroits.fr/saisir/delegues" target="_blank" rel="noopener noreferrer">
            le délégué du Défenseur des droits dans votre région
          </a>
        </li>
        <li>
          Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) : Défenseur des droits Libre réponse 71120 75342
          Paris CEDEX 07
        </li>
      </ul>
      <hr />
      <p>
        Cette déclaration d'accessibilité a été créé le
        <strong>21 novembre 2022</strong>
        grâce au
        <a href="https://betagouv.github.io/a11y-generateur-declaration/#create" target="_blank" rel="noopener noreferrer">
          Générateur de Déclaration d'Accessibilité de BetaGouv
        </a>
        .
      </p>
    </div>
  </div>
</div>
