<div class="d-flex h-100" *ngIf="loadingState$ | async">
  <div class="card border-0 shadow me-auto ms-auto my-5">
    <div class="card-body">
      <div class="d-flex flex-column text-center mt-5">
        <p class="text-muted">Patientez quelques instants</p>
        <h3 class="card-title text-primary">
          Nous recherchons les structures
          <br />
          correspondant à votre recherche
        </h3>
      </div>
      <app-cartographie-loader></app-cartographie-loader>
    </div>
  </div>
</div>
<div class="d-flex h-100">
  <div class="col-lg-6 col-md-6 col-12 border-end">
    <router-outlet></router-outlet>
  </div>
  <div class="col overflow-auto">
    <app-leaflet-map [centerView]="(markersPresenter.centerView$ | async) ?? defaultCenterView">
      <app-leaflet-map-marker
        *ngFor="let lieuMediationNumerique of lieuxMediationNumerique$ | async"
        [latitude]="lieuMediationNumerique.localisation.latitude"
        [longitude]="lieuMediationNumerique.localisation.longitude"
        [properties]="lieuMediationNumerique"
        markerFactoryKey="lieuMediationNumerique"
        (markerClick)="showDetailStructure($event)">
        <app-leaflet-map-tooltip [content]="popupContent">
          <div
            #popupContent
            class="text-center p-3 border-bottom border-3"
            [ngClass]="lieuMediationNumerique.status === 'Fermé' ? 'border-muted' : 'border-primary'">
            <b class="fs-5">{{ lieuMediationNumerique.nom }}</b>
            <br />
            <span
              *ngIf="lieuMediationNumerique.status; else:noOpeningHours"
              [ngClass]="lieuMediationNumerique.status === 'Fermé' ? 'text-muted' : 'text-primary'">
              {{ lieuMediationNumerique.status }}
              <i class="ri-checkbox-blank-circle-fill ri-xxs"></i>
            </span>
            <ng-template #noOpeningHours>
              <span class="text-muted">Horaires inconnus</span>
            </ng-template>
          </div>
        </app-leaflet-map-tooltip>
      </app-leaflet-map-marker>
    </app-leaflet-map>
  </div>
</div>
