<!--<app-structure-list-search></app-structure-list-search>-->
<div class="d-flex h-100">
  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-12 overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <div class="col overflow-auto">
    <app-map
      [structures]="(structures$ | async) ?? []"
      [toogleToolTipId]="(markersPresenter.highlighted$ | async) ?? ''"
      [selectedMarkerId]="(markersPresenter.selected$ | async) ?? ''"
      (selectedStructure)="showDetailStructure($event)"></app-map>
  </div>
</div>
