@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  fill: $primary-color;
  color: $black;
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  button {
    width: 40px;
    fill: $primary-color;
    &.active {
      background-color: $primary-color;
      fill: $white;
      border-color: $primary-color;
    }
    &:hover {
      background-color: $primary-color;
      fill: $white;
      border-color: $primary-color;
    }
  }
}

ul li ul {
  position: absolute;
  display: block;
  margin-left: -268px;
  margin-top: 7px;
}

button {
  &.transparent {
    background: none;
    border: 1px solid $grey-4;
    border-radius: 6px;
  }
}
.contentModal {
  padding: 18px 32px !important;
  .headerModal {
    width: 100%;
  }
  h2 {
    margin-right: 20px;
  }
  p {
    &.special {
      margin: 8px 0;
      @include lato-regular-14;
      color: $grey-3;
      &.invalid {
        color: $orange-warning;
      }
    }
  }
  .removeOwner {
    white-space: nowrap;
    width: 84%;
    text-overflow: ellipsis;
    @include lato-regular-16;
    button {
      width: 130px;
      background-color: $red;
    }
    span {
      @include lato-regular-18;
    }
  }
  button {
    &.invalid {
      opacity: 0.4;
    }
  }
  .form-group {
    width: 100%;
    padding-right: 40px;
    input {
      width: 100%;
    }
  }
  .ico-close-details {
    min-width: 40px;
  }
  .ownersBlock {
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
}
