<div fxLayout="column" class="content-container full-screen">
  <div class="section-container">
    <h1>Qui sommes-nous ?</h1>
    <p>
      La numérisation accélérée des différents services privés et publics ainsi que la crise sanitaire que nous
      traversons a renforcé une fracture numérique déjà forte pour un nombre important de citoyens.
    </p>
    <p>
      Au printemps 2019, la Métropole de Lyon s'est saisie des enjeux autour de l'inclusion numérique en initiant la
      structuration d'un réseau des acteurs de la médiation numérique sur son territoire. Son objectif est de mettre en
      relation les acteurs qui œuvrent au quotidien pour limiter cette fracture numérique, nombreux sur le territoire de
      la Métropole : associations, centres sociaux, structures informations jeunesses, grands opérateurs de services
      publics, collectivités...
    </p>
    <p>
      Des ateliers de travail ont été organisés en 2019 pour identifier les besoins de ces acteurs et 9 offres de
      services ont été identifiées :
    </p>
    <img src="/assets/img/about_illustration.png" alt="illustration des besoins" />
    <p>
      Cet espace vise à centraliser et mettre en commun les ressources développées dans le cadre du réseau par ses
      acteurs.
    </p>
    <p>N'hésitez pas à contribuer à cet espace en partageant vos ressources</p>
  </div>
</div>
