<div fxLayout="column" class="content-container full-screen">
  <div class="section-container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="left" fxLayoutGap="5%">
      <div class="about-container">
        <h1>Qui sommes-nous ?</h1>
        <p>
          La numérisation accélérée des différents services privés et publics ainsi que la crise sanitaire que nous
          traversons a renforcé une fracture numérique déjà forte pour un nombre important de citoyens.
        </p>
        <p>
          Au printemps 2019, la Métropole de Lyon s'est saisie des enjeux autour de l'inclusion numérique en initiant la
          structuration d'un réseau des acteurs de la médiation numérique sur son territoire. Son objectif est de mettre
          en relation les acteurs qui œuvrent au quotidien pour limiter cette fracture numérique, nombreux sur le
          territoire de la Métropole : associations, centres sociaux, structures informations jeunesses, grands
          opérateurs de services publics, collectivités...
        </p>
        <p>
          Des ateliers de travail ont été organisés en 2019 pour identifier les besoins de ces acteurs et 9 offres de
          services ont été identifiées :
        </p>
        <h2>Recenser et partager des ressources existantes (optimisation)</h2>
        <img src="/assets/img/about_illustration_1.jpg" width="640" height="114" alt="illustration des besoins" />
        <h2>Co-construire de nouvelles ressources (développement)</h2>
        <img src="/assets/img/about_illustration_2.jpg" width="640" height="149" alt="illustration des besoins" />
        <p>
          Cet espace vise à centraliser et mettre en commun les ressources développées dans le cadre du réseau par ses
          acteurs.
        </p>
        <p>N'hésitez pas à contribuer à cet espace en partageant vos ressources</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <img src="/assets/logos/logo_europe.png" width="220" height="168" alt="logo de l'union européenne" />
        <img src="/assets/logos/logo_region.png" width="220" height="98" alt="logo de la région Auverge-Rhône-Alpes" />
      </div>
    </div>
  </div>
</div>
