@import '../../assets/scss/color';
@import '../../assets/scss/typography';

.content-container {
  overflow: auto;
}

h2 {
  @include cn-bold-16;
  color: $red-default;
}

.about-container {
  max-width: 760px;
}

.version {
  padding-top: 80px;
  font-size: $font-size-xxsmall;
  color: $grey-3;
}
