<div class="row gx-0" style="padding: 0 5rem">
  <div class="col">
    <a
      class="btn btn-tile"
      [class.disabled]="!priseRdv"
      target="_blank"
      rel="noopener noreferrer"
      [href]="priseRdv ?? null"
      [tabIndex]="priseRdv ? 0 : -1">
      <i
        class="ri-calendar-check-line ri-xl ri-fw ri-space bg-primary text-light rounded-circle"
        [ngClass]="priseRdv ? 'bg-primary' : 'bg-muted-dark'"></i>
      <b class="mt-2">RDV en ligne</b>
    </a>
  </div>
  <div class="col">
    <a
      class="btn btn-tile"
      [class.disabled]="!siteWeb?.[0]"
      [href]="siteWeb?.[0] ?? null"
      [tabIndex]="siteWeb?.[0] ? 0 : -1"
      target="_blank"
      rel="noopener noreferrer">
      <i
        class="ri-computer-line ri-xl ri-fw ri-space text-light rounded-circle"
        [ngClass]="siteWeb?.[0] ? 'bg-primary' : 'bg-muted-dark'"></i>
      <b class="mt-2">Voir le site</b>
    </a>
  </div>
  <div class="col">
    <button type="button" class="btn btn-tile" (click)="print.emit()">
      <i class="ri-printer-line ri-xl ri-fw ri-space bg-primary text-light rounded-circle"></i>
      <b class="mt-2">Imprimer</b>
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-tile" (click)="sendByEmail.emit()">
      <i class="ri-mail-line ri-xl ri-fw ri-space bg-primary text-light rounded-circle"></i>
      <b class="mt-2">Envoyer par mail</b>
    </button>
  </div>
</div>
