<div class="row gx-0 py-0 px-md-6 flex-md-row flex-column bg-light py-md-0 py-2">
  <div class="col me-1">
    <a
      class="btn btn-tile px-md-0 py-md-4 p-2 d-flex flex-md-column flex-row"
      [class.disabled]="!priseRdv"
      [attr.href]="priseRdv ?? null"
      target="_blank"
      rel="noopener noreferrer">
      <span class="ri-circled text-light fw-normal" [ngClass]="priseRdv ? 'bg-primary' : 'bg-muted-dark'">
        <i class="ri-calendar-check-line" aria-hidden="true"></i>
      </span>
      <b class="mt-md-2 mb-md-0 ms-md-0 ms-2">RDV en ligne</b>
    </a>
  </div>
  <div class="col">
    <a
      class="btn btn-tile px-md-0 py-md-4 p-2 d-flex flex-md-column flex-row"
      [class.disabled]="!siteWeb?.[0]"
      [attr.href]="siteWeb?.[0] ?? null"
      target="_blank"
      rel="noopener noreferrer">
      <span class="ri-circled text-light fw-normal" [ngClass]="siteWeb?.[0] ? 'bg-primary' : 'bg-muted-dark'">
        <i class="ri-external-link-line" aria-hidden="true"></i>
      </span>
      <b class="mt-md-2 mb-md-0 ms-md-0 ms-2">Voir le site</b>
    </a>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-tile px-md-0 py-md-4 p-2 d-flex flex-md-column flex-row"
      (click)="openImpressionChoiceModal.emit($event); onPrintFromActionButton()">
      <span role="img" class="ri-circled bg-primary text-light fw-normal">
        <span role="img" class="ri-printer-line" aria-hidden="true"></span>
      </span>
      <b class="mt-md-2 mb-md-0 ms-md-0 ms-2">Imprimer</b>
    </button>
  </div>
  <div class="col">
    <button
      type="button"
      class="btn btn-tile px-md-0 py-md-4 p-2 d-flex flex-md-column flex-row"
      (click)="sendByEmail.emit($event)">
      <span class="ri-circled bg-primary text-light fw-normal">
        <span role="img" class="ri-mail-send-line" aria-hidden="true"></span>
      </span>
      <b class="mt-md-2 mb-md-0 ms-md-0 ms-2">Envoyer par mail</b>
    </button>
  </div>
</div>
