<a
  class="mx-sm-2 mx-2 px-sm-3 px-0 py-0 py-sm-1 position-relative"
  [ngClass]="size === 'sm' ? 'nav-link' : 'btn btn-secondary'"
  [routerLink]="link"
  queryParamsHandling="preserve"
  routerLinkActive="active active-primary"
  ariaCurrentWhenActive="page">
  <ng-content></ng-content>
  <span
    class="position-absolute top-0 start-100 translate-middle bg-primary rounded-circle text-white text-center"
    [class.ms-1]="size === 'sm'"
    [class.square-sm]="size === 'sm'"
    [class.square]="size === 'auto'"
    *ngIf="filtersCount || filtersCheck">
    <span class="visually-hidden">(contient</span>
    <small class="d-block" *ngIf="filtersCount; else noFiltersCount">
      {{ filtersCount }}
      <span class="visually-hidden">éléments filtrés)</span>
    </small>
    <ng-template #noFiltersCount><span class="visually-hidden">&nbsp;un élément filtré)</span></ng-template>
    <i *ngIf="filtersCheck" class="d-block ri-check-line" aria-hidden="true"></i>
  </span>
</a>
