<ng-container *ngIf="filterPresentation as filter">
  <button
    *ngIf="filter.service"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.service, 'service')">
    &times; {{ filter.service }}
  </button>
  <button
    *ngIf="filter.address"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.address, 'address')">
    &times; {{ filter.address }}
  </button>
  <button
    *ngIf="filter.distance"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.distance, 'distance')">
    &times; Moins de {{ filter.distance / 1000 }} km
  </button>
  <button
    *ngFor="let publicAccueilli of filter.publics_accueillis"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(publicAccueilli, 'publics_accueillis')">
    &times; {{ getLabelFromValue(publicAccueilli) }}
  </button>
  <button
    *ngFor="let conditionAcces of filter.conditions_acces"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(conditionAcces, 'conditions_acces')">
    &times; {{ getLabelFromValue(conditionAcces) }}
  </button>
  <button
    *ngFor="let modaliteAccompagnement of filter.modalites_accompagnement"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(modaliteAccompagnement, 'modalites_accompagnement')">
    &times; {{ getLabelFromValue(modaliteAccompagnement) }}
  </button>
  <button
    *ngIf="filter.horaires_ouverture"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.horaires_ouverture, 'horaires_ouverture')">
    &times;
    <ng-container [ngPlural]="filter.horaires_ouverture.length">
      {{ filter.horaires_ouverture.length }}
      <ng-template ngPluralCase="1">horaire d'ouverture</ng-template>
      <ng-template ngPluralCase="other">horaires d'ouverture</ng-template>
    </ng-container>
  </button>
</ng-container>
