<ng-container *ngIf="filterPresentation as filter">
  <button
    *ngFor="let service of filter.services"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(service, 'services')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ service }}
  </button>
  <button
    *ngIf="filter.address"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.address, 'address')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ filter.address }}
  </button>
  <button
    *ngIf="filter.distance"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.distance, 'distance')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    Moins de {{ filter.distance / 1000 }} km
  </button>
  <button
    *ngFor="let priseEnChargeSpecifique of filter.prise_en_charge_specifique"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(priseEnChargeSpecifique, 'prise_en_charge_specifique')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ getLabelFromValue(priseEnChargeSpecifique) }}
  </button>
  <button
    *ngFor="let publicSpecifiquementAdresse of filter.publics_specifiquement_adresses"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(publicSpecifiquementAdresse, 'publics_specifiquement_adresses')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ getLabelFromValue(publicSpecifiquementAdresse) }}
  </button>
  <button
    *ngFor="let modaliteAccompagnement of filter.modalites_accompagnement"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(modaliteAccompagnement, 'modalites_accompagnement')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ getLabelFromValue(modaliteAccompagnement) }}
  </button>
  <button
    *ngFor="let dispositifProgrammeNational of filter.dispositif_programmes_nationaux"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(dispositifProgrammeNational, 'dispositif_programmes_nationaux')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ labelMap.get(dispositifProgrammeNational) ?? dispositifProgrammeNational }}
  </button>
  <button
    *ngFor="let autreFormationLabel of filter.autres_formations_labels"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(autreFormationLabel, 'autres_formations_labels')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    {{ autreFormationLabel }}
  </button>
  <button
    *ngIf="filter.prise_rdv"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.prise_rdv, 'prise_rdv')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    Prise de RDV
  </button>
  <button
    *ngIf="filter.fiche_acces_libre"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.fiche_acces_libre, 'fiche_acces_libre')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    Accessibilité
  </button>
  <button
    *ngIf="filter.horaires_ouverture"
    class="btn btn-chip btn-chip-trim btn-sm btn-tertiary text-primary me-2 mb-2"
    (click)="resetForm(filter.horaires_ouverture, 'horaires_ouverture')">
    <span class="visually-hidden">Retirer</span>
    <span class="ri-close-line" role="img" aria-hidden="true"></span>
    <ng-container [ngPlural]="filter.horaires_ouverture.length">
      {{ filter.horaires_ouverture.length }}
      <ng-template ngPluralCase="1">horaire d'ouverture</ng-template>
      <ng-template ngPluralCase="other">horaires d'ouverture</ng-template>
    </ng-container>
  </button>
</ng-container>
