<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto text-center">
    <img
      *ngIf="brandConfiguration.logo; else brandLogo"
      [src]="brandConfiguration.logo"
      class="my-3"
      style="max-width: 100%; max-height: 100px"
      alt="" />
    <ng-template #brandLogo>
      <img
        *ngIf="brandConfiguration.logoAvecTexte"
        [src]="brandConfiguration.logoAvecTexte"
        class="my-5"
        style="max-width: 100%; max-height: 100px"
        alt="" />
    </ng-template>
    <ng-container *ngIf="!hasActiveFilter; else: restart">
      <h1 class="h2 fw-bold">
        Bienvenue sur
        <br />
        <span class="text-primary">la Cartographie {{ brandConfiguration.name }}</span>
        <ng-container *ngIf="brandConfiguration.sousTitre">
          <br />
          <h5 class="text-primary">{{ brandConfiguration.sousTitre }}</h5>
        </ng-container>
      </h1>
      <div class="my-5 mx-lg-5 mx-2 fs-5">
        <p>
          Vous rencontrez un problème lié au numérique ?
          <br />
          Vous souhaitez accompagner une personne en difficulté avec le numérique ?
        </p>
        <p>
          Vous pourrez facilement filtrer les lieux en fonction de votre besoin ou de ceux du bénéficiaire
          <b>en utilisant notre outil d'orientation.</b>
        </p>
      </div>
      <div class="my-4">
        <a
          class="btn orientation-btn bg-light mb-3 p-3 rounded-0 d-flex position-relative"
          [routerLink]="['besoin']"
          queryParamsHandling="preserve">
          <span class="ri-circled bg-primary text-light fw-normal me-3">
            <i class="ri-compass-3-line" aria-hidden="true"></i>
          </span>
          <span class="orientation-btn-label my-auto text-start">
            Démarrer une orientation
            <br />
            <i class="small text-muted">Grâce à notre questionnaire en 4 étapes</i>
          </span>
          <span class="ri-2x text-muted ms-auto me-3 end-0">
            <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div class="mt-5 mb-4 text-muted">OU</div>
      <div class="my-4">
        <a
          class="text-muted text-decoration-none border-bottom border-muted pb-1 m-2"
          [routerLink]="['/', 'cartographie']"
          queryParamsHandling="preserve">
          Accéder directement à la carte
          <i class="ri-skip-forward-line" aria-hidden="true"></i>
        </a>
      </div>
    </ng-container>
    <ng-template #restart>
      <h1 class="h2 text-center fw-bold mb-4">
        Souhaitez-vous
        <span class="text-primary">redémarrer l'orientation ?</span>
      </h1>
      <div class="my-5">
        <a class="btn btn-primary m-2" [routerLink]="['besoin']" queryParamsHandling="preserve">
          <i class="ri-arrow-left-s-line" aria-hidden="true"></i>
          Reprendre l'orientation
        </a>
        <a class="btn btn-secondary m-2" [routerLink]="['besoin']" (click)="orientationLayout.filterForm.reset()">
          Nouvelle orientation
          <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
        </a>
      </div>
    </ng-template>
  </div>
</div>
