<form [formGroup]="formGroup" class="position-relative">
  <label for="search" class="visually-hidden">Quelle est votre adresse ?</label>
  <i class="text-muted ri-search-line ri-lg position-absolute mt-2 ms-2 ps-1 z-index-elevated" aria-hidden="true"></i>
  <div class="input-group">
    <input
      #searchInput
      type="search"
      [placeholder]="placeholder"
      name="search"
      id="search"
      class="form-control ps-5"
      autocomplete="off"
      aria-describedby="search"
      aria-haspopup="true"
      formControlName="search"
      [attr.aria-describedby]="isNotFound ? 'search-desc-error' : null"
      [attr.aria-expanded]="dropdownPane.expanded$ | async"
      (input)="search.next(searchInput.value); searchInput.value.length <= 2 ? dropdownPane.reduce() : dropdownPane.expand()"
      (focus)="suggestions = previousSuggestions; searchInput.value.length <= 2 ? dropdownPane.reduce() : dropdownPane.expand()"
      (focusout)="dropdownPane.reduce()"
      (keydown.escape)="dropdownPane.reduce()"
      (keydown.arrowDown)="$event.preventDefault(); dropdownPane.nextIndex()"
      (keydown.arrowUp)="$event.preventDefault(); dropdownPane.previousIndex()"
      (keydown.enter)="setSuggestion(suggestions[dropdownPane.activeIndex]); dropdownPane.reduce()" />
    <button type="button" *ngIf="searchInput.value && displayReset" class="btn input-group-btn" (click)="clear()">
      <span class="visually-hidden fw-bold">Effacer</span>
      <span role="img" class="ri-close-line" aria-hidden="true"></span>
    </button>
    <ng-content></ng-content>
  </div>
  <ul
    #dropdownPane="dropdownPane"
    appDropdownPane
    [class.show]="(dropdownPane.expanded$ | async) && suggestions.length > 0"
    (reduced)="onReduced()"
    class="dropdown-menu position-absolute mt-1"
    role="listbox"
    aria-labelledby="search">
    <li
      #results
      *ngFor="let suggestion of suggestions; index as suggestionIndex; trackBy: trackBySuggestionName; let isLast = last">
      <button
        type="button"
        tabindex="-1"
        role="option"
        class="dropdown-item"
        [class.border-bottom]="!isLast"
        [class.active]="dropdownPane.activeIndex === suggestionIndex"
        [attr.aria-current]="dropdownPane.activeIndex === suggestionIndex ? true : null"
        (focusin)="dropdownPane.setIndex(suggestionIndex)"
        (focusout)="dropdownPane.setIndex(-1)"
        (mousedown)="setSuggestion(suggestion); dropdownPane.reduce()">
        <span role="img" class="small text-primary" [ngSwitch]="suggestion.payload.type">
          <ng-container *ngSwitchCase="'place'">Lieu d'inclusion numérique</ng-container>
          <ng-container *ngSwitchCase="'municipality'">Commune</ng-container>
          <ng-container *ngSwitchCase="'conseiller'">Consiller Numérique</ng-container>
          <ng-container *ngSwitchDefault>Adresse</ng-container>
        </span>
        <br />
        <span class="d-inline-flex">
          <span
            role="img"
            class="text-primary ri-2x me-2 ri-focus-3-line"
            style="margin-top: -5px"
            [class.ri-community-line]="suggestion.payload.type === 'municipality'"
            [class.ri-map-pin-2-line]="suggestion.payload.type === 'place'"
            [class.ri-account-circle-fill]="suggestion.payload.type === 'conseiller'"
            aria-hidden="true"></span>
          <span class="lh-sm">
            <ng-container *ngFor="let part of suggestion.label | highlight : searchInput.value">
              <span [ngClass]="{ 'fw-bold': part.matchString }">{{ part.value }}</span>
            </ng-container>
            <br />
            <span class="text-muted">
              <ng-container *ngFor="let part of suggestion.context | highlight : searchInput.value">
                <span [ngClass]="{ 'fw-bold': part.matchString }">{{ part.value }}</span>
              </ng-container>
            </span>
          </span>
        </span>
      </button>
    </li>
  </ul>
</form>
