<ng-container *ngIf="(lieuxMediationNumerique$ | async) as lieuxMediationNumerique">
  <div class="h-100 overflow-auto d-flex flex-column">
    <div class="list-group list-group-flush flex-grow-1">
      <a
        queryParamsHandling="preserve"
        class="list-group-item list-group-item-action p-4"
        *ngFor="let lieuMediationNumerique of lieuxMediationNumerique"
        [routerLink]="[lieuMediationNumerique.id]"
        (click)="select(lieuMediationNumerique)"
        (mouseenter)="markersPresenter.highlight(lieuMediationNumerique.id)">
        <app-mediation-numerique-list-item
          [lieuMediationNumerique]="lieuMediationNumerique"></app-mediation-numerique-list-item>
      </a>
    </div>
    <div class="bg-primary d-flex p-2">
      <div class="ms-auto flex-grow-1">
        <button class="btn btn-outline-light" (click)="printPage()">
          <i class="ri-printer-line me-2 align-bottom"></i>
          <span>Imprimer les résultats</span>
        </button>
      </div>
      <span class="d-flex align-items-center text-white me-auto">{{lieuxMediationNumerique?.length}} Structures</span>
    </div>
  </div>
</ng-container>
