<button class="btn btn-primary" (click)="geolocationPresenter.locate(geolocationProvider)">Géolocalisation</button>

<ng-container *ngIf="(structures$ | async) as structures">
  <fr-lieux-mediation-numerique-list (displayMapMarkerId)="markersPresenter.highlight($event)" [structureList]="structures">
    <div slot="structure-list-elements">
      <fr-lieux-mediation-numerique-item
        *ngFor="let structure of structures"
        [structure]="structure"
        (showDetails)="select($event._id)"
        (hover)="markersPresenter.highlight($event._id)"
        class="structure-card"></fr-lieux-mediation-numerique-item>
    </div>
    <div class="bg-primary d-flex p-2" *ngIf="(structures$ | async) as structures">
      <div class="ms-auto flex-grow-1">
        <button class="btn btn-outline-light" (click)="printPage()">
          <i class="ri-printer-line me-2 align-bottom"></i>
          <span>Imprimer les résultats</span>
        </button>
      </div>
      <span class="d-flex align-items-center text-white me-auto">{{structures?.length}} Structures</span>
    </div>
  </fr-lieux-mediation-numerique-list>
</ng-container>
