<div class="vh-100 d-flex flex-column flex-grow-1">
  <div class="visually-hidden-focusable bg-light">
    <div class="container-fluid">
      <a
        *ngFor="let skipLink of skipLinkPresenter.skipLinks$ | async"
        class="d-inline-flex p-2 m-1"
        [routerLink]="['.']"
        [relativeTo]="skipLink.route"
        queryParamsHandling="preserve"
        [fragment]="skipLink.fragment"
        spellcheck="false"
        (click)="skipTo(skipLink.fragment)">
        <ng-template [ngTemplateOutlet]="skipLink.content"></ng-template>
      </a>
    </div>
  </div>
  <header class="navbar navbar-expand-lg bg-white d-print-none border-bottom z-index-over-base">
    <div class="container-fluid mx-sm-3 mx-0">
      <a [routerLink]="['/']" class="navbar-brand">
        <img
          *ngIf="brandConfiguration.logoAvecTexte; else brandLogo"
          [src]="brandConfiguration.logoAvecTexte"
          [alt]="'Accueil cartographie ' + brandConfiguration.name"
          height="48" />
        <ng-template #brandLogo>
          <img
            *ngIf="brandConfiguration.logo; else brandName"
            [src]="brandConfiguration.logo"
            [alt]="'Accueil cartographie ' + brandConfiguration.name"
            height="48" />
        </ng-template>
        <ng-template #brandName>Cartographie {{ brandConfiguration.name }}</ng-template>
      </a>
      <app-offcanvas
        #navbarOffcanvas
        heading="Menu principal"
        [useHeader]="false"
        className="w-100 mt-lg-0 mt-navbar z-index-over">
        <div class="offcanvas-body">
          <ul class="navbar-nav nav-underline ms-auto mb-2 mb-lg-0">
            <!-- <ng-content select="[slot=links]"></ng-content> -->
            <li class="nav-item">
              <a
                [routerLink]="['/', 'orientation']"
                queryParamsHandling="preserve"
                class="nav-link ms-4 pb-0 px-0"
                ariaCurrentWhenActive="page"
                routerLinkActive="active"
                (click)="navbarOffcanvas.close()">
                Orienter un bénéficiaire
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/', 'cartographie']"
                queryParamsHandling="preserve"
                class="nav-link ms-4 pb-0 px-0"
                ariaCurrentWhenActive="page"
                routerLinkActive="active"
                (click)="navbarOffcanvas.close()">
                {{ (navbarOffcanvas.expanded$ | async) ? 'Afficher les lieux' : 'Afficher la carte' }}
              </a>
            </li>
          </ul>
        </div>
      </app-offcanvas>
      <button
        class="navbar-toggler btn border-0 py-2 px-2"
        type="button"
        [ngClass]="(navbarOffcanvas.expanded$ | async) ? 'btn-primary' : 'btn-link-light'"
        [class.collapsed]="(navbarOffcanvas.expanded$ | async) === false"
        [attr.aria-expanded]="navbarOffcanvas.expanded$ | async"
        [attr.aria-controls]="navbarOffcanvas.id"
        [class.active]="navbarOffcanvas.expanded$ | async"
        aria-label="Afficher le menu de navigation"
        (click)="navbarOffcanvas.toggle($event)">
        <i [ngClass]="(navbarOffcanvas.expanded$ | async) ? 'ri-close-line' : 'ri-menu-line'" aria-hidden="true"></i>
      </button>
    </div>
  </header>
  <div class="d-flex flex-row flex-grow-1 overflow-hidden h-100">
    <div class="col overflow-auto" #container tabindex="-1">
      <ng-content></ng-content>
      <ng-content select="[slot=footer]"></ng-content>
    </div>
  </div>
</div>
