<div class="row">
  <div class="col-md-6 col-12">
    <div class="card p-4 rounded-0" *ngIf="lieuxMediationNumeriqueTotal">
      <div class="d-flex text-start">
        <span role="img" class="ri-map-pin-2-fill ri-4x pe-2 text-primary" aria-hidden="true"></span>
        <h3 class="mt-2 h5">
          <span class="fw-bold">{{ lieuxMediationNumeriqueTotal.length }}</span>
          <span class="d-block fw-bold">Lieux d'inclusion numérique recensés</span>
          sur la cartographie nationale
        </h3>
      </div>
      <hr />
      <table class="table table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="w-100">
              <h4 class="col-8 fw-bold text-start mt-4 flex-grow-1">Regions</h4>
            </th>
            <th scope="col" class="text-end">
              <span role="img" class="ri-map-pin-2-fill ri-xl me-2" title="nombre de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Nombre de lieux</span>
            </th>
            <th scope="col" class="text-end text-primary">
              <span role="img" class="ri-pie-chart-2-fill ri-xl me-1" title="pourcentage de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Pourcentage de lieux</span>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let region of sortByLieuxCount(regions?.payload)">
            <th scope="row" class="text-start fw-normal w-100">{{ region.nom }}</th>
            <td class="text-end fw-bold">{{ region.lieuxCount }}</td>
            <td class="text-end">
              {{ (((region.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}&nbsp;%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6 col-12 align-self-start">
    <div class="card h-100 p-4 rounded-0">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="w-100">
              <h4 class="col-8 fw-bold text-start mt-4 flex-grow-1">Typologies</h4>
            </th>
            <th scope="col" class="text-end">
              <span role="img" class="ri-bank-fill ri-xl me-2" title="nombre de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Nombre de lieux</span>
            </th>
            <th scope="col" class="text-end text-primary">
              <span role="img" class="ri-pie-chart-2-fill ri-xl me-1" title="pourcentage de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Pourcentage de lieux</span>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row" class="text-start fw-normal w-100">
              <button
                class="btn btn-link link-dark text-decoration-none p-0"
                #collapseTypologiesControl
                aria-controls="collapseTypologies"
                [attr.aria-expanded]="collapseTypologies.isExpanded$ | async"
                (click)="collapseTypologies.toggle()">
                {{ getPublicProperties()?.nom }}
                <span
                  role="img"
                  class="ri-lg"
                  [ngClass]="(collapseTypologies.isCollapsed$ | async) ? 'ri-arrow-right-s-line' : 'ri-arrow-down-s-line'"
                  aria-hidden="true"></span>
              </button>
            </th>
            <td class="text-end fw-bold">{{ getPublicProperties()?.lieuxCount }}</td>
            <td class="text-end">
              {{
                (((getPublicProperties()?.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number
              }}&nbsp;%
            </td>
          </tr>
          <tr>
            <td colspan="3" class="p-0 ps-2">
              <app-collapse #collapseTypologies [control]="collapseTypologiesControl">
                <table class="table table-borderless mb-0">
                  <tbody>
                    <tr *ngFor="let typologie of typologies" class="ps-1">
                      <ng-container *ngIf="typologie.type === 'publique' && typologie.sousType">
                        <th scope="row" class="text-start fw-normal w-100">{{ typologie.nom }}</th>
                        <td class="text-end fw-bold">{{ typologie.lieuxCount }}</td>
                        <td class="text-end">
                          {{
                            (((typologie.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number
                          }}&nbsp;%
                        </td>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </app-collapse>
            </td>
          </tr>
          <tr *ngFor="let typologie of typologies">
            <ng-container *ngIf="!typologie.type">
              <th scope="row" class="text-start fw-normal w-100">{{ typologie.nom }}</th>
              <td class="text-end fw-bold">{{ typologie.lieuxCount }}</td>
              <td class="text-end">
                {{ (((typologie.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}&nbsp;%
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <table class="table table table-borderless">
        <thead>
          <tr>
            <th scope="col" class="w-100">
              <h4 class="col-8 fw-bold text-start mt-4 flex-grow-1">Labels</h4>
            </th>
            <th scope="col" class="text-end">
              <span role="img" class="ri-medal-2-line ri-xl me-2" title="nombre de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Nombre de lieux</span>
            </th>
            <th scope="col" class="text-end text-primary">
              <span role="img" class="ri-pie-chart-2-fill ri-xl me-1" title="pourcentage de lieux" aria-hidden="true"></span>
              <span class="visually-hidden">Pourcentage de lieux</span>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let label of labels">
            <ng-container *ngIf="label.nom !== 'QPV' && label.nom !== 'ZRR'">
              <th scope="row" class="text-start fw-normal w-100">{{ labelMap.get(label.nom) ?? label.nom }}</th>
              <td class="text-end fw-bold">{{ label.lieuxCount }}</td>
              <td class="text-end">
                {{ (((label.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}&nbsp;%
              </td>
            </ng-container>
          </tr>
          <tr>
            <th scope="row" class="text-start fw-normal w-100">Territoires prioritaires</th>
            <td class="text-end fw-bold">{{ getTerritoiresPrioritaireCount() }}</td>
            <td class="text-end">
              {{ ((getTerritoiresPrioritaireCount() / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}&nbsp;%
            </td>
          </tr>
          <tr *ngFor="let label of labels">
            <ng-container *ngIf="label.nom === 'QPV' || label.nom === 'ZRR'">
              <th scope="row" class="text-start fw-normal w-100">{{ labelMap.get(label.nom) ?? label.nom }}</th>
              <td class="text-end fw-bold">{{ label.lieuxCount }}</td>
              <td class="text-end">
                {{ (((label.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}&nbsp;%
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
