<div class="row">
  <div class="col">
    <div class="card h-100 p-4 rounded-0">
      <div *ngIf="lieuxMediationNumeriqueTotal" class="text-start">
        <div class="d-flex">
          <i class="ri-map-pin-2-fill ri-4x pe-2 text-primary"></i>
          <p class="h5">
            <span class="fw-bold">{{ lieuxMediationNumeriqueTotal.length }}</span>
            <br />
            <span class="fw-bold">Lieux d'inclusion numérique recensés</span>
            <br />
            sur la cartographie nationale
          </p>
        </div>
        <hr />
      </div>
      <div class="d-flex align-items-center">
        <h5 class="col-8 fw-bold text-start mt-4 flex-grow-1">Regions</h5>
        <i class="ri-map-pin-2-fill me-2 ri-xl col mt-4 text-end"></i>
        <i class="ri-pie-chart-2-fill me-2 ri-xl col mt-4 text-end text-info"></i>
      </div>
      <div class="d-flex" *ngFor="let region of regions">
        <p class="col-8 text-start flex-grow-1">
          {{ region.nom }}
        </p>
        <p class="col me-2 fw-bold text-end">
          {{ region.lieuxCount }}
        </p>
        <p class="col text-end">
          {{ (((region.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }} %
        </p>
      </div>
    </div>
  </div>
  <div class="col align-self-start">
    <div class="card h-100 p-4 rounded-0">
      <div class="d-flex align-items-center">
        <h5 class="col-8 fw-bold text-start mt-4 flex-grow-1">Typologie</h5>
        <i class="ri-bank-fill me-2 ri-xl col mt-4 text-end"></i>
        <i class="ri-pie-chart-2-fill me-2 ri-xl col mt-4 text-end text-info"></i>
      </div>
      <div class="accordion" id="accordionTypologie">
        <div class="accordion-item">
          <ng-container *ngIf="typologies" class="mb-3">
            <div
              #collapseTypologiesControl
              type="button"
              class="d-flex rounded-0 d-flex position-relative w-100 justify-content-between"
              aria-controls="collapseTypologies"
              [class.bg-white]="(collapseTypologies.isCollapsed$ | async) === false"
              [attr.aria-expanded]="collapseTypologies.isExpanded$ | async"
              (click)="collapseTypologies.toggle()">
              <p class="col-8 text-start flex-grow-1">
                {{ getPublicProperties()?.nom }}
                <i
                  class="ri-arrow-right-s-line ri-lg"
                  *ngIf="collapseTypologies.isCollapsed$ | async; else expanded"
                  aria-hidden="true"></i>
                <ng-template #expanded>
                  <i class="ri-arrow-down-s-line ri-lg" aria-hidden="true"></i>
                </ng-template>
              </p>
              <p class="col me-2 fw-bold text-end">
                {{ getPublicProperties()?.lieuxCount }}
              </p>
              <p class="col text-end">
                {{
                  (((getPublicProperties()?.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number
                }}
                %
              </p>
            </div>
            <app-collapse #collapseTypologies [control]="collapseTypologiesControl">
              <div *ngFor="let typologie of typologies" class="ps-1">
                <div *ngIf="typologie.type === 'publique' && typologie.sousType">
                  <div class="d-flex">
                    <p class="col-8 text-start flex-grow-1">
                      {{ typologie.nom }}
                    </p>
                    <p class="col me-2 fw-bold text-end">
                      {{ typologie.lieuxCount }}
                    </p>
                    <p class="col text-end">
                      {{ (((typologie.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}
                      %
                    </p>
                  </div>
                </div>
              </div>
            </app-collapse>
          </ng-container>
        </div>
      </div>
      <div *ngFor="let typologie of typologies">
        <div *ngIf="!typologie.type">
          <div class="d-flex">
            <p class="col-8 text-start flex-grow-1">
              {{ typologie.nom }}
            </p>
            <p class="col me-2 fw-bold text-end">
              {{ typologie.lieuxCount }}
            </p>
            <p class="col text-end">
              {{ (((typologie.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }}
              %
            </p>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h5 class="col-8 fw-bold text-start mt-4 flex-grow-1">Label</h5>
        <i class="ri-medal-2-line me-2 ri-xl col mt-4 text-end"></i>
        <i class="ri-pie-chart-2-fill me-2 ri-xl col mt-4 text-end text-info"></i>
      </div>
      <div *ngFor="let label of labels">
        <div class="d-flex" *ngIf="label.nom !== 'QPV' && label.nom !== 'ZRR'">
          <p class="col-8 text-start flex-grow-1">
            {{ labelMap.get(label.nom) ?? label.nom }}
          </p>
          <p class="col me-2 fw-bold text-end">
            {{ label.lieuxCount }}
          </p>
          <p class="col text-end">
            {{ (((label.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }} %
          </p>
        </div>
      </div>
      <div class="d-flex">
        <p class="col-8 text-start flex-grow-1">Territoires prioritaires</p>
        <p class="col me-2 fw-bold text-end">{{ getTerritoiresPrioritaireCount() }}</p>
        <p class="col text-end">
          {{ ((getTerritoiresPrioritaireCount() / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }} %
        </p>
      </div>
      <div *ngFor="let label of labels">
        <div class="d-flex" *ngIf="label.nom === 'QPV' || label.nom === 'ZRR'">
          <p class="col-8 text-start flex-grow-1">
            {{ labelMap.get(label.nom) ?? label.nom }}
          </p>
          <p class="col me-2 fw-bold text-end">
            {{ label.lieuxCount }}
          </p>
          <p class="col text-end">
            {{ (((label.lieuxCount ?? 0) / lieuxMediationNumeriqueTotal.length) * 100).toFixed(0) | number }} %
          </p>
        </div>
      </div>
    </div>
    <p class="my-3 text-info text-end">
      Source:
      <u>Cartographie Nationale des lieux d'inclusion numérique</u>
    </p>
  </div>
</div>
