<div class="container">
  <div class="d-flex border-bottom">
    <div class="my-3 flex-grow-1">
      <p class="ms-3">
        {{ adresse }}
      </p>
      <div class="d-flex ms-3" *ngIf="conditionAccess">
        <span class="text-primary">{{ conditionAccess }}</span>
      </div>
      <a class="d-flex mt-3 btn ms-1 me-auto p-0" *ngIf="accessibilite" href="{{ accessibilite }}" target="_blank">
        <i class="ri-wheelchair-line ri-xl p-1 align-bottom text-primary"></i>
        <p class="text-primary">Consulter les informations d'accessibilité</p>
      </a>
    </div>
    <div class="mb-3">
      <a *ngIf="courriel" class="btn btn-sm btn-secondary mt-3 py-2 d-flex align-items-center" href="mailto:{{ courriel }}">
        <i class="ri-mail-line me-2 align-bottom"></i>
        <span>Contacter par mail</span>
      </a>
      <p class="mt-2" *ngIf="telephone">
        <i class="ri-phone-line me-2 align-bottom"></i>
        <span>{{ telephone }}</span>
      </p>
    </div>
  </div>
</div>
