.text-first-letter-uppercase {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.text-xxs {
  font-size: 0.55em;
}

.text-hover-light:hover {
  color: $light !important;
}
