@use 'sass:map';
@import 'bootstrap/scss/utilities';
@import 'text';

$utilities: map.merge(
  $utilities,
  (
    'height': (
      responsive: true,
      property: height,
      class: h,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    'white-space': (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        prewrap: pre-wrap,
        nowrap: nowrap
      )
    ),
    'z-index': (
      property: z-index,
      class: z-index,
      values: (
        over: 1100
      )
    )
  )
);
