<div class="multi-print" *ngFor="let structure of structures">
  <app-structure-print-header
    [beneficiaryNeedCommentary]="beneficiaryNeedCommentary"
    [beneficiaryName]="beneficiaryName"
    [structureAccompaniment]="structureAccompaniment"
    [beneficiaryPassNumeric]="beneficiaryPassNumeric"
    [contactAccompaniment]="contactAccompaniment"
    [filters]="filters"
  ></app-structure-print-header>
  <app-structure-detail-print [structure]="structure"></app-structure-detail-print>
</div>
<div class="loader">
  <img class="loader-gif" src="/assets/gif/loader_circle.gif" alt />
  <p>Liste en cours d'impression</p>
</div>
