@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/layout';

.list-to-print {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}

.multi-print {
  :host {
    background-color: $grey-6;
  }
  ::ng-deep {
    .structrue-details-container {
      margin-top: 2%;
      margin-left: 34%;
      height: 98%;
    }
    .print-header {
      height: 100%;
    }
  }
  page-break-after: always;
  -webkit-print-color-adjust: exact;
  width: 50%;
  margin-left: 23%;
  margin-right: 23%;
  padding-left: 2%;
  padding-right: 2%;
  height: 100%;
  overflow-x: hidden;
  background-color: $white;
  @media screen {
    display: none;
  }
  @media print {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.loader {
  height: calc(100vh - #{$header-height} - #{$footer-height});
  @media print {
    display: none;
  }
}
