<div class="h-100 d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-light shadow-sm z-index-over-base sticky-top">
    <div class="container-fluid">
      <div class="navbar-collapse" id="navbarSupportedContent">
        <app-user-location (location)="userLocalisation = $event"></app-user-location>
      </div>
    </div>
  </nav>
  <div class="flex-grow-1 overflow-auto">
    <div class="d-flex h-100">
      <div class="border-end col-12 map-list h-100"><router-outlet></router-outlet></div>
      <div class="col overflow-auto position-relative">
        <div class="position-absolute bottom-0 end-0 z-index-over-all mb-4 me-2 bg-white shadow-sm">
          <table class="table m-0">
            <tbody>
              <tr>
                <td class="px-3">
                  <svg class="marker-conseiller" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <circle class="marker-conseiller--coordonne" cx="5" cy="5" r="5" />
                  </svg>
                </td>
                <th>CnFS coordonnés</th>
                <td class="small fst-italic">{{ nombreConseillersCoordonnes$ | async }}</td>
              </tr>
              <tr>
                <td class="px-3">
                  <svg class="marker-conseiller" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" />
                  </svg>
                </td>
                <th>CnFS non-coordonnés</th>
                <td class="small fst-italic">{{ nombreConseillersNonCoordonnes$ | async }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <mgl-map
          *ngIf="(markersPresenter.localisation$ | async) as localisation"
          [movingMethod]="'flyTo'"
          [movingOptions]="{speed: 2}"
          class="h-100 w-100 overflow-hidden"
          [style]="'https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json'"
          [zoom]="[(markersPresenter.zoom$ | async) ?? 0]"
          [center]="[localisation.longitude, localisation.latitude]">
          <mgl-marker *ngIf="userLocalisation" [lngLat]="[userLocalisation.longitude, userLocalisation.latitude]">
            <svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
              <circle cx="14" cy="14" r="14" fill-opacity=".3" />
              <circle class="user-marker" cx="14" cy="14" r="9" fill-opacity=".65" />
            </svg>
          </mgl-marker>
          <app-conseillers-markers [conseillers]="(conseillers$ | async) ?? []"></app-conseillers-markers>
          <app-coordinateurs-markers
            [coordinateurs]="(coordinateurs$ | async) ?? []"
            [selectedId]="(markersPresenter.selected$ | async) ?? ''"
            [hoverId]="(markersPresenter.highlighted$ | async) ?? ''"
            (highlight)="onHighlight($event?.id)"
            (showDetails)="onShowDetails($event)"></app-coordinateurs-markers>
        </mgl-map>
      </div>
    </div>
  </div>
</div>
