<h1 class="h4 mt-5 fw-bold text-secondary text-center">Les avantages de cet outil :</h1>
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <div *ngFor="let slides of slidePresentations; index as i">
      <a
        (click)="switchSlide.emit(i)"
        type="button"
        class="me-2"
        style="text-decoration: none"
        [attr.aria-current]="this.currentSlide === i"
        [attr.aria-label]="'Slide' + (i + 1)">
        <i
          *ngIf="this.currentSlide === i; else notActive"
          class="ri-checkbox-blank-circle-fill ri-xl ri-fw ri-space text-light ms-auto me-auto"></i>
        <ng-template #notActive>
          <i class="ri-checkbox-blank-circle-line ri-xl ri-fw ri-space text-light ms-auto me-auto"></i>
        </ng-template>
      </a>
    </div>
  </div>
  <div class="carousel-inner h-100" *ngFor="let slides of slidePresentations; index as i">
    <div *ngIf="currentSlide === i">
      <div class="container">
        <div class="slide row" @carouselAnimation>
          <div class="col-md-6 my-auto d-flex justify-content-end align-items-center p-5">
            <img src="{{ slides.imageUrl }}" class="img-fluid" alt="" width="70%" />
          </div>
          <div class="col-md-6 my-auto" *ngIf="slides.titre !== 'Standardisation'">
            <h5 class="text-secondary fw-bold">{{ slides.titre }}</h5>
            <p class="text-secondary">
              {{ slides.text }}
            </p>
            <a href="https://dora.fabrique.social.gouv.fr" target="_blank">
              <img
                class="my-3"
                width="auto"
                height="auto"
                *ngIf="slides.titre === 'La mise à jour'"
                src="/assets/img/presentation/dora-logo.svg"
                alt="" />
            </a>
          </div>
          <div class="col-md-6 my-auto" *ngIf="slides.titre === 'Standardisation'">
            <h5 class="text-secondary fw-bold">{{ slides.titre }}</h5>
            <p class="text-secondary">
              Nous référençons les structures de médiation numérique qui ont renseigné leurs données au format du
              <a
                class="text-decoration-none"
                href="https://lamednum.coop/schema-de-donnees-des-lieux-de-mediation-numerique-2/"
                target="_blank">
                standard de données des lieux de médiation numérique
              </a>
              établi par la
              <a class="text-decoration-none" href="https://lamednum.coop/" target="_blank">Mednum</a>
              ,
              <a class="text-decoration-none" href="https://datactivist.coop/fr/" target="_blank">Datactivist</a>
              et
              <a class="text-decoration-none" href="https://agence-cohesion-territoires.gouv.fr/" target="_blank">l'ANCT</a>
              .
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" (click)="previousSlide.emit()" type="button">
    <i class="ri-arrow-left-circle-fill ri-xl ri-fw ri-space text-light"></i>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" (click)="nextSlide.emit()" type="button">
    <i class="ri-arrow-right-circle-fill ri-xl ri-fw ri-space text-light ms-5"></i>
    <span class="visually-hidden">Next</span>
  </button>
</div>
