<h2 class="mt-5 fw-bold text-secondary text-center">Les avantages de cet outil :</h2>
<div class="carousel slide carousel-fade">
  <div class="carousel-indicators">
    <button
      *ngFor="let slides of slidePresentations; index as i"
      type="button"
      class="btn btn-link text-decoration-none"
      [class.active]="currentSlide === i"
      (click)="switchSlide.emit(i)"
      [attr.aria-current]="currentSlide === i"
      [attr.aria-label]="'Slide ' + i">
      <i
        *ngIf="this.currentSlide === i; else notActive"
        class="ri-checkbox-blank-circle-fill ri-xl ri-fw ri-space text-light ms-auto me-auto"
        aria-hidden="true"></i>
      <ng-template #notActive>
        <i class="ri-checkbox-blank-circle-line ri-xl ri-fw ri-space text-light ms-auto me-auto" aria-hidden="true"></i>
      </ng-template>
    </button>
  </div>

  <div class="carousel-inner" *ngFor="let slides of slidePresentations; index as i">
    <div *ngIf="currentSlide === i" class="row justify-content-center pb-5">
      <div class="col-xl-6 col-9 my-5" @carouselAnimation>
        <div class="row">
          <div class="col-md-6 my-auto d-flex justify-content-end align-items-center">
            <img src="{{ slides.imageUrl }}" class="img-fluid" alt="" width="70%" />
          </div>
          <div class="col-md-6 my-auto" *ngIf="slides.titre !== 'Standardisation'">
            <h3 class="h5 text-secondary fw-bold">{{ slides.titre }}</h3>
            <p class="text-secondary">
              {{ slides.text }}
            </p>
            <a href="https://dora.fabrique.social.gouv.fr" target="_blank">
              <span class="visually-hidden">Accéder à DORA</span>
              <img
                class="my-3"
                width="auto"
                height="auto"
                *ngIf="slides.titre === 'La mise à jour'"
                src="/assets/img/presentation/dora-logo.svg"
                alt="" />
            </a>
          </div>
          <div class="col-md-6 my-auto" *ngIf="slides.titre === 'Standardisation'">
            <h5 class="text-secondary fw-bold">{{ slides.titre }}</h5>
            <p class="text-secondary">
              Nous référençons les lieux d'inclusion numérique qui ont renseigné leurs données au format du
              <a
                class="text-decoration-none"
                href="https://lamednum.coop/schema-de-donnees-des-lieux-de-mediation-numerique-2/"
                target="_blank">
                standard de données des lieux de médiation numérique
              </a>
              établi par la
              <a class="text-decoration-none" href="https://lamednum.coop/" target="_blank">Mednum</a>
              ,
              <a class="text-decoration-none" href="https://datactivist.coop/fr/" target="_blank">Datactivist</a>
              et
              <a class="text-decoration-none" href="https://agence-cohesion-territoires.gouv.fr/" target="_blank">l'ANCT</a>
              .
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="previousSlide.emit()">
    <i class="ri-arrow-left-circle-fill ri-2x ri-fw ri-space text-light m-5" aria-hidden="true"></i>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" (click)="nextSlide.emit()">
    <i class="ri-arrow-right-circle-fill ri-2x ri-fw ri-space text-light m-5" aria-hidden="true"></i>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>
