<div class="h-lg-100 d-flex flex-column p-3" *ngIf="(orientationLayout.filterPresentation$ | async) as filter">
  <div class="my-auto">
    <h1 class="h2 text-center fw-bold mb-4">
      <span class="text-primary">Comment</span>
      et
      <span class="text-primary">à qui</span>
      l'accompagnement sera accessible&nbsp;?
    </h1>
    <form [formGroup]="orientationLayout.filterForm">
      <div class="accordion" id="accordionAccessibilite">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingConditionFinancieres">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseConditionFinancieres"
              [class.collapsed]="collapseConditionFinancieres.isCollapsed"
              [attr.aria-expanded]="collapseConditionFinancieres.isExpanded"
              (click)="collapseConditionFinancieres.toggle()">
              <i class="ri-price-tag-3-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <span
                class="position-absolute top-0 start-0 mt-4 ms-4 translate-middle badge bg-secondary text-primary border border-primary rounded-circle"
                *ngIf="filter.conditions_access && filter.conditions_access.length > 0">
                {{filter.conditions_access.length}}
              </span>
              <div>
                <b class="accordion-button-label">Conditions financières</b>
                <br />
                <i class="text-muted">
                  <small>Coût d'accès au lieu et/ou à ses services</small>
                </i>
              </div>
            </button>
          </h2>
          <app-collapse
            #collapseConditionFinancieres
            id="collapseConditionFinancieres"
            aria-labelledby="headingConditionFinancieres">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let conditionFinancieresOption of conditionFinancieresOptions; index as i">
                <input
                  type="checkbox"
                  name="conditions_access"
                  appCheckboxArray
                  formControlName="conditions_access"
                  class="form-check-input"
                  [value]="conditionFinancieresOption.value"
                  [attr.id]="'conditionFinancieresLabelChip' + i" />
                <label
                  class="form-check-label bg-primary text-white fw-bold chip-pointer"
                  [attr.for]="'conditionFinancieresLabelChip' + i">
                  <i class="align-bottom ri-radio-button-line d-checked-inherit"></i>
                  <i class="align-bottom ri-checkbox-blank-circle-line d-checked-none"></i>
                  {{ conditionFinancieresOption.label }}
                </label>
              </div>
            </div>
          </app-collapse>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingTypeAccompagnements">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseTypeAccompagnements"
              [class.collapsed]="collapseTypeAccompagnements.isCollapsed"
              [attr.aria-expanded]="collapseTypeAccompagnements.isExpanded"
              (click)="collapseTypeAccompagnements.toggle()">
              <i class="ri-group-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <span
                class="position-absolute top-0 start-0 mt-4 ms-4 translate-middle badge bg-secondary text-primary border border-primary rounded-circle"
                *ngIf="filter.modalites_accompagnement && filter.modalites_accompagnement.length > 0">
                {{filter.modalites_accompagnement.length}}
              </span>
              <div>
                <b class="accordion-button-label">Type d'accompagnement</b>
                <br />
                <i class="text-muted">
                  <small>Modalités d’accompagnement proposées par le lieu</small>
                </i>
              </div>
            </button>
          </h2>
          <app-collapse
            #collapseTypeAccompagnements
            id="collapseTypeAccompagnements"
            aria-labelledby="headingTypeAccompagnements">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let typeAccompagnementsOption of typeAccompagnementsOptions; index as i">
                <input
                  type="checkbox"
                  name="modalites_accompagnement"
                  appCheckboxArray
                  formControlName="modalites_accompagnement"
                  class="form-check-input"
                  [value]="typeAccompagnementsOption.value"
                  [attr.id]="'typeAccompagnementsLabelChip' + i" />
                <label
                  class="form-check-label bg-primary text-white fw-bold chip-pointer"
                  [attr.for]="'typeAccompagnementsLabelChip' + i">
                  <i class="align-bottom ri-radio-button-line d-checked-inherit"></i>
                  <i class="align-bottom ri-checkbox-blank-circle-line d-checked-none"></i>
                  {{ typeAccompagnementsOption.label }}
                </label>
              </div>
            </div>
          </app-collapse>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingTypePublic">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseTypePublic"
              [class.collapsed]="collapseTypePublic.isCollapsed"
              [attr.aria-expanded]="collapseTypePublic.isExpanded"
              (click)="collapseTypePublic.toggle()">
              <i class="ri-parent-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <span
                *ngIf="filter.publics_accueillis && filter.publics_accueillis.length > 0 && publicsAccueillisCompteur(filter.publics_accueillis,typePublicOptions) > 0 "
                class="position-absolute top-0 start-0 mt-4 ms-4 translate-middle badge bg-secondary text-primary border border-primary rounded-circle">
                {{publicsAccueillisCompteur(filter.publics_accueillis,typePublicOptions)}}
              </span>
              <div>
                <b class="accordion-button-label">Type de public</b>
                <br />
                <i class="text-muted">
                  <small>Différents publics que le lieu est en mesure d’accueillir</small>
                </i>
              </div>
            </button>
          </h2>
          <app-collapse #collapseTypePublic id="collapseTypePublic" aria-labelledby="headingTypePublic">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let typePublicOption of typePublicOptions; index as i">
                <input
                  type="checkbox"
                  name="publics_accueillis"
                  appCheckboxArray
                  formControlName="publics_accueillis"
                  class="form-check-input"
                  [value]="typePublicOption.value"
                  [attr.id]="'typePublicLabelChip' + i" />
                <label
                  class="form-check-label bg-primary text-white fw-bold chip-pointer"
                  [attr.for]="'typePublicLabelChip' + i">
                  <i class="align-bottom ri-radio-button-line d-checked-inherit"></i>
                  <i class="align-bottom ri-checkbox-blank-circle-line d-checked-none"></i>
                  {{ typePublicOption.label }}
                </label>
              </div>
            </div>
          </app-collapse>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingAccueilSpecifique">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseAccueilSpecifique"
              [class.collapsed]="collapseAccueilSpecifique.isCollapsed"
              [attr.aria-expanded]="collapseAccueilSpecifique.isExpanded"
              (click)="collapseAccueilSpecifique.toggle()">
              <i class="ri-wheelchair-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <span
                *ngIf="filter.publics_accueillis && filter.publics_accueillis.length > 0 && publicsAccueillisCompteur(filter.publics_accueillis,accueilSpecifiqueOptions) > 0 "
                class="position-absolute top-0 start-0 mt-4 ms-4 translate-middle badge bg-secondary text-primary border border-primary rounded-circle">
                {{publicsAccueillisCompteur(filter.publics_accueillis,accueilSpecifiqueOptions)}}
              </span>
              <div>
                <b class="accordion-button-label">Accueil spécifique</b>
                <br />
                <i class="text-muted">
                  <small>Différents publics spécifiques que le lieu est en mesure d’accueillir</small>
                </i>
              </div>
            </button>
          </h2>
          <app-collapse #collapseAccueilSpecifique id="collapseAccueilSpecifique" aria-labelledby="headingAccueilSpecifique">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let accueilSpecifiqueOption of accueilSpecifiqueOptions; index as i">
                <input
                  type="checkbox"
                  name="publics_accueillis"
                  appCheckboxArray
                  formControlName="publics_accueillis"
                  class="form-check-input"
                  [value]="accueilSpecifiqueOption.value"
                  [attr.id]="'accueilSpecifiqueLabelChip' + i" />
                <label
                  class="form-check-label bg-primary text-white fw-bold chip-pointer"
                  [attr.for]="'accueilSpecifiqueLabelChip' + i">
                  <i class="align-bottom ri-radio-button-line d-checked-inherit"></i>
                  <i class="align-bottom ri-checkbox-blank-circle-line d-checked-none"></i>
                  {{ accueilSpecifiqueOption.label }}
                </label>
              </div>
            </div>
          </app-collapse>
        </div>
      </div>
    </form>
    <ul class="nav nav-pills justify-content-center my-5">
      <li class="nav-item">
        <a class="btn btn-secondary mx-3" [routerLink]="['..', 'localisation']" queryParamsHandling="preserve">
          <i class="ri-arrow-left-s-line align-bottom"></i>
          Précédent
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary mx-3" [routerLink]="['..', 'disponibilite']" queryParamsHandling="preserve">
          Suivant
          <i class="ri-arrow-right-s-line align-bottom"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
