<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-5">
      <span class="text-primary">Quelle structure</span>
      cherchez-vous&nbsp;?
    </h1>
    <div class="text-center fw-bold mb-5 text-muted">Affinez votre recherche en sélectionnant des critères spécifiques</div>
    <form [formGroup]="orientationLayout.filterForm">
      <h2 class="text-muted h6 fw-bold mb-3 mt-4">PROFIL</h2>
      <div class="bg-light px-3 py-2">
        <div
          class="form-check form-check-inline form-chip my-2"
          *ngFor="let typePublicOption of publicAccueilliOptions; index as i">
          <input
            type="checkbox"
            name="publics_accueillis"
            appCheckboxArray
            formControlName="publics_accueillis"
            class="form-check-input"
            [value]="typePublicOption.value"
            [attr.id]="'typePublicLabelChip' + i" />
          <label class="form-check-label bg-white" [attr.for]="'typePublicLabelChip' + i">
            <b>{{ typePublicOption.label }}</b>
          </label>
        </div>
      </div>
      <h2 class="text-muted h6 fw-bold mb-3 mt-4">PARTICIPATION</h2>
      <div class="bg-light px-3 py-2">
        <div
          class="form-check form-check-inline form-chip my-2"
          *ngFor="let conditionFinancieresOption of conditionAccesOptions; index as i">
          <input
            type="checkbox"
            name="conditions_acces"
            appCheckboxArray
            formControlName="conditions_acces"
            class="form-check-input"
            [value]="conditionFinancieresOption.value"
            [attr.id]="'conditionFinancieresLabelChip' + i" />
          <label class="form-check-label bg-white" [attr.for]="'conditionFinancieresLabelChip' + i">
            <b>{{ conditionFinancieresOption.label }}</b>
          </label>
        </div>
      </div>
      <h2 class="text-muted h6 fw-bold mb-3 mt-4">ACCOMPAGNEMENT</h2>
      <div class="bg-light px-3 py-2">
        <div
          class="form-check form-check-inline form-chip my-2"
          *ngFor="let typeAccompagnementsOption of modaliteAccompagnementsOptions; index as i">
          <input
            type="checkbox"
            name="modalites_accompagnement"
            appCheckboxArray
            formControlName="modalites_accompagnement"
            class="form-check-input"
            [value]="typeAccompagnementsOption.value"
            [attr.id]="'typeAccompagnementsLabelChip' + i" />
          <label class="form-check-label bg-white" [attr.for]="'typeAccompagnementsLabelChip' + i">
            <b>{{ typeAccompagnementsOption.label }}</b>
          </label>
        </div>
      </div>
      <h2 class="text-muted h6 fw-bold mb-3 mt-4">ACCUEIL ADAPTÉ</h2>
      <div class="bg-light px-3 py-2">
        <div
          class="form-check form-check-inline form-chip my-2"
          *ngFor="let accueilSpecifiqueOption of publicSpecifiqueAcceuilliOptions; index as i">
          <input
            type="checkbox"
            name="publics_accueillis"
            appCheckboxArray
            formControlName="publics_accueillis"
            class="form-check-input"
            [value]="accueilSpecifiqueOption.value"
            [attr.id]="'accueilSpecifiqueLabelChip' + i" />
          <label class="form-check-label bg-white" [attr.for]="'accueilSpecifiqueLabelChip' + i">
            <b>{{ accueilSpecifiqueOption.label }}</b>
          </label>
        </div>
      </div>
    </form>
    <div class="text-center mt-5">
      <a class="btn btn-primary mx-3" [routerLink]="['..', 'disponibilite']" queryParamsHandling="preserve">
        Valider
        <i class="ri-arrow-right-s-line"></i>
      </a>
    </div>
  </div>
</div>
