<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="results">Résultat</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-sm-5 mt-3">
      Recherchez-vous des lieux proposant un
      <span class="text-primary">accueil adapté</span>
      à certains publics ?&nbsp;
    </h1>
    <p class="text-center fw-bold mb-sm-5 mb-4 text-muted">Sélectionnez un ou plusieurs publics parmi la liste ci-dessous</p>
    <form [formGroup]="orientationLayout.filterForm">
      <fieldset>
        <div class="d-flex flex-row mb-3 mt-1">
          <button
            type="button"
            class="btn btn-link link-muted-dark p-0 ms-auto fst-italic"
            (click)="selectedOrientationInformation = orientationInformations['accueil-specifique']; informationOrientationModal.control.toggle($event)">
            plus d'infos
          </button>
        </div>
        <div class="bg-light px-3 py-2">
          <div
            class="form-check form-check-inline form-chip my-2"
            *ngFor="let priseEnChargeSpecifiqueOption of priseEnChargeSpecifiqueOptions; index as i">
            <input
              type="checkbox"
              name="prise_en_charge_specifique"
              appCheckboxArray
              formControlName="prise_en_charge_specifique"
              class="form-check-input"
              [value]="priseEnChargeSpecifiqueOption.value"
              [attr.id]="'priseEnChargeSpecifique' + i"
              (change)="orientationLayout.addLastFilter(priseEnChargeSpecifiqueOption.value, 'prise_en_charge_specifique', $event)" />
            <label class="form-check-label bg-white" [attr.for]="'priseEnChargeSpecifique' + i">
              <b>{{ priseEnChargeSpecifiqueOption.label }}</b>
            </label>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="text-center mt-4">
      <a role="button" class="btn btn-primary mx-3" [routerLink]="['..', 'disponibilite']" queryParamsHandling="preserve">
        Suivant
        <span role="img" class="ri-arrow-right-s-line" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
<app-information-orientation-modal
  #informationOrientationModal
  [orientationInformation]="selectedOrientationInformation"></app-information-orientation-modal>
