@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/z-index';
@import '../../../../assets/scss/hyperlink';
.cModal {
  position: fixed;
  z-index: $modal-add-structure-z-index;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-background;
  display: none;
}
.cModal > div {
  max-width: 450px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  text-align: center;
  border-radius: 4px;
  @include cn-bold-16;
  p {
    padding: 30px 48px 0 40px;
  }
}
.oModal {
  display: block;
}
.footer {
  a {
    @include hyperlink;
  }
  padding: 28px;
}
