<div class="cModal" [ngClass]="openned ? 'oModal' : ''">
  <div (clickOutside)="closeModal(false)">
    <p>{{ content }}</p>
    <div *ngIf="modalType && modalType === modalTypeEnum.information" class="footer">
      <a
        (click)="closeModal(false)"
        href="https://services.formulaireextranet.grandlyon.com/saisie-fiche-structure/"
        tabindex="0"
        target="_blank"
        rel="noreferrer noopener"
        >Continuer vers le formulaire</a
      >
    </div>
    <div
      *ngIf="this.modalType && this.modalType === modalTypeEnum.confirmation"
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="20px"
      class="footer"
    >
      <a (click)="closeModal(false)" tabindex="0">Annuler</a>
      <button (click)="closeModal(true)">Confirmer</button>
    </div>
  </div>
</div>
