<div class="row">
  <div class="col-12 small bg-info text-primary p-3 mb-4 d-flex align-items-center" *ngIf="isAidantsConnect(sources)">
    <span role="img" aria-hidden="true" class="ri-alert-line ri-2x pe-3"></span>
    <span>
      <span class="fw-bold">Attention, cette structure n'accueille peut-être pas de public</span>
      <span class="d-block">
        Nous vous conseillons de la contacter par téléphone ou par mail avant de vous rendre sur place.
      </span>
    </span>
  </div>
  <div class="col">
    <div class="h4 fw-bold mb-0">{{ nom }}</div>
    <address class="text-muted mb-0">
      {{ adresse }}
    </address>
    <div *ngIf="distance">{{ distance | distance }}</div>
    <div class="d-flex align-items-center" *ngIf="status">
      <span [class.text-primary]="status.label === 'Ouvert'" [class.text-danger]="status.label === 'Fermé'">
        {{ status.label }}
      </span>
      <span class="mx-1">·</span>
      <span role="img" class="small text-muted align-self-end">{{ status.limite }}</span>
    </div>
    <span *ngIf="itinerence" class="badge rounded-pill text-bg-light px-3 py-2 mt-2 fw-normal">
      <span class="ri-bus-line me-1"></span>
      Itinérence
    </span>
  </div>
  <div class="col-auto text-end d-print-none" *ngIf="courriels || telephone">
    <a
      *ngIf="courriels"
      href="mailto:{{ toCourrielsWithCC(courriels) }}"
      class="btn btn-sm btn-secondary mb-1"
      (click)="$event.stopPropagation()">
      <span role="img" class="ri-mail-line me-2 text-right" aria-hidden="true"></span>
      Contacter
    </a>
    <a
      *ngIf="telephone"
      href="tel://{{ telephone }}"
      class="text-decoration-none d-block text-muted"
      (click)="$event.stopPropagation()">
      <span role="img" class="me-2 ri-phone-line small" aria-hidden="true"></span>
      <span class="visually-hidden">Contacter par téléphone :</span>
      <span class="small">{{ telephone | phone }}</span>
    </a>
  </div>
  <div *ngIf="ficheAccesLibre || fraisACharge" class="mt-4">
    <a
      class="text-decoration-none"
      *ngIf="ficheAccesLibre"
      href="{{ ficheAccesLibre }}"
      title="Consulter les informations d'accessibilité (nouvel onglet)"
      target="_blank">
      <span role="img" class="ri-wheelchair-line ri text-primary" aria-hidden="true"></span>
      Consulter les informations d'accessibilité
    </a>
  </div>
  <div *ngIf="fraisACharge" class="mt-2">
    <span *ngFor="let frais of fraisACharge" class="badge rounded-pill text-bg-info px-3 py-2 me-1">
      {{ frais }}
    </span>
  </div>
</div>
