<div class="row">
  <div class="col">
    <address class="mb-1">{{ adresse }}</address>
    <div *ngIf="distance && conditionsAcces" class="mb-2">
      <ng-container *ngIf="distance">{{ distance | distance }}</ng-container>
      <ng-container *ngIf="distance && conditionsAcces">&nbsp;-&nbsp;</ng-container>
      <span *ngIf="conditionsAcces" class="text-primary">{{ conditionsAcces }}</span>
    </div>
    <a class="text-decoration-none" *ngIf="accessibilite" href="{{ accessibilite }}" target="_blank">
      <i class="ri-wheelchair-line ri-xl p-1 align-middle text-primary"></i>
      <b>Consulter les informations d'accessibilité</b>
    </a>
  </div>
  <div class="col-auto text-end d-print-none" *ngIf="courriel || telephone">
    <a
      *ngIf="courriel"
      href="mailto:{{ courriel }}"
      class="btn btn-sm btn-secondary d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-mail-line me-2 align-bottom text-right"></i>
      <span>Contacter par mail</span>
    </a>
    <a
      *ngIf="telephone"
      href="tel://{{ telephone }}"
      class="text-decoration-none d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-phone-line align-bottom"></i>
      {{ telephone }}
    </a>
  </div>
</div>
