<div class="h-100 d-flex flex-column">
  <div class="my-auto">
    <h1 class="h2 text-center fw-bold mb-4">
      <span class="text-primary">Quelle structure</span>
      cherchez-vous ?
    </h1>
    <form [formGroup]="orientationLayout.filterForm">
      <div class="accordion" id="accordionAccessibilite">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingFraisACharge">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseFraisACharge"
              [class.collapsed]="collapseFraisACharge.isCollapsed"
              [attr.aria-expanded]="collapseFraisACharge.isExpanded"
              (click)="collapseFraisACharge.toggle()">
              <i class="ri-price-tag-3-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <b>Frais à charge</b>
            </button>
          </h2>
          <app-collapsible #collapseFraisACharge id="collapseFraisACharge" aria-labelledby="headingFraisACharge">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let fraisAChargeOption of fraisAChargeOptions; index as i">
                <input
                  #conditionsAccess
                  type="checkbox"
                  name="conditions_access"
                  appCheckboxArray
                  formControlName="conditions_access"
                  class="form-check-input"
                  [value]="fraisAChargeOption.value"
                  [attr.id]="'fraisAChargeLabelChip' + i" />
                <label class="form-check-label bg-primary text-white" [attr.for]="'fraisAChargeLabelChip' + i">
                  <i
                    class="align-bottom"
                    [class]="conditionsAccess.checked ? 'ri-radio-button-line' : 'ri-checkbox-blank-circle-line'"></i>
                  {{ fraisAChargeOption.label }}
                </label>
              </div>
            </div>
          </app-collapsible>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingAccompagnement">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseAccompagnement"
              [class.collapsed]="collapseAccompagnement.isCollapsed"
              [attr.aria-expanded]="collapseAccompagnement.isExpanded"
              (click)="collapseAccompagnement.toggle()">
              <i class="ri-group-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <b>Accompagnement</b>
            </button>
          </h2>
          <app-collapsible #collapseAccompagnement id="collapseAccompagnement" aria-labelledby="headingAccompagnement">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let accompagnementsOption of accompagnementsOptions; index as i">
                <input
                  #typesAccompagnement
                  type="checkbox"
                  name="modalites_accompagnement"
                  appCheckboxArray
                  formControlName="modalites_accompagnement"
                  class="form-check-input"
                  [value]="accompagnementsOption.value"
                  [attr.id]="'accompagnementLabelChip' + i" />
                <label class="form-check-label bg-primary text-white" [attr.for]="'accompagnementLabelChip' + i">
                  <i
                    class="align-bottom"
                    [class]="typesAccompagnement.checked ? 'ri-radio-button-line' : 'ri-checkbox-blank-circle-line'"></i>
                  {{ accompagnementsOption.label }}
                </label>
              </div>
            </div>
          </app-collapsible>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingAccueilSpecifique">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseAccueilSpecifique"
              [class.collapsed]="collapseAccueilSpecifique.isCollapsed"
              [attr.aria-expanded]="collapseAccueilSpecifique.isExpanded"
              (click)="collapseAccueilSpecifique.toggle()">
              <i class="ri-wheelchair-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <b>Accueil spécifique</b>
            </button>
          </h2>
          <app-collapsible #collapseAccueilSpecifique id="collapseAccueilSpecifique" aria-labelledby="headingAccueilSpecifique">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let accueilSpecifiqueOption of accueilSpecifiqueOptions; index as i">
                <input
                  #publicsAccueillis
                  type="checkbox"
                  name="publics_accueillis"
                  appCheckboxArray
                  formControlName="publics_accueillis"
                  class="form-check-input"
                  [value]="accueilSpecifiqueOption.value"
                  [attr.id]="'accueilSpecifiqueLabelChip' + i" />
                <label class="form-check-label bg-primary text-white" [attr.for]="'accueilSpecifiqueLabelChip' + i">
                  <i
                    class="align-bottom"
                    [class]="publicsAccueillis.checked ? 'ri-radio-button-line' : 'ri-checkbox-blank-circle-line'"></i>
                  {{ accueilSpecifiqueOption.label }}
                </label>
              </div>
            </div>
          </app-collapsible>
        </div>
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingPublicPrecis">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapsePublicPrecis"
              [class.collapsed]="collapsePublicPrecis.isCollapsed"
              [attr.aria-expanded]="collapsePublicPrecis.isExpanded"
              (click)="collapsePublicPrecis.toggle()">
              <i class="ri-parent-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <b>Je cherche une structure adaptée à un public précis</b>
            </button>
          </h2>
          <app-collapsible #collapsePublicPrecis id="collapsePublicPrecis" aria-labelledby="headingPublicPrecis">
            <div class="accordion-body text-center">
              <div
                class="form-check form-check-inline form-chip mb-3"
                *ngFor="let publicPrecisOption of publicPrecisOptions; index as i">
                <input
                  #publicsAccueillis
                  type="checkbox"
                  name="publics_accueillis"
                  appCheckboxArray
                  formControlName="publics_accueillis"
                  class="form-check-input"
                  [value]="publicPrecisOption.value"
                  [attr.id]="'publicPrecisLabelChip' + i" />
                <label class="form-check-label bg-primary text-white" [attr.for]="'publicPrecisLabelChip' + i">
                  <i
                    class="align-bottom"
                    [class]="publicsAccueillis.checked ? 'ri-radio-button-line' : 'ri-checkbox-blank-circle-line'"></i>
                  {{ publicPrecisOption.label }}
                </label>
              </div>
            </div>
          </app-collapsible>
        </div>
      </div>
    </form>
    <ul class="nav nav-pills justify-content-center my-5">
      <li class="nav-item">
        <a class="btn btn-secondary mx-3" [routerLink]="['/', 'orientation', 'localisation']" queryParamsHandling="preserve">
          <i class="ri-arrow-left-s-line align-bottom"></i>
          Précédent
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary mx-3" [routerLink]="['/', 'orientation', 'disponibilite']" queryParamsHandling="preserve">
          Suivant
          <i class="ri-arrow-right-s-line align-bottom"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
