<div [fxLayout]="horizontal ? 'row' : 'column'" [fxLayoutGap]="horizontal ? (layoutGap ? layoutGap : '17px') : ''">
  <div *ngIf="name" fxLayout="row" fxLayoutAlign=" center" [fxLayoutGap]="layoutGap ? layoutGap : '17px'" class="name">
    {{ name }}
  </div>
  <button
    (click)="clicked(true)"
    [ngClass]="{ selected: selectedOption && selectedOption != null }"
    fxLayout="row"
    fxLayoutAlign=" center"
    [fxLayoutGap]="layoutGap ? layoutGap : '17px'"
  >
    <div class="checkmark">
      <svg class="validate" aria-hidden="true">
        <use [attr.xlink:href]="'assets/form/sprite.svg#checkVectorFull'"></use>
      </svg>
    </div>
    <p>Oui</p>
  </button>
  <button
    (click)="clicked(false)"
    [ngClass]="{ selected: !selectedOption && selectedOption != null }"
    fxLayout="row"
    fxLayoutAlign=" center"
    [fxLayoutGap]="layoutGap ? layoutGap : '17px'"
  >
    <div class="checkmark">
      <svg class="validate" aria-hidden="true">
        <use [attr.xlink:href]="'assets/form/sprite.svg#checkVectorFull'"></use>
      </svg>
    </div>
    <p>Non</p>
  </button>
</div>
