@import '../../../../assets/scss/icons';
@import '../../../../assets/scss/color';

.header {
  .title {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 103%;
    padding: 16px 0 16px 0;

    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}
.content {
  margin: 10px 0 0px 0;
  .icon {
    border: 1px solid $grey;
    padding: 4px 6px 8px 6px;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    width: 100%;
    background-color: $grey-4;
    border: none;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-overflow: ellipsis;
    color: $grey-1;
    outline: none;
  }
  .searchSection {
    button {
      border: none;
      cursor: pointer;
      background-color: $purple;
      font-family: Trebuchet MS;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 100%;
      align-items: center;
      text-align: center;
      color: $white;
      padding: 3px 16px 3px 16px;
      outline: none;
    }
  }
  .btnSection {
    padding: 16px 0 16px 0;
    button {
      outline: none;

      border: 1px solid $grey;
      border-radius: 33px;
      background-color: $white;
      padding: 2px 6px 2px 13px;
      align-items: center;
      display: flex;
      cursor: pointer;
      .btnText {
        justify-content: center;
        font-family: Trebuchet MS;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        display: flex;
        align-items: center;
      }
    }
    .selected {
      border: 1px solid $orange-light;
      color: $orange-light;
      .arrow {
        background-color: transparent;
        border-bottom: 1px solid $orange-light;
        border-right: 1px solid $orange-light;
        transform: translateY(25%) rotate(-135deg);
        margin: 0 5px 0 10px;
        height: 7px;
        width: 7px;
      }
    }
    .arrow {
      background-color: transparent;
      border-bottom: 1px solid $grey;
      border-right: 1px solid $grey;
      transform: translateY(-25%) rotate(45deg);
      margin: 0 5px 0 10px;
      height: 7px;
      width: 7px;
    }
  }
}
.footer {
  margin: 0px 0 16px 0;
  a {
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    /* or 120% */

    display: flex;
    align-items: center;
    text-decoration-line: underline;
  }
}
.modalaccueil {
  margin-left: 100px;
}
.modalplusFiltres {
  margin-left: 196px;
}
.modal {
  max-height: 654px;
  max-width: 1100px;
  background: $white;
  border: 1px solid $purple;
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  margin-top: 80px;
  padding: 20px 16px 10px 16px;
  .contentModal {
    writing-mode: vertical-lr;
    overflow-y: hidden;
    max-width: 1100px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    .blockFiltre {
      writing-mode: horizontal-tb;
      max-width: 320px;
      padding: 0 30px 10px 10px;
    }
    .ligneFiltre {
      margin: 5px 0 5px 0;
    }
    h4 {
      font-family: Trebuchet MS;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 17px;
      display: flex;
      align-items: center;
      margin-top: 0;
    }
    .nbResult {
      font-family: Trebuchet MS;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;
    }
    label {
      font-family: Trebuchet MS;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
  }
  .footer {
    height: 32px;
    button {
      height: 100%;
      border: none;
      cursor: pointer;
      background-color: $purple;
      font-family: Trebuchet MS;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 100%;
      align-items: center;
      text-align: center;
      color: $white;
      padding: 3px 16px 3px 16px;
      outline: none;
    }
  }
}
.checkbox {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  min-height: 25px;
  input {
    opacity: 0;
    display: none;
    &:checked ~ .customCheck {
      background-color: $orange-light;
      border-color: transparent;
    }
    &:checked ~ .customCheck:after {
      display: block;
    }
  }
  label {
    display: inline-grid;
  }
  .label {
    padding-left: 8px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 16px 0 16px;
  }
  .customCheck {
    display: inline-grid;
    width: 18px;
    height: 18px;
    background-color: $white;
    border: 1px solid $grey;
    cursor: pointer;
    position: relative;

    top: 0;
    left: 0;
    &:hover {
      background-color: $grey-4;
    }
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
    &:after {
      left: 7px;
      top: 3px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
    }
  }
}
