<app-modal #modal heading="Imprimer la fiche" icon="ri-printer-line" bgBody="light" bgFooter="light">
  <div class="text-center">
    <h5 class="h5 fw-bold text-primary">Vous êtes médiateur numérique ?</h5>
    <div class="my-3">
      <span class="d-block">Vous pouvez générer une fiche d'orientation pour la structure</span>
      qui accueillera votre bénéficiaire.
    </div>
  </div>
  <button
    type="button"
    (click)="orientationSheetModalModal.emit($event); modal.close()"
    class="btn bg-white mb-3 px-lg-3 px-2 py-3 rounded-0 d-flex position-relative w-100">
    <span class="ri-circled bg-primary text-light fw-normal me-3 my-auto d-sm-block d-none">
      <span role="img" class="ri-book-marked-line" aria-hidden="true"></span>
    </span>
    <div class="d-flex flex-column">
      <span class="my-auto text-start">Générer une fiche d'orientation</span>
      <small class="my-auto text-start text-info fst-italic">En 2 étapes avec vos informations et celles du bénéficiaire</small>
    </div>
    <span role="img" class="ri-arrow-right-s-line text-muted-dark ri-2x mb-auto ms-auto" aria-hidden="true"></span>
  </button>
  <app-text-separator background="light">OU</app-text-separator>
  <button
    type="button"
    (click)="print.emit()"
    class="btn bg-white mb-3 px-lg-3 px-2 py-3 rounded-0 d-flex position-relative w-100">
    <span class="ri-circled bg-primary text-light fw-normal me-3 my-auto d-sm-block d-none">
      <span role="img" class="ri-printer-line" aria-hidden="true"></span>
    </span>
    <div class="d-flex flex-column">
      <span class="orientation-btn-label my-auto text-start">Imprimer la fiche</span>
      <small class="my-auto text-start text-info fst-italic">
        Imprimer simplement la fiche du lieu avec toutes ses informations
      </small>
    </div>
    <span role="img" class="ri-arrow-right-s-line text-muted-dark ri-2x mb-auto ms-auto" aria-hidden="true"></span>
  </button>
</app-modal>
