<div class="main vh-100 d-flex flex-column">
  <header class="navbar navbar-expand-lg navbar-dark bg-white border-bottom">
    <div class="container-fluid d-flex" aria-label="Main navigation">
      <div class="flex-grow-1">
        <a [routerLink]="['/', 'cartographie']" class="active-link-primary p-2" routerLinkActive="link-selected">
          Cartographie Nationale
        </a>
      </div>
      <a [routerLink]="['/', 'orientation']" class="active-link-primary p-2" routerLinkActive="link-selected">
        Orienter un bénéficiaire
      </a>
      <a [routerLink]="['/', 'cartographie']" class="active-link-primary p-2" routerLinkActive="link-selected">
        Accéder à la cartographie
      </a>
    </div>
  </header>
  <div class="overflow-hidden h-100">
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a [routerLink]="['/']" class="nav-link px-2 text-muted">Accueil</a></li>
  </ul>
  <p class="text-center text-muted">© 2022 Cartographie Nationale</p>
</footer>
