<div class="content">
  <div class="loginPage">
    <div class="form">
      <div class="title">
        <h3>{{ isWelcome ? 'Bienvenue !' : 'Connexion' }}</h3>
        <p>Saisissez votre email pour vous connecter</p>
      </div>
      <p *ngIf="verificationIssue" class="incorrectId">
        Une erreur est survenue lors de la validation de votre email... Veuillez envoyer un mail au support.
      </p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group" fxLayout="column">
          <label for="email">Identifiant</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input type="text" autocomplete="on" formControlName="email" class="form-input" />
            <svg *ngIf="f.email.invalid && f.email.value" class="notValidate" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#notValidate'"></use>
            </svg>
          </div>
          <div class="incorrectId" *ngIf="authFailed">Identifiant ou mot de passe invalide</div>
        </div>
        <div class="form-group password" fxLayout="column">
          <label for="password">Mot de passe</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              [type]="isShowPassword ? 'text' : 'password'"
              autocomplete="on"
              formControlName="password"
              class="form-input"
              [ngClass]="{ inputInvalid: f.password.invalid && f.password.value }"
            />
            <svg (click)="toggleShowPassword()" class="eyePassword" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#eyePassword'"></use>
            </svg>
            <svg *ngIf="f.password.invalid && f.password.value" class="notValidate" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#notValidate'"></use>
            </svg>
          </div>
          <p class="passHint" [ngClass]="{ invalid: f.password.invalid && f.password.value }">
            Il doit contenir au minimum :<br />
            8 caractères dont un caractère spécial, un caractère en majuscule et un chiffre.
          </p>
        </div>
        <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
          <app-button
            [type]="'button'"
            (action)="swithToResetPassword()"
            [text]="'Mot de passe oublié'"
            [style]="buttonTypeEnum.Secondary"
            [extraClass]="'fullWidth'"
          >
          </app-button>
          <app-button
            [type]="'submit'"
            [text]="'Se connecter'"
            [disabled]="loginForm.invalid || loading"
            [style]="buttonTypeEnum.Primary"
            [extraClass]="'fullWidth'"
          >
          </app-button>
        </div>
        <app-button
          [type]="'button'"
          (action)="goToAccountCreation()"
          [text]="'Je n’ai pas encore de compte'"
          [style]="buttonTypeEnum.Tertiary"
          [extraClass]="'fullWidth'"
        >
        </app-button>
      </form>
    </div>
  </div>
</div>
