<div class="no-max-width">
  <ng-container *ngIf="currentStep === personalOfferFormStep.personalOfferAccompaniment">
    <app-personal-offer-accompaniment
      [structureName]="structureName"
      [personalOfferForm]="personalOfferForm"
    ></app-personal-offer-accompaniment>
  </ng-container>
  <ng-container *ngIf="currentStep === personalOfferFormStep.personalOfferTrainingType">
    <app-personal-offer-training-type
      [structureName]="structureName"
      [personalOfferForm]="personalOfferForm"
    ></app-personal-offer-training-type>
  </ng-container>
  <ng-container *ngIf="currentStep === personalOfferFormStep.personalOfferStructureChoice">
    <app-personal-offer-other-structure-choice
      [structureName]="structureName"
      [personalOfferForm]="personalOfferForm"
      (setOtherOffer)="setOtherOffer($event)"
      (pageValid)="validPage()"
    ></app-personal-offer-other-structure-choice>
  </ng-container>
  <ng-container *ngIf="currentStep === personalOfferFormStep.personalOfferFinishedInfo">
    <app-information-step
      [step]="personalOfferFormStep.personalOfferFinishedInfo"
      [formType]="formTypeEnum.personaloffer"
      (goNext)="goToProfile()"
    ></app-information-step>
  </ng-container>
</div>
