<form [formGroup]="profileForm">
  <div class="title">
    <h3>Quelle est votre fonction&nbsp;?</h3>
    <p>Cette information sera visible sur votre profil public</p>
  </div>
  <div fxLayout="column" fxLayoutGap="32px">
    <div class="btn-grid">
      <span *ngFor="let job of jobs">
        <app-button
          [ngClass]="{ selectedChoice: true }"
          [extraClass]="isSelectedJob(job) ? 'selected' : ''"
          [style]="buttonTypeEnum.CheckButton"
          [text]="job.name"
          (action)="selectedResult(job)"
        ></app-button>
      </span>
    </div>
    <div *ngIf="isUnexistingJob()" fxLayout="column" fxLayoutAlign="space-between" class="form-group search">
      <label for="employer">Quelle fonction occupez-vous ?</label>
      <input type="text" (input)="newJob($event.target.value)" class="form-input" autocomplete="off" />
    </div>
  </div>
</form>
