<ng-template #contentTemplate>
  <i class="ri-map-pin-2-line" aria-hidden="true"></i>
  <ng-content></ng-content>
</ng-template>
<ng-container *ngIf="cartographieFeature">
  <a
    *ngIf="cartographieFeature.active"
    class="btn"
    [ngClass]="'btn-' + buttonStyle"
    [class.disabled]="lieuxMediationNumeriqueCount === 0"
    [routerLink]="['/', 'cartographie']"
    queryParamsHandling="preserve"
    (click)="matomoTracking()">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </a>
  <a
    *ngIf="!cartographieFeature.active && cartographieFeature.url"
    class="btn"
    [ngClass]="'btn-' + buttonStyle"
    [class.disabled]="lieuxMediationNumeriqueCount === 0"
    [href]="cartographieFeature.url + '?' + toQueryString(queryParams)"
    rel="keep-params">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </a>
</ng-container>
