<ng-container *ngIf="cartographieFeature">
  <button
    *ngIf="lieuxMediationNumeriqueCount === 0; else displayCartographie"
    class="btn"
    [ngClass]="'btn-' + btnType"
    (click)="resetFilters.emit()">
    Afficher les résultats sur la cartographie
    <i class="ri-arrow-right-s-line align-bottom"></i>
  </button>
  <ng-template #displayCartographie>
    <a
      *ngIf="cartographieFeature.active"
      class="btn"
      [ngClass]="'btn-' + btnType"
      [routerLink]="['/', 'cartographie']"
      queryParamsHandling="preserve">
      Afficher les résultats sur la cartographie
      <i class="ri-arrow-right-s-line align-bottom"></i>
    </a>
    <a
      *ngIf="!cartographieFeature.active && cartographieFeature.url"
      class="btn"
      [ngClass]="'btn-' + btnType"
      [href]="cartographieFeature.url + '?' + toQueryString(queryParams)"
      rel="keep-params">
      Afficher les résultats sur la cartographie
      <i class="ri-arrow-right-s-line align-bottom"></i>
    </a>
  </ng-template>
</ng-container>
