<div class="h-100 d-flex flex-column border-end" *ngIf="departements">
  <div tabindex="-1" class="list-group list-group-flush flex-grow-1 overflow-auto">
    <h1 class="visually-hidden">Résultats par département</h1>
    <article
      *ngFor="let departement of departements"
      class="list-group-item d-flex p-sm-2 p-0"
      [class.list-group-item-hover]="hoverId === departement.code">
      <a
        class="list-group-item-action text-decoration-none flex-grow-1 p-3"
        [routerLink]="['./', departement.nom]"
        (click)="showLieux.emit(departement)"
        queryParamsHandling="preserve"
        (mouseover)="enableHover.emit(departement.code)"
        (mouseout)="disableHover.emit()">
        <h2 class="h5 mb-0">
          ({{ departement.code }})
          <span class="fw-bold">{{ departement.nom }}</span>
        </h2>
        <div class="text-muted">{{ departement.lieuxCount }} résultats</div>
      </a>
    </article>
  </div>
  <div class="bg-primary py-3 px-4 text-end d-block d-lg-none d-print-none">
    <button class="btn btn-link link-light text-decoration-none" (click)="cartographieLayout.toggleMapForSmallDevices()">
      Afficher les lieux
      <span role="img" class="ri-arrow-right-s-line" aria-hidden="true"></span>
    </button>
  </div>
</div>
