<div class="container">
  <div class="row">
    <div class="col-lg-7 col-12 me-auto mb-5">
      <h1 class="my-5">Données personnelles</h1>
      <h2 class="h3 mt-5 mb-3 text-primary">Traitement des données à caractère personnel</h2>
      <p>
        La plateforme "Cartographie nationale" est à l'initiative de l'Agence Nationale de la Cohésion des Territoires (ANCT),
        placée sous la tutelle des ministres chargés de l'aménagement du territoire, des collectivités territoriales et de la
        politique de la ville.
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Finalité</h2>
      <p>
        La plateforme sert à faciliter l’identification des structures de médiation numérique ainsi que l’orientation des
        usagers finaux.
      </p>
      <h2 class="h3 mt-5 mb-3 text-primary">Données à caractère personnel traitées</h2>
      <p>La plateforme peut traiter les données à caractère personnel suivantes :</p>
      <ul>
        <li>
          <strong>Données de localisation:</strong>
          Adresse ;
        </li>
        <li>
          <strong>Données d'hébergeur:</strong>
          Identifiant de connexion ; Nature des opérations ;
        </li>
        <li>
          <strong>Cookies</strong>
        </li>
      </ul>
      <h2 class="h3 mt-3 mb-3 text-primary">Base juridique des traitements de données</h2>
      <p>Les données traitées à l’occasion de ce traitement ont plusieurs fondements juridiques :</p>
      <ul>
        <li>l’obligation légale à laquelle est soumis le responsable de traitements au sens de l’article 6-c du RGPD ;</li>
        <li>
          la mission d’intérêt public à laquelle le responsable du traitement est soumis au sens de l’article 6-e du RGPD.
        </li>
      </ul>
      <p>Ces fondements sont précisés ci-dessous :</p>
      <h3 class="h4 mt-4 mb-3 text-primary">a) Les données de localisation</h3>
      <p>
        Ce traitement de données est nécessaire à l’exercice d’une mission d’intérêt public ou relevant de l’exercice de
        l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du règlement (UE) 2016/679 du
        Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du
        traitement des données à caractère personnel et à la libre circulation de ces données.
      </p>
      <h3 class="h4 mt-4 mb-3 text-primary">b) Données d'hébergeur</h3>
      <p>
        Ce traitement de données est nécessaire au respect d’une obligation légale à laquelle le responsable du traitement est
        soumis au sens de l’article 6-c du règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif
        à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre
        circulation de ces données.
      </p>
      <p>L’obligation légale est posée par :</p>
      <ul>
        <li>
          <a
            href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164/2020-10-26/"
            target="_blank"
            rel="noopener noreferrer">
            la loi LCEN n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique ;
          </a>
        </li>
        <li>
          <a href="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000044228912" target="_blank" rel="noopener noreferrer">
            les articles 1 et 3 du décret n°2021-1362 du 20 octobre 2021.
          </a>
        </li>
      </ul>
      <h2 class="h3 mt-5 mb-3 text-primary">Durée de conservation</h2>
      <p>Les données à caractère personnel sont conservées :</p>
      <table class="table">
        <thead>
          <tr>
            <th>Types de données</th>
            <th>Durées de conservation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Données de localisation</td>
            <td>Les données sont supprimées à compter de la fin de la session.</td>
          </tr>
          <tr>
            <td>Données d'hébergeur</td>
            <td>1 an.</td>
          </tr>
          <tr>
            <td>Cookies</td>
            <td>13 mois.</td>
          </tr>
        </tbody>
      </table>
      <h2 class="h3 mt-5 mb-3 text-primary">Utilisation de témoins de connexion (« cookies »)</h2>
      <p>
        Les cookies utilisés sur Cartographie nationale ne sont que des cookies strictement nécessaires au bon fonctionnement du
        site, au sens des dernières recommandations de la CNIL à ce sujet.
      </p>
      <p>
        Cartographie nationale utilise également des cookies de statistiques anonymes qui ne nécessitent pas de bandeau cookies,
        toujours au sens des dernières recommandations de la CNIL à ce sujet.
      </p>
      <p>Cartographie nationale n'utilise aucun cookies dits "tiers".</p>
      <p>Il convient d'indiquer que :</p>
      <ul>
        <li>Les données collectées ne sont pas recoupées avec d’autres traitements.</li>
        <li>Les cookies ne permettent pas de suivre la navigation de l’internaute sur d’autres sites.</li>
      </ul>
      <p>
        À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre ordinateur en utilisant la
        fonction dédiée de votre navigateur (fonction disponible notamment sur Microsoft Internet Explorer 11, Google Chrome,
        Mozilla Firefox, Apple Safari et Opera).
      </p>
      <p>
        Pour aller plus loin, vous pouvez consulter les fiches proposées par la Commission Nationale de l'Informatique et des
        Libertés (CNIL) :
      </p>
      <ul>
        <li>
          <a
            href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi"
            target="_blank"
            rel="noopener noreferrer">
            Cookies & traceurs : que dit la loi ?
          </a>
        </li>
        <li>
          <a
            href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/comment-se-proteger/maitriser-votre-navigateur"
            target="_blank"
            rel="noopener noreferrer">
            Cookies : les outils pour les maîtriser
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
