@import '../../../../../assets/scss/layout';
@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/typography';

.progressBar {
  height: #{$progressBar-height};
  max-width: 1000px;
  margin: 16px auto;
  p {
    @include lato-bold-14;
    color: $red;
    margin-bottom: 7px;
  }

  progress {
    width: 100%;
    height: 6px;
    border-radius: 7px;
    &::-webkit-progress-bar {
      background-color: $grey-6;
      border-radius: 7px;
    }
    &::-webkit-progress-value {
      background-color: $primary-color;
      border-radius: 12px;
    }
  }
  label {
    @include lato-bold-14;
    color: $primary-color;
    min-width: 26px;
  }
}
