@import '../../../../assets/scss/color';

input#search-address {
  width: 400px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  * {
    width: 400px;
  }
}
.autocomplete-items {
  box-sizing: border-box;
  width: 400;
  p {
    width: auto;
  }
}
