@import '../../../../assets/scss/color';

.search-bar {
  display: flex;
  flex-direction: column;
}
.autocomplete-items {
  border: 0.0625rem solid #d4d4d4;
  border-top: none;
  border-bottom: none;
  max-width: 294px;
  z-index: 99;
  background-color: #fff;
  cursor: pointer;
  max-height: 250px;
  overflow: auto;
}
.autocomplete-item {
  margin: 0;
  padding: 1em 0;
}
.autocomplete-item:hover {
  background-color: #dee6ee;
  cursor: pointer;
}
