<div class="d-flex h-100 w-100" *ngIf="(departements$ | async)?.length === 0">
  <app-no-lieux-found
    class="my-auto mx-4"
    (resetFilters)="resetFilters()"
    [hasFilters]="(listOfLieuxWithoutFilters$ | async)?.length !== 0"
    [queryParams]="toQueryString(route.queryParams)"
    [orientationFeature]="features.get('orientation')"></app-no-lieux-found>
</div>
<app-departements-list
  [departements]="(departements$ | async) ?? []"
  [hoverId]="markersPresenter.hovered$ | async"
  (enableHover)="hover($event)"
  (disableHover)="hover()"
  (showLieux)="markersPresenter.center($event.localisation, $event.zoom)"></app-departements-list>
