<app-modal heading="Informations orientation" icon="ri-information-line" closeLabel="Retour à l'orientation">
  <div class="text-center m-lg-5 m-0" *ngIf="orientationInformation">
    <h3 class="text-primary fw-bold mb-4">{{ orientationInformation.titre }}</h3>
    <p [innerHTML]="orientationInformation.description"></p>
    <div *ngIf="orientationInformation.label" class="text-muted small mb-2">{{ orientationInformation.label }}</div>
    <i
      style="font-size: 0.85em; white-space: normal"
      class="badge rounded-pill text-bg-light fw-normal me-2 my-1 ng-star-inserted"
      *ngFor="let element of orientationInformation.elements">
      {{ element }}
    </i>
  </div>
  <ng-container slot="footer">
    <ng-content></ng-content>
  </ng-container>
</app-modal>
