<app-modal heading="Plus d'infos" icon="ri-information-line" closeLabel="Précédent">
  <div class="text-center m-lg-5 m-0" *ngIf="orientationInformation">
    <h3 class="text-primary fw-bold mb-4">{{ orientationInformation.titre }}</h3>
    <p [innerHTML]="orientationInformation.description"></p>
    <div *ngIf="orientationInformation.label" class="text-muted small mb-2">{{ orientationInformation.label }}</div>
    <span
      style="font-size: 0.85em; white-space: normal"
      role="img"
      class="badge rounded-pill text-bg-light fw-normal me-2 my-1 ng-star-inserted"
      *ngFor="let element of orientationInformation.elements">
      {{ element }}
    </span>
  </div>
  <div class="d-flex justify-content-center">
    <a
      class="btn btn-secondary me-1"
      [routerLink]="['/presentation']"
      fragment="webinaire"
      target="_blank"
      rel="noopener noreferrer">
      <span class="orientation-btn-label my-auto text-start lh-sm">
        <i class="ri-calendar-todo-line" aria-hidden="true"></i>
        Participez au(x) webinaire(s)
      </span>
    </a>
  </div>
  <ng-container slot="footer">
    <ng-content></ng-content>
  </ng-container>
</app-modal>
