<div
  *ngIf="activateModal$ | async"
  [class.show]="animate$ | async"
  class="modal d-block fade"
  tabindex="-1"
  aria-labelledby="labelModal"
  spellcheck="false"
  aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content overflow-hidden">
      <div class="modal-header bg-primary text-bg-dark">
        <h2 class="modal-title d-flex" id="labelModal">
          <i class="ri-xl ri-information-line me-3"></i>
          <b>Informations orientation</b>
        </h2>
        <button
          type="button"
          class="btn-close btn-close-white opacity-100 small mb-0"
          aria-label="Close"
          (click)="close()"></button>
      </div>
      <div class="bg-white" *ngIf="orientationInformation">
        <div class="modal-body text-center my-5 mx-6">
          <h3 class="text-primary fw-bold mb-4">{{ orientationInformation.titre }}</h3>
          <p>{{ orientationInformation.description }}</p>
          <div class="text-muted small mb-2">{{ orientationInformation.label }}</div>
          <i
            class="badge rounded-pill text-bg-light fw-normal me-2 ng-star-inserted"
            *ngFor="let element of orientationInformation.elements">
            {{ element }}
          </i>
        </div>
        <div class="modal-footer justify-content-center bg-light">
          <button type="button" class="btn btn-secondary me-3" (click)="close()">
            <i class="ri-arrow-go-back-line"></i>
            Retour à l'orientation
          </button>
          <a
            *ngIf="validationValue"
            routerLink="../localisation"
            queryParamsHandling="preserve"
            class="btn btn-primary"
            (click)="validateChange.emit(validationValue)">
            Choisie cette option
            <i class="ri-arrow-right-s-line"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="activateModal$ | async" class="modal-backdrop fade" [class.show]="animate$ | async"></div>
