<form [formGroup]="structureForm" (keyup.enter)="(!isEditMode ? '' : null)">
  <div class="title">
    <h3>Quels autres services sont proposés par la structure&nbsp;?</h3>
    <p class="notRequired">Facultatif</p>
  </div>
  <div *ngIf="equipmentsAndServices" fxLayout="column wrap" fxLayoutAlign="flex-start" class="otherServices">
    <ng-container *ngFor="let service of equipmentsAndServices">
      <app-checkbox-form
        *ngIf="
          [
            'donDeMateriels',
            'reconditionnementsDeMateriel',
            'accesLivresInformatiques',
            'venteMaterielPrixSolidaire'
          ].includes(service.module.id)
        "
        [isChecked]="isInArray('equipmentsAndServices', service.module.id)"
        [text]="service.module.text"
        [iconSvg]="service.module.id"
        (checkEvent)="onCheckChange($event, 'equipmentsAndServices', service.module.id)"
      >
      </app-checkbox-form>
    </ng-container>
  </div>
</form>
