<div class="content-container">
  <div class="hide-on-print">
    <app-structure-list-search (searchEvent)="getStructures($event)"></app-structure-list-search>
  </div>
  <div class="panes-container" fxLayout="row">
    <app-structure-list
      (searchEvent)="getStructures($event)"
      [structureList]="structures"
      [location]="currentLocation"
      (displayMapMarkerId)="setMapMarkerId($event)"
      (selectedMarkerId)="setSelectedMarkerId($event)"
      [selectedStructure]="currentStructure"
      (updatedStructure)="updateStructures($event)"
      class="left-pane"
      [ngClass]="{ mapPhone: isMapPhone == true }"
      fxLayout="column"
    ></app-structure-list>
    <div class="btnSwitch">
      <app-button
        [style]="buttonTypeEnum.ButtonPhone"
        [text]="isMapPhone ? 'Liste' : 'Carte'"
        [iconBtn]="isMapPhone ? 'liste' : 'map-markerButtonPhone'"
        (action)="switchMapList()"
      ></app-button>
    </div>
    <app-map
      [structures]="structures"
      [toogleToolTipId]="displayMarkerId"
      [selectedMarkerId]="selectedMarkerId"
      (selectedStructure)="showDetailStructure($event)"
      [isMapPhone]="isMapPhone"
      [searchedValue]="searchedValue"
      class="right-pane"
      [ngClass]="{ mapPhone: isMapPhone == true }"
    ></app-map>
  </div>
</div>
