@import '../../assets/scss/breakpoint';
@import '../../assets/scss/layout';
@import '../../assets/scss/z-index';
@import '../../assets/scss/color';

::ng-deep .footer {
  @media #{$tablet} {
    display: none !important;
  }
}

.content-container {
  height: calc(100vh - #{$header-height});
  background: $white;
  padding-top: 0.6rem;
  display: flex;
  flex-direction: column;
}

.panes-container {
  width: 100%;
  position: relative;
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  .left-pane {
    height: 100%;
    width: 600px;
    min-width: 600px;
    overflow-y: auto;
    border-right: 1px solid $grey-4;
    @media #{$tablet} {
      width: 100%;
      min-width: unset;
      border-right: none;
      &.mapPhone {
        display: none !important;
      }
    }
  }
  .right-pane {
    height: 100%;
    width: 100%;
    @media #{$tablet} {
      display: none;
      &.mapPhone {
        display: block;
      }
      padding: 0;
    }
  }
}

.btnSwitch {
  position: fixed;
  left: 50%;
  bottom: $footer-height;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: none;
  @media #{$tablet} {
    display: block;
    opacity: 0.8;
    z-index: $btn-phone-switch-map-list-z-index;
  }
  @media #{$large-phone} {
    bottom: 20px;
  }
}
