<div class="header">
  <span class="title">Acteurs de la médiation</span>
</div>
<div class="content" fxLayout="column">
  <div class="searchSection">
    <form
      [formGroup]="searchForm"
      fxLayout="row"
      fxLayoutGap="16px"
      fxLayoutAlign=" center"
      (ngSubmit)="applyFilter(searchForm.value.searchTerm)"
    >
      <div class="inputSection" fxLayout="row" fxLayoutAlign="space-between center">
        <input type="text" formControlName="searchTerm" placeholder="Rechercher une adresse, une association..." />
        <button (click)="clearInput()" class="icon close" type="button"><div class="ico-close-search"></div></button>
        <span class="separator"></span>
        <button (click)="locateMe()" class="icon pin" type="button"><div class="ico-pin-search"></div></button>
      </div>
      <app-button
        class="isntPhoneContent"
        [style]="'buttonWithHash'"
        [text]="'Rechercher'"
        [type]="'submit'"
      ></app-button>
    </form>
  </div>
  <div (clickOutside)="closeModal()">
    <div class="btnSection isntPhoneContent" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
      <button
        class="btn-filter"
        type="button"
        fxLayout="row"
        [ngClass]="{
          selected: modalTypeOpened === TypeModal.accompaniment,
          containCheckedFilters: numberAccompanimentChecked
        }"
        fxLayoutAlign="space-between center"
        (click)="openModal(TypeModal.accompaniment)"
      >
        <span>Accompagnement</span>
        <div class="arrow"></div>
      </button>
      <button
        class="btn-filter"
        type="button"
        fxLayout="row"
        [ngClass]="{
          selected: modalTypeOpened === TypeModal.training,
          containCheckedFilters: numberTrainingChecked
        }"
        fxLayoutAlign="space-between center"
        (click)="openModal(TypeModal.training)"
      >
        <span>Formations</span>
        <div class="arrow"></div>
      </button>
      <button
        class="btn-filter"
        type="button"
        fxLayout="row"
        [ngClass]="{
          selected: modalTypeOpened === TypeModal.moreFilters,
          containCheckedFilters: numberMoreFiltersChecked
        }"
        fxLayoutAlign="space-between center"
        (click)="openModal(TypeModal.moreFilters)"
      >
        <span>Plus de filtres</span>
        <div class="arrow"></div>
      </button>
    </div>
    <div *ngIf="modalTypeOpened">
      <app-modal-filter
        [modalType]="modalTypeOpened"
        [categories]="categories"
        [modules]="checkedModulesFilter"
        (searchEvent)="fetchResults($event)"
        (closeEvent)="closeModal()"
      ></app-modal-filter>
    </div>
  </div>
</div>
<div class="phoneSection">
  <div class="btnSection" fxLayout="row" fxLayoutAlign="space-between center">
    <app-button
      [style]="'buttonPhone'"
      [extraClass]="numberAccompanimentChecked ? 'containCheckedFilters' : ''"
      [text]="'Filtres'"
      (action)="openModal(TypeModal.accompaniment)"
    ></app-button>
    <a (click)="openConfirmationModal()" tabindex="0">Ajouter une structure</a>
  </div>
</div>
<div class="footerSearchSection isntPhoneContent" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="checkbox">
    <div class="checkboxItem">
      <label>
        <input
          type="checkbox"
          value="passNumerique"
          [checked]="searchService.getIndex(checkedModulesFilter, 'passNumerique', 'Labels et qualifications') > -1"
          (change)="numericPassCheck($event, 'Labels et qualifications')"
        />
        <span class="customCheck"></span>
        <div class="label">Pass numérique</div>
      </label>
    </div>
  </div>
  <a (click)="openConfirmationModal()" tabindex="0">Ajouter une structure</a>
</div>
<app-modal
  [openned]="isConfirmationModalOpen"
  [content]="confirmationModalContent"
  (closed)="closeConfirmationModal()"
></app-modal>
