@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/inputs';
@import '../../../../assets/scss/hyperlink';

.header {
  .title {
    @include cn-bold-20;
    padding: 16px 0 16px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}
.content {
  margin: 10px 0 0px 0;

  input {
    @include cn-regular-14;
    @include input-search;
  }
  .searchSection {
    .separator {
      height: 100%;
      width: 2px;
      background-color: $grey-4;
      margin: 0 5px 0 5px;
    }
    .inputSection {
      padding: 6px 3px 6px 6px;
      width: 100%;
      border: 1px solid $grey-4;
      background-color: $white;
      height: 40px;
    }
  }
  .btnSection {
    padding: 16px 0 0px 0;
    button {
      background: $white;
      height: 40px;
      width: 100%;
      border: 1px solid $grey-4;
      padding: 3px 16px 3px 16px;
      outline: none;
      border-radius: 4px;
      cursor: pointer;
      @include btn-normal;
      .arrow {
        background-color: transparent;
        border-bottom: 1px solid $grey-2;
        border-right: 1px solid $grey-2;
        transform: translateY(-25%) rotate(45deg);
        margin: 0 5px 0 10px;
        height: 7px;
        width: 7px;
      }
      &:focus {
        border-color: $blue-hover;
      }
    }
    .selected {
      border-color: $primary-color !important;
      color: inherit;
      .arrow {
        background-color: transparent;
        border-bottom: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        transform: translateY(25%) rotate(-135deg);
        margin: 0 5px 0 10px;
        height: 7px;
        width: 7px;
      }
    }
    .containCheckedFilters {
      border-color: $secondary-color;
    }
  }
}

.footerSearchSection {
  margin: 8px 0px 8px 0px;
  height: 40px;
}

.icon {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  &.pin {
    padding: 4px 6px 8px 6px;
    &:hover {
      .ico-pin-search {
        background-color: $blue-hover;
      }
    }
    &:focus {
      border-color: $secondary-color;
      .ico-pin-search {
        background-color: $secondary-color;
      }
    }
    &:active {
      border-color: transparent;
      .ico-pin-search {
        background-color: $blue-active;
      }
    }
  }
  &.close {
    &:focus {
      border-color: $secondary-color;
    }
    &:active {
      border-color: transparent;
    }
  }
}
a {
  @include hyperlink;
}
