@import '../../../../assets/scss/icons';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/breakpoint';
@import '../../../../assets/scss/shapes';
@import '../../../../assets/scss/buttons';

.header {
  .title {
    @include cn-bold-20;
    padding: 16px 0 16px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}
.content {
  margin: 10px 0 0px 0;
  .icon {
    border: 1px solid $grey;
    padding: 4px 6px 8px 6px;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    width: 100%;
    background-color: $grey-5;
    border: none;
    @include cn-regular-14;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-overflow: ellipsis;
    color: $grey-1;
    outline: none;
  }
  .searchSection {
    .searchButton {
      border: 1px solid $grey-6;
      border-radius: 6px;
      @include background-hash;
      padding: 0 0 4px 5px;
      button {
        @include btn-search;
        @include cn-bold-14;
      }
    }
  }
  .btnSection {
    padding: 16px 0 8px 0;
    button {
      @include btn-filter;
      .btnText {
        @include cn-regular-14;
      }
    }
    .selected {
      border: 1px solid $primary-color;
      color: $primary-color;
      .arrow {
        background-color: transparent;
        border-bottom: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        transform: translateY(25%) rotate(-135deg);
        margin: 0 5px 0 10px;
        height: 7px;
        width: 7px;
      }
    }
    .arrow {
      background-color: transparent;
      border-bottom: 1px solid $grey-2;
      border-right: 1px solid $grey-2;
      transform: translateY(-25%) rotate(45deg);
      margin: 0 5px 0 10px;
      height: 7px;
      width: 7px;
    }
  }
}

.checkbox {
  list-style-type: none;
  input {
    opacity: 0;
    display: none;
    &:checked ~ .customCheck {
      background-color: $orange-light;
      border-color: transparent;
    }
    &:checked ~ .customCheck:after {
      display: block;
    }
  }
  label {
    //display: inline-grid;
    align-items: center;
    grid-template-columns: min-content auto;
    display: inline-grid;
    cursor: pointer;
  }
  .label {
    padding-left: 8px;
    @include cn-regular-14;
  }
  .customCheck {
    display: inline-grid;
    width: 18px;
    height: 18px;
    background-color: $white;
    border: 1px solid $grey;
    cursor: pointer;
    position: relative;

    top: 0;
    left: 0;
    &:hover {
      background-color: $grey-5;
    }
    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 4px;
      height: 8px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
    }
  }
}
.footerSearchSection {
  margin-bottom: 30px;
  margin-right: 20px;

  a {
    @include cn-bold-14;
    font-weight: bold;
    text-decoration: underline;
  }
}
