<div class="container m-5">
  <h1 class="m-5">Mentions Légales</h1>
  <h3 class="m-5 text-primary">Éditeur de la plateforme</h3>
  <div class="row">
    <div class="col mx-5">
      <div>La plateforme est éditée par :</div>
      <div><strong>Agence nationale de la cohésion des territoires</strong></div>
      <div>20, avenue de Ségur</div>
      <div>TSA 10717 75 334</div>
      <div>Paris Cedex 07</div>
      <div>Téléphone : +33 1 85 58 60 00</div>
      <div>
        Mail :
        <a href="mailto:info@anct.gouv.fr">info@anct.gouv.fr</a>
      </div>
    </div>
  </div>
  <h3 class="m-5 text-primary">Directeur de la publication</h3>
  <div class="mx-5">Monsieur Yves Le Breton, Directeur général de l’Agence Nationale de la Cohésion des Territoires</div>
  <h3 class="m-5">Hébergement de la plateforme</h3>
  <div class="row">
    <div class="col mx-5">
      <div>Ce site est hébergé par :</div>
      <div><strong>AMAZON WEB SERVICES EMEA SARL</strong></div>
      <div>31 Pl des corolles</div>
      <div>Courbevoie 92400</div>
    </div>
  </div>
  <h3 class="m-5 text-primary">Accessibilité</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <div class="mb-2">
        La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site
        accessible à toutes et à tous.
      </div>
    </div>
  </div>
  <h3 class="m-5 text-primary">Sécurité</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <div>
        Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas.
        Cette protection participe à la confidentialité des échanges, mais permet aussi aux usagers de s’assurer de
        l’authenticité du site. En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels
        pour demander la saisie d’informations personnelles.
      </div>
    </div>
  </div>
  <h3 class="m-5 text-primary">Signaler un dysfonctionnement</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <div>
        Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, merci
        de nous en faire part à l’adresse :
        <a href="mailto:sonum.cartographie@anct.gouv.fr">sonum.cartographie@anct.gouv.fr</a>
        . Si vous n’obtenez pas de réponse de notre part, vous êtes en droit de faire parvenir vos doléances ou une demande de
        saisine au Défenseur des droits.
      </div>
    </div>
  </div>
</div>
