<div class="container m-5">
  <h1 class="my-5 mx-5">Mentions Légales</h1>
  <h3 class="my-5 mx-5 text-primary">Éditeur de la plateforme</h3>
  <div class="row">
    <div class="col mx-5">
      <p>La plateforme est éditée par :</p>
      <p><strong>Agence nationale de la cohésion des territoires</strong></p>
      <p>20, avenue de Ségur</p>
      <p>TSA 10717 75 334</p>
      <p>Paris Cedex 07</p>
      <p>Téléphone : +33 1 85 58 60 00</p>
      <p>Mail :info@anct.gouv.fr</p>
    </div>
  </div>
</div>
<div class="container m-5">
  <h3 class="my-5 mx-5 text-primary">Directeur de la publication</h3>
  <p class="mx-5">Monsieur Yves Le Breton, Directeur général de l’Agence Nationale de la Cohésion des Territoires</p>
  <h3 class="my-5 mx-5">Hébergement de la plateforme</h3>
  <div class="row">
    <div class="col mx-5">
      <p>Ce site est hébergé par :</p>
      <p><strong>AMAZON WEB SERVICES EMEA SARL</strong></p>
      <p>31 Pl des corolles</p>
      <p>Courbevoie 92400</p>
    </div>
  </div>
</div>
<div class="container m-5">
  <h3 class="my-5 mx-5 text-primary">Accessibilité</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <p class="mb-2">
        La conformité aux normes d’accessibilité numérique est un objectif ultérieur mais nous tâchons de rendre ce site
        accessible à toutes et à tous.
      </p>
      <p>
        Si vous rencontrez un défaut d'accessibilité vous empêchant d'accéder à un contenu ou une fonctionnalité du site, merci
        de nous en faire part. Si vous n'obtenez pas de réponse rapide de notre part, vous êtes en droit de faire parvenir vos
        doléances ou une demande de saisine au Défenseur des droits. Pour en savoir plus sur la politique d'accessibilité
        numérique de l'État
      </p>
    </div>
  </div>
</div>
<div class="container m-5">
  <h3 class="my-5 mx-5 text-primary">Sécurité</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <p>
        Le site est protégé par un certificat électronique, matérialisé pour la grande majorité des navigateurs par un cadenas.
        Cette protection participe à la confidentialité des échanges, mais permet aussi aux usagers de s’assurer de
        l’authenticité du site. En aucun cas les services associés à la plateforme ne seront à l’origine d’envoi de courriels
        pour demander la saisie d’informations personnelles.
      </p>
    </div>
  </div>
</div>
<div class="container m-5">
  <h3 class="my-5 mx-5 text-primary">Signaler un dysfonctionnement</h3>
  <div class="row">
    <div class="col-7 mx-5">
      <p>
        Si vous rencontrez un défaut d’accessibilité vous empêchant d’accéder à un contenu ou une fonctionnalité du site, merci
        de nous en faire part à l’adresse : sonum.cartographie@anct.gouv.Fr Si vous n’obtenez pas de réponse de notre part, vous
        êtes en droit de faire parvenir vos doléances ou une demande de saisine au Défenseur des droits.
      </p>
    </div>
  </div>
</div>
