<div *ngIf="openned" class="modalBackground">
  <div class="modal">
    <div class="contentModal" fxLayout="column" fxLayoutAlign="space-around center">
      <div class="headerModal" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="empty"></div>
        <h3>ATTENTION</h3>
        <svg class="hide" aria-hidden="true" (click)="closeModal(false)">
          <use [attr.xlink:href]="'assets/form/sprite.svg#close'"></use>
        </svg>
      </div>
      <p>{{ content }}</p>
      <div class="footerModal" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px">
        <app-button (action)="closeModal(false)" [text]="'Annuler'" [style]="buttonTypeEnum.modalSecondary"></app-button>
        <app-button
          (action)="closeModal(true)"
          [text]="customConfirmationText ? customConfirmationText : 'Confirmer'"
          [style]="buttonTypeEnum.modalPrimary"></app-button>
      </div>
    </div>
  </div>
</div>
