@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/shapes';
@import '../../../../assets/scss/z-index';

h3 {
  @include cn-bold-18;
  color: $orange-warning;
}
p {
  @include cn-bold-16;
  color: $grey-1;
  text-align: center;
}
