@import '../../assets/scss/color';

.subscriptionPasswordForm {
  max-width: 500px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-input {
  background-color: white;
  width: 100%;
}

.existingEmail {
  color: $orange-warning;
}

.btn-side {
  color: #4f4f4f;
  text-decoration: underline;
}
