<div fxLayout="row" [ngClass]="{ column: hasFinishButton() }" fxLayoutGap="10px" fxLayoutAlign="center center">
  <app-button
    *ngIf="displayPreviousButton"
    (action)="goToPreviousPage()"
    [text]="btnName[0]"
    [iconType]="'form'"
    [iconBtn]="'chevronLeft'"
  ></app-button>

  <app-button *ngIf="hasFinishButton()" (action)="finishedModal()" [text]="btnName[2]" [iconBtn]="'flag'"></app-button>

  <app-button
    (action)="goToNextPage()"
    [disabled]="!isValid"
    [text]="btnName[1]"
    [iconBtn]="btnName[1] == 'Imprimer' ? 'print' : 'chevronRight'"
    [iconType]="'form'"
    [iconPos]="'right'"
    [style]="'primary'"
  >
  </app-button>
</div>
