@import '../../../assets/scss/color';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/breakpoint';

.footerForm {
  padding: 20px 0;
}

.btn-primary {
  &.previous {
    background-color: $white;
    color: $grey-1;
    border: 1px solid $grey-1;
  }
  &.invalid {
    opacity: 0.4;
  }

  &:focus .print {
    background-color: $primary-color;
  }

  &.next {
    .rowBtn {
      margin-left: 24px;
    }
  }
}

.column {
  @media #{$phone} {
    flex-direction: column !important;
    button {
      margin-bottom: 10px !important;
      margin-right: 0 !important;
    }
  }
}

.chevronLeft {
  height: 24px;
  width: 24px;
  stroke: $black;
  margin-right: 10px;
}
.chevronRight {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

.print {
  stroke: $white;
  width: 20px;
  height: 20px;
  padding-right: 20px;
  background-color: $white;
  mask: url(/assets/ico/print.svg) no-repeat center;
}
.flag {
  padding-right: 10px;
  stroke: $black;
  width: 20px;
  height: 20px;
  background-color: $grey-1;
  mask: url(/assets/ico/flag.svg) no-repeat center;
}
