<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" class="userBlock">
  <h3>
    Gestion des utilisateurs
    <span *ngIf="unVerifiedUsers && unAttachedUsers && attachedUsers">
      ({{ unVerifiedUsers.length + unAttachedUsers.length + attachedUsers.length }})
    </span>
  </h3>
</div>

<div class="tables-list">
  <div>
    <h3 class="title" *ngIf="unVerifiedUsers">Utilisateurs non vérifiés ({{ unVerifiedUsers.length }})</h3>
    <ag-grid-angular
      class="ag-theme-alpine user-table"
      [rowData]="unVerifiedUsers"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      domLayout="autoHeight"
      [getRowHeight]="getRowHeight"
      [defaultColDef]="unAttachedColDef"
      [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  </div>
  <div>
    <h3 class="title" *ngIf="unAttachedUsers">Utilisateurs non rattachés ({{ unAttachedUsers.length }})</h3>
    <ag-grid-angular
      class="ag-theme-alpine user-table"
      [rowData]="unAttachedUsers"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      domLayout="autoHeight"
      [getRowHeight]="getRowHeight"
      [defaultColDef]="unAttachedColDef"
      [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  </div>
  <div>
    <h3 class="title" *ngIf="attachedUsers">Utilisateurs rattachés ({{ attachedUsers.length }})</h3>
    <ag-grid-angular
      class="ag-theme-alpine user-table"
      [rowData]="attachedUsers"
      [columnDefs]="columnDefs"
      rowSelection="multiple"
      domLayout="autoHeight"
      [getRowHeight]="getRowHeight"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  </div>
</div>
<app-modal-confirmation
  *ngIf="userToDelete"
  [openned]="deleteModalOpenned"
  [content]="'Voulez-vous vraiment supprimer cet utilisateur&nbsp;? (' + userToDelete.email + ')'"
  (closed)="deleteUser(userToDelete, $event)"
></app-modal-confirmation>
