@import '../../../../assets/scss/color';

.user-table {
  width: 100%;
  height: 100%;
  text-overflow: clip;
}

.tables-list {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 2%;
}

app-delete-user {
  text-align: center;
}
