<form [formGroup]="affinerRechercheForm">
  <fieldset>
    <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Disponibilité et accès</legend>
    <ul class="list-group list-group-flush fw-bold">
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="prise_rdv"
              role="switch"
              formControlName="prise_rdv"
              (change)="setFilterToQueryString('prise_rdv')" />
            Prise de RDV en ligne
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="fiche_acces_libre"
              role="switch"
              formControlName="fiche_acces_libre"
              (change)="setFilterToQueryString('fiche_acces_libre')" />
            Accessibilité renseignée
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="horaires_ouverture"
              role="switch"
              [value]="{ day: 'now' }"
              formControlName="horaires_ouverture"
              (change)="setFilterToQueryString('horaires_ouverture')" />
            Ouvert actuellement
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="frais_a_charge"
              role="switch"
              value="Gratuit"
              appCheckboxArray
              formControlName="frais_a_charge"
              (change)="setFilterToQueryString('frais_a_charge')" />
            Gratuit
          </label>
        </div>
      </li>
    </ul>
  </fieldset>
  <ng-container *ngIf="dispositifProgrammesNationauxFrom(lieuxMediationNumeriques) as labelNationaux">
    <fieldset *ngIf="labelNationaux.length > 1">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">
        Dispositifs et programmes nationaux
      </legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let labelNational of labelNationaux" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="dispositif_programmes_nationaux"
                type="checkbox"
                role="switch"
                [value]="labelNational"
                appCheckboxArray
                formControlName="dispositif_programmes_nationaux"
                (change)="setFilterToQueryString('dispositif_programmes_nationaux')" />
              {{ labelMap.get(labelNational) ?? labelNational }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
  <ng-container *ngIf="formationsLabelsFrom(lieuxMediationNumeriques) as formationLabels">
    <fieldset *ngIf="formationLabels.length > 1">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">
        Labels, certifications et formations
      </legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let formationLabel of formationLabels" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="formations_labels"
                type="checkbox"
                role="switch"
                [value]="formationLabel"
                appCheckboxArray
                formControlName="formations_labels"
                (change)="setFilterToQueryString('formations_labels')" />
              {{ labelMap.get(formationLabel) ?? formationLabel }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
  <ng-container *ngIf="servicesFrom(lieuxMediationNumeriques) as services">
    <fieldset *ngIf="services.length > 1">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Services</legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let service of services" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="service"
                type="checkbox"
                role="switch"
                [value]="service"
                appCheckboxArray
                formControlName="service"
                (change)="setFilterToQueryString('service')" />
              {{ labelMap.get(service) ?? service }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
  <ng-container *ngIf="strategiesTerritorialesFrom(lieuxMediationNumeriques) as strategiesTerritoriales">
    <fieldset *ngIf="strategiesTerritoriales.length > 0">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Territoires Prioritaires</legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let strategieTerritoriale of strategiesTerritoriales" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="autres_formations_labels"
                type="checkbox"
                role="switch"
                [value]="strategieTerritoriale"
                appCheckboxArray
                formControlName="autres_formations_labels"
                (change)="setFilterToQueryString('autres_formations_labels')" />
              {{ labelMap.get(strategieTerritoriale) ?? strategieTerritoriale }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
</form>
