<form [formGroup]="affinerRechercheForm">
  <fieldset>
    <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Disponibilité et accès</legend>
    <ul class="list-group list-group-flush fw-bold">
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="prise_rdv"
              role="switch"
              formControlName="prise_rdv"
              (change)="setFilterToQueryString('prise_rdv')" />
            Prise de RDV en ligne
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="service"
              role="switch"
              formControlName="service"
              (change)="setFilterToQueryString('service')" />
            Prise en main de Mon espace Santé
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="accessibilite"
              role="switch"
              formControlName="accessibilite"
              (change)="setFilterToQueryString('accessibilite')" />
            Accessibilité renseignée
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="horaires_ouverture"
              role="switch"
              [value]="{ day: 'now' }"
              formControlName="horaires_ouverture"
              (change)="setFilterToQueryString('horaires_ouverture')" />
            Ouvert actuellement
          </label>
        </div>
      </li>
      <li class="list-group-item bg-transparent">
        <div class="form-check form-switch my-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              name="frais_a_charge"
              role="switch"
              value="Gratuit : Je peux accéder gratuitement au lieu et à ses services"
              appCheckboxArray
              formControlName="frais_a_charge"
              (change)="setFilterToQueryString('frais_a_charge')" />
            Gratuit
          </label>
        </div>
      </li>
    </ul>
  </fieldset>
  <ng-container *ngIf="labelNationauxFrom(lieuxMediationNumeriques) as labelNationaux">
    <fieldset *ngIf="labelNationaux.length > 1">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Labels nationaux</legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let labelNational of labelNationaux" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="dispositif_programmes_nationaux"
                type="checkbox"
                role="switch"
                [value]="labelNational"
                appCheckboxArray
                formControlName="dispositif_programmes_nationaux"
                (change)="setFilterToQueryString('dispositif_programmes_nationaux')" />
              {{ labelMap.get(labelNational) ?? labelNational }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
  <ng-container *ngIf="strategiesTerritorialesFrom(lieuxMediationNumeriques) as strategiesTerritoriales">
    <fieldset *ngIf="strategiesTerritoriales.length > 0">
      <legend class="text-uppercase p-2 pt-4 border-bottom bg-white text-muted h6 fw-bold">Territoires Prioritaires</legend>
      <ul class="list-group list-group-flush fw-bold">
        <li *ngFor="let strategieTerritoriale of strategiesTerritoriales" class="list-group-item bg-transparent">
          <div class="form-check form-switch my-2">
            <label class="form-check-label">
              <input
                class="form-check-input"
                name="labels_autres"
                type="checkbox"
                role="switch"
                [value]="strategieTerritoriale"
                appCheckboxArray
                formControlName="labels_autres"
                (change)="setFilterToQueryString('labels_autres')" />
              {{ labelMap.get(strategieTerritoriale) ?? strategieTerritoriale }}
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
  </ng-container>
</form>
