<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let integrateur of integrateursPresentation">
    <div class="card h-100 rounded-0" style="min-height: 45vh">
      <div class="row g-0 h-100">
        <div class="col d-flex justify-content-center align-items-center p-4" [ngClass]="integrateur.bgPrimary">
          <img src="/assets/img/presentation/{{ integrateur.bgImage }}" class="w-100" alt="" />
        </div>
        <div class="col text-start p-4">
          <span class="badge card-badge-title ms-3 my-2">{{ integrateur.titre }}</span>
          <div class="card-body h-100 d-flex" style="flex-direction: column">
            <h3 class="fw-bold card-title my-2">{{ integrateur.sousTitre }}</h3>
            <p class="card-text mt-2 mb-5 flex-grow-1">{{ integrateur.text }}</p>
            <a
              class="btn-link text-decoration-none"
              href="{{ integrateur.link }}"
              target="_blank"
              title="{{ integrateur.sousTitre }} (nouvel onglet)"
              rel="noopener noreferrer">
              <div class="d-flex">
                <span role="img" class="ri ri-external-link-line me-2"></span>
                <p class="mt-1" style="font-size: smaller">{{ integrateur.linkTitre }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a
  class="btn btn-primary align-items-center d-inline-flex rounded-0 mt-5"
  href="https://github.com/anct-cartographie-nationale/client-application#documentation"
  target="_blank"
  title="Intégrer la cartographie (nouvel onglet)"
  rel="noopener noreferrer">
  <span role="img" class="ri-map-pin-2-line ri me-2" aria-hidden="true"></span>
  Intégrer la cartographie
</a>
