@import '../../assets/scss/layout';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/color';
@import '../../assets/scss/typography';
.form {
  position: fixed;
  background: white;
  width: 100vw;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  top: #{$header-height};
  z-index: 9999;
  overflow: auto;
  @media #{$tablet} {
    height: calc(100vh);
    top: 0;
  }
}

.footer {
  border-top: 1px solid $grey-4;
  padding: 17px;
  .btn {
    border-radius: 22px;
    width: 149px;
  }
  @media #{$tablet} {
    display: flex !important;
  }
}
.header {
  height: #{$header-height-phone};
  line-height: #{$header-height-phone};
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: solid 1px $grey-4;
  background-color: $grey-1;
  color: $white;
  padding: 0 20px;
  @media #{$tablet} {
    display: block !important;
  }
  h3 {
    margin: 0;
  }
}
.content {
  padding: 0 16px;
  h2 {
    @include cn-bold-28;
    color: $secondary-color;
  }
  h3 {
    @include cn-bold-24;
  }
  .page {
    display: block;
    height: calc(100vh - #{$header-height} - #{$footer-height} - #{$footer-height-phone});

    overflow-y: auto;
    @media #{$tablet} {
      height: calc(100vh - #{$header-height-phone} - #{$footer-height-phone});
    }
    &.home {
      height: calc(100vh - #{$header-height} - #{$footer-height});
      @media #{$tablet} {
        // -1px because of border-bottom of Header
        height: calc(100vh - #{$header-height-phone} - 1px);
      }
      .btnStart {
        text-align: center;
      }
    }
    &.informations {
      ul {
        list-style: none;
        padding: 0;
        span {
          padding-top: 2px; // Align text with bullet list
          position: absolute;
        }
        li::before {
          content: '\2022';
          color: $secondary-color;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          font-size: 26px;
        }
      }
    }
  }
  .titleDesc {
    @include cn-bold-20;
  }
  p {
    @include cn-regular-18;
  }
  li {
    @include cn-regular-18;
    line-height: 36px;
  }
}

.btn {
  background: $secondary-color;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 0;
  color: $white;
  height: 40px;
  width: 192px;
  @include btn-bold;

  &.start {
    margin-bottom: 26px;
  }
  &.previous {
    background-color: initial;
    color: $grey-2;
  }
}

.chevron {
  position: absolute;
  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    border: 7px solid transparent;
  }
  &.left {
    margin: 2px -19px;
    &:before {
      right: 0;
      border-right-color: inherit;
    }
    &:after {
      right: -2px;
      border-right-color: $white;
    }
  }
  &.right {
    margin: 2px 19px;

    &:before {
      left: 0;
      border-left-color: inherit;
    }
    &:after {
      left: -2px;
      border-left-color: $secondary-color;
    }
  }
}
