<div *ngIf="false" class="form">
  <form [formGroup]="structureForm" *ngIf="structureForm" (ngSubmit)="onSubmit(structureForm)">
    <p>Votre structure est-elle ?*</p>
    <input type="radio" formControlName="structureRepresentation" value="principal" /> Un établissement principal (siège
    social)<br />
    <input type="radio" formControlName="structureRepresentation" value="antenne" /> Une permanence (antenne)
    <app-validator-form [control]="getStructureControl('structureRepresentation')"></app-validator-form>
    <p>Nom de votre structure*</p>
    <input type="text" formControlName="structureName" />
    <app-validator-form [control]="getStructureControl('structureName')"></app-validator-form>
    <p>Type de structure*</p>
    <div *ngFor="let choice of typeStructure | keyvalue">
      <label>
        <input
          type="checkbox"
          [value]="choice.key"
          (change)="onCheckChange($event, 'structureType')"
          [checked]="isInArray(choice.key, 'structureType')"
          [disabled]="getStructureControl('structureType').disabled"
        />
        {{ choice.value }}
      </label>
    </div>
    <app-validator-form [control]="getStructureControl('structureType')"></app-validator-form>
    <p>Démarche</p>
    <div *ngIf="proceduresAccompaniment">
      <p>{{ proceduresAccompaniment.name }}</p>
      <div *ngFor="let module of proceduresAccompaniment.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, proceduresAccompaniment.id)"
            [checked]="isInArray(module.id, proceduresAccompaniment.id)"
            [disabled]="getStructureControl(proceduresAccompaniment.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <p>Description*</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="description"></textarea>
    <app-validator-form [control]="getStructureControl('description')"></app-validator-form>
    <p>
      Afin de rendre visible l'offre de formation numérique proposée lors de ce nouveau confinement, merci d'indiquer
      ici, les activités que vous avez pu maintenir
    </p>
    <textarea rows="4" style="width: 100%" maxlength="1000" formControlName="lockdownActivity"></textarea>
    <div formGroupName="address">
      <p>ADRESSE</p>
      <p>Numéro</p>
      <input type="text" autocomplete="street-address" formControlName="numero" />
      <p>Voie*</p>
      <input type="text" formControlName="street" />
      <app-validator-form [control]="getAddressControl('street')"></app-validator-form>
      <p>Commune*</p>
      <input type="text" formControlName="commune" />
      <app-validator-form [control]="getAddressControl('commune')"></app-validator-form>
    </div>
    <p>VOUS JOINDRE</p>
    <p>Téléphone*</p>
    <input type="text" formControlName="contactPhone" (input)="modifyPhoneInput($event.target.value)" />
    <app-validator-form [control]="getStructureControl('contactPhone')"></app-validator-form>
    <p>Courriel*</p>
    <input type="email" formControlName="contactMail" />
    <app-validator-form [control]="getStructureControl('contactMail')"></app-validator-form>
    <p>Site web</p>
    <input type="text" formControlName="website" />
    <p>Présence sur les réseaux sociaux</p>
    <p>Facebook</p>
    <input type="text" formControlName="facebook" />
    <p>Twitter</p>
    <input type="text" formControlName="twitter" />
    <p>Instagram</p>
    <input type="text" formControlName="instagram" />
    <p>Personne à contacter</p>
    <p>Civilité</p>
    <input type="radio" formControlName="gender" value="Madame" />Madame <br />
    <input type="radio" formControlName="gender" value="Monsieur" />Monsieur
    <p>Nom</p>
    <input type="text" formControlName="contactName" />
    <p>Prénom</p>
    <input type="text" formControlName="contactSurname" />
    <p>Courriel*</p>
    <input type="email" formControlName="contactMail" />
    <app-validator-form [control]="getStructureControl('contactMail')"></app-validator-form>
    <p>Fonction</p>
    <select formControlName="fonction">
      <option value="">---Sélectionner---</option>
      <option *ngFor="let fonction of fonctions | keyvalue" [value]="fonction.key">
        {{ fonction.value }}
      </option>
    </select>
    <p>Accessibilité</p>
    <input type="checkbox" formControlName="pmrAccess" />Accessibilité personnes à mobilité réduite (PMR) <br />
    <div *ngIf="accessModality">
      <p>{{ accessModality.name }}*</p>
      <div *ngFor="let module of accessModality.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, accessModality.id)"
            [checked]="isInArray(module.id, accessModality.id)"
            [disabled]="getStructureControl(accessModality.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
      <app-validator-form [control]="getStructureControl('accessModality')"></app-validator-form>
    </div>
    <p>Pour les RDV, merci de préciser s'il est nécessaire d'apporter des pièces justificatives ou du matériel.</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="documentsMeeting"></textarea>
    <div *ngIf="labelsQualifications">
      <p>{{ labelsQualifications.name }}</p>
      <div *ngFor="let module of labelsQualifications.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, labelsQualifications.id)"
            [checked]="isInArray(module.id, labelsQualifications.id)"
            [disabled]="getStructureControl(labelsQualifications.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <div *ngIf="publics">
      <p>{{ publics.name }}*</p>
      <div *ngFor="let module of publics.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, publics.id)"
            [checked]="isInArray(module.id, publics.id)"
            [disabled]="getStructureControl(publics.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
      <app-validator-form [control]="getStructureControl('publics')"></app-validator-form>
    </div>
    <div formGroupName="hours">
      <p>Heures</p>
      <div *ngFor="let day of weekDay | keyvalue">
        <div [formGroupName]="day.key">
          <p>Ouvert le {{ day.value }} ? :</p>
          <input type="radio" formControlName="open" (click)="addTime(day.key)" [value]="true" />Oui <br />
          <input type="radio" formControlName="open" (click)="removeTime(day.key)" [value]="false" />Non
          <div formArrayName="time" *ngIf="isOpen(day.key)">
            <div *ngFor="let time of getTime(day.key).controls; index as i">
              <div [formGroupName]="i">
                <input type="number" formControlName="openning" />
                <input type="number" formControlName="closing" />
              </div>
              <div *ngIf="i < 1">
                <input
                  type="checkbox"
                  [value]="false"
                  (change)="onCheckPlageHoursChange($event, day.key, time)"
                  [checked]="getTime(day.key).controls.length == 2"
                  [disabled]="getStructureControl('hours').disabled"
                />Ajouter une plage
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>Fermetures exceptionnelles</p>
    <input type="text" formControlName="exceptionalClosures" />
    <div *ngIf="publicsAccompaniment">
      <p>{{ publicsAccompaniment.name }}</p>
      <div *ngFor="let module of publicsAccompaniment.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, publicsAccompaniment.id)"
            [checked]="isInArray(module.id, publicsAccompaniment.id)"
            [disabled]="getStructureControl(publicsAccompaniment.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <p>Formations au numérique proposées</p>
    <p>
      Ces modules de compétences sont issus du référentiel national et identifiés dans le cadre du déploiement du Pass
      numérique sur la Métropole (pour en savoir +)
    </p>
    <div *ngFor="let c of categoryTraining">
      <p>{{ c.name }}</p>
      <div *ngFor="let module of c.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, c.id)"
            [checked]="isInArray(module.id, c.id)"
            [disabled]="getStructureControl(c.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <div *ngIf="equipmentsAndServices">
      <p>{{ equipmentsAndServices.name }}</p>
      <div *ngFor="let module of equipmentsAndServices.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, equipmentsAndServices.id)"
            [checked]="isInArray(module.id, equipmentsAndServices.id)"
            [disabled]="getStructureControl(equipmentsAndServices.id).disabled"
          />
          {{ module.text }}
        </label>
        <div *ngIf="isInArray(module.id, equipmentsAndServices.id)">
          <div *ngIf="module.id == 'ordinateurs'">
            <span>Nombre</span>
            <input type="number" formControlName="nbComputers" />
          </div>
          <div *ngIf="module.id == 'tablettes'">
            <span>Nombre</span>
            <input type="number" formControlName="nbTablets" />
          </div>
          <div *ngIf="module.id == 'bornesNumeriques'">
            <span>Nombre</span>
            <input type="number" formControlName="nbNumericTerminal" />
          </div>
          <div *ngIf="module.id == 'imprimantes'">
            <span>Nombre</span>
            <input type="number" formControlName="nbPrinters" />
          </div>
        </div>
      </div>
    </div>
    <p>Précisions si nécessaire</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="equipmentsDetails"></textarea>
    <p>L'accès à ce matériel est</p>
    <div *ngFor="let equipment of equipmentAccess | keyvalue">
      <label>
        <input
          type="checkbox"
          [value]="equipment.key"
          (change)="onCheckChange($event, 'equipmentsAccessType')"
          [checked]="isInArray(equipment.key, 'equipmentsAccessType')"
          [disabled]="getStructureControl('equipmentsAccessType').disabled"
        />
        {{ equipment.value }}
      </label>
    </div>
    <br />
    <button *ngIf="isEditMode" type="submit">Modifier</button>
    <button *ngIf="!structureId" [disabled]="structureForm.invalid" type="submit">Ajouter</button>
  </form>
  <button
    *ngIf="!isEditMode && structureId && profile"
    [disabled]="structureForm.invalid"
    (click)="onSubmitClaimWithAccount()"
  >
    Revendiquer
  </button>
  <app-create-account-form
    *ngIf="!isEditMode && structureId && !profile"
    (submitForm)="onSubmitClaim($event)"
  ></app-create-account-form>
</div>
<div class="form" fxLayout="column">
  <div class="header">
    <h3>Création de compte</h3>
  </div>
  <div class="content">
    <div *ngIf="currentPage == 0" class="home page" fxLayout="column" fxLayoutAlign="space-between center">
      <h2>Ajouter votre structure</h2>
      <img src="../../assets/form/schedule.svg" alt="logo schedule" />
      <div>
        <p class="titleDesc">Cela va prendre une quinzaine de minutes</p>
        <p>Une fois réalisé cela vous permettra d'être référencé sur la platefome</p>
      </div>
      <button class="btn start" (click)="nextPage()">C'est Parti</button>
    </div>
    <div *ngIf="currentPage == 1" class="informations page"></div>
  </div>
  <div *ngIf="currentPage != 0" class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <button class="btn start" (click)="previousPage()">Précédent</button>
    <button class="btn start" (click)="nextPage()">Suivant</button>
  </div>
</div>
