<div *ngIf="false" class="form">
  <form [formGroup]="structureForm" *ngIf="structureForm" (ngSubmit)="onSubmit(structureForm)">
    <p>Votre structure est-elle ?*</p>
    <input type="radio" formControlName="structureRepresentation" value="principal" /> Un établissement principal (siège
    social)<br />
    <input type="radio" formControlName="structureRepresentation" value="antenne" /> Une permanence (antenne)
    <app-validator-form [control]="getStructureControl('structureRepresentation')"></app-validator-form>
    <p>Nom de votre structure*</p>
    <input type="text" formControlName="structureName" />
    <app-validator-form [control]="getStructureControl('structureName')"></app-validator-form>
    <p>Type de structure*</p>
    <div *ngFor="let choice of typeStructure | keyvalue">
      <label>
        <input
          type="checkbox"
          [value]="choice.key"
          (change)="onCheckChange($event, 'structureType')"
          [checked]="isInArray(choice.key, 'structureType')"
          [disabled]="getStructureControl('structureType').disabled"
        />
        {{ choice.value }}
      </label>
    </div>
    <app-validator-form [control]="getStructureControl('structureType')"></app-validator-form>
    <p>Démarche</p>
    <div *ngIf="proceduresAccompaniment">
      <p>{{ proceduresAccompaniment.name }}</p>
      <div *ngFor="let module of proceduresAccompaniment.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, proceduresAccompaniment.id)"
            [checked]="isInArray(module.id, proceduresAccompaniment.id)"
            [disabled]="getStructureControl(proceduresAccompaniment.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <p>Description*</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="description"></textarea>
    <app-validator-form [control]="getStructureControl('description')"></app-validator-form>
    <p>
      Afin de rendre visible l'offre de formation numérique proposée lors de ce nouveau confinement, merci d'indiquer
      ici, les activités que vous avez pu maintenir
    </p>
    <textarea rows="4" style="width: 100%" maxlength="1000" formControlName="lockdownActivity"></textarea>
    <div formGroupName="address">
      <p>ADRESSE</p>
      <p>Numéro</p>
      <input type="text" autocomplete="street-address" formControlName="numero" />
      <p>Voie*</p>
      <input type="text" formControlName="street" />
      <app-validator-form [control]="getAddressControl('street')"></app-validator-form>
      <p>Commune*</p>
      <input type="text" formControlName="commune" />
      <app-validator-form [control]="getAddressControl('commune')"></app-validator-form>
    </div>
    <p>VOUS JOINDRE</p>
    <p>Téléphone*</p>
    <input type="text" formControlName="contactPhone" (input)="modifyPhoneInput($event.target.value)" />
    <app-validator-form [control]="getStructureControl('contactPhone')"></app-validator-form>
    <p>Courriel*</p>
    <input type="email" formControlName="contactMail" />
    <app-validator-form [control]="getStructureControl('contactMail')"></app-validator-form>
    <p>Site web</p>
    <input type="text" formControlName="website" />
    <p>Présence sur les réseaux sociaux</p>
    <p>Facebook</p>
    <input type="text" formControlName="facebook" />
    <p>Twitter</p>
    <input type="text" formControlName="twitter" />
    <p>Instagram</p>
    <input type="text" formControlName="instagram" />
    <p>Personne à contacter</p>
    <p>Civilité</p>
    <input type="radio" formControlName="gender" value="Madame" />Madame <br />
    <input type="radio" formControlName="gender" value="Monsieur" />Monsieur
    <p>Nom</p>
    <input type="text" formControlName="contactName" />
    <p>Prénom</p>
    <input type="text" formControlName="contactSurname" />
    <p>Courriel*</p>
    <input type="email" formControlName="contactMail" />
    <app-validator-form [control]="getStructureControl('contactMail')"></app-validator-form>
    <p>Fonction</p>
    <select formControlName="fonction">
      <option value="">---Sélectionner---</option>
      <option *ngFor="let fonction of fonctions | keyvalue" [value]="fonction.key">
        {{ fonction.value }}
      </option>
    </select>
    <p>Accessibilité</p>
    <input type="checkbox" formControlName="pmrAccess" />Accessibilité personnes à mobilité réduite (PMR) <br />
    <div *ngIf="accessModality">
      <p>{{ accessModality.name }}*</p>
      <div *ngFor="let module of accessModality.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, accessModality.id)"
            [checked]="isInArray(module.id, accessModality.id)"
            [disabled]="getStructureControl(accessModality.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
      <app-validator-form [control]="getStructureControl('accessModality')"></app-validator-form>
    </div>
    <p>Pour les RDV, merci de préciser s'il est nécessaire d'apporter des pièces justificatives ou du matériel.</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="documentsMeeting"></textarea>
    <div *ngIf="labelsQualifications">
      <p>{{ labelsQualifications.name }}</p>
      <div *ngFor="let module of labelsQualifications.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, labelsQualifications.id)"
            [checked]="isInArray(module.id, labelsQualifications.id)"
            [disabled]="getStructureControl(labelsQualifications.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <div *ngIf="publics">
      <p>{{ publics.name }}*</p>
      <div *ngFor="let module of publics.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, publics.id)"
            [checked]="isInArray(module.id, publics.id)"
            [disabled]="getStructureControl(publics.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
      <app-validator-form [control]="getStructureControl('publics')"></app-validator-form>
    </div>
    <p>Fermetures exceptionnelles</p>
    <input type="text" formControlName="exceptionalClosures" />
    <div *ngIf="publicsAccompaniment">
      <p>{{ publicsAccompaniment.name }}</p>
      <div *ngFor="let module of publicsAccompaniment.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, publicsAccompaniment.id)"
            [checked]="isInArray(module.id, publicsAccompaniment.id)"
            [disabled]="getStructureControl(publicsAccompaniment.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <p>Formations au numérique proposées</p>
    <p>
      Ces modules de compétences sont issus du référentiel national et identifiés dans le cadre du déploiement du Pass
      numérique sur la Métropole (pour en savoir +)
    </p>
    <div *ngFor="let c of categoryTraining">
      <p>{{ c.name }}</p>
      <div *ngFor="let module of c.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, c.id)"
            [checked]="isInArray(module.id, c.id)"
            [disabled]="getStructureControl(c.id).disabled"
          />
          {{ module.text }}
        </label>
      </div>
    </div>
    <div *ngIf="equipmentsAndServices">
      <p>{{ equipmentsAndServices.name }}</p>
      <div *ngFor="let module of equipmentsAndServices.modules">
        <label>
          <input
            type="checkbox"
            [value]="module.id"
            (change)="onCheckChange($event, equipmentsAndServices.id)"
            [checked]="isInArray(module.id, equipmentsAndServices.id)"
            [disabled]="getStructureControl(equipmentsAndServices.id).disabled"
          />
          {{ module.text }}
        </label>
        <div *ngIf="isInArray(module.id, equipmentsAndServices.id)">
          <div *ngIf="module.id == 'ordinateurs'">
            <span>Nombre</span>
            <input type="number" formControlName="nbComputers" />
          </div>
          <div *ngIf="module.id == 'tablettes'">
            <span>Nombre</span>
            <input type="number" formControlName="nbTablets" />
          </div>
          <div *ngIf="module.id == 'bornesNumeriques'">
            <span>Nombre</span>
            <input type="number" formControlName="nbNumericTerminal" />
          </div>
          <div *ngIf="module.id == 'imprimantes'">
            <span>Nombre</span>
            <input type="number" formControlName="nbPrinters" />
          </div>
        </div>
      </div>
    </div>
    <p>Précisions si nécessaire</p>
    <textarea rows="4" style="width: 100%" maxlength="500" formControlName="equipmentsDetails"></textarea>
    <p>L'accès à ce matériel est</p>
    <div *ngFor="let equipment of equipmentAccess | keyvalue">
      <label>
        <input
          type="checkbox"
          [value]="equipment.key"
          (change)="onCheckChange($event, 'equipmentsAccessType')"
          [checked]="isInArray(equipment.key, 'equipmentsAccessType')"
          [disabled]="getStructureControl('equipmentsAccessType').disabled"
        />
        {{ equipment.value }}
      </label>
    </div>
    <br />
    <button *ngIf="isEditMode" type="submit">Modifier</button>
    <button *ngIf="!structureId" [disabled]="structureForm.invalid" type="submit">Ajouter</button>
  </form>
  <button
    *ngIf="!isEditMode && structureId && profile"
    [disabled]="structureForm.invalid"
    (click)="onSubmitClaimWithAccount()"
  >
    Revendiquer
  </button>
  <app-create-account-form
    *ngIf="!isEditMode && structureId && !profile"
    (submitForm)="onSubmitClaim($event)"
  ></app-create-account-form>
</div>
<div class="form" fxLayout="column">
  <div class="header">
    <h3>Création de compte</h3>
  </div>
  <div class="content">
    <div
      class="progressBar"
      *ngIf="currentPage != 0"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <label for="progressForm">{{ progressStatus | number: '1.0-0' }}% </label>
      <progress id="progressForm" max="100" [value]="progressStatus"></progress>
    </div>
    <div *ngIf="currentPage == 0" class="home page" fxLayout="column" fxLayoutAlign="space-between">
      <h2>Ajouter votre structure</h2>
      <img src="../../assets/form/schedule.svg" alt="logo schedule" />
      <div>
        <p class="titleDesc">Cela va prendre une quinzaine de minutes</p>
        <p>Une fois réalisé cela vous permettra d'être référencé sur la platefome</p>
      </div>
      <div class="btnStart">
        <button class="btn start" (click)="nextPage()">C'est Parti</button>
      </div>
    </div>
    <div *ngIf="currentPage == 1" class="informations page" fxLayout="column" fxLayoutGap="28px">
      <h3>De quelles informations faut-il vous munir ?</h3>
      <img src="../../assets/form/factures.svg" alt="logo factures" />
      <div>
        <ul>
          <li><span>les coordonnées de votre structure</span></li>

          <li><span>les horaires d’ouverture</span></li>

          <li><span>la liste des ateliers que vous dispensez (optionnel)</span></li>
        </ul>
      </div>
    </div>
    <form [formGroup]="accountForm" *ngIf="accountForm">
      <div *ngIf="currentPage == 2" class="page">
        <div class="title">
          <h3>Qui êtes-vous ?</h3>
          <p>Ces informations ne seront pas visibles sur la plateforme</p>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="surname">Nom</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input type="text" (input)="setValidationsForm()" formControlName="surname" class="form-input" />
            <img *ngIf="accountForm.get('surname').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="name">Prénom</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input type="text" (input)="setValidationsForm()" formControlName="name" class="form-input" />
            <img *ngIf="accountForm.get('name').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="phone">Téléphone</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              type="text"
              formControlName="phone"
              class="form-input phone"
              (input)="modifyPhoneInput(accountForm, 'phone', $event.target.value)"
            />
            <img *ngIf="accountForm.get('phone').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
      </div>
      <div *ngIf="currentPage == 3" class="page">
        <div class="title">
          <h3>Quels identifiants utiliserez-vous pour vous connecter ?</h3>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="email">Courriel personnel</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input type="text" (input)="setValidationsForm()" formControlName="email" class="form-input" />
            <img *ngIf="accountForm.get('email').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="password">Création de mot de passe</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              [type]="isShowPassword ? 'text' : 'password'"
              formControlName="password"
              class="form-input password"
              (input)="setValidationsForm()"
              autocomplete="on"
            />
            <img
              (click)="showPassword()"
              class="eyePassword"
              src="../../assets/form/eyePassword.svg"
              alt="logo eyePassword"
            />
            <img *ngIf="accountForm.get('password').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="confirmPassword">Vérification du mot de passe</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              [type]="isShowConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              class="form-input password"
              (input)="setValidationsForm()"
              autocomplete="on"
            />
            <img
              (click)="showConfirmPassword()"
              class="eyePassword"
              src="../../assets/form/eyePassword.svg"
              alt="logo eyePassword"
            />
            <img
              *ngIf="accountForm.get('password').valid && accountForm.get('confirmPassword').valid"
              src="../../assets/form/validate.svg"
              alt="logo checked"
            />
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="structureForm" *ngIf="structureForm">
      <div *ngIf="currentPage == 4" class="page">
        <div class="title">
          <h3>Quelle structure voulez-vous réferencer ?</h3>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="structureName">Nom de la structure</label>
          <div fxLayout="row" fxLayoutGap="13px">
            <input
              type="text"
              (input)="setValidationsForm()"
              formControlName="structureName"
              class="form-input structureName"
            />
            <img
              *ngIf="getStructureControl('structureName').valid"
              src="../../assets/form/validate.svg"
              alt="logo checked"
            />
          </div>
        </div>
        <div class="form-group" fxLayout="column">
          <label for="address">Adresse de la structure</label>

          <div fxLayout="row" fxLayoutGap="13px">
            <app-address-autocomplete
              [address]="getStructureControl('address').valid ? getStructureControl('address').value : null"
              (inputAddress)="setAddressStructure()"
              (selectedAddress)="setAddressStructure($event)"
            ></app-address-autocomplete>
            <img *ngIf="getStructureControl('address').valid" src="../../assets/form/validate.svg" alt="logo checked" />
          </div>
        </div>
      </div>
      <div *ngIf="currentPage == 5" class="page" fxLayout="column">
        <div class="title">
          <h3>Quel type de structure ?</h3>
          <p>1 seul choix possible</p>
        </div>
        <div class="type-picker">
          <app-structure-type-picker
            [pickedChoice]="
              getStructureControl('structureType').valid ? getStructureControl('structureType').value : null
            "
            (selectedType)="setTypeStructure($event)"
          ></app-structure-type-picker>
        </div>
      </div>
      <div *ngIf="currentPage == 6" class="page">
        <div class="title">
          <h3>Quels sont les modalités d'accueil ?</h3>
          <p>Plusieurs choix possibles</p>
        </div>
        <div *ngIf="accessModality">
          <app-checkbox-form
            *ngFor="let module of accessModality.modules"
            [isChecked]="isInArray(module.id, accessModality.id)"
            [text]="module.text"
            [iconSvg]="module.id"
            (checkEvent)="onCheckChange($event, accessModality.id, module.id)"
          >
          </app-checkbox-form>
        </div>
      </div>
      <div *ngIf="currentPage == 7" class="page">
        <div class="title">
          <h3>Quels sont les horaires d'ouverture ?</h3>
        </div>
        <app-hour-picker
          *ngIf="hoursForm"
          (updateForm)="updateHours($event)"
          [structureInput]="hoursForm"
          [isEditMode]="!isEditMode"
        ></app-hour-picker>
      </div>
      <div *ngIf="currentPage == 8" class="page">
        <div class="title">
          <h3>Avez-vous des précisions à apporter sur les horaires ?</h3>
          <p class="notRequired">facultatif</p>
        </div>
        <div class="textareaBlock" fxLayout="column">
          <textarea
            rows="8"
            placeholder="Exemple : nous ne sommes ouvert que le 1er mercredi du mois."
            maxlength="500"
            formControlName="description"
          ></textarea>
          <p>
            {{ getStructureControl('description').value ? getStructureControl('description').value.length : 0 }}/500
          </p>
        </div>
      </div>
    </form>
  </div>
  <div
    *ngIf="currentPage != 0 && currentPage != nbPagesForm"
    class="footer"
    fxLayout="row"
    fxLayoutAlign="space-around center"
  >
    <button class="btn previous" (click)="previousPage()"><span class="chevron left"></span>Précédent</button>
    <button class="btn next" (click)="nextPage()" [disabled]="!isPageValid" [ngClass]="{ invalid: !isPageValid }">
      Suivant<span class="chevron right"></span>
    </button>
  </div>
</div>
