@import '../../assets/scss/layout';
@import '../../assets/scss/breakpoint';
@import '../../assets/scss/color';
@import '../../assets/scss/typography';
.form {
  position: fixed;
  background: white;
  width: 100vw;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  top: #{$header-height};
  z-index: 9999;
  overflow: auto;
  @media #{$tablet} {
    height: calc(100vh);
    top: 0;
  }
}

.footer {
  @media #{$tablet} {
    display: flex !important;
  }
}
.header {
  height: #{$header-height-phone};
  line-height: #{$header-height-phone};
  display: none;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-bottom: solid 1px $grey-4;
  background-color: $grey-1;
  color: $white;
  padding: 0 20px;
  @media #{$tablet} {
    display: block !important;
  }
  h3 {
    margin: 0;
  }
}
.content {
  padding: 0 16px;
  h2 {
    @include cn-bold-28;
    color: $secondary-color;
  }
  .page {
    display: block;
    height: calc(100vh - #{$header-height} - #{$footer-height} - #{$footer-height-phone});

    overflow-y: auto;
    @media #{$tablet} {
      height: calc(100vh - #{$header-height-phone} - #{$footer-height-phone});
    }
    &.home {
      height: calc(100vh - #{$header-height} - #{$footer-height});
      @media #{$tablet} {
        height: calc(100vh - #{$header-height-phone} - 1px);
      }
    }
  }
  .titleDesc {
    @include cn-bold-20;
  }
  p {
    @include cn-regular-18;
  }
}

.btn {
  background: $secondary-color;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 0;
  color: $white;
  height: 40px;
  width: 192px;

  &.start {
    @include btn-bold;
    margin-bottom: 26px;
  }
}
