<div class="mx-auto my-5 position-relative" style="height: 0; width: 100%; padding-bottom: 100%">
  <div class="full-animation-container position-absolute">
    <div class="fond-degrade"></div>
    <div class="elmt-animation elmt-animation-0"></div>
    <div class="elmt-animation elmt-animation-1"></div>
    <div class="elmt-animation elmt-animation-2"></div>
    <div class="elmt-animation elmt-animation-3"></div>
    <div class="elmt-animation elmt-animation-4"></div>
    <div class="elmt-animation elmt-animation-5"></div>
    <div class="elmt-animation elmt-animation-6"></div>
    <div class="elmt-animation elmt-animation-7"></div>
    <div class="elmt-animation elmt-animation-8"></div>
    <div class="elmt-animation elmt-animation-9"></div>
    <div class="elmt-animation elmt-animation-10"></div>
    <div class="elmt-animation elmt-animation-11"></div>
    <div class="elmt-animation elmt-animation-12"></div>
    <div class="elmt-animation elmt-animation-13"></div>
    <div class="elmt-animation elmt-animation-14"></div>
    <div class="elmt-animation elmt-animation-15"></div>
    <div class="elmt-animation elmt-animation-16"></div>
    <div class="elmt-animation elmt-animation-17"></div>
    <div class="elmt-animation elmt-animation-18"></div>
    <div class="elmt-animation elmt-animation-19"></div>
    <div class="elmt-animation elmt-animation-20"></div>
  </div>
</div>
