<div fxLayout="column" fxLayoutAlign="center center">
  <table *ngIf="isClaimedStructure" aria-describedby="demands attachment results" class="results-tab">
    <thead>
      <th scope="col">Utilisateur</th>
      <th scope="col">Structure</th>
      <th scope="col">Options</th>
    </thead>
    <tbody>
      <tr *ngFor="let structure of demandsAttachment">
        <td>{{ structure.userEmail }}</td>
        <td>{{ structure.structureName }}</td>
        <td>
          <button (click)="acceptDemand(structure)">Valider</button
          ><button (click)="refuseDemand(structure)">Refuser</button>
        </td>
      </tr>
      <tr *ngIf="!demandsAttachment?.length">
        <td colspan="3">Aucune demande en attente</td>
      </tr>
    </tbody>
  </table>
</div>
