<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-5">
      Quelles sont vos
      <span class="text-primary">disponibilités</span>
      &nbsp;?
    </h1>
    <h5 class="text-center mb-4 mx-5 text-muted">Indiquez quel(s) jour(s) et à quelle(s) heure(s) vous serez disponible</h5>
    <form [formGroup]="orientationLayout.filterForm">
      <div class="accordion" id="accordionDisponibilite">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingDatePrecise">
            <button
              type="button"
              class="btn orientation-btn bg-light mb-3 p-3 rounded-0 d-flex position-relative w-100"
              aria-controls="collapseDatePrecise"
              [class.bg-white]="(collapseDatePrecise.isCollapsed$ | async) === false"
              [attr.aria-expanded]="collapseDatePrecise.isExpanded$ | async"
              (click)="collapseDatePrecise.toggle()">
              <span class="ri-circled bg-primary text-light fw-normal me-3">
                <i class="ri-calendar-todo-line"></i>
              </span>
              <span class="orientation-btn-label my-auto text-start">
                Je cherche des structures ouvertes à une date précise
              </span>
              <span class="ri-2x text-muted ms-auto me-3 end-0">
                <i
                  class="ri-information-line me-2 fw-normal"
                  role="button"
                  (click)="selectOrientationInformation(false); informationOrientationModal.toggle(); $event.stopPropagation(); $event.preventDefault()"></i>
                <i class="ri-add-line" *ngIf="collapseDatePrecise.isCollapsed$ | async; else: expanded"></i>
                <ng-template #expanded>
                  <i class="ri-subtract-line"></i>
                </ng-template>
              </span>
            </button>
          </h2>
          <app-collapse
            #collapseDatePrecise
            id="collapseDatePrecise"
            [state]="hasOpeningsHours ? 'expanded' : 'collapsed'"
            aria-labelledby="headingDatePrecise">
            <div class="accordion-body bg-light py-4">
              <app-opening-hours-form
                #openingHoursForm
                (selectOpeningHours)="onSelectOpeningHours($event)"
                [openingHours]="orientationLayout.filterForm.controls['horaires_ouverture'].value"></app-opening-hours-form>
              <div class="text-center mt-4">
                <button
                  type="button"
                  class="btn btn-secondary m-3"
                  (click)="openingHoursForm.onResetOpeningHoursForm(); collapseDatePrecise.toggle()">
                  Annuler
                  <i class="ri-close-line"></i>
                </button>
                <app-display-on-map-link
                  buttonStyle="primary"
                  [cartographieFeature]="features.get('cartographie')"
                  [lieuxMediationNumeriqueCount]="(orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0"
                  [queryParams]="route.queryParams">
                  Afficher les résultats
                </app-display-on-map-link>
              </div>
            </div>
          </app-collapse>
        </div>
      </div>
    </form>
    <ng-container *ngIf="collapseDatePrecise.isCollapsed$ | async">
      <app-text-separator class="px-3 my-5">OU</app-text-separator>
      <div class="text-center">
        <ng-container *ngIf="features.get('cartographie') as cartographie">
          <a
            *ngIf="cartographie.active"
            class="btn orientation-btn bg-light mb-3 p-3 rounded-0 d-flex position-relative"
            [class.disabled]="((orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0) === 0"
            [routerLink]="['/','cartographie']"
            queryParamsHandling="preserve">
            <span class="ri-circled bg-primary text-light fw-normal me-3">
              <i class="ri-road-map-line"></i>
            </span>
            <span class="orientation-btn-label my-auto text-start">
              J’affiche toutes les structures correspondant à ma recherche
            </span>
            <span class="ri-2x text-muted ms-auto me-3 end-0">
              <i
                class="ri-information-line me-2 fw-normal"
                role="button"
                (click)="selectOrientationInformation(true); informationOrientationModal.toggle(); $event.stopPropagation(); $event.preventDefault()"></i>
              <i class="ri-arrow-right-s-line"></i>
            </span>
          </a>
          <a
            *ngIf="!cartographie.active && cartographie.url"
            class="btn orientation-btn bg-light mb-3 p-3 rounded-0 d-flex position-relative"
            [class.disabled]="((orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0) === 0"
            [href]="cartographie.url + '?' + toQueryString($any(route.queryParams | async))"
            rel="keep-params">
            <span class="ri-circled bg-primary text-light fw-normal me-3">
              <i class="ri-road-map-line"></i>
            </span>
            <span class="orientation-btn-label my-auto text-start">
              J’affiche toutes les structures correspondant à ma recherche
            </span>
            <span class="ri-2x text-muted ms-auto me-3 end-0">
              <i
                class="ri-information-line me-2 fw-normal"
                role="button"
                (click)="selectOrientationInformation(true); informationOrientationModal.toggle(); $event.stopPropagation(); $event.preventDefault()"></i>
              <i class="ri-arrow-right-s-line"></i>
            </span>
          </a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<app-information-orientation-modal
  #informationOrientationModal
  [orientationInformation]="selectedOrientationInformation"
  (hideChange)="displayCartographieLink = false">
  <ng-container *ngIf="features.get('cartographie') as cartographie">
    <a
      *ngIf="cartographie.active && displayCartographieLink"
      [routerLink]="['/','cartographie']"
      queryParamsHandling="preserve"
      class="btn btn-primary"
      (click)="informationOrientationModal.close()">
      Afficher les résultats
      <i class="ri-arrow-right-s-line"></i>
    </a>
    <a
      *ngIf="!cartographie.active && displayCartographieLink"
      [href]="cartographie.url + '?' + toQueryString($any(route.queryParams | async))"
      class="btn btn-primary"
      (click)="informationOrientationModal.close()">
      Afficher les résultats
      <i class="ri-arrow-right-s-line"></i>
    </a>
  </ng-container>
</app-information-orientation-modal>
