<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="results">Résultat</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<div class="h-100 d-flex pt-5">
  <div class="w-100 my-auto">
    <h1 class="h2 text-center fw-bold mt-sm-5 mt-3">
      Quelles sont vos
      <span class="text-primary">disponibilités</span>
      &nbsp;?
    </h1>
    <p class="text-center fw-bold mb-sm-5 mb-4 text-muted">
      Indiquez quel(s) jour(s) et à quelle(s) heure(s) vous serez disponible
    </p>
    <form [formGroup]="orientationLayout.filterForm">
      <div class="accordion" id="accordionDisponibilite">
        <div class="accordion-item mb-3">
          <h2 class="accordion-header" id="headingDatePrecise">
            <button
              #collapseDatePreciseControl
              type="button"
              class="btn orientation-btn bg-light mb-3 px-lg-3 px-2 py-0 rounded-0 d-flex position-relative w-100"
              aria-controls="collapseDatePrecise"
              [class.bg-white]="(collapseDatePrecise.isCollapsed$ | async) === false"
              [attr.aria-expanded]="collapseDatePrecise.isExpanded$ | async"
              (click)="collapseDatePrecise.toggle()">
              <span class="ri-circled bg-primary text-light fw-normal me-3 my-auto d-sm-block d-none">
                <span role="img" class="ri-calendar-event-fill" aria-hidden="true"></span>
              </span>
              <span class="orientation-btn-label my-auto text-start">Je cherche des lieux ouverts à une date précise</span>
              <span class="ms-auto end-0 d-flex flex-column">
                <span
                  role="img"
                  class="ri-add-line ri-2x text-muted"
                  *ngIf="collapseDatePrecise.isCollapsed$ | async; else: expanded"
                  aria-hidden="true"></span>
                <ng-template #expanded>
                  <span role="img" class="ri-subtract-line ri-2x text-muted" aria-hidden="true"></span>
                </ng-template>
                <button
                  class="btn p-0 border-0"
                  (click)="informationOrientationModal.control.toggle($event); $event.stopPropagation(); $event.preventDefault()">
                  <<<<<<< Updated upstream
                  <span class="visually-hidden">Info</span>
                  <i class="ri-information-line fw-normal text-muted-dark ri-2x text-opacity-50" aria-hidden="true"></i>
                  =======
                  <span class="visually-hidden fw-bold">Info</span>
                  <span
                    role="img"
                    class="ri-information-line fw-normal text-muted-dark ri-2x text-opacity-50"
                    aria-hidden="true"></span>
                  >>>>>>> Stashed changes
                </button>
              </span>
            </button>
          </h2>
          <app-collapse
            #collapseDatePrecise
            [control]="collapseDatePreciseControl"
            [state]="hasOpeningsHours ? 'expanded' : 'collapsed'"
            aria-labelledby="headingDatePrecise">
            <fieldset class="accordion-body bg-light px-3 py-4">
              <legend class="visually-hidden">Filtres pour les horaires</legend>
              <app-opening-hours-form
                #openingHoursForm
                (selectOpeningHours)="onSelectOpeningHours($event)"
                [openingHours]="orientationLayout.filterForm.controls['horaires_ouverture'].value"></app-opening-hours-form>
              <div class="text-center mt-4">
                <button
                  type="button"
                  class="btn my-3 me-3 btn-secondary"
                  (click)="openingHoursForm.onResetOpeningHoursForm(); collapseDatePrecise.toggle()">
                  <span role="img" class="ri-arrow-left-s-line" aria-hidden="true"></span>
                  Précédent
                </button>
                <app-display-on-map-link
                  buttonStyle="primary"
                  [cartographieFeature]="features.get('cartographie')"
                  [lieuxMediationNumeriqueCount]="(orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0"
                  [queryParams]="route.queryParams">
                  Afficher les lieux
                </app-display-on-map-link>
              </div>
            </fieldset>
          </app-collapse>
        </div>
      </div>
    </form>
    <ng-container *ngIf="collapseDatePrecise.isCollapsed$ | async">
      <app-text-separator>OU</app-text-separator>
      <div class="text-center">
        <ng-container *ngIf="features.get('cartographie') as cartographie">
          <a
            *ngIf="cartographie.active"
            class="btn orientation-btn bg-light mb-3 p-lg-3 p-2 rounded-0 d-flex position-relative"
            [class.disabled]="((orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0) === 0"
            [routerLink]="['/','cartographie']"
            queryParamsHandling="preserve">
            <span class="ri-circled bg-primary text-light fw-normal me-3 d-sm-block d-none">
              <span role="img" class="ri-map-pin-2-line" aria-hidden="true"></span>
            </span>
            <span class="orientation-btn-label my-auto text-start">J’affiche tous les lieux correspondant à ma recherche</span>
            <span class="ms-auto me-3 end-0 d-flex">
              <span role="img" class="ri-arrow-right-s-line ri-2x text-muted my-auto" aria-hidden="true"></span>
            </span>
          </a>
          <a
            *ngIf="!cartographie.active && cartographie.url"
            class="btn orientation-btn bg-light mb-3 p-lg-3 p-2 rounded-0 d-flex position-relative"
            [class.disabled]="((orientationLayout.lieuxMediationNumeriqueCount$ | async) ?? 0) === 0"
            [href]="cartographie.url + '?' + toQueryString($any(route.queryParams | async))"
            rel="keep-params">
            <span class="ri-circled bg-primary text-light fw-normal me-3">
              <span role="img" class="ri-road-map-line" aria-hidden="true"></span>
            </span>
            <span class="orientation-btn-label my-auto text-start">J’affiche tous les lieux correspondant à ma recherche</span>
            <span class="ms-auto me-3 end-0 d-flex">
              <span role="img" class="ri-arrow-right-s-line ri-2x text-muted" aria-hidden="true"></span>
            </span>
          </a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<app-information-orientation-modal
  #informationOrientationModal
  [orientationInformation]="selectedOrientationInformation"></app-information-orientation-modal>
