<div *ngIf="openned" class="modalBackground">
  <div class="modal">
    <div class="contentModal" fxLayout="column" fxLayoutAlign="space-around start">
      <div class="form">
        <div class="modalTitle">
          <h3>
            Acceptez-vous que les informations de vos structures soient mises à disposition sur la plateforme
            data.grandlyon.com* ?
          </h3>
        </div>
        <form [formGroup]="consentForm" class="dataShareConsent">
          <app-radio-form
            *ngIf="dataConsentPendingStructures && dataConsentPendingStructures.length > 1"
            name="Toutes les structures"
            horizontal="true"
            (selectedEvent)="onRadioBtnChangeAll($event)"
            [events]="eventsSubject.asObservable()"
            layoutGap="8px"
            class="firstLine"
          ></app-radio-form>

          <div *ngFor="let structure of dataConsentPendingStructures">
            <app-radio-form
              name="{{ structure.structureName }}"
              horizontal="true"
              [selectedOption]="
                structure.dataShareConsentDate === undefined
                  ? null
                  : structure.dataShareConsentDate === null
                  ? false
                  : true
              "
              (selectedEvent)="onRadioBtnChangeStructure(structure._id, $event)"
              layoutGap="8px"
            ></app-radio-form>
          </div>

          <div class="footerModal" fxLayout="row" fxLayoutAlign="space-around center">
            <button
              (click)="onSubmit()"
              class="btn-primary"
              [disabled]="!isPageValid"
              [ngClass]="{ invalid: !isPageValid }"
            >
              Valider
            </button>
          </div>
        </form>

        <p class="informationEndForm">
          <span class="asterisk">*</span> La Métropole de Lyon, engagée pour la transparence de l’action publique et la
          valorisation de ses partenaires, encourage l’ouverture des données. Les données de votre structure seront
          publiées sur la plateforme
          <a href="https://data.grandlyon.com/" target="_blank">https://data.grandlyon.com/</a> sous la licence ouverte
          (open data) et seront donc librement accessibles et réutilisables. Vous pourrez modifier votre choix à tout
          moment, exercer vos droits d’accès et de modification, en le signifiant, par tout moyen à votre convenance,
          auprès de vos interlocuteurs de la Métropole de Lyon.
        </p>
      </div>
    </div>
  </div>
</div>
