@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/breakpoint';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/z-index';
@import '../../../../assets/scss/hyperlink';
@import '../radio-form/radio-form.component.scss';

.modalBackground .modal {
  max-width: 700px;
  @media #{$large-phone} {
    max-width: 95%;
  }
}
.modalTitle {
  display: flex;
  h3 {
    margin-top: 6%;
    width: 90%;
  }
}
h3 {
  @include cn-bold-26;
  color: $black;
  margin-top: 0;
}
.form {
  max-width: 90%;
  margin: 0 32px;
  margin-bottom: 8%;
}
.footerModal {
  button {
    &.invalid {
      opacity: 0.4;
    }
  }
}
.dataShareConsent {
  ::ng-deep button,
  ::ng-deep .name {
    font-size: $font-size-small;
    font-weight: normal;
    margin: 4px 0;
    height: 40px;
    ::ng-deep p {
      font-weight: normal !important;
    }
    @media #{$phone} {
      height: auto;
    }
  }
  ::ng-deep .name {
    padding: 0 10px;
  }
  ::ng-deep button {
    width: 162px;
    height: 40px;
  }
  ::ng-deep .firstLine {
    .name,
    button {
      background-color: $grey-4;
      &.selected {
        p {
          color: $black;
        }
      }
    }
  }
}
.informationEndForm {
  color: $grey-1;
  font-size: $font-size-xsmall;
  a {
    color: $blue;
    text-decoration: underline;
    font-weight: bold;
  }
}
