@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';

img {
  margin-bottom: 10px;
}

p {
  @include lato-bold-18;
  margin: 0;
}

div {
  border: 1px solid $grey-4;
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 24px;
  padding: 16px 25px;
  max-width: 185px;
  height: 135px;
  text-align: center;
}
