<div class="h-100 d-flex flex-column">
  <div #container class="list-group list-group-flush flex-grow-1 overflow-auto" tabindex="-1">
    <div
      #item
      *ngFor="let lieuMediationNumerique of lieuxMediationNumerique; trackBy: trackByLieuId"
      [attr.id]="lieuMediationNumerique.id"
      [class.list-group-item-hover]="hoverId === lieuMediationNumerique.id"
      class="list-group-item p-4">
      <app-mediation-numerique-list-item
        [lieuMediationNumerique]="lieuMediationNumerique"
        (showLabel)="showLabel.emit($event)"
        (enableHover)="enableHover.emit($event)"
        (disableHover)="disableHover.emit()"></app-mediation-numerique-list-item>
    </div>
  </div>
  <div class="bg-primary py-3 px-4 g-0 row">
    <div class="col-auto">
      <button class="btn btn-outline-light" (click)="print.emit()">
        <i class="ri-printer-line me-2"></i>
        <span>Imprimer la liste</span>
      </button>
    </div>
    <div class="col-auto ms-auto my-auto">
      <span class="d-flex align-items-center text-white me-auto" [ngPlural]="lieuxMediationNumerique.length">
        <ng-template ngPluralCase="=0">Aucun résultat</ng-template>
        <ng-template ngPluralCase="=1">1 résultat</ng-template>
        <ng-template ngPluralCase="other">{{ lieuxMediationNumerique.length }} résultats</ng-template>
      </span>
    </div>
  </div>
</div>
