<div class="h-100 d-flex flex-column">
  <div #container class="list-group list-group-flush flex-grow-1 overflow-auto" tabindex="-1">
    <div
      #item
      *ngFor="let lieuMediationNumerique of lieuxMediationNumerique; trackBy: trackByLieuId"
      [attr.id]="lieuMediationNumerique.id"
      [class.list-group-item-hover]="hoverId === lieuMediationNumerique.id"
      class="list-group-item p-4">
      <app-mediation-numerique-list-item
        [lieuMediationNumerique]="lieuMediationNumerique"
        (showLabel)="showLabel.emit($event)"
        (enableHover)="enableHover.emit($event)"
        (disableHover)="disableHover.emit()"></app-mediation-numerique-list-item>
    </div>
  </div>
  <div class="bg-primary py-3 px-4 g-0 row">
    <div class="col-auto">
      <ng-container *ngIf="orientationFeature">
        <a
          *ngIf="orientationFeature.active"
          class="btn btn-outline-light me-3"
          [routerLink]="['/', 'orientation']"
          queryParamsHandling="preserve">
          <i class="ri-equalizer-fill me-2 align-bottom"></i>
          <span>Modifier les critères d'orientation</span>
        </a>
        <a
          *ngIf="!orientationFeature.active && orientationFeature.url"
          class="btn btn-outline-light me-3"
          [href]="orientationFeature.url + '?' + toQueryString($any(route.queryParams | async))">
          <i class="ri-equalizer-fill me-2 align-bottom"></i>
          <span>Modifier les critères d'orientation</span>
        </a>
      </ng-container>
      <button class="btn btn-outline-light" (click)="print.emit()">
        <i class="ri-printer-line me-2 align-bottom"></i>
        <span>Imprimer les résultats</span>
      </button>
    </div>
    <div class="col-auto ms-auto my-auto">
      <span class="d-flex align-items-center text-white me-auto" [ngPlural]="lieuxMediationNumerique.length">
        <ng-template ngPluralCase="=0">Aucune structure trouvée</ng-template>
        <ng-template ngPluralCase="=1">1 Structure trouvée</ng-template>
        <ng-template ngPluralCase="other">{{ lieuxMediationNumerique.length }} Structures trouvées</ng-template>
      </span>
    </div>
  </div>
</div>
