<div class="h-100 d-flex flex-column">
  <div #container class="list-group list-group-flush flex-grow-1 overflow-auto" tabindex="-1">
    <h1 class="visually-hidden">Liste des lieux d'inclusion numérique</h1>
    <article
      #item
      *ngFor="let lieuMediationNumerique of lieuxMediationNumerique; trackBy: trackByLieuId"
      [attr.id]="lieuMediationNumerique.id"
      [class.list-group-item-hover]="hoverId === lieuMediationNumerique.id"
      class="list-group-item py-4 px-sm-4 px-3">
      <app-mediation-numerique-list-item
        [lieuMediationNumerique]="lieuMediationNumerique"
        (showLabel)="showLabel.emit($event)"
        (enableHover)="enableHover.emit($event)"
        (disableHover)="disableHover.emit()"></app-mediation-numerique-list-item>
    </article>
  </div>
  <div class="bg-primary py-3 px-4 g-0 row align-items-center">
    <div class="col-auto">
      <button class="btn btn-sm btn-outline-light" (click)="print.emit()">
        <i class="ri-printer-line me-2" aria-hidden="true"></i>
        Imprimer la liste
      </button>
    </div>
    <div class="col-auto">
      <i class="d-flex small text-white ms-3" [ngPlural]="lieuxMediationNumerique.length">
        <ng-template ngPluralCase="=0">Aucun résultat</ng-template>
        <ng-template ngPluralCase="=1">1 résultat</ng-template>
        <ng-template ngPluralCase="other">{{ lieuxMediationNumerique.length }} résultats</ng-template>
      </i>
    </div>
    <div class="col text-end d-block d-lg-none">
      <button class="btn btn-link link-light text-decoration-none px-0" (click)="cartographieLayout.toggleMapForSmallDevices()">
        Afficher la carte
        <i class="ri-arrow-right-s-line" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
