<div class="row g-0 bg-light p-3 d-print-none">
  <div class="col-sm-auto col-12">
    <a
      href="https://acceslibre.beta.gouv.fr/contrib/start/"
      class="btn btn-sm btn-secondary m-auto d-block"
      target="_blank"
      title="Renseigner l'accessibilité (nouvel onglet)"
      rel="noopener noreferrer">
      <span role="img" class="ri-edit-line me-1 text-right" aria-hidden="true"></span>
      <span>Renseigner l'accessibilité</span>
    </a>
  </div>
  <div class="col-sm col-12 row g-0 mt-1">
    <div class="col-6">
      <span role="img" class="ri-close-line me-1 ms-sm-2 ms-0" aria-hidden="true"></span>
      <em class="mt-1">Pas d'information</em>
    </div>
    <div class="col-6 text-end">
      <button
        #collapseAccesLibreControl
        class="btn btn-link text-decoration-none p-0"
        aria-controls="collapseAccesLibre"
        [class.collapsed]="collapseAccesLibre.isCollapsed$ | async"
        [attr.aria-expanded]="collapseAccesLibre.isExpanded$ | async"
        (click)="collapseAccesLibre.toggle()">
        <span class="ms-auto">
          <span
            *ngIf="collapseAccesLibre.isCollapsed$ | async"
            role="img"
            class="ri-information-line ri-xl text-muted-dark"
            aria-hidden="true"></span>
          <span
            *ngIf="collapseAccesLibre.isExpanded$ | async"
            role="img"
            class="ri-close-circle-fill ri-xl text-primary"
            aria-hidden="true"></span>
        </span>
      </button>
    </div>
  </div>
</div>
<app-collapse #collapseAccesLibre [control]="collapseAccesLibreControl" aria-labelledby="headingAccesLibre">
  <div class="accordion-body bg-light ps-3 p-2">
    <em class="small">
      <span class="d-block">
        Accès libre est une plateforme regroupant toutes les informations d’accessibilité des lieux ouverts au public.
      </span>
      Chaque utilisateur peut consulter, créer et modifier librement les informations d’un lieu.
    </em>
  </div>
</app-collapse>
