<div class="bg-light p-3 d-print-none d-flex">
  <div class="d-flex flex-grow-1 align-items-center">
    <div class="d-flex" *ngIf="accessibilite; else noAccessibilite">
      <a href="{{ accessibilite }}" class="btn btn-sm btn-secondary d-block" target="_blank" rel="noopener noreferrer">
        <i class="ri-wheelchair-line me-1 text-right" aria-hidden="true"></i>
        <span>Consulter l'accessibilité</span>
      </a>
      <div class="ps-3 d-flex mt-1 text-primary">
        <i class="ri-check-line me-1" aria-hidden="true"></i>
        <em>Informations renseignées</em>
      </div>
    </div>
    <ng-template #noAccessibilite>
      <div class="d-flex">
        <a
          href="https://acceslibre.beta.gouv.fr/contrib/start/"
          class="btn btn-sm btn-secondary d-block"
          target="_blank"
          rel="noopener noreferrer">
          <i class="ri-edit-line me-1 text-right" aria-hidden="true"></i>
          <span>Renseigner l'accessibilité</span>
        </a>
        <div class="ps-3 d-flex text-muted-dark align-items-baseline">
          <i class="ri-close-circle-fill me-1" aria-hidden="true"></i>
          <em class="mt-1">Pas d'information</em>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="d-flex align-items-center">
    <button
      class="btn btn-link p-3 text-decoration-none"
      aria-controls="collapseAccesLibre"
      [class.collapsed]="collapseAccesLibre.isCollapsed$ | async"
      [attr.aria-expanded]="collapseAccesLibre.isExpanded$ | async"
      (click)="collapseAccesLibre.toggle()">
      <img
        class="img-fluid me-2"
        [src]="assetsConfiguration.path + '/img/logo/acces-libre/acces-libre.svg'"
        alt="À propos du site accès libre" />
      <span class="ms-auto">
        <i
          *ngIf="collapseAccesLibre.isCollapsed$ | async"
          class="ri-information-line ri-xl text-muted-dark"
          aria-hidden="true"></i>
        <i
          *ngIf="collapseAccesLibre.isExpanded$ | async"
          class="ri-close-circle-fill ri-xl text-primary"
          aria-hidden="true"></i>
      </span>
    </button>
  </div>
</div>
<app-collapse #collapseAccesLibre id="collapseAccesLibre" aria-labelledby="headingAccesLibre">
  <div class="accordion-body bg-light ps-3 p-2">
    <em style="font-size: 0.85em">
      Accès libre est une plateforme regroupant toutes les informations d’accessibilité des lieux ouverts au public.
      <br />
      Chaque utilisateur peut consulter, créer et modifier librement les informations d’un lieu.
    </em>
  </div>
</app-collapse>
