<div class="d-print-none d-flex h-100 flex-column">
  <app-informations-generales
    class="p-4 sticky-top bg-primary text-white d-block"
    [id]="lieuMediationNumerique.id"
    [nom]="lieuMediationNumerique.nom"
    [typologie]="lieuMediationNumerique.typologies"
    [date]="lieuMediationNumerique.date_maj"
    [status]="lieuMediationNumerique.status"
    [source]="lieuMediationNumerique.source"
    (closeDetails)="closeDetails.emit(lieuMediationNumerique)"></app-informations-generales>
  <div class="position-relative">
    <app-boutons-action
      [siteWeb]="lieuMediationNumerique.contact?.site_web"
      [priseRdv]="lieuMediationNumerique.prise_rdv"
      (print)="print.emit()"
      (sendByEmail)="sendByEmailModal.toggle()"></app-boutons-action>
    <div class="border-top border-bottom d-xl-none" style="height: 275px" aria-hidden="true">
      <mgl-map
        *ngIf="lieuMediationNumerique.localisation as localisation"
        class="h-100 w-100 overflow-hidden"
        [style]="'https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json'"
        [interactive]="false"
        [attributionControl]="false"
        [zoom]="[14]"
        [center]="[localisation.longitude, localisation.latitude]">
        <app-lieu-mediation-numerique-markers
          *ngIf="localisation"
          [displayTooltip]="false"
          [lieuxMediationNumeriques]="[
            {
              id: lieuMediationNumerique.id,
              nom: lieuMediationNumerique.nom,
              labels_nationaux: lieuMediationNumerique.labels_nationaux,
              latitude: localisation.latitude,
              longitude: localisation.longitude
            }
          ]"></app-lieu-mediation-numerique-markers>
      </mgl-map>
    </div>
  </div>

  <ul class="list-group list-group-lg list-group-flush list-group-flush-at-edge flex-grow-1 mx-4">
    <li class="list-group-item">
      <app-informations-pratiques
        [adresse]="lieuMediationNumerique.adresse"
        [conditionsAcces]="lieuMediationNumerique.conditions_acces"
        [accessibilite]="lieuMediationNumerique.accessibilite"
        [courriel]="lieuMediationNumerique.contact?.courriel"
        [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
        [distance]="lieuMediationNumerique.distance"
        [status]="lieuMediationNumerique.status"></app-informations-pratiques>
    </li>
    <li
      class="list-group-item"
      *ngIf="lieuMediationNumerique.presentation?.detail || lieuMediationNumerique.presentation?.resume">
      <app-description
        [detail]="lieuMediationNumerique.presentation?.detail"
        [resume]="lieuMediationNumerique.presentation?.resume"></app-description>
    </li>
    <li class="list-group-item border-0">
      <app-accessibilite [accessibilite]="lieuMediationNumerique.accessibilite"></app-accessibilite>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4 mt-4">
          <app-horaires [horaires]="lieuMediationNumerique.horaires"></app-horaires>
        </div>
        <div class="col-md-8 mt-md-0 mt-4">
          <app-services [services]="lieuMediationNumerique.services"></app-services>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.aidants">
      <app-aidants [aidants]="lieuMediationNumerique.aidants"></app-aidants>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.modalites_accompagnement?.length">
      <app-modalites-accompagnement
        [modalitesAccompagnement]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.publics_accueillis?.length">
      <app-public-pris-en-charge [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
    </li>
    <li
      class="list-group-item"
      *ngIf="lieuMediationNumerique.labels_nationaux?.length || lieuMediationNumerique.labels_autres?.length">
      <app-labellisations
        [labelsNationaux]="lieuMediationNumerique.labels_nationaux"
        [labelsAutres]="lieuMediationNumerique.labels_autres"
        (showLabel)="showLabel.emit($event)"></app-labellisations>
    </li>
    <li *ngIf="!lieuIsFranceServices()" class="list-group-item d-flex">
      <button (click)="printSheetModal.toggle()" class="btn btn-primary btn-sm my-4 me-auto">
        <i class="ri ri-compass-3-line ms-1" aria-hidden="true"></i>
        Imprimer fiche d'orientation
      </button>
      <button (click)="reportAnError.emit()" class="btn btn-secondary btn-sm my-4">
        Signaler une erreur
        <i class="ri ri-error-warning-line ms-1" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
  <div class="bg-light px-4">
    <app-mise-a-jour [source]="lieuMediationNumerique.source"></app-mise-a-jour>
  </div>
</div>
<app-orientation-sheet-modal
  class="d-print-none"
  #printSheetModal
  [id]="lieuMediationNumerique.id"
  [nom]="lieuMediationNumerique.nom"
  [labels_nationaux]="lieuMediationNumerique.labels_nationaux"
  [adresse]="lieuMediationNumerique.adresse"
  [courriel]="lieuMediationNumerique.contact?.courriel"
  [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
  [siteWeb]="lieuMediationNumerique.contact?.site_web"
  [localisation]="lieuMediationNumerique.localisation"
  [filters]="filters"
  (print)="print.emit($event)"></app-orientation-sheet-modal>
<app-send-by-email-modal
  #sendByEmailModal
  class="d-print-none"
  (sendEmailTo)="sendEmailTo.emit({ email: $event, lieu: lieuMediationNumerique })"></app-send-by-email-modal>
