<div class="d-print-none d-flex flex-column">
  <app-informations-generales
    class="p-4 sticky-top z-index-over bg-primary text-white d-block"
    [id]="lieuMediationNumerique.id"
    [nom]="lieuMediationNumerique.nom"
    [typologie]="lieuMediationNumerique.typologies"
    [date]="lieuMediationNumerique.date_maj"
    [status]="lieuMediationNumerique.status"
    [sources]="lieuMediationNumerique.source"
    (closeDetails)="closeDetails.emit(lieuMediationNumerique)"
    (scrollToSource)="onScrollToSource()"></app-informations-generales>
  <div class="position-relative">
    <app-boutons-action
      [siteWeb]="lieuMediationNumerique.contact?.site_web"
      [priseRdv]="lieuMediationNumerique.prise_rdv"
      (openImpressionChoiceModal)="impressionChoiceModal.control.toggle($event)"
      (sendByEmail)="sendByEmailModal.control.toggle($event)"></app-boutons-action>
    <div class="p-4 bg-tertiary d-flex align-items-center" *ngIf="lieuMediationNumerique.prive">
      <span class="flex-grow-1">Attention, cette structure n'accueille pas de public !</span>
      <button type="button" class="btn" aria-label="Revenir à la liste" (click)="closeDetails.emit(lieuMediationNumerique)">
        <span role="img" class="ri-close-circle-line ri-xl" aria-hidden="true"></span>
      </button>
    </div>
    <div class="border-top border-bottom d-xl-none" style="height: 275px" aria-hidden="true">
      <mgl-map
        *ngIf="lieuMediationNumerique.localisation as localisation"
        class="h-100 w-100 overflow-hidden"
        [style]="'https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json'"
        [interactive]="false"
        [attributionControl]="false"
        [zoom]="[14]"
        [center]="[localisation.longitude, localisation.latitude]">
        <app-lieu-mediation-numerique-markers
          *ngIf="localisation"
          [displayTooltip]="false"
          [lieuxMediationNumeriqueClusters]="[
            {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [lieuMediationNumerique.localisation.longitude, lieuMediationNumerique.localisation.latitude]
              },
              properties: {
                id: lieuMediationNumerique.id,
                nom: lieuMediationNumerique.nom,
                labels_nationaux: lieuMediationNumerique.labels_nationaux
              }
            }
          ]"></app-lieu-mediation-numerique-markers>
      </mgl-map>
    </div>
  </div>

  <ul class="list-group list-group-lg list-group-flush list-group-flush-at-edge flex-grow-1 mx-4">
    <li class="list-group-item">
      <app-informations-pratiques
        [adresse]="lieuMediationNumerique.adresse"
        [conditionsAcces]="lieuMediationNumerique.conditions_acces"
        [accessibilite]="lieuMediationNumerique.accessibilite"
        [courriel]="lieuMediationNumerique.contact?.courriel"
        [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
        [distance]="lieuMediationNumerique.distance"
        [status]="lieuMediationNumerique.status"></app-informations-pratiques>
    </li>
    <li class="list-group-item">
      <div class="row mb-5">
        <ng-container *ngIf="lieuMediationNumerique.horaires; else noOpeningHours">
          <div class="col-md-6 mt-4">
            <app-horaires [horaires]="lieuMediationNumerique.horaires" sousTitre="Cette semaine" weekOffset="0"></app-horaires>
          </div>
        </ng-container>
        <ng-template #noOpeningHours>
          <div class="col-md-6 mt-4 d-flex justify-content-center align-items-center text-center">
            <span class="d-block">Les Horaires de ce lieu</span>
            sont inconnus
          </div>
        </ng-template>
        <div class="col-md-6 mt-md-0 mt-4 d-flex align-items-center justify-content-center">
          <div>
            <app-description
              [detail]="lieuMediationNumerique.presentation?.detail"
              [resume]="lieuMediationNumerique.presentation?.resume"></app-description>
          </div>
        </div>
      </div>
      <ng-container *ngIf="lieuMediationNumerique.full_horaires">
        <app-collapse #collapseHorairesDetaille [control]="collapseHorairesDetailleControl">
          <li class="list-group-item border-0 border-top">
            <div class="row">
              <h2 class="h5 my-3 d-print-none fw-bold text-muted">Horaires détaillées</h2>
              <div
                class="col-md-6 mt-4"
                *ngFor="let weekHoraires of lieuMediationNumerique.full_horaires; let weekOffset = index">
                <app-horaires [horaires]="weekHoraires" [weekOffset]="weekOffset + 1"></app-horaires>
              </div>
            </div>
          </li>
        </app-collapse>
        <div class="my-3">
          <small *ngIf="collapseHorairesDetaille.isCollapsed$ | async" class="d-flex justify-content-center text-primary my-1">
            <span role="img" class="ri ri-error-warning-line ms-2 text-primary" aria-hidden="true"></span>
            Attention, les horaires de cette structure varient en fonction des semaines
          </small>
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-sm btn-secondary my-2"
              #collapseHorairesDetailleControl
              aria-controls="collapseHorairesDetaille"
              [attr.aria-expanded]="collapseHorairesDetaille.isExpanded$ | async"
              (click)="collapseHorairesDetaille.toggle()">
              {{ (collapseHorairesDetaille.isCollapsed$ | async) ? 'Afficher tout les horaires' : 'Réduire les horaires' }}
            </button>
          </div>
        </div>
      </ng-container>
    </li>
    <li class="list-group-item border-0">
      <app-services [services]="lieuMediationNumerique.services"></app-services>
    </li>
    <li class="list-group-item border-0" *ngIf="lieuMediationNumerique.accessibilite === undefined">
      <app-accessibilite [accessibilite]="lieuMediationNumerique.accessibilite"></app-accessibilite>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.aidants">
      <app-aidants [aidants]="lieuMediationNumerique.aidants"></app-aidants>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.modalites_accompagnement?.length">
      <app-modalites-accompagnement
        [modalitesAccompagnement]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.publics_accueillis?.length">
      <app-public-pris-en-charge [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
    </li>
    <li
      class="list-group-item"
      *ngIf="lieuMediationNumerique.labels_nationaux?.length || lieuMediationNumerique.labels_autres?.length">
      <app-labellisations
        [labelsNationaux]="lieuMediationNumerique.labels_nationaux"
        [labelsAutres]="lieuMediationNumerique.labels_autres"
        (showLabel)="showLabel.emit($event)"
        (showLabelInvokingContext)="showLabelInvokingContext.emit($event)"></app-labellisations>
    </li>
    <li class="list-group-item">
      <div class="d-flex">
        <h2 class="h5 text-muted text-uppercase mt-1 flex-grow-1">Une erreur sur les données ?</h2>
        <button (click)="erreurFormModal.control.toggle($event)" class="btn btn-secondary btn-sm m-auto">
          <i class="ri ri-alert-line ms-1 fw-normal" aria-hidden="true"></i>
          Signaler une erreur
        </button>
      </div>
    </li>
  </ul>
  <div class="bg-light p-4">
    Vous travaillez dans cette structure ou êtes habilités à mettre à jour les données de cette fiche ?
    <br />
    Si besoin, nous organisons des webinaires mensuels pour vous accompagner dans cette mise à jour.
    <div #source class="mt-2 row g-3">
      <div class="col-sm-6 col-12">
        <app-source-footer [sources]="lieuMediationNumerique.source"></app-source-footer>
      </div>
      <div class="col-sm-6 col-12">
        <app-webinaire></app-webinaire>
      </div>
    </div>
  </div>
  <div class="bg-white py-4">
    <div class="d-flex ms-4 p-0">
      <button
        (click)="impressionChoiceModal.control.toggle($event); onPrintFromBandeau()"
        class="btn btn-primary btn-sm my-auto">
        <span role="img" class="ri-printer-line me-2 fw-normal" aria-hidden="true"></span>
        Imprimer
      </button>
    </div>
  </div>
  <div class="bg-primary p-3">
    <button class="btn text-white fw-normal" (click)="closeDetails.emit(lieuMediationNumerique)">
      <span role="img" class="ri-arrow-left-s-line" aria-hidden="true"></span>
      Revenir à la liste
    </button>
  </div>
</div>
<app-impression-choice-modal
  (orientationSheetModalModal)="orientationSheetModal.control.toggle($event)"
  (print)="print.emit()"
  class="d-print-none"
  #impressionChoiceModal></app-impression-choice-modal>
<app-erreur-form-modal
  class="d-print-none"
  #erreurFormModal
  [erreursReportFormGroup]="erreursReportFormGroup"
  (reportAnError)="reportAnError.emit()"></app-erreur-form-modal>
<app-orientation-sheet-modal
  class="d-print-none"
  #orientationSheetModal
  [id]="lieuMediationNumerique.id"
  [nom]="lieuMediationNumerique.nom"
  [labels_nationaux]="lieuMediationNumerique.labels_nationaux"
  [adresse]="lieuMediationNumerique.adresse"
  [courriel]="lieuMediationNumerique.contact?.courriel"
  [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
  [siteWeb]="lieuMediationNumerique.contact?.site_web"
  [localisation]="lieuMediationNumerique.localisation"
  [filters]="filters"
  (print)="print.emit($event)"></app-orientation-sheet-modal>
<app-send-by-email-modal
  #sendByEmailModal
  class="d-print-none"
  (sendEmailTo)="sendEmailTo.emit({ email: $event, lieu: lieuMediationNumerique })"></app-send-by-email-modal>
