<div class="lieux-mediation-numerique-details-print d-flex flex-column border-3 overflow-hidden">
  <h3 class="mb-3 d-none d-print-block">
    <ng-container *ngIf="orientationSheetForm; else noOrientationSheetFormTitle">
      <i class="ri-account-pin-circle-fill me-2" aria-hidden="true"></i>
      Fiche d'orientation
    </ng-container>
    <ng-template #noOrientationSheetFormTitle>
      <i class="ri-file-text-line me-2" aria-hidden="true"></i>
      Fiche lieu
    </ng-template>
  </h3>
  <div class="map-container" aria-hidden="true">
    <div class="border-top" style="height: 250px">
      <mgl-map
        *ngIf="lieuMediationNumerique.localisation"
        class="h-100 w-100 overflow-hidden d-none d-print-block"
        [style]="assetsConfiguration.path + '/data/map-style.json'"
        [interactive]="false"
        [attributionControl]="false"
        [zoom]="[17]"
        [center]="[lieuMediationNumerique.localisation.longitude, lieuMediationNumerique.localisation.latitude]">
        <app-lieu-mediation-numerique-markers
          *ngIf="lieuMediationNumerique.localisation"
          [lieuxMediationNumeriques]="[
            {
              id: lieuMediationNumerique.id,
              nom: lieuMediationNumerique.nom,
              labels_nationaux: lieuMediationNumerique.labels_nationaux,
              latitude: lieuMediationNumerique.localisation.latitude,
              longitude: lieuMediationNumerique.localisation.longitude
            }
          ]"></app-lieu-mediation-numerique-markers>
      </mgl-map>
    </div>
  </div>
  <div class="d-none d-print-flex flex-grow-1 row mt-3 border-bottom pb-3">
    <div class="col-5 bg-light">
      <div class="h-100 d-flex flex-column justify-content-between p-3">
        <div>
          <small class="text-muted fw-bold">Lieu accueillant</small>
          <br />
          <h1 class="d-none d-print-block h4 fw-bold">{{ lieuMediationNumerique.nom }}</h1>
          <small class="text-muted fw-bold">{{ lieuMediationNumerique.adresse }}</small>
        </div>
        <app-horaires [horaires]="lieuMediationNumerique.horaires"></app-horaires>
        <div class="lh-1 text-muted border-2">
          <div class="mt-3 d-flex align-items-center" *ngIf="lieuMediationNumerique.contact?.telephone">
            <i class="ri ri-lg ri-phone-line border-end pe-2 me-2" aria-hidden="true"></i>
            <small>
              Téléphone
              <br />
              <b class="text-body">{{ lieuMediationNumerique.contact?.telephone ?? '' | phone }}</b>
            </small>
          </div>
          <div class="mt-3 d-flex align-items-center" *ngIf="lieuMediationNumerique.contact?.courriel">
            <span role="img" class="ri ri-lg ri-mail-line border-end pe-2 me-2" aria-hidden="true"></span>
            <small>
              Mail
              <br />
              <b class="text-body text-break">{{ lieuMediationNumerique.contact?.courriel }}</b>
            </small>
          </div>
          <div class="mt-3 d-flex align-items-center" *ngIf="lieuMediationNumerique.contact?.site_web">
            <span role="img" class="ri ri-external-link-line ri-lg ri-link-line border-end pe-2 me-2" aria-hidden="true"></span>
            <small>
              Site
              <br />
              <b class="text-body text-break">{{ lieuMediationNumerique.contact?.site_web }}</b>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 my-auto">
      <div *ngIf="orientationSheetForm?.usager as usager; else noOrientationSheetForm">
        <small class="fw-bold text-muted">Informations sur le bénéficiaire</small>
        <div class="h4 fw-bold text-break">{{ usager.firstname }} {{ usager.lastname }}</div>
        <div class="small text-break mb-4" *ngIf="usager.details">
          {{ usager.details }}
        </div>
        <div *ngIf="filters?.service || filters?.publics_accueillis?.length || filters?.modalites_accompagnement?.length">
          <small class="fw-bold text-muted">Objet du rendez-vous</small>
          <div>
            <span class="badge rounded-pill text-bg-light py-1 fw-normal" *ngIf="filters?.service">
              {{ filters?.service }}
            </span>
            <span
              class="badge rounded-pill text-bg-light py-1 fw-normal"
              *ngFor="let public_accueilli of filters?.publics_accueillis ?? []">
              {{ public_accueilli }}
            </span>
            <span
              class="badge rounded-pill text-bg-light py-1 fw-normal"
              *ngFor="let modaliteAccompagnement of filters?.modalites_accompagnement ?? []">
              {{ modaliteAccompagnement }}
            </span>
          </div>
        </div>
      </div>
      <ng-template #noOrientationSheetForm>
        <div
          class="mb-3 small"
          *ngIf="lieuMediationNumerique.presentation?.detail || lieuMediationNumerique.presentation?.resume">
          <div class="fw-bold text-muted mb-2">Description du lieu</div>
          <app-description
            [detail]="lieuMediationNumerique.presentation?.detail"
            [resume]="lieuMediationNumerique.presentation?.resume"></app-description>
        </div>
        <div class="mb-3">
          <app-services [services]="lieuMediationNumerique.services"></app-services>
        </div>
        <div *ngIf="lieuMediationNumerique.modalites_accompagnement || lieuMediationNumerique.publics_accueillis">
          <div class="small fw-bold text-muted mb-2">Caractéristiques du lieu</div>
          <app-modalites-accompagnement
            [modalitesAccompagnement]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
          <app-public-pris-en-charge
            [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="d-none d-print-block">
    <div class="d-flex mt-3">
      <img
        class="w-25"
        *ngIf="brandConfiguration.logoAvecTexte; else brandLogo"
        [src]="brandConfiguration.logoAvecTexte"
        alt="" />
      <ng-template #brandLogo>
        <img class="w-25" *ngIf="brandConfiguration.logo" [src]="brandConfiguration.logo" alt="" />
      </ng-template>
      <div *ngIf="orientationSheetForm?.prescripteur as prescripteur" class="ms-auto border-start border-1">
        <b>Orientation Réalisée par :</b>
        <br />
        {{ prescripteur.firstname }} {{ prescripteur.lastname }}
      </div>
    </div>
  </div>
</div>
