<div class="d-print-none h-100 d-flex flex-column">
  <app-informations-generales
    class="p-4 sticky-top bg-primary text-white d-block"
    [id]="lieuMediationNumerique.id"
    [nom]="lieuMediationNumerique.nom"
    [typologie]="lieuMediationNumerique.typologies"
    [date]="lieuMediationNumerique.date_maj"
    [status]="lieuMediationNumerique.status"
    [source]="lieuMediationNumerique.source"></app-informations-generales>
  <div class="bg-light position-relative">
    <app-boutons-action
      [siteWeb]="lieuMediationNumerique.contact?.site_web"
      [priseRdv]="lieuMediationNumerique.prise_rdv"
      (print)="printDetails()"
      (orientationSheet)="orientationSheetModal.toggleOrientationSheetModal()"></app-boutons-action>
  </div>
  <ul class="list-group list-group-lg list-group-flush list-group-flush-at-edge flex-grow-1 mx-4">
    <li class="list-group-item">
      <app-informations-pratiques
        [adresse]="lieuMediationNumerique.adresse"
        [conditionsAcces]="lieuMediationNumerique.conditions_acces"
        [accessibilite]="lieuMediationNumerique.accessibilite"
        [courriel]="lieuMediationNumerique.contact?.courriel"
        [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
        [distance]="lieuMediationNumerique.distance"></app-informations-pratiques>
    </li>
    <li
      class="list-group-item"
      *ngIf="lieuMediationNumerique.presentation?.detail || lieuMediationNumerique.presentation?.resume">
      <app-description
        [detail]="lieuMediationNumerique.presentation?.detail"
        [resume]="lieuMediationNumerique.presentation?.resume"></app-description>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4 mt-4">
          <app-horaires [horaires]="lieuMediationNumerique.horaires"></app-horaires>
        </div>
        <div class="col-md-8 mt-md-0 mt-4">
          <app-services [services]="lieuMediationNumerique.services"></app-services>
        </div>
      </div>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.aidants">
      <app-aidants [aidants]="lieuMediationNumerique.aidants"></app-aidants>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.modalites_accompagnement?.length">
      <app-modalites-accompagnement
        [modalitesAccompagnement]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
    </li>
    <li class="list-group-item" *ngIf="lieuMediationNumerique.publics_accueillis?.length">
      <app-public-pris-en-charge [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
    </li>
    <li
      class="list-group-item"
      *ngIf="lieuMediationNumerique.labels_nationaux?.length || lieuMediationNumerique.labels_autres?.length">
      <app-labellisations
        [labelsNationaux]="lieuMediationNumerique.labels_nationaux"
        [labelsAutres]="lieuMediationNumerique.labels_autres"></app-labellisations>
    </li>
  </ul>
  <div *ngIf="lieuMediationNumerique.contact?.courriel" class="bg-light p-4 text-end">
    <a href="mailto:{{ lieuMediationNumerique.contact?.courriel }}" class="btn btn-secondary btn-sm">
      Signaler une erreur
      <i class="ri ri-error-warning-line ms-1 align-bottom"></i>
    </a>
  </div>
</div>
<app-orientation-sheet-modal
  class="d-print-none"
  #orientationSheetModal
  [id]="lieuMediationNumerique.id"
  [nom]="lieuMediationNumerique.nom"
  [labels_nationaux]="lieuMediationNumerique.labels_nationaux"
  [adresse]="lieuMediationNumerique.adresse"
  [courriel]="lieuMediationNumerique.contact?.courriel"
  [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
  [siteWeb]="lieuMediationNumerique.contact?.site_web"
  [localisation]="lieuMediationNumerique.localisation"></app-orientation-sheet-modal>
