<a
  *ngFor="let serviceItem of serviceItems"
  routerLink="../localisation"
  queryParamsHandling="merge"
  [queryParams]="{ service: serviceItem.value }"
  class="btn orientation-btn bg-light mb-3 px-lg-3 px-2 py-0 rounded-0 d-flex position-relative"
  (click)="selectServiceValue.emit(serviceItem.value)">
  <span
    class="position-absolute top-0 start-0 z-index-over-base ms-lg-4 mt-sm-4 ms-sm-3 mt-1 ms-1 translate-middle square d-flex text-center small bg-secondary text-primary border border-primary rounded-circle"
    *ngIf="serviceItem.value === selectedServiceItem">
    <span class="visually-hidden">Service sélectionné</span>
    <span role="img" class="ri-check-line m-auto" aria-hidden="true"></span>
  </span>
  <span class="ri-circled bg-primary text-light fw-normal me-3 mt-3 d-sm-block d-none">
    <span role="img" [ngClass]="serviceItem.icon" aria-hidden="true"></span>
  </span>
  <span class="text-start py-lg-3 py-2">
    <span class="orientation-btn-label">{{ serviceItem.label }}</span>
    <br />
    <i class="small text-muted-dark">{{ serviceItem.description }}</i>
  </span>
  <span class="ms-auto d-flex flex-column">
    <span role="img" class="ri-arrow-right-s-line text-muted-dark ri-2x mb-auto" aria-hidden="true"></span>
    <button
      class="btn btn-link p-0 text-decoration-none"
      (click)="
        displayInformations.emit($any(serviceItem.value));
        displayInformationsInvokingContext.emit($event);
        $event.stopPropagation();
        $event.preventDefault()
      ">
      <span class="visually-hidden">Info</span>
      <span role="img" class="ri-information-line fw-normal text-muted-dark ri-2x text-opacity-50" aria-hidden="true"></span>
    </button>
  </span>
</a>
