<div class="d-flex h-100 bg-light">
  <div class="d-flex flex-column w-100">
    <div class="container mt-5 mb-4">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a
            class="btn btn-secondary mx-2"
            [routerLink]="['/', 'orientation', 'besoin']"
            routerLinkActive="active active-primary"
            ariaCurrentWhenActive="page">
            Besoin
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-secondary mx-2"
            [routerLink]="['/', 'orientation', 'localisation']"
            routerLinkActive="active active-primary"
            ariaCurrentWhenActive="page">
            Localisation
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-secondary mx-2"
            [routerLink]="['/', 'orientation', 'specificite']"
            routerLinkActive="active active-primary"
            ariaCurrentWhenActive="page">
            Spécificité
          </a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-secondary mx-2"
            [routerLink]="['/', 'orientation', 'date']"
            routerLinkActive="active active-primary"
            ariaCurrentWhenActive="page">
            Date
          </a>
        </li>
      </ul>
    </div>
    <div class="container bg-white shadow-sm mb-5 overflow-hidden flex-grow-1" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
