@import '../../assets/scss/color';

.selector {
  margin-bottom: 20px;
  .option {
    margin-right: 30px;
  }
}

.results-tab {
  margin-bottom: 20px;
}

.results-column {
  width: 30%;
}

.incomplete {
  color: $red;
}
