<ng-container *ngIf="publicsAccueillis">
  <div class="d-print-none">
    <h2 class="h5 text-muted text-uppercase mb-3">Propriété public</h2>
    <span
      class="badge rounded-pill text-bg-light p-2 me-2 mb-2 fs-6 overflow-hidden"
      style="max-width: 400px; text-overflow: ellipsis"
      *ngFor="let publicAccueilli of publicsAccueillis">
      <span class="opacity-75">{{ publicAccueilli }}</span>
    </span>
  </div>
  <div class="d-none d-print-block">
    <span class="badge rounded-pill text-bg-light py-1 fw-normal" *ngFor="let publicAccueilli of publicsAccueillis">
      {{ publicAccueilli }}
    </span>
  </div>
</ng-container>
