<div class="text-center d-flex flex-column h-100">
  <div class="mt-5">
    <img *ngIf="brandConfiguration.logo" [src]="brandConfiguration.logo" alt="" />
    <h1 class="h2 mb-3">
      Bienvenue sur la cartographie
      <span class="text-primary">{{ brandConfiguration.name }}</span>
    </h1>
    <p class="lead">
      Vous rencontrez un problème lié au numérique ?
      <br />
      Des structures sont à votre disposition sur le territoire pour répondre à votre besoin,
      <br />
      vous pourrez les localiser en quelques minutes grâce à notre outil d'orientation.
    </p>
    <a class="btn btn-primary my-4" [routerLink]="['besoin']">Démarrer l'orientation</a>
  </div>
</div>
