<ng-container *ngIf="formType === formTypeEnum.account && step === accountFormStepEnum.confirmEmailSentInfo">
  <div class="information-step-container no-max-width">
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#emailVerification'"></use>
    </svg>
    <p>
      Un email vous a été envoyé<br />
      afin de finaliser votre inscription
    </p>
  </div>
</ng-container>
<ng-container *ngIf="formType === formTypeEnum.profile && step === profileFormStepEnum.profileBeginningInfo">
  <div fxLayout="column" fxLayoutGap="18px" class="information-step-container profile-skip">
    <p>
      Pour compléter votre profil,<br />
      nous aimerions vous poser quelques questions
    </p>
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#profileSkip'"></use>
    </svg>
    <app-navigation-buttons (goNext)="nextPage()"></app-navigation-buttons>
  </div>
</ng-container>
<ng-container *ngIf="formType === formTypeEnum.structure && step === structureFormStepEnum.mailSentInfo">
  <div class="information-step-container structure-display">
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#emailVerification'"></use>
    </svg>
    <p>
      Un message a été envoyé aux membres<br />
      de la structure :<br />
    </p>
    <span>{{ structureName }}</span>
  </div>
</ng-container>
<ng-container *ngIf="formType === formTypeEnum.structure && step === structureFormStepEnum.structureFormTime">
  <div class="information-step-container structure-time no-max-width">
    <h3>
      Nous vous proposons de prendre 10 minutes afin de renseigner les informations de la structure et la créer sur
      Rés’in.
    </h3>
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#formTime'"></use>
    </svg>
    <p>Informations dont il faut vous munir :</p>
    <ul>
      <li>les coordonnées de la structure</li>

      <li>les horaires d’ouverture</li>

      <li>la liste des formations dispensées dans la structure (optionnel)</li>
    </ul>
  </div>
</ng-container>
<ng-container
  *ngIf="formType === formTypeEnum.structure && step === structureFormStepEnum.structureCreationFinishedInfo"
>
  <div class="structureCreated no-max-width">
    <h3>La structure est désormais référencée sur Rés’in.</h3>
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#structureCreated'"></use>
    </svg>
    <p *ngIf="hasPersonalOffer">
      Les prochaines questions concernent les services que vous dispensez en tant qu’intervenant dans cette structure.
    </p>
  </div>
</ng-container>
<ng-container
  *ngIf="formType === formTypeEnum.personaloffer && step === personalOfferFormStep.personalOfferFinishedInfo"
>
  <div class="information-step-container profile-updated no-max-width">
    <h3>Merci, les informations de votre profil ont été mises à jour</h3>
    <svg aria-hidden="true">
      <use [attr.xlink:href]="'assets/form/sprite.svg#profileUpdated'"></use>
    </svg>
    <div class="btn">
      <app-button [style]="buttonTypeEnum.Primary" [text]="'Voir mon compte'" [iconType]="'form'" (action)="nextPage()">
      </app-button>
    </div>
  </div>
</ng-container>
