<div class="container">
  <div class="border-bottom p-3" *ngIf="lieuMediationNumerique.types_accompagnement as types_accompagnement">
    <div class="d-flex justify-content-center align-items-center my-3">
      <div *ngFor="let type of types_accompagnement" class="col-3 flex-column d-flex me-2">
        <div *ngFor="let typeAccompagnement of typesAccompagnement">
          <div *ngIf="typeAccompagnement.title === type.toLowerCase()">
            <span class="d-flex justify-content-center">
              <i class="{{ typeAccompagnement.icon }} ri-xl bg-light rounded-circle p-3"></i>
            </span>
            <p class="my-3 text-center">{{ typeAccompagnement.title }}</p>
            <p class="my-3 text-info text-center" style="font-size: 14px">
              {{ typeAccompagnement.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
