<div>
  <div *ngIf="copiedDayName === day.name" class="grey-rounded-border">
    <app-svg-icon [type]="'ico'" [icon]="'cancel'" [iconColor]="'currentColor'" (click)="cancel()"></app-svg-icon>
  </div>

  <div *ngIf="copiedDayName !== day.name && copiedDayName.length > 0" class="grey-rounded-border">
    <app-svg-icon [type]="'ico'" [icon]="'paste'" [iconColor]="'currentColor'" (click)="paste(day)"></app-svg-icon>
  </div>

  <div *ngIf="!copiedDayName" class="grey-rounded-border">
    <app-svg-icon [type]="'ico'" [icon]="'copy'" [iconColor]="'currentColor'" (click)="copy(day)"></app-svg-icon>
  </div>
</div>
