@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/typography';

.grey-rounded-border {
  border: 1px solid $grey-4;
  box-sizing: border-box;
  border-radius: 22px;
  @include lato-regular-14;
  color: $grey-2;
  display: flex;
  justify-content: center;
  width: 40px;
}
