@import '../../../../assets/scss/color';
.icon {
  display: inline-block;
  height: 2em;
  width: 1.5em;
  &.icon-32 {
    width: 2em;
  }
  &.icon-75 {
    width: 4.688em;
  }
  &.grey {
    fill: $grey-3;
    stroke: $grey-3;
  }
  &.grey-1 {
    fill: $grey-1;
    stroke: $grey-1;
  }
}

svg {
  // Scale the SVG to cover the whole app-icon container.

  top: 0.125em;
  position: relative;
}
