<form [formGroup]="structureForm" *ngIf="structureForm" (keyup.enter)="isPageValid && !isEditMode ? nextPage() : null">
  <div class="title">
    <h3>Comment vous trouver la structure sur internet&nbsp;?</h3>
    <p class="notRequired">Facultatif</p>
  </div>
  <div class="collapse" [ngClass]="{ notCollapsed: !showWebsite }">
    <div fxLayout="column">
      <div class="collapseHeader" fxLayout="row" fxLayoutAlign=" center" (click)="toggleWebSite()">
        <div class="titleCollapse">
          <p [ngClass]="{ show: showWebsite, hide: !showWebsite }" class="no-margin">J'ajoute un site web</p>
          <p [ngClass]="{ show: !showWebsite, hide: showWebsite }" class="no-margin">Je retire un site web</p>
        </div>
        <div class="logo">
          <svg class="show" aria-hidden="true">
            <use [attr.xlink:href]="'assets/form/sprite.svg#show'"></use>
          </svg>
          <svg class="hide" aria-hidden="true">
            <use [attr.xlink:href]="'assets/form/sprite.svg#hide'"></use>
          </svg>
        </div>
      </div>
      <div *ngIf="showWebsite" class="inputSection">
        <div class="form-group website" fxLayout="column">
          <label for="website">Adresse du site web</label>
          <div fxLayout="row" fxLayoutGap="7px">
            <input
              type="text"
              placeholder="resin.grandlyon.com"
              (input)="setValidationsForm()"
              formControlName="website"
              class="form-input"
            />
            <app-svg-icon
              *ngIf="structureForm.get('website').valid && structureForm.get('website').value"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'validate'"
              class="validationIcon"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="structureForm.get('website').invalid"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'notValidate'"
              class="validationIcon"
            ></app-svg-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" [ngClass]="{ notCollapsed: !showSocialNetwork }">
    <div fxLayout="column">
      <div class="collapseHeader" fxLayout="row" fxLayoutAlign=" center" (click)="toggleSocialNetwork()">
        <div class="titleCollapse">
          <p [ngClass]="{ show: showSocialNetwork, hide: !showSocialNetwork }" class="no-margin">
            J’ajoute les réseaux sociaux
          </p>
          <p [ngClass]="{ show: !showSocialNetwork, hide: showSocialNetwork }" class="no-margin">
            Je retire des réseaux sociaux
          </p>
        </div>
        <div class="logo">
          <svg class="show" aria-hidden="true">
            <use [attr.xlink:href]="'assets/form/sprite.svg#show'"></use>
          </svg>
          <svg class="hide" aria-hidden="true">
            <use [attr.xlink:href]="'assets/form/sprite.svg#hide'"></use>
          </svg>
        </div>
      </div>
      <div *ngIf="showSocialNetwork" class="inputSection">
        <div class="form-group facebook">
          <div fxLayout="row" fxLayoutGap="7px">
            <svg class="facebook" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#facebook'"></use>
            </svg>
            <input
              type="text"
              (input)="setValidationsForm()"
              placeholder="facebook.com/resin"
              formControlName="facebook"
              class="form-input withIcon"
            />
            <app-svg-icon
              *ngIf="
                structureForm.get('facebook').valid &&
                structureForm.get('facebook').value != null &&
                structureForm.get('facebook').value != ''
              "
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'validate'"
              class="validationIcon"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="structureForm.get('facebook').invalid"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'notValidate'"
              class="validationIcon"
            ></app-svg-icon>
          </div>
        </div>
        <div class="form-group twitter">
          <div fxLayout="row" fxLayoutGap="7px">
            <svg class="twitter" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#twitter'"></use>
            </svg>
            <input
              type="text"
              (input)="setValidationsForm()"
              placeholder="twitter.com/resin"
              formControlName="twitter"
              class="form-input withIcon"
            />
            <app-svg-icon
              *ngIf="
                structureForm.get('twitter').valid &&
                structureForm.get('twitter').value != null &&
                structureForm.get('twitter').value != ''
              "
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'validate'"
              class="validationIcon"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="structureForm.get('twitter').invalid"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'notValidate'"
              class="validationIcon"
            ></app-svg-icon>
          </div>
        </div>
        <div class="form-group instagram">
          <div fxLayout="row" fxLayoutGap="7px">
            <svg class="instagram" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#instagram'"></use>
            </svg>
            <input
              type="text"
              (input)="setValidationsForm()"
              formControlName="instagram"
              placeholder="instagram.com/resin"
              class="form-input withIcon"
            />

            <app-svg-icon
              *ngIf="
                structureForm.get('instagram').valid &&
                structureForm.get('instagram').value != null &&
                structureForm.get('instagram').value != ''
              "
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'validate'"
              class="validationIcon"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="structureForm.get('instagram').invalid"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'notValidate'"
              class="validationIcon"
            ></app-svg-icon>
          </div>
        </div>
        <div class="form-group linkedin">
          <div fxLayout="row" fxLayoutGap="7px">
            <svg class="linkedin" aria-hidden="true">
              <use [attr.xlink:href]="'assets/form/sprite.svg#linkedin'"></use>
            </svg>
            <input
              type="text"
              (input)="setValidationsForm()"
              formControlName="linkedin"
              placeholder="linkedin.com/in/resin"
              class="form-input withIcon"
            />
            <app-svg-icon
              *ngIf="
                structureForm.get('linkedin').valid &&
                structureForm.get('linkedin').value != null &&
                structureForm.get('linkedin').value != ''
              "
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'validate'"
              class="validationIcon"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="structureForm.get('linkedin').invalid"
              [iconClass]="'icon-26'"
              [type]="'form'"
              [icon]="'notValidate'"
              class="validationIcon"
            ></app-svg-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
