<div class="structrue-details-container" *ngIf="structure && !isLoading">
  <!-- Header info -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <div (click)="close()" class="ico-close-details"></div>
  </div>
  <div fxLayout="row" class="structure-details-block" fxLayoutAlign="baseline baseline" fxLayoutGap="8px">
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="100%">
      <div fxLayout="column" class="no-margin" fxLayoutAlign="space-between start">
        <h2 class="bold">{{ structure.structureName }}</h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="typeInformationHeader" fxLayout="column">
          <h3>{{ structure.getLabelTypeStructure() }}</h3>
          <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="7px" *ngIf="structure.hasEquipments()">
            <div></div>
            <app-svg-icon
              *ngFor="let equipement of filterOnlyEquipments(structure.equipmentsAndServices)"
              [type]="'ico'"
              [iconColor]="'currentColor'"
              [icon]="structure.getEquipmentsIcon(equipement)"
            ></app-svg-icon>
          </div>
        </div>
        <div class="printButton" fxLayout="column" fxLayoutAlign="end">
          <app-button
            class="hide-on-print"
            [type]="'button'"
            [style]="'buttonWithHash'"
            [text]="'Imprimer'"
            [iconBtn]="'print'"
            (action)="print()"
          ></app-button>
        </div>
      </div>
      <div fxLayout="row" class="mobile-column">
        <div fxLayout="column" fxFlex="50%">
          <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-structure-opening-status
              class="hide-on-print"
              [structure]="structure"
              [isCalledByDetails]="true"
            ></app-structure-opening-status>
          </div>
          <div *ngIf="structure.address" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'adress'"></app-svg-icon>
            <p>{{ structure.address.numero }} {{ structure.address.street }}, {{ structure.address.commune }}</p>
          </div>
          <div *ngIf="structure.website" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'web'"></app-svg-icon>
            <a
              target="_blank"
              class="custom-link"
              rel="noopener noreferrer"
              [href]="structure.website.includes('http') ? structure.website : 'http://' + structure.website"
              >{{ structure.website | url }}</a
            >
          </div>
          <div *ngIf="structure.hasSocialNetwork()" fxLayout="row" fxLayoutAlign="none baseline" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'network'"></app-svg-icon>
            <div fxLayout="row" fxLayoutAlign="none baseline" fxLayoutGap="8px">
              <a
                *ngIf="structure.facebook"
                target="_blank"
                class="custom-link"
                rel="noopener noreferrer"
                [href]="'http://' + structure.facebook"
              >
                <app-svg-icon [type]="'ico'" [icon]="'facebook'" [title]="Facebook"></app-svg-icon
              ></a>
              <a
                *ngIf="structure.twitter"
                target="_blank"
                class="custom-link"
                rel="noopener noreferrer"
                [href]="'http://' + structure.twitter"
              >
                <app-svg-icon [type]="'ico'" [icon]="'twitter'" [title]="Twitter"></app-svg-icon
              ></a>
              <a
                *ngIf="structure.instagram"
                target="_blank"
                class="custom-link"
                rel="noopener noreferrer"
                [href]="'http://' + structure.instagram"
              >
                <app-svg-icon [type]="'ico'" [icon]="'instagram'" [title]="Instagram"></app-svg-icon
              ></a>
              <a
                *ngIf="structure.linkedin"
                target="_blank"
                class="custom-link"
                rel="noopener noreferrer"
                [href]="'http://' + structure.linkedin"
              >
                <app-svg-icon [type]="'ico'" [icon]="'linkedin'" [title]="Linkedin"></app-svg-icon
              ></a>
            </div>
          </div>
          <div *ngIf="structure.contactPhone" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'tel'"></app-svg-icon>
            <p>{{ structure.contactPhone | phone }}</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="50%">
          <div
            *ngIf="structure.contactMail && structure.contactMail !== 'unknown@unknown.com'"
            fxLayout="row"
            fxLayoutAlign="none center"
            fxLayoutGap="13px"
          >
            <app-svg-icon [type]="'ico'" [iconClass]="'grey-1'" [icon]="'email'"></app-svg-icon>
            <p>{{ structure.contactMail }}</p>
          </div>
          <div *ngIf="structure.hasPassNumeric()" fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'pass'"></app-svg-icon>
            <p>agréé Pass Numérique</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'calendar'"></app-svg-icon>
            <p>Mise à jour le {{ structure.updatedAt | date: 'mediumDate' }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="profileService.isAdmin()" class="hide-on-print">
        Administrateur(s) de cette structure:
        <div *ngIf="structureAdmins.length === 0">Aucun administrateur</div>
        <div *ngIf="structureAdmins.length > 0">
          <div *ngFor="let structureAdmin of structureAdmins">
            {{ structureAdmin.email }}
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="hide-on-print">
        <a *ngIf="!isClaimed" (click)="handleClaim()" class="primary" tabindex="0">Revendiquer cette structure</a>
        <a *ngIf="displayJoin()" (click)="handleJoin()" class="primary" tabindex="0">Rejoindre cette structure</a>
        <a
          *ngIf="!profileService.isLinkedToStructure(structure._id) && !profileService.isAdmin()"
          (click)="displayModalError()"
          class="primary"
          tabindex="0"
        >
          Signaler une erreur
        </a>
        <!-- temporary remove edit -->
        <a
          *ngIf="profileService.isLinkedToStructure(structure._id) || profileService.isAdmin()"
          routerLink="/create-structure"
          [state]="{ data: structure }"
          class="primary"
          tabindex="0"
        >
          Modifier cette structure
        </a>
        <a *ngIf="canDelete()" (click)="toggleDeleteModal()" class="primary" tabindex="0">
          Supprimer cette structure
        </a>
      </div>
      <div>
        {{ structure.description }}
      </div>
      <div class="info">
        {{ structure.lockdownActivity }}
      </div>
    </div>
  </div>
  <!-- Accueil -->
  <div
    *ngIf="structure.accessModality.length > 0 || structure.hours.hasData()"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'accueil'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Accueil</h2>
    </div>
    <!-- Opening Hours -->
    <div fxLayout="row" class="w-100 mobile-column">
      <div *ngIf="structure.hours.hasData()" fxFlex="50%">
        <h3 class="subtitle">Horaires d’ouverture au public</h3>
        <div fxLayout="column">
          <div *ngFor="let day of structure.hours | keyvalue: keepOriginalOrder">
            <div *ngIf="day.value.open">
              <h4>{{ day.key | day }}</h4>
              <div class="opening-time" fxLayout="row" fxLayoutAlign="none flex-end">
                <div *ngFor="let timeRange of day.value.time; let isFirst = first">
                  <p *ngIf="isFirst">de {{ timeRange.formatOpeningDate() }} à {{ timeRange.formatClosingDate() }}</p>
                  <p *ngIf="!isFirst && timeRange.opening">
                    et de {{ timeRange.formatOpeningDate() }} à {{ timeRange.formatClosingDate() }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- accessModality -->
      <div *ngIf="structure.accessModality.length > 0" fxFlex="50%">
        <h3 class="subtitle">Accès</h3>
        <div fxLayout="column" fxLayoutGap="10px">
          <div fxLayout="column" fxLayoutGap="8px">
            <div
              fxLayout="row"
              fxLayoutAlign="none flex-end"
              fxLayoutGap="8px"
              *ngFor="let acces of structure.accessModality"
            >
              <p class="no-margin">{{ getAccessLabel(acces) }}</p>
            </div>
            <p *ngIf="structure.pmrAccess" class="no-margin">Accessibles aux personnes à mobilité réduite</p>
          </div>
          <div *ngFor="let public of structure.publics" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
            <p class="no-margin">{{ getPublicLabel(public) }}</p>
          </div>
          <div
            *ngFor="let accompaniment of structure.publicsAccompaniment"
            fxLayout="row"
            fxLayoutAlign="none flex-end"
            fxLayoutGap="8px"
          >
            <p class="no-margin">{{ accompaniment }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="structure.exceptionalClosures" class="bold-info">
      <h3 class="subtitle">Précisions sur les horaires</h3>
      <p>{{ structure.exceptionalClosures }}</p>
    </div>
  </div>
  <!-- Démarches en ligne -->
  <div
    *ngIf="structure.proceduresAccompaniment.length || structure.otherDescription"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'demarches'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Démarches en ligne</h2>
    </div>
    <div fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="24px">
        <div *ngFor="let accompagnement of structure.proceduresAccompaniment">
          <app-logo-card *ngIf="accompagnement != 'autres'" [name]="accompagnement"></app-logo-card>
        </div>
      </div>
      <p *ngIf="structure.otherDescription">
        {{ structure.otherDescription }}
      </p>
    </div>
  </div>
  <!-- Ateliers -->
  <div
    *ngIf="isBaseSkills() || isAccessRights() || isParentingHelp() || isSocialAndProfessional() || isDigitalSecurity()"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'services'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Ateliers</h2>
    </div>
    <div *ngIf="structure.freeWorkShop">
      <span class="bold-info">L'accès à ces ateliers est gratuit</span>
    </div>
    <div *ngIf="!structure.freeWorkShop">
      <span class="bold-info">L'accès à ces ateliers est payant</span>
    </div>
    <div class="wrapper">
      <div *ngIf="isBaseSkills()">
        <h3 class="subtitle">Compétences de base</h3>
        <p *ngFor="let skill of baseSkills">{{ skill.text }}</p>
      </div>
      <div *ngIf="isAccessRights()">
        <h3 class="subtitle">Accès aux droits</h3>
        <p *ngFor="let rights of accessRights">{{ rights.text }}</p>
      </div>
      <div *ngIf="isParentingHelp()">
        <h3 class="subtitle">Aide à la parentalité</h3>
        <p *ngFor="let help of parentingHelp">{{ help.text }}</p>
      </div>
      <div *ngIf="isSocialAndProfessional()">
        <h3 class="subtitle">Insertion sociale et professionnelle</h3>
        <p *ngFor="let skill of socialAndProfessional">{{ skill.text }}</p>
      </div>
      <div *ngIf="isDigitalSecurity()">
        <h3 class="subtitle">Culture et sécurité numérique</h3>
        <p *ngFor="let skill of digitalCultureSecurity">{{ skill.text }}</p>
      </div>
    </div>
  </div>
  <!-- Equipements -->
  <div
    *ngIf="structure.hasEquipments()"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'equipement'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Équipements</h2>
    </div>
    <div fxLayout="column">
      <p *ngFor="let equipement of filterOnlyEquipments(structure.equipmentsAndServices)" class="no-margin-bottom">
        {{ getEquipmentsLabel(equipement) }}
        <span *ngIf="equipement == 'ordinateurs' && structure.nbComputers"> : {{ structure.nbComputers }}</span>
        <span *ngIf="equipement == 'tablettes' && structure.nbTablets"> : {{ structure.nbTablets }}</span>
        <span *ngIf="equipement == 'bornesNumeriques' && structure.nbNumericTerminal">
          : {{ structure.nbNumericTerminal }}</span
        >
        <span *ngIf="equipement == 'imprimantes' && structure.nbPrinters"> : {{ structure.nbPrinters }}</span>
        <span *ngIf="equipement == 'scanners' && structure.nbScanners"> : {{ structure.nbScanners }}</span>
      </p>
    </div>
  </div>
  <!-- Labels -->
  <div
    *ngIf="structure.labelsQualifications.length"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'label'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Labelisation</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="24px">
      <div *ngFor="let labels of structure.labelsQualifications">
        <app-logo-card [name]="labels"></app-logo-card>
      </div>
    </div>
  </div>
  <!-- Transport -->
  <div
    *ngIf="tclStopPoints.length"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="8px">
      <app-svg-icon [type]="'ico'" [icon]="'transport'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Accès</h2>
    </div>
    <div fxLayout="column wrap" fxLayoutGap="24px">
      <div *ngFor="let tclStop of tclStopPoints">
        {{ tclStop.name }}
        <div fxLayout="row wrap" fxLayoutGap="24px">
          <p *ngFor="let sub of tclStop.subLines">
            <app-svg-icon [type]="'tcl'" [icon]="sub" [iconClass]="'icon-75'"></app-svg-icon>
          </p>
          <p *ngFor="let tram of tclStop.tramLines">
            <app-svg-icon [type]="'tcl'" [icon]="tram" [iconClass]="'icon-75'"></app-svg-icon>
          </p>
          <p *ngFor="let bus of tclStop.busLines">
            <app-svg-icon [type]="'tcl'" [icon]="bus" [iconClass]="'icon-75'"></app-svg-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal-confirmation
  [openned]="deleteModalOpenned"
  [content]="'Voulez-vous vraiment supprimer cette structure&nbsp;?'"
  (closed)="deleteStructure($event)"
></app-modal-confirmation>

<app-modal-confirmation
  [openned]="claimModalOpenned"
  [content]="
    'Voulez-vous vraiment revendiquer cette structure&nbsp;? Une demande sera envoyée à l\'administrateur pour validation'
  "
  (closed)="claimStructure($event)"
></app-modal-confirmation>

<app-modal-confirmation
  [openned]="joinModalOpenned"
  [content]="
    'Voulez-vous vraiment rejoindre cette structure&nbsp;? Une demande sera envoyée aux membres pour validation'
  "
  (closed)="joinStructure($event)"
></app-modal-confirmation>

<app-text-input-modal
  [openned]="structureErrorModalOpenned"
  [placeholder]="'Décrivez l\'erreur ici. Ex: Horaires faux...'"
  [content]="
    'Voulez-vous notifier res\'in d\'une erreur sur la fiche de cet acteur &nbsp;? Votre commentaire sera envoyé à l\'acteur en question ainsi qu\'aux administrateurs.'
  "
  (closed)="sendErrorEmail($event)"
  (newContent)="sendErrorEmail($event)"
></app-text-input-modal>
