<div class="structrue-details-container" *ngIf="structure">
  <!-- Header info -->
  <div fxLayout="row" fxLayoutAlign="end center">
    <div (click)="close()" class="ico-close-details"></div>
  </div>
  <div fxLayout="row" class="structure-details-block" fxLayoutAlign="baseline baseline" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="10px" fxFlex="100%">
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxLayout="column">
          <h2 class="bold">{{ structure.nomDeVotreStructure }}</h2>
          <h3>{{ structure.typeDeStructure }}</h3>
        </div>
        <div fxLayout="column" fxLayoutAlign="end">
          <app-button
            class="hide-on-print"
            [type]="'button'"
            [style]="'buttonWithHash'"
            [text]="'Imprimer'"
            [iconBtn]="'print'"
            (action)="print()"
          ></app-button>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="60%">
          <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-structure-opening-status
              class="hide-on-print"
              [structure]="structure"
              [isCalledByDetails]="true"
            ></app-structure-opening-status>
          </div>
          <div *ngIf="structure.voie" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'adress'"></app-svg-icon>
            <p>{{ structure.n }} {{ structure.address }}</p>
          </div>
          <div *ngIf="structure.siteWeb" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'web'"></app-svg-icon>
            <a target="_blank" rel="noopener noreferrer" [href]="structure.siteWeb">{{ structure.siteWeb }}</a>
          </div>
          <div *ngIf="structure.telephone" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'tel'"></app-svg-icon>
            <p>{{ structure.telephone }}</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40%">
          <div *ngIf="structure.courriel" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'email'"></app-svg-icon>
            <a [href]="'mailto:' + structure.courriel">{{ structure.courriel }}</a>
          </div>
          <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
            <app-svg-icon [type]="'ico'" [icon]="'calendar'"></app-svg-icon>
            <p>Mise-à-jour le {{ structure.derniereModification | date: 'mediumDate' }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Démarches -->
  <div
    *ngIf="structure.accompagnementDesDemarches[0] !== ''"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="20px">
      <app-svg-icon [type]="'ico'" [icon]="'demarches'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Démarches</h2>
    </div>
    <div fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="24px">
        <div *ngFor="let accompagnement of structure.accompagnementDesDemarches">
          <app-logo-card [name]="accompagnement"></app-logo-card>
        </div>
      </div>
      <p *ngIf="isOtherSection">
        Tout ce qui est en lien avec la création d'entreprise ex : consultation de sites de références (BPI, Je créé
        dans ma région, ...), inscription à des newsletters, aide pour trouver des sites (CMA, CCI, Urssaf,...),
        recherches d'infos sur moteur de recherche...
      </p>
    </div>
  </div>
  <!-- Services -->
  <div
    *ngIf="isBaseSkills() || isAccessRights()"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="20px">
      <app-svg-icon [type]="'ico'" [icon]="'services'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Services</h2>
    </div>
    <div fxLayout="row" class="w-100">
      <div fxFlex="50%" *ngIf="isBaseSkills()">
        <h3 class="subtitle">Compétences de base</h3>
        <p *ngFor="let skill of baseSkills">{{ skill.text }}</p>
      </div>
      <div fxFlex="50%" *ngIf="isAccessRights()">
        <h3 class="subtitle">Accès au droits</h3>
        <p *ngFor="let rights of accessRights">{{ rights.text }}</p>
      </div>
    </div>
  </div>
  <!-- Accueil -->
  <div fxLayout="column" class="structure-details-block" fxLayoutAlign="baseline baseline" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="20px">
      <app-svg-icon [type]="'ico'" [icon]="'accueil'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Accueil</h2>
    </div>
    <!-- Openning Hours -->
    <div fxLayout="row" class="w-100">
      <div fxFlex="70%">
        <h3 class="subtitle">Horaires d’ouverture au public :</h3>
        <div fxLayout="column">
          <div *ngFor="let day of structure.hours | keyvalue: keepOriginalOrder">
            <div *ngIf="day.value.open">
              <h4>{{ day.key | day }}</h4>
              <div class="openning-time" fxLayout="row" fxLayoutAlign="none flex-end">
                <div *ngFor="let timeRange of day.value.time; let isFirst = first">
                  <p *ngIf="isFirst">de {{ timeRange.formatOpenningDate() }} à {{ timeRange.formatClosingDate() }}</p>
                  <p *ngIf="!isFirst && timeRange.openning">
                    et de {{ timeRange.formatOpenningDate() }} à {{ timeRange.formatClosingDate() }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modalitesDacces -->
      <div fxFlex="30%">
        <h3 class="subtitle">Accès</h3>
        <div
          *ngFor="let acces of structure.modalitesDacces"
          fxLayout="row"
          fxLayoutAlign="none flex-end"
          fxLayoutGap="20px"
        >
          <app-svg-icon [type]="'ico'" [icon]="getAccessIcon(acces)"></app-svg-icon>
          <p>{{ acces }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Equipements -->
  <div
    *ngIf="structure.hasEquipments()"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="20px">
      <app-svg-icon [type]="'ico'" [icon]="'equipement'" [iconClass]="'icon-32'"></app-svg-icon>
      <h2>Équipements</h2>
    </div>
    <div *ngIf="structure.wifi" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
      <app-svg-icon [type]="'ico'" [icon]="'wifi'"></app-svg-icon>
      <p>Wifi en accès libre</p>
    </div>
    <div *ngIf="structure.ordinateurs" fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="13px">
      <app-svg-icon [type]="'ico'" [icon]="'computer'"></app-svg-icon>
      <p>Ordinateurs à disposition : {{ structure.nombre }}</p>
    </div>
  </div>
  <!-- Labels -->
  <div
    *ngIf="structure.labelsEtQualifications[0] !== ''"
    fxLayout="column"
    class="structure-details-block"
    fxLayoutAlign="baseline baseline"
    fxLayoutGap="20px"
  >
    <div fxLayout="row" fxLayoutAlign="none flex-end" fxLayoutGap="20px">
      <em class="ic-toolbox"></em>
      <h2>Labelisation</h2>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="24px">
      <div *ngFor="let labels of structure.labelsEtQualifications">
        <app-logo-card [name]="labels"></app-logo-card>
      </div>
    </div>
  </div>
</div>
