@import '../../../../assets/scss/icons';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/z-index';
@import '../../../../assets/scss/layout';
@import '../../../../assets/scss/breakpoint';

a {
  padding: unset;
}

.structrue-details-container {
  border-right: solid 1px $grey-4;
  background-color: $white;
  z-index: $structure-details-z-index;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 980px;
  width: 100%;
  height: calc(100vh - #{$header-height} - #{$footer-height} - 20px);
  padding: 10px 24px;
  overflow: auto;
  @media #{$tablet} {
    width: calc(100% - 2 * 24px);
    position: fixed;
    height: 100%;
    .printButton {
      display: none !important;
    }
  }
  .printButton {
    margin-right: 75px;
  }
}

.structrue-details-container > .structure-details-block {
  padding: 0px 0px 24px 0;
  border-bottom: 1px dashed $grey-2;
  .subtitle {
    text-transform: uppercase;
    @include cn-bold-16;
    margin-bottom: 10px;
    color: $grey-3;
  }
}

.structrue-details-container > .structure-details-block ~ .structure-details-block {
  padding: 24px 0;
}

.structure-details-block:last-child {
  border-bottom: none;
}

.opening-time {
  p {
    margin: 0 5px 12px 0;
  }
}
.typeInformationHeader {
  color: $grey-3;
}
h2 {
  margin-top: 0;
  margin-bottom: 5px;
  @include cn-regular-26;
}
h3 {
  margin: 0 0 8px 0;
  @include cn-regular-16;
}
h4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 4px;
  @include cn-regular-14;
  color: $grey-2;
  text-transform: uppercase;
}
p,
.custom-link {
  @include cn-regular-16;
  margin-top: 9px;
  margin-bottom: 9px;
  &.no-margin {
    margin-top: unset;
    margin-bottom: unset;
  }
  &.no-margin-bottom {
    margin-bottom: unset;
  }
}

.bold-info {
  @include cn-bold-16;
}

@media print {
  .structrue-details-container {
    background-color: unset;
    z-index: unset;
    position: unset;
    top: unset;
    left: unset;
    max-width: unset;
    width: unset;
    height: unset;
    padding: unset;
    overflow: hidden;
    border-right: 0;
  }

  .hide-on-print {
    display: none !important;
  }
}

.info {
  color: $ram-hover-principal;
}

.wrapper {
  width: 100%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr 1fr;
}
