@import '../../../../../assets/scss/layout';
@import '../../../../../assets/scss/breakpoint';
@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/typography';
@import '../../../../../assets/scss/shapes';
@import '../../../../../assets/scss/z-index';

.header-print {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: solid black 1px;
}

.header-infos {
  height: 80px;
  display: flex;

  .header-title {
    width: 70%;
    float: left;
  }

  h3 {
    margin-top: 3px;
  }

  svg {
    max-width: fit-content;
    width: 30%;
  }
}

.date {
  float: right;
}

.beneficiaryNeeds {
  td {
    vertical-align: top;
  }
  border-collapse: separate;
  border-spacing: 10px 15px;
}

.informationsHeader {
  min-width: 35%;
  margin-bottom: 5px;
  color: $black;
}

.typeInformationHeader {
  @include cn-bold-16;
  margin-bottom: 5px;
  color: $grey-3;
  &.date {
    color: $grey-3;
    font-style: italic;
  }
}

.contactAccompaniment {
  width: 67%;
}

.tags-cloud {
  font-style: normal;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 20px;
  padding: 5px 15px;
  color: $white;
  border-style: none;
  margin-top: 5px;
  background: #348899;
  &.unchecked {
    background: #bdbdbd;
  }
}

.textareaBlock {
  @media #{$tablet} {
    max-width: 90%;
  }
  textarea {
    padding: 13px 8px;
    background: $grey-6;
    border: 1px solid $grey-4;
    border-radius: 1px;
    resize: none;
    @include cn-regular-16;
  }
  p {
    text-align: right;
  }
}

.informations {
  width: 100%;
  display: flex;
  .helper {
    max-height: 300px;
    background-color: $grey-6;
    width: 30%;
    height: fit-content;
    padding: 2%;
  }

  .beneficiary {
    background-color: $grey-6;
    margin-left: 2%;
    padding: 2%;
    width: 70%;
  }

  tr {
    margin-bottom: 8px;
  }
}
