<div class="print-header" fxLayout="column">
  <div class="header-print">
    <div class="header-infos">
      <svg aria-hidden="true" aria-hidden="true">
        <use [attr.xlink:href]="'assets/form/sprite.svg#grandLyonLaMetropole'"></use>
      </svg>
      <div class="header-title">
        <div>RES’IN : Réseau des acteurs de l'inclusion numérique de la Métropole de Lyon</div>
        <h3>Fiche d'orientation</h3>
      </div>
    </div>
    <p class="informationHeader date">{{ date }}</p>
  </div>

  <div class="informations">
    <div class="helper">
      <!-- Accompaniment -->
      <div *ngIf="structureAccompaniment">
        <div class="informationHeader">{{ 'Orienté par' | uppercase }}</div>
        <p class="bold">{{ structureAccompaniment }}</p>
        <!-- Contact -->
        <p class="bold" *ngIf="contactAccompaniment">{{ contactAccompaniment }}</p>
        <p class="bold" *ngIf="contactAccompanimentPhone">{{ contactAccompanimentPhone }}</p>
      </div>
    </div>
    <div class="beneficiary">
      <div class="informationHeader">{{ 'Bénéficiaire' | uppercase }}</div>
      <!-- Name -->
      <table class="beneficiaryNeeds">
        <tr>
          <td class="informationHeader">Nom</td>
          <td class="bold">{{ beneficiaryName }}</td>
        </tr>
        <tr *ngIf="equipments.length > 0">
          <td class="informationHeader">Besoin(s) en matériel</td>
          <td class="bold">
            <div *ngFor="let equipmentTag of equipments">
              {{ equipmentTag.text ? equipmentTag.text : equipmentTag.value }}
            </div>
          </td>
        </tr>
        <tr *ngIf="assistances.length > 0">
          <td class="informationHeader">Besoin(s) en formation</td>
          <td class="bold">
            <div *ngFor="let assistanceTag of assistances">
              {{ assistanceTag.text ? assistanceTag.text : assistanceTag.value }}
            </div>
          </td>
        </tr>
        <tr *ngIf="formations.length > 0">
          <td class="informationHeader">Besoin(s) d'accompagnement</td>
          <td class="bold">
            <div *ngFor="let formationTag of formations">
              {{ formationTag.text ? formationTag.text : formationTag.value }}
            </div>
          </td>
        </tr>
        <tr *ngIf="specificNeeds.length > 0">
          <td class="informationHeader">Besoin(s) spécifiques</td>
          <td class="bold">
            <div *ngFor="let specificNeed of specificNeeds">
              {{ specificNeed.text ? specificNeed.text : specificNeed.value }}
            </div>
          </td>
        </tr>
        <tr *ngIf="beneficiaryPassNumeric">
          <td class="informationHeader">Pass Numérique</td>
          <td class="bold">Oui</td>
        </tr>
        <tr *ngIf="beneficiaryNeedCommentary">
          <td class="informationHeader">Informations</td>
          <td class="bold">{{ beneficiaryNeedCommentary }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
