<div
  class="offcanvas offcanvas-end"
  [ngClass]="className"
  [class.position-absolute]="isAbsolute && (expanded$ | async)"
  [class.showing]="showing$ | async"
  [class.show]="expanded$ | async"
  [class.hiding]="hiding$ | async"
  tabindex="-1"
  [id]="id"
  [attr.aria-labelledby]="id + '-label'"
  [attr.aria-modal]="(expanded$ | async) ? 'true' : null"
  [attr.role]="(expanded$ | async) ? 'dialog' : null">
  <div [class.offcanvas-header]="useHeader">
    <h2 class="h5" [class.visually-hidden]="!useHeader" [id]="id + '-label'">{{ heading }}</h2>
    <button
      *ngIf="useHeader && useCloseButton"
      type="button"
      class="ms-auto btn-close"
      aria-label="Fermer"
      (click)="toggle()"></button>
  </div>
  <div class="h-100" [class.offcanvas-body]="useContainer">
    <ng-content></ng-content>
  </div>
</div>
