<div fxLayout="column">
  <h2>Dans quelle structure travaillez-vous ?</h2>
  <div class="search-structure">
    <div fxLayout="row" fxLayoutAlign="space-between" class="form-input search">
      <input
        type="text"
        id="structureName"
        (input)="onSearchChange($event.target.value)"
        placeholder="Rechercher une structure"
        class="form-input search-input"
        autocomplete="off"
      />
      <app-svg-icon [iconClass]="'searchIcon icon-32'" [type]="'ico'" [icon]="'search'"></app-svg-icon>
    </div>
    <div class="scroll">
      <div *ngIf="!isAlreadySearching">
        <div class="nb">
          <div *ngIf="structures">
            <div *ngIf="searchString.length == 0" class="nb-text">{{ structures.length }} structures existantes</div>
            <div *ngIf="searchString.length > 0" class="nb-text" [ngPlural]="structures.length">
              <ng-template ngPluralCase="0">0 structure trouvée</ng-template>
              <ng-template ngPluralCase="1">1 structure trouvée</ng-template>
              <ng-template ngPluralCase="other">{{ structures.length }} structures trouvées</ng-template>
            </div>
          </div>
        </div>

        <div class="structure-list">
          <div *ngFor="let structure of structures" (click)="selectedResult(structure)" class="filet">
            <div
              fxLayout="column"
              fxLayoutAlign="space-around"
              class="form-list"
              [class]="
                structure.alreadySelected ? 'already-selected' : isSelectedStructure(structure) ? 'item-selected' : ''
              "
            >
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="item-frame">
                  <div class="name">{{ structure.structureName }}</div>
                  <div class="commune">{{ structure.address.commune }}</div>
                </div>
                <app-svg-icon
                  class="form-icon"
                  *ngIf="isSelectedStructure(structure)"
                  [iconClass]="'icon-26'"
                  [type]="'form'"
                  [icon]="'validate'"
                ></app-svg-icon>
                <div *ngIf="structure.alreadySelected" class="sticker">Déjà<br />sélectionnée</div>
              </div>
            </div>
          </div>
          <div class="item-frame">
            <div class="create-text">
              Cette structure n’existe pas encore sur Res’in.<br />
              <span class="question">Souhaitez-vous la référencer ?</span>
            </div>
            <app-button
              (action)="addStructure()"
              [text]="'Créer une structure'"
              [style]="buttonTypeEnum.Primary"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
