<ng-container *ngIf="dispositifProgrammesNationaux">
  <h2 class="h5 text-muted my-3">Dispositifs et programmes nationaux</h2>
  <button
    *ngFor="let label of dispositifProgrammesNationaux"
    (click)="showLabel.emit(label); showLabelInvokingContext.emit($event)"
    class="btn btn-link p-0 me-3">
    <img
      width="75"
      [src]="assetsConfiguration.path + '/img/logo/labels/' + label + '.svg'"
      [alt]="'Label ' + toLabelNom(label)" />
  </button>
</ng-container>
<ng-container *ngIf="formationsLabels">
  <h2 class="h5 text-muted mt-3 mb-4">Labels, certifications et formations</h2>
  <span class="badge rounded-pill text-bg-light px-3 py-2 me-1 my-1 fw-normal" *ngFor="let formationLabel of formationsLabels">
    {{ formationLabel }}
  </span>
</ng-container>
<ng-container *ngIf="autresFormationsLabels">
  <h2 class="h5 text-muted mt-3 mb-4">Autres labels, certifications ou formations</h2>
  <span
    class="badge rounded-pill text-bg-light px-3 py-2 me-1 my-1 fw-normal"
    *ngFor="let autreFormationLabel of autresFormationsLabels">
    {{ autreFormationLabel }}
  </span>
</ng-container>
