@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/breakpoint';

.post {
  cursor: pointer;
  padding: 16px 0px;
  .imageContainer {
    margin-bottom: 12px !important;
    max-width: 600px;
    .image {
      object-fit: cover;
      @media #{$large-phone} {
        height: 70px;
      }
    }
  }

  .title {
    @media #{$large-phone} {
      @include cn-bold-18;
    }
    @include cn-bold-22;
    color: $grey-1;
  }
  .description {
    @media #{$large-phone} {
      display: none !important;
    }
    @include cn-regular-16;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .informations {
    @include cn-regular-16;
    div:nth-child(2n) {
      color: $grey-3;
    }
  }
}
.project {
  text-align: left;
  .imageContainer,
  .informations {
    display: none !important;
  }
}
