<div fxLayout="column" *ngIf="post" class="post" [ngClass]="class" fxLayoutGap="12px">
  <div fxLayout="row" class="imageContainer" *ngIf="post.feature_image">
    <img class="image" [src]="post.feature_image" />
  </div>
  <div fxLayout="row" class="title">
    {{ post.title }}
  </div>
  <div fxLayout="row" class="description">
    {{ post.custom_excerpt }}
  </div>
  <div fxLayout="column" class="informations">
    <div fxLayout="row">
      {{ post.published_at | date: 'shortDate' }}
    </div>
    <div fxLayout="row">par {{ post.primary_author.name }}</div>
  </div>
</div>
