@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';

.post {
  padding: 24px 6px;
  border-bottom: 1px dashed $grey-3;
  .title {
    @include cn-bold-20;
    color: $grey-1;
  }
  .description {
    @include cn-regular-16;
    color: $black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .informations {
    @include cn-regular-16;
    color: $grey-3;
    font-style: italic;
  }
}
