<ng-container *ngIf="(lieuMediationNumerique$ | async) as lieuMediationNumerique">
  <div class="h-100 overflow-auto d-flex flex-column">
    <div class="flex-grow-1">
      <app-mediation-numerique-details-item
        class="flex-grow-1"
        [lieuMediationNumerique]="lieuMediationNumerique"></app-mediation-numerique-details-item>
    </div>
    <div class="bg-primary d-flex p-2">
      <div class="ms-auto flex-grow-1">
        <button class="btn btn-outline-light" (click)="printPage()">
          <i class="ri-printer-line me-2 align-bottom"></i>
          <span>Imprimer les détails</span>
        </button>
      </div>
    </div>
  </div>
</ng-container>
