<div *ngIf="(lieuMediationNumerique$ | async) as lieuMediationNumerique" class="h-100 overflow-auto">
  <div class="border-bottom p-4 sticky-top bg-secondary">
    <app-informations-generales
      [nom]="lieuMediationNumerique.nom"
      [typologie]="lieuMediationNumerique.typologie"
      [date]="lieuMediationNumerique.date_maj"
      [status]="lieuMediationNumerique.status"></app-informations-generales>
  </div>
  <app-boutons-action
    [courriel]="lieuMediationNumerique.contact?.courriel"
    [siteWeb]="lieuMediationNumerique.contact?.site_web"></app-boutons-action>
  <app-informations-pratiques
    [adresse]="lieuMediationNumerique.adresse"
    [conditionAccess]="lieuMediationNumerique.conditions_access"
    [accessibilite]="lieuMediationNumerique.accessibilite"
    [courriel]="lieuMediationNumerique.contact?.courriel"
    [telephone]="lieuMediationNumerique.contact?.telephone"></app-informations-pratiques>
  <app-description
    [detail]="lieuMediationNumerique.presentation?.detail"
    [resumee]="lieuMediationNumerique.presentation?.resumee"></app-description>
  <div class="container">
    <div class="border-bottom p-3">
      <div class="row">
        <app-horaires class="col-lg-6" [horaires]="lieuMediationNumerique.horaires"></app-horaires>
        <app-services class="col-lg-6" [services]="lieuMediationNumerique.services"></app-services>
      </div>
    </div>
  </div>
  <app-modalites-accompagnement
    [modalitesAccompagnementList]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
  <app-public-pris-en-charge [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
  <app-labellisations
    [labelsNationaux]="lieuMediationNumerique.labels_nationaux"
    [labelsAutres]="lieuMediationNumerique.labels_autres"></app-labellisations>
</div>
