@import '../../assets/scss/color';
@import '../../assets/scss/icons';
@import '../../assets/scss/typography';

.nbStructuresLabel {
  color: $white;
  @include cn-regular-16;
  display: grid;
  align-items: center;
  height: 32px;
  background-color: $secondary-color;
  padding-left: 9px;
  margin: 0 16px;
}
.listCard {
  overflow-y: overlay;
  padding: 0 25px;
}
.topBlock {
  padding: 0 25px;
}
