<div class="topBlock">
  <app-structure-list-search (searchEvent)="fetchResults($event)"></app-structure-list-search>
</div>
<div class="nbStructuresLabel">{{ structureList.length }} structure{{ structureList.length > 1 ? 's' : '' }}</div>

<div class="listCard" (mouseout)="mouseOut()">
  <app-card
    *ngFor="let structure of structureList"
    [structure]="structure"
    (showDetails)="showDetails($event)"
    (hover)="handleCardHover($event)"
  ></app-card>
</div>

<app-structure-details
  *ngIf="showStructureDetails"
  [structure]="structure"
  (closeDetails)="closeDetails()"
></app-structure-details>
