<div class="topBlock hide-on-print">
  <app-structure-list-search (searchEvent)="fetchResults($event)"></app-structure-list-search>
</div>
<div class="nbStructuresLabel hide-on-print">
  {{ structureList ? structureList.length : '0' }} structure{{ structureList && structureList.length > 1 ? 's' : '' }}
</div>

<div (scroll)="onScrollDown($event)" class="listCard" (mouseout)="mouseOut()">
  <app-card
    *ngFor="let structure of structuresListChunked"
    [structure]="structure"
    (showDetails)="showDetails($event)"
    (hover)="handleCardHover($event)"
  ></app-card>
</div>

<app-structure-details
  *ngIf="showStructureDetails"
  [structure]="structure"
  (closeDetails)="closeDetails()"
></app-structure-details>
