@import '../../assets/scss/icons';
@import '../../assets/scss/color';
@import '../../assets/scss/typography';

.nbStructuresLabel {
  color: $grey;
  @include cn-regular-16;
  display: flex;
  align-items: center;
}
