@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/typography';
@import '../../../../../assets/scss/inputs';
@import '../../../../../assets/scss/breakpoint';

.search-structure {
  width: 380px;
}

.search {
  width: 380px;
  border-radius: 20px;
  margin: 4px 0px;

  .search-input {
    height: 34px;
    border: 0px;
    @include lato-regular-15;
    font-style: italic;
    padding: 0px;
    margin: 0px 0px 0px 5px;
  }
}

::ng-deep .searchIcon {
  padding-right: 12px;
}

.nb {
  padding: 0px 0px 0px 16px;
  margin: 16px 0px;
}

.nb-text {
  @include lato-regular-13;
  color: $grey-3;
}

.structure-list {
  margin: 16px 0px;
}

.filet {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: $grey-8;
}

.form-list {
  cursor: pointer;
  height: 76px;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  &:hover {
    background: $primary-color-light;
    border-color: $primary-color-light;
  }

  &.item-selected {
    border-color: $green-1;
    &:hover {
      border-color: $green-1;
      background: $white;
    }
  }
}

.item-frame {
  padding: 0px 0px 0px 16px;
}

.name {
  @include lato-regular-16;
  font-weight: 600;
  color: $grey-1;
}

.commune {
  @include lato-regular-13;
  font-style: italic;
  color: $grey-3;
  margin: 6px 0px;
}

.create-text {
  @include lato-regular-15;
  color: $grey-1;
  margin: 8px 0px;
}

.form-icon {
  margin: 0px 24px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  * {
    width: 400px;
  }
}
.autocomplete-items {
  width: 296px;
}
