<div class="no-max-width">
  <ng-container *ngIf="currentStep === accountFormStepEnum.accountInfo">
    <app-account-info
      [accountForm]="accountForm"
      [isClaimMode]="isClaimMode"
      [profile]="profile"
      (validateForm)="setValidationsForm($event)"
    ></app-account-info>
  </ng-container>
  <ng-container *ngIf="currentStep === accountFormStepEnum.accountCredentials">
    <app-account-credentials
      [accountForm]="accountForm"
      [profile]="profile"
      (validateForm)="setValidationsForm($event)"
      (userExists)="verifyUserExist($event)"
    ></app-account-credentials>
  </ng-container>
  <ng-container *ngIf="currentStep === accountFormStepEnum.accountNewsletter">
    <app-account-newsletter
      [accountForm]="accountForm"
      [profile]="profile"
      (acceptNewsletter)="acceptReceiveNewsletter($event)"
    ></app-account-newsletter>
  </ng-container>
  <ng-container *ngIf="currentStep === accountFormStepEnum.confirmEmailSentInfo">
    <app-information-step
      [step]="accountFormStepEnum.confirmEmailSentInfo"
      [formType]="formType.account"
    ></app-information-step>
  </ng-container>
</div>
