<div class="h-100 d-flex flex-column">
  <div class="my-auto">
    <h1 class="h2 text-center fw-bold mb-4">
      <span class="text-primary">Où</span>
      souhaitez-vous bénéficier d’un accompagnement ?
    </h1>
    <form [formGroup]="orientationLayout.filterForm">
      <div class="accordion" id="accordionLocalisation">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingLocalisation">
            <button
              type="button"
              class="accordion-button p-3 collapsed"
              aria-controls="collapseLocalisation"
              [class.collapsed]="collapseLocalisation.isCollapsed"
              [attr.aria-expanded]="collapseLocalisation.isExpanded"
              (click)="collapseLocalisation.toggle()">
              <i class="ri-map-pin-2-line ri-xl ri-fw ri-space me-3 bg-primary text-light rounded-circle"></i>
              <b>Localisation</b>
            </button>
          </h2>
          <app-collapse #collapseLocalisation id="collapseLocalisation" aria-labelledby="headingLocalisation">
            <div class="accordion-body">
              <div class="row justify-content-center">
                <div class="col-md-5 mb-3">
                  <app-address-field
                    [addressSuggestions]="(addressesFound$ | async) ?? []"
                    [addressNotFound]="(addressNotFound$ | async) ?? false"
                    [formGroup]="orientationLayout.filterForm"
                    (selectAddress)="onSelectAddress($event)"
                    (searchAddress)="onSearchAddress($event)"></app-address-field>
                </div>
                <div class="col-auto">
                  <button class="btn btn-secondary" (click)="onGeoLocate()">
                    <i class="ri-map-pin-2-line align-bottom"></i>
                    Me géolocaliser
                  </button>
                </div>
              </div>
              <div
                class="row justify-content-center"
                *ngIf="orientationLayout.filterForm.get('latitude')?.value && orientationLayout.filterForm.get('longitude')?.value">
                <div class="col-auto mb-3 form-check form-check-inline form-chip">
                  <input
                    type="radio"
                    appUncheckableRadio
                    name="distance"
                    formControlName="distance"
                    [value]="20000"
                    class="form-check-input"
                    id="distance-20km" />
                  <label class="form-check-label bg-primary text-white" for="distance-20km">Moins de 20 km</label>
                </div>
                <div class="col-auto mb-3 form-check form-check-inline form-chip">
                  <input
                    type="radio"
                    appUncheckableRadio
                    name="distance"
                    formControlName="distance"
                    [value]="5000"
                    class="form-check-input"
                    id="distance-5km" />
                  <label class="form-check-label bg-primary text-white" for="distance-5km">Moins de 5 km</label>
                </div>
              </div>
            </div>
          </app-collapse>
        </div>
      </div>
    </form>
    <ul class="nav nav-pills justify-content-center my-5">
      <li class="nav-item">
        <a class="btn btn-secondary mx-3" [routerLink]="['/', 'orientation', 'besoin']" queryParamsHandling="preserve">
          <i class="ri-arrow-left-s-line align-bottom"></i>
          Précédent
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary mx-3" [routerLink]="['/', 'orientation', 'accessibilite']" queryParamsHandling="preserve">
          Suivant
          <i class="ri-arrow-right-s-line align-bottom"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
