<div class="bg-light h-100 py-lg-5 p-3 overflow-visible position-relative">
  <div class="container-lg p-0 h-100 shadow bg-white">
    <ng-container *ngIf="(lieuxMediationNumerique$ | async) as lieuxMediationNumerique">
      <ng-container *ngIf="(lieuxMediationNumeriqueTotal$ | async) as lieuxMediationNumeriqueTotal">
        <div class="row gx-0 h-100 overflow-auto flex-lg-row flex-column flex-nowrap">
          <div
            tabindex="-1"
            class="col-lg col-12 d-flex flex-column flex-grow-1 overflow-auto"
            appScroll
            (reachEnd)="hideArrow = $event">
            <nav
              *ngIf="filterPresentation$ | async as filter"
              aria-label="étapes de l'orientation"
              style="height: 0"
              class="sticky-lg-top nav-underline">
              <app-nav class="d-sm-block d-none pt-3 bg-white" [filter]="filter"></app-nav>
              <app-nav class="d-sm-none pt-3 d-block" [filter]="filter" size="sm"></app-nav>
            </nav>
            <main id="content" class="px-3 flex-grow-1" [@routeAnimations]="getRouteAnimationData()">
              <router-outlet></router-outlet>
            </main>
            <div
              class="d-flex justify-content-center shadow-white-top z-index-over bg-white sticky-bottom"
              [class.invisible]="hideArrow">
              <span role="img" class="ri-arrow-down-s-line ri-xl py-2 text-primary" aria-hidden="true"></span>
            </div>
          </div>
          <aside
            id="results"
            class="col-lg-4 col-12 bg-primary text-white text-center d-lg-block"
            aria-label="état de l'orientation">
            <div class="d-flex flex-column px-4 h-100 overflow-auto">
              <ng-container *ngIf="router.url !== '/orientation' && (filterPresentation$ | async) as filter">
                <ng-container *ngIf="hasActiveFilter(filter)">
                  <h2 class="h6 text-center text-secondary fw-bold mt-4 mb-3">Filtres activés</h2>
                  <app-selected-filters
                    class="flex-grow-1 my-lg-1 mb-3"
                    [filterForm]="filterForm"
                    [filterPresentation]="filter"></app-selected-filters>
                  <div class="d-lg-none d-block" style="height: 130px"></div>
                </ng-container>
              </ng-container>
              <div class="d-lg-flex flex-column d-none h-100">
                <div class="mt-auto">
                  <h2 class="h5 text-center text-secondary fw-bold my-3 mt-auto">
                    <span class="d-block">Nombre de lieux</span>
                    {{ router.url === '/orientation' ? 'référencés sur la carte' : 'correspondant à ma recherche'}}
                  </h2>
                </div>
                <div class="w-100 mb-auto position-relative">
                  <img
                    [src]="assetsConfiguration.path + '/img/orientation/' + brandConfiguration.illustration"
                    alt=""
                    class="d-lg-block d-none" />
                  <div class="d-lg-block d-none position-absolute w-100" style="top: 17%">
                    <div>
                      <app-filter-result-count
                        class="my-auto"
                        [total]="lieuxMediationNumeriqueTotal.length"
                        [found]="lieuxMediationNumerique.length"></app-filter-result-count>
                    </div>
                  </div>
                </div>
                <div *ngIf="router.url !== '/orientation'">
                  <app-display-on-map-link
                    class="d-block mb-4"
                    [cartographieFeature]="features.get('cartographie')"
                    [lieuxMediationNumeriqueCount]="(lieuxMediationNumeriqueCount$ | async) ?? 0"
                    [queryParams]="route.queryParams">
                    Afficher les lieux
                  </app-display-on-map-link>
                </div>
              </div>
            </div>
          </aside>
        </div>
        <div
          class="w-100 bg-primary text-white text-center d-lg-none position-sticky z-index-elevated"
          style="transform: translateY(-100%)">
          <hr class="m-0" />
          <div class="p-3">
            <div class="mb-3">
              <span class="fw-bold">
                <span class="d-block">{{ lieuxMediationNumerique.length}} / {{ lieuxMediationNumeriqueTotal.length }}</span>
                Lieux trouvés sur le territoire
              </span>
            </div>
            <div *ngIf="router.url !== '/orientation'">
              <app-display-on-map-link
                [cartographieFeature]="features.get('cartographie')"
                [lieuxMediationNumeriqueCount]="(lieuxMediationNumeriqueCount$ | async) ?? 0"
                [queryParams]="route.queryParams">
                Afficher la carte
              </app-display-on-map-link>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="(lieuxMediationNumeriqueCount$ | async) === 0">
    <app-offcanvas
      #aucunResultatCanvas
      heading="Aucun résulat"
      [useHeader]="false"
      class="offcanvas position-absolute w-100 end-0"
      className="offcanvas-bottom w-100 h-auto position-relative overflow-auto z-index-over-all bg-warning-secondary show">
      <div class="container d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center flex-grow-1">
          <span role="img" class="ri-alert-line ri-3x py-1 text-primary me-3 d-none d-sm-block" aria-hidden="true"></span>
          <div class="d-none d-sm-flex flex-column my-4">
            <h3 class="text-primary fw-bold mt-1 mb-0">Aucun résultat !</h3>
            <small class="text-primary fw-bold">
              Nous ne trouvons pas de résultats correspondant à votre recherche.
              <br />
              Afin d'y remédier, veuillez modifier ou supprimer certains de vos filtres sélectionnés
            </small>
          </div>
          <div class="d-flex d-sm-none flex-column mt-4">
            <h3 class="text-primary fw-bold mt-1 mb-0">Aucun résultat !</h3>
            <small class="text-primary fw-bold">
              Nous ne trouvons pas de résultats correspondant à votre
              <br />
              recherche. Afin d'y remédier, veuillez modifier ou
              <br />
              supprimer certains de vos filtres sélectionnés
            </small>
          </div>
        </div>
        <div class="d-none d-sm-block">
          <button type="button" class="btn my-3 me-3 btn-primary" (click)="deleteLastFilter()">Annuler dernier filtre</button>
          <button type="button" class="btn my-3 me-3 btn-secondary" (click)="resetFormModal.control.toggle($event)">
            Tout réinitialiser
          </button>
        </div>
      </div>
      <div class="d-block d-sm-none text-center">
        <button type="button" class="btn my-3 me-3 btn-primary" (click)="deleteLastFilter()">Annuler dernier filtre</button>
        <button type="button" class="btn my-3 me-3 btn-secondary" (click)="resetFormModal.control.toggle($event)">
          Tout réinitialiser
        </button>
      </div>
    </app-offcanvas>
  </div>
</div>
<app-reset-form-modal #resetFormModal (resetAllFilter)="filterForm.reset()"></app-reset-form-modal>
