<h2 class="h5 text-muted mb-3 d-print-none">HORAIRES</h2>
<small class="text-muted fw-bold mb-2 d-none d-print-block">Horaires d'ouverture</small>
<ng-container *ngIf="horaires; else noOpeningHours">
  <table class="table table-horaires table-borderless table-sm mb-0 text-prewrap">
    <tbody>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Lundi</th>
        <td>{{ horaires['Lundi'] }}</td>
      </tr>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Mardi</th>
        <td>{{ horaires['Mardi'] }}</td>
      </tr>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Mercredi</th>
        <td>{{ horaires['Mercredi'] }}</td>
      </tr>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Jeudi</th>
        <td>{{ horaires['Jeudi'] }}</td>
      </tr>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Vendredi</th>
        <td>{{ horaires['Vendredi'] }}</td>
      </tr>
      <tr>
        <th class="day text-muted fw-bold">Samedi</th>
        <td>{{ horaires['Samedi'] }}</td>
      </tr>
      <tr>
        <th scope="row" class="day text-muted fw-bold">Dimanche</th>
        <td>{{ horaires['Dimanche'] }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #noOpeningHours>Horaires d'ouverture inconnus</ng-template>
