@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';

.tag {
  @include cn-bold-16;
  text-transform: uppercase;
  color: $secondary-color;
  fill: $secondary-color;
  stroke: $secondary-color;
}
