@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';

.tag {
  @include lato-bold-16;
  text-transform: uppercase;
  color: $primary-color;
  fill: $primary-color;
  stroke: $primary-color;
}
