<form [formGroup]="structureForm" *ngIf="structureForm" (keyup.enter)="isPageValid && !isEditMode ? nextPage() : null">
  <div class="title">
    <h3>Quelle structure voulez-vous référencer&nbsp;?</h3>
  </div>
  <!-- TODO : keep edit ? -->
  <!-- <p
  class="missing-information"
  *ngIf="isEditMode && (!getStructureControl('structureName').valid || !getStructureControl('address').valid)"
>
  <app-svg-icon [iconClass]="'validation'" [type]="'form'" [icon]="'notValidate'" class="validationIcon"></app-svg-icon>
  <span>Il faut renseigner tous les champs</span>
</p> -->
  <div class="form-group" fxLayout="column">
    <label for="structureName">Nom de la structure</label>
    <div fxLayout="row" fxLayoutGap="13px">
      <input
        type="text"
        (input)="setValidationsForm()"
        formControlName="structureName"
        class="form-input structureName"
      />
      <app-svg-icon
        *ngIf="structureForm.get('structureName').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
    </div>
  </div>
  <div class="form-group" fxLayout="column">
    <label for="address">Adresse de la structure</label>
    <div class="addressRow" fxLayout="row" fxLayoutGap="13px">
      <app-address-autocomplete
        [address]="structureForm.get('address').valid ? structureForm.get('address').value : null"
        (inputAddress)="setAddressStructure()"
        (selectedAddress)="setAddressStructure($event)"
      ></app-address-autocomplete>
      <app-svg-icon
        *ngIf="structureForm.get('address').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
        class="validateIcon"
      ></app-svg-icon>
    </div>
  </div>
</form>
