@import '../../assets/scss/color';
@import '../../assets/scss/z-index';
@import '../../assets/scss/typography';
@import '../../assets/scss/breakpoint';

@keyframes slideMenu {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes background-fade {
  0% {
    background: none;
  }
  100% {
    background: none;
  }
}
.containerMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: $menu-phone-z-index;
  animation: slideMenu 0.5s;
  .contentMenu {
    background-color: $white;
    height: 100vh;
    width: 350px;
    padding: 27px 25px;
  }
  .outside {
    width: calc(100% - 350px);
    height: 100vh;
    opacity: 0.65;
    animation: background-fade 0.1s;
    background-color: $black;
  }
}
.titleFilter {
  margin-bottom: 35px;
  @include cn-bold-28;
}
.footer {
  a {
    height: unset;
    display: table-cell;
    vertical-align: middle;
    margin: auto 0 auto 0;
  }
}
a {
  @include cn-bold-18;
  font-style: italic;
  color: $grey-2;
  height: 70px;
  margin: 0;
  &.active {
    font-weight: bold;
    color: $grey-1;
    &:before {
      color: $primary-color;
      content: '// ';
    }
    &:after {
      color: $primary-color;
      content: ' //';
    }
  }
}
