<div class="containerMenu" fxLayout="row">
  <div class="outside" (click)="closeMenu(null)"></div>
  <div class="contentMenu" fxLayout="column" fxLayoutAlign="space-between">
    <div>
      <div class="titleFilter" fxLayout="row" fxLayoutAlign="space-between">
        <span>Menu</span>
        <div (click)="closeMenu(null)" class="ico-close-details"></div>
      </div>
      <div fxLayout="column" class="right-header" fxLayoutGap="3vw">
        <a (click)="closeMenu('home')" i18n>Les acteurs</a>
        <!-- <a routerLink="/resources" [routerLinkActive]="'active'" i18n>Ressources</a>
        <a routerLink="/projects" [routerLinkActive]="'active'" i18n>Projets</a> -->
        <a (click)="closeMenu('about')" i18n>Qui sommes-nous ?</a>

        <a *ngIf="isAdmin" routerLink="/admin" [routerLinkActive]="'active'">Administration</a>
        <!--<a routerLink="/login" [routerLinkActive]="'active'" i18n><span class="clickable ico-mglass purple"></span></a>
        <a routerLink="/home" [routerLinkActive]="'active'" i18n
          ><span class="ico-profile" fxLayout="column" fxLayoutAlign="center center">
            <span class="head"></span>
            <span class="body"></span> </span
        ></a> -->
        <a *ngIf="isLoggedIn" routerLink="/profile" [routerLinkActive]="'active'" fxLayout="row" fxLayoutGap="1.5vh">
          <app-svg-icon
            [type]="'ico'"
            [iconClass]="'icon-32'"
            [icon]="'user'"
            [iconColor]="'currentColor'"
          ></app-svg-icon>
        </a>
        <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      </div>
    </div>
    <!--<div class="footer" fxLayout="row" fxLayoutGap="1.5vh">
      <app-svg-icon [type]="'ico'" [iconClass]="'icon-32'" [icon]="'user'" [iconColor]="'currentColor'"></app-svg-icon>
      <a>Mon compte</a>
    </div>-->
  </div>
</div>
