<form
  [formGroup]="accountForm"
  *ngIf="accountForm && !profile"
  (keyup.enter)="isPageValid && !isEditMode ? nextPage() : null"
>
  <div class="title">
    <h3>Quels identifiants utiliserez-vous pour vous connecter&nbsp;?</h3>
  </div>
  <div class="form-group" fxLayout="column">
    <label for="email">Email du compte</label>
    <p class="special invalid" *ngIf="this.accountForm.get('email').hasError('alreadyExist')">
      L'email est déja utilisé.
    </p>
    <div fxLayout="row" fxLayoutGap="13px">
      <input
        type="text"
        (input)="setValidationsForm()"
        (keyup)="verifyUserExist($event.target.value)"
        formControlName="email"
        placeholder="exemple: prenom.nom@grandlyon.com"
        class="form-input email-placeholder"
        [readonly]="isAccountMode"
        [ngClass]="{ disabled: isAccountMode }"
      />
      <app-svg-icon
        *ngIf="accountForm.get('email').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="accountForm.get('email').invalid && accountForm.get('email').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'notValidate'"
      ></app-svg-icon>
    </div>
  </div>
  <div class="form-group" fxLayout="column">
    <p
      class="special"
      [ngClass]="{ invalid: accountForm.get('password').invalid && accountForm.get('password').value }"
    >
      Le mot de passe doit contenir au minimum
    </p>
    <ul>
      <li
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [ngClass]="{
          invalid: accountForm.get('password').value.length < 8,
          valid: accountForm.get('password').value.length >= 8
        }"
        class=""
      >
        <app-svg-icon
          *ngIf="accountForm.get('password').value.length >= 8"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'validate'"
        ></app-svg-icon>
        <app-svg-icon
          *ngIf="accountForm.get('password').value.length < 8"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'notValidate'"
        ></app-svg-icon>
        <p>8 caractères</p>
      </li>
      <li
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [ngClass]="{
          invalid: !checkIfPasswordHasSpecialChar(accountForm.get('password').value),
          valid: checkIfPasswordHasSpecialChar(accountForm.get('password').value)
        }"
      >
        <app-svg-icon
          *ngIf="checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'validate'"
        ></app-svg-icon>
        <app-svg-icon
          *ngIf="!checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'notValidate'"
        ></app-svg-icon>
        <p>un caractère spécial</p>
      </li>
      <li
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [ngClass]="{
          invalid: !checkIfPasswordHasLowerCase(accountForm.get('password').value),
          valid: checkIfPasswordHasLowerCase(accountForm.get('password').value)
        }"
      >
        <app-svg-icon
          *ngIf="checkIfPasswordHasLowerCase(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'validate'"
        ></app-svg-icon>
        <app-svg-icon
          *ngIf="!checkIfPasswordHasLowerCase(accountForm.get('password').value); s"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'notValidate'"
        ></app-svg-icon>
        <p>un caractère en minuscule</p>
      </li>
      <li
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [ngClass]="{
          invalid: !checkIfPasswordHasUpperCase(accountForm.get('password').value),
          valid: checkIfPasswordHasUpperCase(accountForm.get('password').value)
        }"
      >
        <app-svg-icon
          *ngIf="checkIfPasswordHasUpperCase(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'validate'"
        ></app-svg-icon>
        <app-svg-icon
          *ngIf="!checkIfPasswordHasUpperCase(accountForm.get('password').value); s"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'notValidate'"
        ></app-svg-icon>
        <p>un caractère en majuscule</p>
      </li>
      <li
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="10px"
        [ngClass]="{
          invalid: !checkIfPasswordHasDigit(accountForm.get('password').value),
          valid: checkIfPasswordHasDigit(accountForm.get('password').value)
        }"
      >
        <app-svg-icon
          *ngIf="checkIfPasswordHasDigit(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'validate'"
        ></app-svg-icon>
        <app-svg-icon
          *ngIf="!checkIfPasswordHasDigit(accountForm.get('password').value)"
          [iconClass]="'icon-16'"
          [type]="'form'"
          [icon]="'notValidate'"
        ></app-svg-icon>
        <p>un chiffre</p>
      </li>
    </ul>
    <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
      <input
        [type]="isShowPassword ? 'text' : 'password'"
        formControlName="password"
        class="form-input password"
        (input)="setValidationsForm()"
        autocomplete="on"
      />
      <app-svg-icon
        [iconClass]="'icon-26 grey hover'"
        [type]="'form'"
        [icon]="'eyePassword'"
        (click)="showPassword()"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="accountForm.get('password').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="accountForm.get('password').invalid && accountForm.get('password').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'notValidate'"
      ></app-svg-icon>
    </div>
  </div>
  <div class="form-group" fxLayout="column">
    <label for="confirmPassword">Vérification du mot de passe</label>
    <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
      <input
        [type]="isShowConfirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
        class="form-input password"
        (input)="setValidationsForm()"
        autocomplete="on"
      />
      <app-svg-icon
        [iconClass]="'icon-26 grey hover'"
        [type]="'form'"
        [icon]="'eyePassword'"
        (click)="showConfirmPassword()"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="accountForm.get('confirmPassword').valid && accountForm.get('confirmPassword').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="accountForm.get('confirmPassword').invalid && accountForm.get('confirmPassword').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'notValidate'"
      ></app-svg-icon>
    </div>
  </div>
</form>
