<div style="width: 600px; height: 500px">
  <!-- debut des éléments de l'animation -->
  <div class="full-animation-container">
    <!-- degrade de fond -->
    <div class="fond-degrade"></div>

    <!-- puces animeees -->
    <div class="elmt-animation elmt-animation-0"></div>
    <div class="elmt-animation elmt-animation-1"></div>
    <div class="elmt-animation elmt-animation-2"></div>
    <div class="elmt-animation elmt-animation-3"></div>
    <div class="elmt-animation elmt-animation-4"></div>
    <div class="elmt-animation elmt-animation-5"></div>
    <div class="elmt-animation elmt-animation-6"></div>
    <div class="elmt-animation elmt-animation-7"></div>
    <div class="elmt-animation elmt-animation-8"></div>
    <div class="elmt-animation elmt-animation-9"></div>
    <div class="elmt-animation elmt-animation-10"></div>
    <div class="elmt-animation elmt-animation-11"></div>
    <div class="elmt-animation elmt-animation-12"></div>
    <div class="elmt-animation elmt-animation-13"></div>
    <div class="elmt-animation elmt-animation-14"></div>
    <div class="elmt-animation elmt-animation-15"></div>
    <div class="elmt-animation elmt-animation-16"></div>
    <div class="elmt-animation elmt-animation-17"></div>
    <div class="elmt-animation elmt-animation-18"></div>
    <div class="elmt-animation elmt-animation-19"></div>
    <div class="elmt-animation elmt-animation-20"></div>
  </div>
  <!-- fin de l'animation -->
</div>
