<div *ngIf="(lieuMediationNumerique$ | async) as lieuMediationNumerique" class="h-100 overflow-auto">
  <div class="border-bottom p-4 sticky-top bg-secondary">
    <app-informations-generales
      [id]="lieuMediationNumerique.id"
      [nom]="lieuMediationNumerique.nom"
      [typologie]="lieuMediationNumerique.typologie"
      [date]="lieuMediationNumerique.date_maj"
      [status]="lieuMediationNumerique.status"></app-informations-generales>
  </div>
  <div class="bg-light">
    <app-boutons-action
      [courriel]="lieuMediationNumerique.contact?.courriel"
      [siteWeb]="lieuMediationNumerique.contact?.site_web"></app-boutons-action>
  </div>
  <div class="mx-4 py-4 border-bottom">
    <app-informations-pratiques
      [adresse]="lieuMediationNumerique.adresse"
      [conditionAccess]="lieuMediationNumerique.conditions_access"
      [accessibilite]="lieuMediationNumerique.accessibilite"
      [courriel]="lieuMediationNumerique.contact?.courriel"
      [telephone]="lieuMediationNumerique.contact?.telephone ?? '' | phone"
      [distance]="lieuMediationNumerique?.distance"></app-informations-pratiques>
  </div>
  <div
    class="mx-4 py-4 border-bottom"
    *ngIf="lieuMediationNumerique.presentation?.detail || lieuMediationNumerique.presentation?.resumee">
    <app-description
      [detail]="lieuMediationNumerique.presentation?.detail"
      [resumee]="lieuMediationNumerique.presentation?.resumee"></app-description>
  </div>
  <div class="mx-4 py-4 border-bottom">
    <div class="row">
      <div class="col-lg-4 mt-4">
        <app-horaires [horaires]="lieuMediationNumerique.horaires"></app-horaires>
      </div>
      <div class="col-lg-8">
        <app-services [services]="lieuMediationNumerique.services"></app-services>
      </div>
    </div>
  </div>
  <div class="mx-4 py-4 border-bottom" *ngIf="lieuMediationNumerique.aidants">
    <app-aidants [aidants]="lieuMediationNumerique.aidants"></app-aidants>
  </div>
  <div
    class="mx-4 py-5 border-bottom"
    *ngIf="lieuMediationNumerique.modalites_accompagnement && lieuMediationNumerique.modalites_accompagnement.length > 1">
    <app-modalites-accompagnement
      [modalitesAccompagnementList]="lieuMediationNumerique.modalites_accompagnement"></app-modalites-accompagnement>
  </div>
  <div class="mx-4 py-4 border-bottom" *ngIf="lieuMediationNumerique.publics_accueillis">
    <app-public-pris-en-charge [publicsAccueillis]="lieuMediationNumerique.publics_accueillis"></app-public-pris-en-charge>
  </div>
  <div
    class="mx-4 py-4"
    *ngIf="(lieuMediationNumerique.labels_nationaux && lieuMediationNumerique.labels_nationaux.length > 1)  || lieuMediationNumerique.labels_autres">
    <app-labellisations
      [labelsNationaux]="lieuMediationNumerique.labels_nationaux"
      [labelsAutres]="lieuMediationNumerique.labels_autres"></app-labellisations>
  </div>
</div>
