<form [formGroup]="structureForm" *ngIf="structureForm" (keyup.enter)="isPageValid && !isEditMode ? nextPage() : null">
  <div class="title">
    <h3>Comment joindre votre structure&nbsp;?</h3>
  </div>
  <p
    class="missing-information"
    *ngIf="isEditMode && (!structureForm.get('contactPhone').valid || !structureForm.get('contactMail').valid)"
  >
    <app-svg-icon [iconClass]="'icon-26'" [type]="'form'" [icon]="'notValidate'" class="validationIcon"></app-svg-icon>
    <span>Il faut renseigner tous les champs</span>
  </p>
  <div class="form-group" fxLayout="column">
    <label for="contactPhone">Téléphone de la structure</label>
    <div fxLayout="row" fxLayoutGap="13px">
      <input
        type="text"
        formControlName="contactPhone"
        class="form-input"
        (input)="utils.modifyPhoneInput(structureForm, 'contactPhone', $event.target.value); setValidationsForm()"
      />
      <app-svg-icon
        *ngIf="structureForm.get('contactPhone').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="structureForm.get('contactPhone').invalid && structureForm.get('contactPhone').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'notValidate'"
      ></app-svg-icon>
    </div>
  </div>
  <div class="form-group" fxLayout="column">
    <label for="structureName">Email de la structure</label>
    <div fxLayout="row" fxLayoutGap="13px">
      <input type="text" (input)="setValidationsForm()" formControlName="contactMail" class="form-input" />
      <app-svg-icon
        *ngIf="structureForm.get('contactMail').valid"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'validate'"
      ></app-svg-icon>
      <app-svg-icon
        *ngIf="structureForm.get('contactMail').invalid && structureForm.get('contactMail').value"
        [iconClass]="'icon-26'"
        [type]="'form'"
        [icon]="'notValidate'"
      ></app-svg-icon>
    </div>
  </div>
</form>
