<div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center center" class="userBlock">
  <h4>Suppression d'utilisateurs</h4>
  <div fxLayout="row">
    <input #searchstring (keyup)="(0)" />
    <button (click)="searchUsers(searchstring.value)">Rechercher</button>
  </div>
  <div class="userList">
    <tr *ngFor="let user of users">
      <td>{{ user.email }}</td>
      <td>
        <button (click)="toggleDeleteModal(user)">Supprimer</button>
      </td>
    </tr>
    <app-modal-confirmation
      *ngIf="userToDelete"
      [openned]="deleteModalOpenned"
      [content]="'Voulez-vous vraiment supprimer cet utilisateur&nbsp;? (' + userToDelete.email + ')'"
      (closed)="deleteUser(userToDelete, $event)"
    ></app-modal-confirmation>
    <div *ngIf="users && users.length == 0">Aucun résultat</div>
  </div>
</div>
