<app-modal #modal heading="Plus d'infos" icon="ri-information-line" closeLabel="Précédent">
  <div *ngIf="label" class="text-center">
    <img
      [src]="assetsConfiguration.path + '/img/logo/labels/' + label.ref + '.svg'"
      [alt]="'Logo ' + label.nom"
      class="mb-3"
      style="width: 180px; max-height: 120px" />
    <h3 class="h4 fw-bold text-primary">{{ label.nom }}</h3>
    <p class="mb-0 mt-3">{{ label.description }}</p>
    <div class="my-3">
      <i *ngFor="let carracteristique of label.carracteristiques" class="badge rounded-pill text-bg-light fw-normal me-2">
        {{ carracteristique }}
      </i>
    </div>
    <span *ngIf="label.lieuxCount as lieuxCount" [ngPlural]="lieuxCount" class="rounded-5 bg-light py-1 px-3">
      <span role="img" class="ri-map-pin-5-line me-2" aria-hidden="true"></span>
      <ng-template ngPluralCase="=1">
        <span class="fw-bold">1 lieu</span>
        utilise ce label
      </ng-template>
      <ng-template ngPluralCase="other">
        <span class="fw-bold">{{ lieuxCount }} lieux</span>
        utilisent ce label
      </ng-template>
    </span>
  </div>
  <a
    slot="footer"
    *ngIf="label?.url as href"
    [href]="href"
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-primary"
    (click)="modal.close()">
    Voir le site
    <span role="img" class="ri-external-link-line" aria-hidden="true"></span>
  </a>
</app-modal>
