<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
  <div class="col" *ngFor="let webinaire of webinairePresentation">
    <div class="card h-100 rounded-0">
      <img src="/assets/img/presentation/webinaire/{{ webinaire.image }}" class="w-100" alt="" />
      <div class="card-body h-100 d-flex p-4 flex-column">
        <div class="d-flex">
          <span role="img" class="ri ri-timer-fill" style="color: #459c99"></span>
          <p class="ms-3 text-muted">{{ webinaire.duration }}</p>
        </div>
        <div class="h-100">
          <h3 class="fw-bold card-title my-2">{{ webinaire.titre }}</h3>
        </div>
        <p class="card-text mt-2 mb-5 flex-grow-1">{{ webinaire.text }}</p>
        <div class="d-flex">
          <a
            class="btn btn-primary rounded-0"
            href="{{ webinaire.inscription_link }}"
            target="_blank"
            title="S'inscrire au webinaire (nouvel onglet)"
            rel="noopener noreferrer">
            <small>{{ webinaire.inscription_text }}</small>
          </a>
          <a
            *ngIf="webinaire.replay_link"
            class="btn btn-primary rounded-0 ms-auto"
            href="{{ webinaire.replay_link }}"
            target="_blank"
            title="Replay du webinaire (nouvel onglet)"
            rel="noopener noreferrer">
            <small>{{ webinaire.replay_text }}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
