@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/layout';

$margin-post: 20px;

.container {
  max-width: 860px;
  margin: $margin-post 0 100px 0;
  min-height: calc(
    var(--vh, 1vh) * 100 - #{$header-height} - #{$footer-height} - #{$header-post-height} - #{$margin-post} * 2
  );
}
.chevronLeft {
  height: 24px;
  width: 24px;
  stroke: $black;
  margin-right: 10px;
}

.content {
  color: $grey-1;
  h2 {
    @include cn-bold-30;
    margin: 0;
  }
  .image {
    width: 100%;
    text-align: center;
    svg {
      max-width: 300px;
      height: 300px;
    }
  }
  .informations {
    @include cn-regular-18;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    p {
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    width: auto;
    padding: 10.5px 24px;
    @include cn-regular-16;
    font-size: 16px;
  }
}
