<div class="no-max-width">
  <ng-container *ngIf="currentStep === structureFormStep.structureChoice">
    <app-profile-structure-choice
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (createStructure)="goToCreateStructure()"
    ></app-profile-structure-choice>
  </ng-container>
  <ng-container *ngIf="currentStep === structureFormStep.structureFormTime" class="no-max-width">
    <app-information-step
      [step]="structureFormStep.structureFormTime"
      [structureName]="structureForm.value.structureName"
      (goNext)="setValidationsForm()"
      [formType]="formTypeEnum.structure"
    ></app-information-step>
  </ng-container>
  <ng-container *ngIf="currentStep === structureFormStep.mailSentInfo">
    <app-information-step
      [step]="structureFormStep.mailSentInfo"
      [structureName]="structureForm.value.structureName"
      (goNext)="setValidationsForm()"
      [formType]="formTypeEnum.structure"
    ></app-information-step>
  </ng-container>
  <div *ngIf="currentStep == structureFormStep.structureNameAndAddress">
    <app-structure-name-and-address
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (addressStructure)="setAddressStructure($event)"
    ></app-structure-name-and-address>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureContact">
    <app-structure-contact
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
    ></app-structure-contact>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureAccompanimentChoice">
    <app-structure-accompaniment-choice
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (radioChange)="onRadioChange($event)"
    ></app-structure-accompaniment-choice>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureChoiceCompletion">
    <app-structure-choice-completion
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (radioChange)="onRadioChange($event)"
    ></app-structure-choice-completion>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureContactCompletion">
    <app-structure-contact-completion
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
    ></app-structure-contact-completion>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureType">
    <app-structure-type
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (typeStructure)="setTypeStructure($event)"
    ></app-structure-type>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureAccessModality">
    <app-structure-access-modality
      [structureForm]="structureForm"
      [accessModality]="accessModality"
      (validateForm)="setValidationsForm()"
      (checkChange)="onCheckChange($event)"
    ></app-structure-access-modality>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureHours">
    <app-structure-hours
      [structureForm]="structureForm"
      [hoursForm]="hoursForm"
      (validateForm)="setValidationsForm()"
      (hours)="updateHours($event)"
      (hoursError)="setHoursError()"
    ></app-structure-hours>
  </div>
  <div *ngIf="currentStep == structureFormStep.structurePmr">
    <app-structure-pmr [structureForm]="structureForm" (radioChange)="onRadioChange($event)"></app-structure-pmr>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureWebAndSocialNetwork">
    <app-structure-web-and-social-network
      [structureForm]="structureForm"
      [showWebsite]="showWebsite"
      [showSocialNetwork]="showSocialNetwork"
      (toggleSocials)="toggleSocialNetwork()"
      (toggleWebsite)="toggleWebSite()"
      (validateForm)="setValidationsForm()"
    >
    </app-structure-web-and-social-network>
  </div>
  <div *ngIf="currentStep == structureFormStep.structurePublicTarget">
    <app-structure-public-target
      [structureForm]="structureForm"
      [publics]="publics"
      (validateForm)="setValidationsForm()"
      (updateChoice)="updateChoice($event)"
    >
    </app-structure-public-target>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureTrainingType">
    <app-structure-training-type
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
    ></app-structure-training-type>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureTrainingPrice">
    <app-structure-training-price
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm()"
      (radioChange)="onRadioChange($event)"
    ></app-structure-training-price>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureWifi">
    <app-structure-wifi
      [structureForm]="structureForm"
      [isEditMode]="isEditMode"
      [isWifiChoosen]="isWifiChoosen"
      (validateForm)="setValidationsForm($event)"
      (inArray)="isInArray($event)"
      (checkChange)="onCheckChange($event)"
    ></app-structure-wifi>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureEquipments">
    <app-structure-equipments
      [structureForm]="structureForm"
      [equipmentsAndServices]="equipmentsAndServices"
      (validateForm)="setValidationsForm($event)"
      [isEditMode]="isEditMode"
      (inArray)="isInArray($event)"
    ></app-structure-equipments>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureLabels">
    <app-structure-labels
      [structureForm]="structureForm"
      [labelsQualifications]="labelsQualifications"
      [isEditMode]="isEditMode"
      (checkChange)="onCheckChange($event)"
      (validateForm)="setValidationsForm($event)"
    ></app-structure-labels>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureOtherServices">
    <app-structure-other-services
      [structureForm]="structureForm"
      [equipmentsAndServices]="equipmentsAndServices"
      [isEditMode]="isEditMode"
      (validateForm)="setValidationsForm($event)"
      (checkChange)="onCheckChange($event)"
    ></app-structure-other-services>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureDigitalHelpingAccompaniment">
    <app-structure-digital-helping-accompaniment
      [structureForm]="structureForm"
      [proceduresAccompaniment]="proceduresAccompaniment"
      (validateForm)="setValidationsForm($event)"
      (updateChoice)="updateChoice($event)"
    ></app-structure-digital-helping-accompaniment>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureDescription">
    <app-structure-description
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm($event)"
      [isEditMode]="isEditMode"
    ></app-structure-description>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureCovidInfo">
    <app-structure-covid-info
      [structureForm]="structureForm"
      (validateForm)="setValidationsForm($event)"
      [isEditMode]="isEditMode"
    ></app-structure-covid-info>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureConsent">
    <app-structure-consent
      [structureForm]="structureForm"
      [isEditMode]="isEditMode"
      (onAcceptOpenData)="acceptOpenData($event)"
      (onAcceptDataBeSaved)="acceptDataBeSaved($event)"
    ></app-structure-consent>
  </div>
  <div *ngIf="currentStep == structureFormStep.structureCreationFinishedInfo" class="no-max-width">
    <app-information-step
      [structureForm]="structureForm"
      [isEditMode]="isEditMode"
      [step]="currentStep"
      [formType]="formTypeEnum.structure"
      [hasPersonalOffer]="profile.job ? profile.job.hasPersonalOffer : false"
    ></app-information-step>
  </div>
</div>
