@import '../../assets/scss/color';
@import '../../assets/scss/typography';
@import '../../assets/scss/hyperlink';
@import '../../assets/scss/shapes';
@import '../../assets/scss/breakpoint';

.content-container {
  padding-top: 0;
}
.section-container {
  width: 50%;
  padding: 20px 0;
  .profileInformation {
    width: 100%;
  }
  .cameraProfile {
    width: 128px;
    margin-right: 16px;
    height: 113px;
  }
  @media #{$tablet} {
    .cameraProfile {
      display: none;
    }
    width: 70%;
  }
  @media #{$large-phone} {
    width: 90%;
  }
}
.profileSection {
  background: $white;
  border-bottom: 1px solid $grey-4;
  .profileName {
    @include cn-bold-26;
    margin: 0 !important;
  }
  .profileEmail {
    span {
      @include cn-regular-16;
      color: $grey-2;
    }
    p {
      margin: 0;
      @include cn-regular-18;
    }
  }
}
.structureSection {
  margin-bottom: 108px;
}

.addSection {
  button {
    background: $red-default;
    color: $white;
  }
}
