<div fxLayout="column" class="content-container full-screen" *ngIf="userProfile">
  <div class="profileSection">
    <div class="section-container" fxLayout="row">
      <ng-container *ngIf="userProfile.profileImage">
        <img class="cameraProfile" alt="image of profile" src="userProfile.profileImage" />
      </ng-container>
      <div class="profileInformation" fxLayoutGap="18px" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p class="profileName">{{ userProfile.name | titlecase }} {{ userProfile.surname | titlecase }}</p>
          <button class="btn-primary" (click)="logout()">Déconnexion</button>
        </div>
        <div class="profileEmail" fxLayout="column">
          <span>Identifiant</span>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <p>{{ userProfile.email }}</p>
            <app-structure-options-modal
              [userProfile]="userProfile"
              (closed)="ngOnInit()"
            ></app-structure-options-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="structureSection">
    <div class="section-container" fxLayoutGap="18px" fxLayout="column">
      <ng-container *ngIf="userProfile.structuresLink.length > 0 && structures">
        <div class="structureCard" *ngFor="let s of structures; let i = index">
          <div class="structureInfo" fxLayout="column" fxLayoutGap="14px">
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
              <a class="structureName" routerLink="/acteurs" [state]="{ data: s.structure }">{{
                s.structure.structureName
              }}</a>
              <app-structure-options-modal
                [structure]="s"
                (closed)="ngOnInit()"
                (closedWithRefresh)="ngOnInit()"
              ></app-structure-options-modal>
            </div>
            <div fxLayout="column" fxLayoutGap="14px" class="ownersBlock">
              <p class="ownerName" *ngFor="let owner of s.owners">{{ owner.email }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="addSection" fxLayout="row" fxLayoutAlign="center center">
        <app-button
          class="hide-on-print"
          [type]="'button'"
          [style]="'buttonWithHash'"
          [text]="'Ajouter une structure'"
          [iconBtn]="'add'"
          (action)="addStructure()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
