<div *ngIf="loadingState$ | async" class="position-absolute top-0 w-100 h-100 bg-light z-index-over">
  <div class="container h-100">
    <div class="row justify-content-center h-100">
      <div class="col-lg-6 m-auto">
        <div class="card border-0 shadow m-auto">
          <div class="card-body p-5">
            <div class="d-flex flex-column text-center">
              <ng-container *ngIf="fromOrientation; else: welcome">
                <p class="text-muted">Patientez quelques instants</p>
                <h3 class="card-title text-primary">
                  Nous recherchons les structures
                  <br />
                  correspondant à votre recherche
                </h3>
              </ng-container>
              <ng-template #welcome>
                <div class="fw-bold">
                  <div class="text-muted mb-2">Patientez quelques instants</div>
                  <div class="text-primary fs-4">Nous chargeons les structures correspondantes</div>
                </div>
              </ng-template>
            </div>
            <app-cartographie-loader></app-cartographie-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex h-100">
  <div
    *ngIf="lieuxMediationNumerique$ | async"
    class="border-end"
    [ngClass]="router.url.endsWith('/details') ? 'col-xl-5 col-lg-6 col-12' : 'col-xl-4 col-lg-5 col-md-6 col-12'">
    <router-outlet></router-outlet>
  </div>
  <div class="col overflow-auto">
    <app-leaflet-map
      *ngIf="(markersPresenter.currentZoomLevel$ | async) as currentZoomLevel"
      [centerView]="(markersPresenter.centerView$ | async) ?? markersPresenter.defaultCenterView"
      (stateChange)="onMapViewUpdated($event)">
      <app-region-markers
        *ngIf="currentZoomLevel <= 7"
        [regions]="(regions$ | async) ?? []"
        [hoverId]="(markersPresenter.hovered$ | async) ?? ''"
        (enableHover)="hover($event)"
        (disableHover)="hover()"
        (showLieux)="onShowLieuxInRegion($event)"></app-region-markers>
      <app-departement-markers
        *ngIf="currentZoomLevel <= 9 && currentZoomLevel > 7"
        [departements]="(departements$ | async) ?? []"
        [hoverId]="(markersPresenter.hovered$ | async) ?? ''"
        (enableHover)="hover($event)"
        (disableHover)="hover()"
        (showLieux)="onShowLieuxInDepartement($event)"></app-departement-markers>
      <app-lieu-mediation-numerique-markers
        *ngIf="currentZoomLevel > 9"
        [lieuxMediationNumeriques]="(lieuxMediationNumerique$ | async) ?? []"
        [selectedId]="(markersPresenter.selected$ | async) ?? ''"
        [hoverId]="(markersPresenter.hovered$ | async) ?? ''"
        (enableHover)="hover($event)"
        (disableHover)="hover()"
        (showDetails)="onShowDetails($event)"></app-lieu-mediation-numerique-markers>
    </app-leaflet-map>
  </div>
</div>
