<div class="row">
  <div class="col">
    <h5 class="fw-bold mb-0 text-first-letter-uppercase">{{ lieuMediationNumerique.nom }}</h5>
    <div class="text-muted">
      <span class="text-lowercase">{{ lieuMediationNumerique.adresse.voie }}</span>
      {{ lieuMediationNumerique.adresse.code_postal }}
      <div class="text-first-letter-uppercase d-inline-block">{{ lieuMediationNumerique.adresse.commune }}</div>
    </div>
    <div class="mt-1" *ngIf="lieuMediationNumerique.distance || lieuMediationNumerique.conditions_access">
      <span *ngIf="lieuMediationNumerique.distance">{{ lieuMediationNumerique.distance | distance }}</span>
      <ng-container *ngIf="lieuMediationNumerique.distance && lieuMediationNumerique.conditions_access?.includes('Payant')">
        -
      </ng-container>
      <span class="text-muted" *ngIf="lieuMediationNumerique.conditions_access?.includes('Payant')">Payant</span>
    </div>
  </div>
  <div class="col-auto text-end" *ngIf="lieuMediationNumerique.contact?.courriel || lieuMediationNumerique.contact?.telephone">
    <a
      *ngIf="lieuMediationNumerique.contact?.courriel as courriel"
      href="mailto:{{ courriel }}"
      class="btn btn-sm btn-secondary d-block mb-2"
      (click)="$event.stopPropagation()">
      <i class="ri-mail-line me-2 align-bottom text-right"></i>
      <span>Contacter par mail</span>
    </a>
    <a
      *ngIf="lieuMediationNumerique.contact?.telephone as telephone"
      href="tel://{{ telephone }}"
      class="text-decoration-none link-dark d-block mb-2"
      (click)="$event.stopPropagation()">
      {{ telephone | phone }}
      <i class="ri-phone-line align-bottom"></i>
    </a>
    <div class="d-flex" *ngIf="lieuMediationNumerique.prise_rdv">
      <p class="text-muted">Prise de Rendez-vous disponible</p>
      <i class="ri-calendar-check-line align-bottom ms-1"></i>
    </div>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="flex-grow-1 mt-auto">
    <div class="d-flex flex-row align-items-center" *ngIf="lieuMediationNumerique.labels_nationaux as labelsNationaux">
      <div *ngFor="let label of labelsNationaux" class="d-flex flex-row align-items-start">
        <app-maison-france-service class="me-2" *ngIf="label === 'France Services'"></app-maison-france-service>
        <app-cnfs class="me-2" *ngIf="label === 'CNFS'"></app-cnfs>
      </div>
    </div>
  </div>
  <div class="mt-4 d-flex flex-column" *ngIf="lieuMediationNumerique.date_maj || lieuMediationNumerique.status">
    <div
      class="d-flex justify-content-end align-items-center"
      *ngIf="lieuMediationNumerique.status"
      [ngClass]="lieuMediationNumerique.status.includes('Fermé') ? 'text-muted' : 'text-success'">
      {{ lieuMediationNumerique.status }}
      <i class="ri-checkbox-blank-circle-fill ri-xxs ms-1"></i>
    </div>
    <small *ngIf="lieuMediationNumerique.date_maj" class="text-muted text-end fst-italic">
      Mise à jour le {{ lieuMediationNumerique.date_maj | date: 'dd/MM/y' }}
    </small>
  </div>
</div>
