<form [formGroup]="personalOfferForm" *ngIf="personalOfferForm">
  <div class="title">
    <p class="overtitle">{{ structureName }}</p>
    <h3>Quelles aides au numérique proposez-vous&nbsp;?</h3>
    <p class="notRequired">Facultatif</p>
  </div>

  <div fxLayout="column" fxLayoutGap="32px">
    <div *ngIf="proceduresAccompaniment" class="btn-grid">
      <span *ngFor="let module of proceduresAccompaniment.modules">
        <app-button
          [ngClass]="{ selectedChoice: true }"
          [extraClass]="isSelectedModule(module) ? 'selected' : ''"
          [style]="buttonTypeEnum.CheckButton"
          [text]="module.text"
          (action)="toogleResult(module)"
        ></app-button>
      </span>
    </div>
  </div>
</form>
