@import '../../../../assets/scss/color';
@import '../../../../assets/scss/layout';
@import '../../../../assets/scss/breakpoint';
@import '../../../../assets/scss/typography';
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.resetPage {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
  min-height: 450px;
  max-height: 75vh;
  overflow-y: auto;
  color: $grey-1;
  background: $white;
  border-radius: 8px;
  border: 1px solid $grey-6;
  padding: 32px 24px 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media #{$tablet} {
    height: calc(
      100vh - #{$header-height-phone} - #{$footer-height-phone} - 47px - 1px
    ); // -1px because of header border
  }
}
h1 {
  @include lato-bold-24;
}
.form-group {
  margin-bottom: 20px;
  label {
    color: $grey-2;
  }
  .resetPasswordForm {
    max-width: 500px;
  }

  .button {
    margin-top: 20px;
  }

  ul {
    padding-left: 0;
    margin: 0.5rem 0;
  }

  li {
    display: flex;
    margin-left: 1%;
    font-size: small;
    align-items: center;
    p {
      margin: 0 8px;
    }
    &.valid {
      color: $green;
    }
  }
  .special {
    margin: 0;
  }
  .invalid {
    color: $orange-warning;
  }
}
