<div class="content">
  <div class="resetPage">
    <h1>Réinitialisation du mot de passe</h1>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmitPassword()">
      <div *ngIf="oldPasswordNeeded" class="form-group" fxLayout="column">
        <label for="oldPassword">Ancien mot de passe</label>
        <div fxLayout="row" fxLayoutGap="13px">
          <input
            [type]="isShowOldPassword ? 'text' : 'password'"
            formControlName="oldPassword"
            class="form-input password"
            autocomplete="on"
          />
          <app-svg-icon
            (click)="showOldPassword()"
            [type]="'form'"
            [iconClass]="'grey'"
            [icon]="'eyePassword'"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="!checkOldPassword(accountForm.value.oldPassword)"
            [type]="'form'"
            [icon]="'notValidate'"
          ></app-svg-icon>
        </div>
        <p *ngIf="passwordError" class="special invalid">Votre ancien mot de passe est incorrect.</p>
      </div>
      <div class="form-group" fxLayout="column">
        <label for="password"> Le mot de passe doit contenir au minimum :</label>
        <ul>
          <li
            [ngClass]="{
              invalid: accountForm.get('password').value.length < 8,
              valid: accountForm.get('password').value.length >= 8
            }"
            class=""
          >
            <app-svg-icon
              *ngIf="accountForm.get('password').value.length >= 8"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="accountForm.get('password').value.length < 8"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>8 caractères</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasSpecialChar(accountForm.get('password').value),
              valid: checkIfPasswordHasSpecialChar(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasSpecialChar(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère spécial</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasLowerCase(accountForm.get('password').value),
              valid: checkIfPasswordHasLowerCase(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasLowerCase(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasLowerCase(accountForm.get('password').value); s"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère en minuscule</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasUpperCase(accountForm.get('password').value),
              valid: checkIfPasswordHasUpperCase(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasUpperCase(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasUpperCase(accountForm.get('password').value); s"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un caractère en majuscule</p>
          </li>
          <li
            [ngClass]="{
              invalid: !checkIfPasswordHasDigit(accountForm.get('password').value),
              valid: checkIfPasswordHasDigit(accountForm.get('password').value)
            }"
          >
            <app-svg-icon
              *ngIf="checkIfPasswordHasDigit(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'validate'"
            ></app-svg-icon>
            <app-svg-icon
              *ngIf="!checkIfPasswordHasDigit(accountForm.get('password').value)"
              [iconClass]="'validation-small'"
              [type]="'form'"
              [icon]="'notValidate'"
            ></app-svg-icon>
            <p>un chiffre</p>
          </li>
        </ul>
        <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
          <input
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
            class="form-input password"
            autocomplete="on"
          />
          <app-svg-icon
            [iconClass]="'validation grey hover'"
            [type]="'form'"
            [icon]="'eyePassword'"
            (click)="showPassword()"
          ></app-svg-icon>

          <app-svg-icon
            *ngIf="accountForm.get('password').valid"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'validate'"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('password').invalid && accountForm.get('password').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'notValidate'"
          ></app-svg-icon>
        </div>
      </div>
      <div class="form-group" fxLayout="column">
        <label for="confirmPassword">Vérification du mot de passe</label>
        <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="13px">
          <input
            [type]="isShowConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            class="form-input password"
            autocomplete="on"
          />
          <app-svg-icon
            [iconClass]="'validation grey hover'"
            [type]="'form'"
            [icon]="'eyePassword'"
            (click)="showConfirmPassword()"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('confirmPassword').valid && accountForm.get('confirmPassword').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'validate'"
          ></app-svg-icon>
          <app-svg-icon
            *ngIf="accountForm.get('confirmPassword').invalid && accountForm.get('confirmPassword').value"
            [iconClass]="'validation'"
            [type]="'form'"
            [icon]="'notValidate'"
          ></app-svg-icon>
        </div>
      </div>
      <div class="form-group" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <app-button
          (action)="goHome()"
          [type]="'button'"
          [text]="'Annuler'"
          [style]="buttonTypeEnum.Secondary"
          [extraClass]="'fullButton'"
        >
        </app-button>
        <app-button
          [type]="'submit'"
          [disabled]="
            accountForm.get('confirmPassword').invalid ||
            accountForm.get('password').invalid ||
            (oldPasswordNeeded && passwordError)
          "
          [text]="'Envoyer'"
          [style]="buttonTypeEnum.Primary"
          [extraClass]="'fullButton'"
        >
        </app-button>
      </div>
    </form>
  </div>
</div>
