<div *ngIf="modalType" fxLayout="column" fxLayoutAlign="space-between" [ngClass]="['modal', 'modal' + getModalType()]">
  <div class="body-wrap" fxLayout="column" fxLayoutAlign="space-between">
    <div class="titleFilter" fxLayout="row" fxLayoutAlign="space-between">
      <span>Filtres</span>
      <div (click)="closeModal()" class="ico-close-details"></div>
    </div>
    <div class="contentModal" fxLayout="row wrap" fxLayoutAlign="flex-start" *ngIf="tags.length > 0">
      <div class="blockFiltre">
        <ul class="blockLigne">
          <div fxLayout="row" class="ligneFiltre" *ngFor="let tag of tags">
            <li class="checkbox">
              <div class="checkboxItem">
                <label>
                  <input
                    type="checkbox"
                    [checked]="getIndex(checkedTags, tag.slug) > -1"
                    [value]="tag.id"
                    (change)="onCheckboxChange($event, tag)"
                  />
                  <span class="customCheck"></span>
                  <div class="label">{{ tag.name }}</div>
                </label>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="footer" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="3vw">
      <a (click)="clearFilters()" tabindex="0">Effacer</a>
      <app-button [text]="'Appliquer'" (click)="emit(checkedTags)"></app-button>
    </div>
  </div>
</div>
