<app-modal
  #modal
  heading="Envoyer par mail"
  icon="ri-mail-send-line"
  closeLabel="Annuler"
  bgBody="light"
  bgFooter="white"
  (closed)="onClose()">
  <form
    class="my-4 mx-auto col-lg-7 col-12"
    id="sendByEmailForm"
    [formGroup]="sendByEmailForm"
    (ngSubmit)="onSubmitSendByEmailForm(); modal.close()">
    <p class="fw-bold">Qui est bénéficiaire ?</p>
    <div class="mb-3">
      <label for="email" class="form-label visually-hidden">À qui souhaitez-vous envoyer la fiche ?</label>
      <input
        type="text"
        maxlength="40"
        class="form-control"
        [class.is-invalid]="sendByEmailForm.controls.email.touched && sendByEmailForm.controls.email.invalid"
        id="email"
        placeholder="Adresse e-mail du bénéficiaire"
        aria-describedby="emailHelp"
        formControlName="email" />
      <div
        id="emailHelp"
        [ngClass]="
          sendByEmailForm.controls.email.touched && sendByEmailForm.controls.email.invalid
            ? 'invalid-feedback'
            : 'text-muted-dark'
        ">
        * Champ obligatoire
      </div>
    </div>
  </form>
  <button slot="footer" type="submit" form="sendByEmailForm" class="btn btn-primary">
    <i class="ri-mail-send-line" aria-hidden="true"></i>
    Envoyer
  </button>
</app-modal>
