@import '../../../assets/scss/color';
@import '../../../assets/scss/layout';
@import '../../../assets/scss/icons';
@import '../../../assets/scss/typography';
@import '../../../assets/scss/shapes';
@import '../../../assets/scss/buttons';
@import '../../../assets/scss/breakpoint';
@import '../../../assets/scss/z-index';

.map-wrapper {
  border-radius: 6px;
  @include background-hash($grey-2);
  border: 1px solid $grey-4;
}

#map {
  height: calc(100vh - #{$header-height} - #{$footer-height} - 60px);
  border: 10px solid $white;
  border-radius: 6px;
  @media #{$tablet} {
    height: calc(100vh - #{$header-height} - #{$footer-height} - 24px);
  }
  @media #{$large-phone} {
    height: calc(100vh - #{$header-height} - 28px);
  }
  &.orientation {
    height: calc(96vh - #{$header-height} - #{$footer-height} - 68px - #{$footer-height-phone});
  }
}

::ng-deep .leaflet-popup-close-button {
  display: none;
}
::ng-deep .leaflet-bar-part-single {
  &:hover {
    .fa-map-marker {
      background-color: $blue-hover;
    }
  }
  &:active {
    .fa-map-marker {
      background-color: $blue-active;
    }
  }
}
::ng-deep .fa-map-marker {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50% 50% 50% 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: $grey-3;
  margin-left: -8px;
  margin-top: 4px;
  &:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: $white;
  }
}

::ng-deep .leaflet-control-locate-circle {
  &.leaflet-interactive {
    stroke: $white !important;
    fill: $black !important;
    stroke-width: 2px !important;
  }
}

::ng-deep .leaflet-control-zoom {
  a {
    color: $grey-3;
    &:hover {
      color: $blue-hover;
    }
  }
}

::ng-deep .leaflet-marker-icon {
  &.leaflet-interactive {
    circle {
      fill: $primary-color !important;
      stroke-width: unset !important;
    }
  }
  &:hover {
    z-index: calc($map-selected-marker - 1) !important;
    svg {
      fill: $blue-hover;
      &.mdm {
        fill: #bd9e6a;
      }
      &.france-service {
        fill: $red-info;
      }
    }
  }
}

::ng-deep .leaflet-left {
  right: 0;
  left: unset;
  .leaflet-control {
    margin-left: 0;
    margin-right: 10px;
  }
}
/*** POP-UP ***/

::ng-deep .leaflet-popup {
  border-radius: 6px;
  @include background-hash($grey-2);
  border: 1px solid $grey-4;
  padding: 0 0 4px 4px;
  bottom: -15px !important;
  h1 {
    color: $grey-1;
    @include cn-bold-20;
    font-size: 18px;
    margin: 0;
  }
  p {
    color: $grey-3;
    @include cn-regular-16;
    font-size: 16px;
    margin: 0 0 13px 0;
    font-style: italic;
  }
  .pop-up {
    text-align: center;
    padding-top: 20px;
    &.orientation {
      padding: 0;
      text-align: -webkit-center;
    }

    button {
      @include btn-search-filter;
      @include cn-bold-14;
      font-size: 16px;
    }

    .orientationButton {
      display: flex;
      padding: 10px 20px;
      border-radius: 20px;
      margin: 0 4px;
      color: $black;
      background-color: $white;
      border: solid 1px $grey-3;
      min-width: 120px;
    }
  }
  span {
    margin-right: 4px;
    &.eye {
      margin-right: 11px;
    }
  }
}
::ng-deep .leaflet-popup-content-wrapper {
  box-shadow: unset;
  border-radius: 6px;
}
::ng-deep .leaflet-popup-content {
  width: 240px;
}
::ng-deep .leaflet-popup-tip-container {
  display: none;
}
@media print {
  .map-wrapper {
    display: none;
  }
}

.body-wrap {
  height: 400px;
}

::ng-deep .on-top-marker {
  z-index: $map-selected-marker !important;
}
