<div class="h-100 d-flex flex-column">
  <div class="list-group list-group-flush flex-grow-1 overflow-auto" tabindex="-1">
    <a
      [routerLink]="['./']"
      *ngFor="let coordinateur of coordinateurs$ | async; trackBy: trackByCoordinateurId"
      [attr.id]="coordinateur.id"
      [class.list-group-item-hover]="(markersPresenter.highlighted$ | async) === coordinateur.id"
      (mouseover)="markersPresenter.highlight(coordinateur.id)"
      (mouseout)="markersPresenter.highlight('')"
      class="list-group-item link-dark p-4">
      <div class="row">
        <div style="width: 38px" class="col-auto p-0 m-auto text-center">
          <img [src]="assetsConfiguration.path + '/img/coordinateurs/' + coordinateur.perimetre + '.svg'" alt="" />
        </div>
        <div class="col">
          <h5 class="mb-0 fw-bold">{{ coordinateur.nom }}</h5>
          <small>{{ coordinateur.commune }}</small>
        </div>
        <div class="col-auto text-end">
          <b class="text-primary">{{ coordinateur.perimetre }}</b>
          <br />
          <small class="text-muted">({{ coordinateur.nombreDePersonnesCoordonnees }} {{ coordinateur.dispositif }})</small>
        </div>
      </div>
    </a>
  </div>
</div>
