<div class="h-100 d-flex flex-column" *ngIf="regions">
  <div class="list-group list-group-flush flex-grow-1 overflow-auto">
    <a
      [routerLink]="['regions', region.nom]"
      [relativeTo]="route.parent"
      queryParamsHandling="preserve"
      (click)="showLieux.emit(region)"
      class="list-group-item list-group-item-action p-4"
      *ngFor="let region of regions">
      <h5 class="fw-bold mb-0">{{ region.nom }}</h5>
      <div class="text-muted">{{ region.lieuxCount }} résultats</div>
    </a>
  </div>
</div>
