<div class="h-100 d-flex flex-column border-end" *ngIf="regions">
  <div tabindex="-1" class="list-group list-group-flush flex-grow-1 overflow-auto">
    <h1 class="visually-hidden">Résultats par région</h1>
    <article
      *ngFor="let region of regions"
      [class.list-group-item-hover]="hoverId === region.code"
      class="list-group-item d-flex p-sm-2 p-0">
      <a
        class="list-group-item-action text-decoration-none flex-grow-1 p-3"
        [routerLink]="['regions', region.nom]"
        [relativeTo]="route.parent"
        queryParamsHandling="preserve"
        (click)="showLieux.emit(region)"
        (mouseover)="enableHover.emit(region.code)"
        (mouseout)="disableHover.emit()">
        <h2 class="h5 fw-bold mb-0">{{ region.nom }}</h2>
        <div class="text-muted">{{ region.lieuxCount }} résultats</div>
      </a>
      <button *ngIf="region.hub" class="btn btn-link" (click)="showHub.emit(region); showHubInvokingContext.emit($event)">
        <img
          [src]="assetsConfiguration.path + '/img/logo/hubs/48/' + region.hub.nom + '.png'"
          [alt]="'Plus d\'information à propos de ' + region.hub.nom"
          [title]="region.hub.nom"
          style="max-width: 120px" />
      </button>
    </article>
  </div>
  <div class="bg-primary py-3 px-4 text-end d-block d-lg-none d-print-none">
    <button class="btn btn-link link-light text-decoration-none" (click)="cartographieLayout.toggleMapForSmallDevices()">
      Afficher la carte
      <span role="img" class="ri-arrow-right-line" aria-hidden="true"></span>
    </button>
  </div>
</div>
