<form [formGroup]="structureForm" (keyup.enter)="(!isEditMode ? '' : null)">
  <div class="title">
    <h3>Y a-t-il des informations spécifiques à la période COVID&nbsp;?</h3>
    <p class="notRequired">Facultatif</p>
  </div>
  <div class="textareaBlock" fxLayout="column">
    <textarea
      rows="8"
      placeholder="Exemple : nous ne sommes joignables que par visio"
      maxlength="500"
      formControlName="lockdownActivity"
    ></textarea>
    <p>
      {{
        getStructureControl('lockdownActivity').value ? getStructureControl('lockdownActivity').value.length : 0
      }}&nbsp;/&nbsp;500
    </p>
  </div>
</form>
