@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';

svg {
  min-width: 44px;
  width: 44px;
  height: 44px;
  fill: $primary-color;
  stroke: $primary-color;
  &.validate {
    stroke: none;
    display: none;
  }
  &.labels {
    min-width: 50px;
    width: 50px;
  }
}

button {
  width: 296px;
  background: $grey-8;
  border-radius: 4px;
  padding: 0 16px;
  height: 65px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 8px 0 0 0;
  &.selected {
    background: $white;
    border: 3px solid $green-1;
    .validate {
      display: initial;
      width: 100%;
      height: 100%;
    }
    .checkmark {
      width: 24px;
      height: 24px;
      // to compensate viewbox of svg
      margin-right: 8px !important;
      transform: translate(-5px);
      border: none;
    }
  }
  p {
    @include lato-bold-16;
    text-align: left;
    color: $grey-2;
  }
  .checkmark {
    width: 18px;
    height: 18px;
    min-width: 18px;
    background: $white;
    border: 1px solid $grey-3;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
