<h2 class="h3 mb-3 pb-1 border-bottom border-dark border-2">Liste des lieux</h2>
<div
  class="bg-light px-4 py-3 mb-2"
  *ngIf="
    filters?.service?.length ||
    filters?.publics_specifiquement_adresses?.length ||
    filters?.prise_en_charge_specifique?.length ||
    filters?.modalites_accompagnement?.length
  ">
  <small class="fw-bold text-muted">Détails de la recherche</small>
  <div>Filtres activés</div>
  <div>
    <span class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal" *ngIf="filters?.address">
      {{ filters?.address }}
    </span>
    <span class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal" *ngIf="filters?.distance">
      0-{{ (filters?.distance ?? 0) / 1000 }}km
    </span>
    <span class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal" *ngIf="filters?.service">
      {{ filters?.service }}
    </span>
    <span
      class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal"
      *ngFor="let publicsSpecifiquementAdresses of filters?.publics_specifiquement_adresses ?? []">
      {{ publicsSpecifiquementAdresses }}
    </span>
    <span
      class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal"
      *ngFor="let priseEnChargeSpecifique of filters?.prise_en_charge_specifique ?? []">
      {{ priseEnChargeSpecifique }}
    </span>
    <span
      class="badge rounded-pill bg-muted-dark py-1 me-1 fw-normal"
      *ngFor="let modaliteAccompagnement of filters?.modalites_accompagnement ?? []">
      {{ modaliteAccompagnement }}
    </span>
  </div>
</div>
<table class="border-0">
  <tfoot>
    <tr>&nbsp;</tr>
    <tr>
      <td class="border-top border-dark border-2 w-100 pt-2">
        <img [src]="brandConfiguration.logoAvecTexte ?? brandConfiguration.logo" height="50px" class="pt-2" alt="" />
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td class="d-flex">
        <div class="d-flex flex-column">
          <div
            *ngFor="
              let lieu of lieuxMediationNumerique | slice : 0 : ceilOnMin(lieuxMediationNumerique.length) / 2;
              let isLast = last
            "
            [ngClass]="{ 'list-items-print': !isLast, 'allow-page-break': isLast }">
            <app-mediation-numerique-list-item
              class="d-block border-bottom h-100"
              [lieuMediationNumerique]="lieu"></app-mediation-numerique-list-item>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div
            *ngFor="
              let lieu of lieuxMediationNumerique
                | slice : ceilOnMin(lieuxMediationNumerique.length) / 2 : ceilOnMin(lieuxMediationNumerique.length);
              let isLast = last
            "
            [ngClass]="{ 'list-items-print': !isLast, 'allow-page-break': isLast }">
            <app-mediation-numerique-list-item
              class="d-block border-bottom h-100"
              [lieuMediationNumerique]="lieu"></app-mediation-numerique-list-item>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
