<div fxLayout="column" class="content-container full-screen">
  <p *ngIf="!verificationSuccess && !verificationIssue">Votre email est en cours de vérification ...</p>
  <div *ngIf="verificationSuccess">
    <div class="title">
      <h3 *ngIf="structure">
        Bravo !<br />
        Votre compte et votre structure ont bien été référencés.
      </h3>
      <h3 *ngIf="!structure">
        Bravo !<br />
        Votre compte a bien été créé.
      </h3>
    </div>
    <div *ngIf="structure" class="structureInfoBlock" fxLayout="row" fxLayoutAlign=" center">
      <div class="structureInfoContent" fxLayout="column">
        {{ structure.structureName }}
        <span>{{ structure.getLabelTypeStructure() }}</span>
      </div>
      <div class="validateSvg">
        <svg class="validate" aria-hidden="true">
          <use [attr.xlink:href]="'assets/form/sprite.svg#checkVector'"></use>
        </svg>
      </div>
    </div>
  </div>
  <p *ngIf="verificationIssue">
    Une erreur est survenue lors de la validation de votre email... Veuillez envoyer un mail au support.
  </p>
  <div
    class="typeform-widget test"
    data-url="https://form.typeform.com/to/m7DV3CdW?typeform-medium=embed-snippet"
  ></div>
  <div class="btnSection" fxLayout="row" fxLayoutAlign="space-around center">
    <button *ngIf="structure && verificationSuccess" class="btn" routerLink="/home" [state]="{ data: structure }">
      Voir ma structure
    </button>
  </div>
</div>
