<ng-container *ngIf="horaires">
  <div class="h5 text-muted mb-3">HORAIRES</div>
  <table class="table table-borderless table-sm mb-0 text-prewrap">
    <tbody>
      <tr>
        <td class="text-muted">Lundi</td>
        <td>{{ horaires['Lundi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Mardi</td>
        <td>{{ horaires['Mardi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Mercredi</td>
        <td>{{ horaires['Mercredi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Jeudi</td>
        <td>{{ horaires['Jeudi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Vendredi</td>
        <td>{{ horaires['Vendredi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Samedi</td>
        <td>{{ horaires['Samedi'] }}</td>
      </tr>
      <tr>
        <td class="text-muted">Dimanche</td>
        <td>{{ horaires['Dimanche'] }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
