@import '../../../../../assets/scss/typography';
@import '../../../../../assets/scss/color';
@import '../../../../../assets/scss/breakpoint';

//section equipments controller
.controller {
  border: 1px solid $grey-5;
  border-radius: 4px;
  margin-bottom: 13px;
  max-width: 600px;
  @media #{$small-phone} {
    width: 95% !important;
  }
  @media #{$tablet} {
    width: 296px;
  }
  .controllerHeader {
    height: 65px;
    padding: 0 15px 0 12px;
    p {
      @include lato-bold-14;
    }
  }
  .equipments {
    svg {
      width: 32px;
      height: 32px;
      background-color: $grey-8;
      border-radius: 50%;
      cursor: pointer;
      &.hide.disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    input {
      width: 56px;
      margin: 0 6px;
      text-align: right;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
  }
}
