<ng-container *ngIf="coordinateur$ | async as coordinateur">
  <div class="p-4 sticky-top bg-primary text-white d-block">
    <div class="d-flex">
      <img
        [src]="assetsConfiguration.path + '/img/coordinateurs/' + coordinateur.perimetre + '.svg'"
        alt=""
        style="height: 56px"
        class="me-3 my-auto" />
      <div class="flex-grow-1 align-self-center">
        <small>
          Coordinateur
          <span class="text-lowercase">{{ coordinateur.perimetre}}</span>
        </small>
        <h1 class="h2 fw-bold mb-0 text-first-letter-uppercase">{{ coordinateur.nom }}</h1>
        <div class="fst-italic d-flex align-items-center">
          <small class="mt-1">{{ coordinateur.commune }}</small>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="flex-grow-1 text-end">
          <button
            (click)="closeDetails()"
            type="button"
            class="btn btn-close btn-close-white opacity-100"
            tabindex="0"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4 bg-light row">
    <div class="col">
      <div class="text-primary mb-2">
        <img
          [src]="assetsConfiguration.path + '/img/coordinateurs/' + coordinateur.dispositif + '.svg'"
          alt=""
          style="height: 24px"
          class="me-1" />
        Coordonne
        <b class="text-decoration-underline">{{ coordinateur.nombreDePersonnesCoordonnees}} {{ coordinateur.dispositif }}</b>
        répartis sur
        <b class="text-decoration-underline">{{ coordinateur.nombreDeStructuresAvecDesPersonnesCoordonnees}} structures</b>
      </div>
      {{ coordinateur.adresse }}
      <br />
      <span class="text-muted">IFN {{ coordinateur.ifn }}/5</span>
    </div>
    <div class="col-auto">
      <a
        *ngIf="coordinateur.courriel"
        href="mailto:{{ coordinateur.courriel }}"
        class="btn btn-sm btn-secondary d-block mb-2"
        (click)="$event.stopPropagation()">
        <i class="ri-mail-line me-2 align-bottom text-right"></i>
        <span>Contacter par mail</span>
      </a>
      <a
        *ngIf="coordinateur.telephone"
        href="tel://{{ coordinateur.telephone }}"
        class="text-decoration-none d-block mb-2"
        (click)="$event.stopPropagation()">
        <i class="me-2 ri-phone-line align-bottom"></i>
        <span aria-hidden="true">{{ coordinateur.telephone | phone }}</span>
        <span class="visually-hidden">Contacter par téléphone</span>
      </a>
    </div>
  </div>
  <div class="p-4">
    <span class="text-muted">LISTE DES LIEUX COORDONNÉES</span>
  </div>
</ng-container>
