<div class="d-flex">
  <app-address-field
    [defaultValue]="(initialSearch$ | async) ?? ''"
    [addressSuggestions]="(addressesFound$ | async) ?? []"
    [addressNotFound]="(addressNotFound$ | async) ?? false"
    (selectAddress)="onSelectAddress($event)"
    (searchAddress)="onSearchAddress($event)">
    <button type="button" class="btn input-group-btn" (click)="onGeoLocate()" *ngIf="(displayGeolocation$ | async) === true">
      <span class="border-end border-muted me-2"></span>
      <span
        *ngIf="loadingState$ | async; else geolocationIcon"
        class="spinner-border spinner-border-sm text-primary me-1"
        role="status"
        aria-hidden="true"></span>
      <ng-template #geolocationIcon>
        <i class="ri-focus-3-line ri-lg text-muted"></i>
      </ng-template>
    </button>
  </app-address-field>
</div>
