@import '../../../../assets/scss/icons';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';

.structure {
  padding: 12px 0 12px 0;
  border-bottom: 1px dashed $grey !important;
  cursor: pointer;
  .typeStructure {
    color: $grey;
    @include cn-regular-16;
  }
  .nomStructure {
    padding-top: 13px;
    color: $purple;
    @include cn-bold-20;
    padding-bottom: 5px;
  }
  .distanceStructure {
    @include cn-regular-16;
    color: $purple;
  }
  &:last-child {
    border-bottom: none;
  }
}
