@import '../../../../assets/scss/icons';
@import '../../../../assets/scss/color';
@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/breakpoint';

.structure {
  padding: 12px 0 12px 0;
  border-bottom: 1px dashed $grey !important;
  cursor: pointer;
  .typeStructure {
    color: $grey-3;
    @include cn-regular-16;
  }
  .nomStructure {
    padding-top: 13px;
    color: $grey-1;
    @include cn-bold-20;
    padding-bottom: 5px;
    width: 100%;
  }
  .distanceStructure {
    @include cn-regular-16;
    color: $grey-1;
    width: 50%;
  }
  &:last-child {
    border-bottom: none;
  }
}
