<div class="structure" fxLayout="column" (click)="cardClicked()" (mouseenter)="cardHover()">
  <div class="headerStructure" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    <span class="nomStructure">{{ structure.structureName }}</span>
    <div
      *ngIf="structure.distance"
      class="distanceStructure"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="20px"
    >
      <div class="isntPhoneContent" fxLayout="row" fxLayoutAlign="center center">
        <span class="indicatorDistance" *ngFor="let i of [].constructor(structure.getDistanceRange())"></span>
      </div>
      <div>
        {{ this.formatDistance() }}
      </div>
    </div>
  </div>
  <span class="typeStructure">{{ getLabelTypeStructure(structure.structureType) }}</span>
  <br />
</div>
