<div class="structure" fxLayout="column" (click)="cardClicked()" (mouseover)="cardHover()">
  <div class="headerStructure" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
    <span class="nomStructure">{{ structure.nomDeVotreStructure }}</span>
    <div
      *ngIf="structure.distance"
      class="distanceStructure"
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="20px"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <span class="indicatorDistance" *ngFor="let i of [].constructor(structure.getDistanceRange())"></span>
      </div>
      <div>
        {{ this.formatDistance() }}
      </div>
    </div>
  </div>
  <span class="typeStructure">{{ structure.typeDeStructure }}</span>
  <br />
  <app-structure-opening-status [structure]="structure"></app-structure-opening-status>
</div>
