<div class="d-flex flex-column bg-secondary h-100 justify-content-center">
  <a
    class="nav-link text-muted-dark"
    href="https://airtable.com/app2MF0d9XxkCwv0p/shrX7zSTk8pOtoKik?mtm_campaign=fromwebsitecarto"
    target="_blank"
    title="S'inscrire au webinaire (nouvel onglet)"
    rel="noopener noreferrer">
    <div class="d-flex align-items-center flex-column">
      <small class="text-primary fw-bold mb-0 mt-2">M'inscrire au webinaire</small>
      <small class="text-muted-dark mt-0 mb-2">d'accompagnement à la mise à jour des données</small>
    </div>
  </a>
</div>
