<div class="d-flex flex-column">
  <small class="d-flex text-muted-dark">
    <i class="ri-timer-fill me-1" aria-hidden="true"></i>
    45 min - 1 fois par mois
  </small>
  <div class="d-flex align-items-center my-5 flex-column flex-grow-1">
    <h3 class="h5 text-primary fw-bold">Webinaire</h3>
    <p class="text-muted-dark fw-bold">Mettre à jour vos données sur la carto</p>
  </div>
  <div class="d-flex justify-content-center">
    <a
      class="nav-link text-decoration-underline text-muted-dark"
      href="https://airtable.com/app2MF0d9XxkCwv0p/shrX7zSTk8pOtoKik?mtm_campaign=fromwebsitecarto"
      target="_blank"
      title="S'inscrire au webinaire (nouvel onglet)"
      rel="noopener noreferrer">
      S'inscrire
    </a>
  </div>
</div>
