<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<main id="content">
  <section class="bg-welcome py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-auto p-5">
          <img src="/assets/img/presentation/personnages_sur_carte.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 my-auto text-secondary">
          <h1 class="fw-bold mb-4">Qu'est-ce que la cartographie nationale des lieux d'inclusion numérique ?</h1>
          <p>
            Cette cartographie permet d'orienter des bénéficiaires vers les lieux d'inclusion numérique qui sauront répondre à
            leurs besoins.
          </p>
          <p class="mb-4">
            Que vous soyez un particulier ou un professionnel, la cartographie nationale est là pour vous aider à trouver les
            lieux d'inclusion numérique avec des services adaptés à vos besoins ou à ceux de vos bénéficiaires !
          </p>
          <div class="flex">
            <button (click)="onScrollToAnchor()" class="btn btn-outline-secondary rounded-0 me-4">
              <span role="img" class="ri-arrow-down-line me-2 small" aria-hidden="true"></span>
              Accéder aux webinaires
            </button>
            <a [routerLink]="['/', 'orientation']" class="btn btn-discover rounded-0">Orienter un bénéficiaire</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container text-center">
    <h2 class="my-5 text-black text-center">
      <span class="d-block">
        Vous souhaitez savoir comment
        <span class="fw-bold">apparaître</span>
      </span>
      sur la cartographie ou
      <span class="fw-bold">mettre à jour</span>
      vos données ?
    </h2>
    <img src="/assets/img/presentation/multipuces.svg" class="img-fluid" style="max-width: 30%" alt="" />
    <div class="my-5">
      <a
        class="btn btn-primary rounded-0"
        href="https://labase.anct.gouv.fr/ressource/1474"
        target="_blank"
        title="Référencer ma structure (nouvel onglet)"
        rel="noopener noreferrer">
        <span role="img" class="ri-edit-line ri me-2" aria-hidden="true"></span>
        Référencer ma structure
      </a>
    </div>
  </section>
  <section class="py-2" [ngClass]="slidesBackground[(currentSlide$ | async ) ?? 0] ">
    <app-carousel
      [currentSlide]="(currentSlide$ | async) ?? 0"
      (switchSlide)="onSwitchSlide($event)"
      (nextSlide)="onNextSlide()"
      (previousSlide)="onPreviousSlide()"
      (scrollToAnchor)="onScrollToAnchor()"></app-carousel>
  </section>
  <section class="text-center bg-integration py-5">
    <div class="container">
      <h2 class="fw-bold my-5 text-black text-center">
        <span class="d-block">Comme de nombreux acteurs</span>
        implémentez la cartographie sur votre site internet
      </h2>
      <app-integrateurs></app-integrateurs>
    </div>
  </section>
  <section #webinaire class="py-5">
    <div class="container">
      <h2 class="ps-3 fw-bold my-5 text-center text-primary">
        <span class="d-block">Découvrez nos webinaires, pour en savoir plus</span>
        sur cette cartographie et ses usages variés
      </h2>
      <app-webinaire></app-webinaire>
    </div>
  </section>
  <section class="bg-integration text-center">
    <div class="container my-3 p-2" *ngIf="lieuxMediationNumeriqueTotal$ | async as lieuxMediationNumeriqueTotal">
      <h2 class="ps-3 fw-bold my-5 text-start">Chiffres clefs d'utilisation</h2>
      <app-chiffres-cle
        [regions]="(regions$ | async)"
        [lieuxMediationNumeriqueTotal]="(lieuxMediationNumeriqueTotal$ | async) ?? []"
        [typologies]="(typologies$ | async) ?? []"
        [labels]="(labelsNationaux$ | async) ?? []"></app-chiffres-cle>
    </div>
  </section>
</main>
