<app-skip-link fragment="content">Contenu</app-skip-link>
<app-skip-link fragment="footer">Pied de page</app-skip-link>
<main id="content">
  <section class="bg-welcome py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 my-auto p-5">
          <img src="/assets/img/presentation/personnages_sur_carte.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-6 my-auto">
          <h1 class="fw-bold text-secondary mb-4">Qu'est-ce que la cartographie nationale des lieux d'inclusion numérique ?</h1>
          <p class="text-secondary mb-4">
            Cette cartographie permet d'orienter des bénéficiaires vers les lieux d'inclusion numérique qui sauront répondre à
            leurs besoins.
            <br />
            <br />
            Que vous soyez un particulier ou un professionnel, la cartographie nationale est là pour vous aider à trouver les
            lieux d'inclusion numérique avec des services adaptés à vos besoins ou à ceux de vos bénéficiaires !
            <br />
          </p>
          <div>
            <a [routerLink]="['orientation']" class="btn btn-discover rounded-0">Orienter un bénéficiaire</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container text-center">
    <h2 class="my-5 text-black text-center">
      Vous souhaitez savoir comment
      <span class="fw-bold">apparaître</span>
      <br />
      sur la cartographie ou
      <span class="fw-bold">mettre à jour</span>
      vos données ?
    </h2>
    <img src="/assets/img/presentation/multipuces.svg" class="img-fluid" style="max-width: 30%" alt="" />
    <div class="my-5">
      <a
        class="btn btn-primary rounded-0"
        href="https://labase.anct.gouv.fr/ressource/1474"
        target="_blank"
        rel="noopener noreferrer">
        <i class="ri-edit-line ri me-2" aria-hidden="true"></i>
        Référencer ma structure
      </a>
    </div>
  </section>
  <section class="py-2" [ngClass]="slidesBackground[(currentSlide$ | async ) ?? 0] ">
    <app-carousel
      [currentSlide]="(currentSlide$ | async) ?? 0"
      (switchSlide)="onSwitchSlide($event)"
      (nextSlide)="onNextSlide()"
      (previousSlide)="onPreviousSlide()"></app-carousel>
  </section>
  <section class="py-5 bg-info">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8">
          <h2 class="fw-bold text-black mb-4">Une nouvelle cartographie&nbsp;? Pourquoi&nbsp;?</h2>
          <p>
            L’objectif de cette cartographie est de participer à l’amélioration de l'accompagnement proposé par les
            professionnels de la médiation numérique.
            <br />
          </p>
          <p>
            L'idéologie de celle-ci est de proposer un outil à la fois national et local. La base de données est ouverte et
            contributive : de la plus petite collectivité à un hub territorial, chacun peut implémenter sur son site cet outil
            et afficher l'offre de médiation de son territoire. Travailler sur cette base de données commune vise à centraliser
            les informations afin de les actualiser plus facilement et améliorer la visibilité et le quotidien des travailleurs
            sociaux en particulier des médiateurs numériques.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="container mb-5" *ngIf="!this.environment">
    <h2 class="fw-bold my-5 text-black text-center">De quel écosystème parle-t-on ?</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100 rounded-0">
          <img src="/assets/img/presentation/svg-dora.svg" class="card-img-top" alt="" />
          <div class="card-body">
            <h3 class="fw-bold card-title">Dora</h3>
            <p class="card-text">
              Vous travaillez dans un lieu d'inclusion numérique&nbsp;? Utilisez les formulaires Dora afin de renseigner vos
              données !
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img src="/assets/img/presentation/svg-rdv.svg" class="card-img-top" alt="" />
          <div class="card-body">
            <h3 class="fw-bold card-title">RDV Solidarité</h3>
            <p class="card-text">La prise de Rendez-vous est désormais possible directement depuis la cartographie.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img src="/assets/img/presentation/svg-labase.svg" class="card-img-top" alt="" />
          <div class="card-body">
            <h3 class="fw-bold card-title">La Base</h3>
            <p class="card-text">
              La Base regroupe les ressources des professionnels du numérique d’intérêt général dont l’inclusion et la médiation
              numériques.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-0">
          <img src="/assets/img/presentation/svg-ifn.svg" class="card-img-top" alt="" />
          <div class="card-body">
            <h3 class="h5 fw-bold card-title">IFN</h3>
            <p class="card-text">
              C'est l'indice de fragilité numérique : son rôle est de cibler le besoin de médiation numérique dans les
              territoires.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container text-center">
    <div class="my-3" *ngIf="lieuxMediationNumeriqueTotal$ | async as lieuxMediationNumeriqueTotal">
      <h2 class="ps-3 fw-bold my-5 text-start">Chiffres clefs d'utilisation</h2>
      <app-chiffres-cle
        [regions]="(regions$ | async)"
        [lieuxMediationNumeriqueTotal]="(lieuxMediationNumeriqueTotal$ | async) ?? []"
        [typologies]="(typologies$ | async) ?? []"
        [labels]="(labelsNationaux$ | async) ?? []"></app-chiffres-cle>
    </div>
  </section>
</main>
