$accordion-button-bg: #f4f4f4;
$accordion-button-color: $black;
$accordion-button-active-color: $black;
$accordion-button-active-bg: $secondary;
$accordion-border-width: 0;
$accordion-border-radius: 0;
