$font-family-main: lato;
$font-path-main: '/assets/fonts/';
$font-extensions-main: eot woff2 ttf woff svg;
$font-normal-main: (
  100: $font-family-main + '/thin/' + $font-family-main + '-thin',
  300: $font-family-main + '/light/' + $font-family-main + '-light',
  400: $font-family-main + '/regular/' + $font-family-main + '-regular',
  700: $font-family-main + '/bold/' + $font-family-main + '-bold',
  900: $font-family-main + '/black/' + $font-family-main + '-black'
);
$font-italic-main: (
  100: $font-family-main + '/thin-italic/' + $font-family-main + '-thin-italic',
  300: $font-family-main + '/light-italic/' + $font-family-main + '-light-italic',
  400: $font-family-main + '/regular-italic/' + $font-family-main + '-regular-italic',
  700: $font-family-main + '/bold-italic/' + $font-family-main + '-bold-italic',
  900: $font-family-main + '/black-italic/' + $font-family-main + '-black-italic'
);
$font-family-sans-serif: $font-family-main, system-ui, -apple-system, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
