$form-chip-padding-x: 16px;
$form-chip-padding-y: 4px;
$form-chip-padding-start: 0;
$form-chip-background-color: $light;
$form-chip-border-radius: 16px;
$form-chip-transition: background-color color 250ms ease;
$form-chip-color: $gray-700;
$form-chip-hover-color: $black;
