$input-border-color: $input-bg;
$input-focus-box-shadow: none;
$input-placeholder-color: #999;
$input-padding-x: 0.5rem;
$input-border-width: 2px;
$input-border-radius: 5px;
$input-focus-border-color: $component-active-bg;
$input-hover-border-color: $black;
$form-select-focus-border-color: $component-active-bg;
$form-select-focus-box-shadow: none;
$form-select-focus-border-color: $component-active-bg;
$form-select-hover-border-color: $black;
$form-select-border-radius: 5px;
$form-select-focus-color: $form-select-color;
$input-group-addon-bg: $input-bg;
$input-group-addon-border-color: $input-placeholder-color;
