$marker-territoire-size: 85px;
$marker-territoire-size-bg-hover: 110px;
$marker-territoire-size-fg-hover: 74px;
$marker-conseiller-size: 9px;
$marker-conseiller-size-bg-hover: 24px;
$marker-conseiller-size-fg-hover: 14px;
