@use 'sass:color';

$primary: #004f80;
$secondary: #fff;
$tertiary: color.adjust($primary, $lightness: 60%);
$success: #4caf50;
$info: #c0c0ff;
$warning: #ffc107;
$danger: #d42d3d;
$light: #f4f4f4;
$muted: #999;
$muted-dark: #606d6f;
$muted-light: #bababa;
$dark: #161616;
$gray-700: #495057;
$black: #000;
$focus: #2626a2ff;
$transparent: rgba(117 190 218 / 50%);
$min-contrast-ratio: 2.7;
$box-shadow-sm: 0 0.25rem 0.25rem rgba($black, 0.25);
$focus-box-shadow: 0 0 0 0.25rem rgba($focus, 0.5);
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tertiary': $tertiary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'muted': $muted,
  'muted-dark': $muted-dark,
  'muted-light': $muted-light,
  'dark': $dark
) !default;
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  navbar: 75px
) !default;
$modal-content-bg: $light;
$modal-content-border-radius: 0;
$modal-backdrop-bg: white;
$modal-header-border-color: transparent;
$modal-footer-bg: white;
$modal-inner-padding: $spacer * 2;
$btn-font-weight: bold;
$form-range-track-height: 0.2rem;
$form-range-track-bg: #bbb;
$form-range-track-border-radius: 0;
$form-range-thumb-width: 1.5rem;
$offcanvas-horizontal-width: 450px;
$dropdown-link-active-color: inherit;
$dropdown-link-active-bg: #e9ecef;
$form-label-color: $muted-dark;
$form-label-font-style: italic;
$form-label-font-size: 0.875rem;
$list-group-action-active-color: $gray-700;
$list-group-action-active-bg: transparent;
@import './accordion';
@import './buttons';
@import './dropdown';
@import './fonts';
@import './icons';
@import './list-group';
@import './markers';
@import './tables';
@import './navbar';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import './inputs';
@import './breadcrumb';
@import './form-check';
@import './square';
@import './tiles';
