$primary: #000091;
$secondary: #fff;
$success: #47c562;
$info: #adb5bd;
$warning: #ffc107;
$danger: #dc3545;
$light: #f4f4f4;
$muted: #999;
$dark: #212529;
$black: #000 !default;
$transparent: rgba(117 190 218 / 50%);
$min-contrast-ratio: 2.7;
$box-shadow-sm: 0 0.25rem 0.25rem rgba($black, 0.25);
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'muted': $muted,
  'dark': $dark
) !default;
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5
) !default;

@import './accordion';
@import './buttons';
@import './dropdown';
@import './fonts';
@import './icons';
@import './inputs';
@import './list-group';
@import './tables';
@import './navbar';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import './breadcrumb';
@import './form-check';
@import './square';
@import './tiles';
