$primary: #000091;
$secondary: #fff;
$success: #47c562;
$info: #adb5bd;
$warning: #ffc107;
$danger: #dc3545;
$light: #f4f4f4;
$muted: #999;
$dark: #212529;
$black: #000 !default;
$transparent: rgba(117 190 218 / 50%);
$blue-light: #8585f6;
$presentation-bg: #e3e3fd;
$min-contrast-ratio: 2.7;
$box-shadow-sm: 0 0.25rem 0.25rem rgba($black, 0.25);
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'muted': $muted,
  'dark': $dark,
  'blue-light': $blue-light,
  'presentation-bg': $presentation-bg
) !default;

@import './accordion';
@import './buttons';
@import './dropdown';
@import './fonts';
@import './icons';
@import './inputs';
@import './tables';
@import './navbar';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/maps';
@import './form-check';
@import './tiles';
