<div class="h6 text-muted mb-3">Aidants dans cette structure</div>
<div class="card border-0 bg-light" style="border-radius: 0">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <i class="ri-user-3-line ri-fw ri-space me-1 bg-primary text-light rounded-circle"></i>
      <h6 class="card-title mt-2 fw-bold">Jean Dujardin</h6>
    </div>
    <div class="d-flex align-items-center">
      <i class="ri-phone-line ri-fw ri-space me-1"></i>
      <p class="card-text">07 15 32 70 20</p>
    </div>
    <div class="d-flex align-items-center">
      <i class="ri-mail-line ri-fw ri-space me-1"></i>
      <p class="card-text">jean.jacques@conseiller-numerique.fr</p>
    </div>
  </div>
</div>
