<div fxLayout="row" class="content-container">
  <app-structure-list
    (searchEvent)="getStructures($event)"
    (loadMoreStructures)="loadMoreStructures()"
    [structureList]="structures"
    [location]="currentLocation"
    (displayMapMarkerId)="setMapMarkerId($event)"
    (selectedMarkerId)="setSelectedMarkerId($event)"
    [selectedStructure]="currentStructure"
    class="left-pane"
    fxLayout="column"
  ></app-structure-list>
  <app-map
    [structures]="structures"
    [toogleToolTipId]="displayMarkerId"
    [selectedMarkerId]="selectedMarkerId"
    (selectedStructure)="showDetailStructure($event)"
    class="right-pane"
  ></app-map>
</div>
