<div fxLayout="row" class="content-container">
  <app-address-autocomplete></app-address-autocomplete>
  <app-structure-list
    (searchEvent)="getStructures($event)"
    [structureList]="structures"
    [location]="currentLocation"
    (displayMapMarkerId)="setMapMarkerId($event)"
    (selectedMarkerId)="setSelectedMarkerId($event)"
    [selectedStructure]="currentStructure"
    (updatedStructure)="updateStructures($event)"
    class="left-pane"
    [ngClass]="{ mapPhone: isMapPhone == true }"
    fxLayout="column"
  ></app-structure-list>
  <div class="btnSwitch">
    <app-button
      [style]="'roundedButton'"
      [text]="isMapPhone ? 'Liste' : 'Carte'"
      [iconBtn]="isMapPhone ? 'liste' : 'map-marker'"
      (action)="switchMapList()"
    ></app-button>
  </div>
  <app-map
    [structures]="structures"
    [toogleToolTipId]="displayMarkerId"
    [selectedMarkerId]="selectedMarkerId"
    (selectedStructure)="showDetailStructure($event)"
    [isMapPhone]="isMapPhone"
    class="right-pane"
    [ngClass]="{ mapPhone: isMapPhone == true }"
  ></app-map>
</div>
