<form [formGroup]="personalOfferForm" *ngIf="personalOfferForm">
  <div class="title">
    <p class="overtitle">{{ structureName }}</p>
    <h3>Quelles formations au numérique proposez-vous&nbsp;?</h3>
    <p class="notRequired">Facultatif</p>
  </div>
  <app-training-type-picker
    [baseSkills]="personalOfferForm.get('baseSkills').value"
    [accessRight]="personalOfferForm.get('accessRight').value"
    [digitalCultureSecurity]="personalOfferForm.get('digitalCultureSecurity').value"
    [socialAndProfessional]="personalOfferForm.get('socialAndProfessional').value"
    [parentingHelp]="personalOfferForm.get('parentingHelp').value"
    (selectedType)="setTrainingsFromCategories($event)"
  ></app-training-type-picker>
</form>
