@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/color';
.form-group {
  margin-bottom: 26px;
  label {
    margin-bottom: 4px;
    @include cn-regular-14;
    color: $grey-2;
  }
  input {
    width: 100%;
    margin-right: 39px;
  }
  &.password {
    p {
      @include cn-regular-14;
      color: $grey-3;
      margin-top: 0;
      margin-bottom: 4px;
      padding-right: 39px;
      &.invalid {
        color: $orange-warning;
      }
    }
    .eyePassword {
      cursor: pointer;
      margin-right: 39px;
    }
  }
}
button {
  &.invalid {
    opacity: 0.4;
  }
}
