@import '../../../../assets/scss/typography';
@import '../../../../assets/scss/icons';

.statusStructure {
  span {
    @include lato-regular-14;
    margin-right: 8px;
    display: inline-block;
  }
}
.details {
  span {
    margin-right: 12px;
    padding: 1px;
    margin-left: 5px;
    @include lato-regular-16;
  }
  .text {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}
