@import '../../../../assets/scss/icons';
.nbStructuresLabel {
  color: #828282;
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.structure {
  padding: 12px 0 12px 0;
  border-bottom: 1px dashed #bdbdbd;
  .typeStructure {
    color: #828282;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
  }
  .nomStructure {
    padding-top: 13px;
    color: #594d59;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 103%;
    padding-bottom: 5px;
  }
  .distanceStructure {
    font-family: Times New Roman;
    font-style: normal;
    font-size: 16px;
    line-height: 103%;
    color: #594d59;
  }
  &:last-child {
    border-bottom: none;
  }
}
.statusStructure {
  span {
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 103%;
  }
}
