<span class="divider"></span>
<span class="nbStructuresLabel">140 structures</span>

<div class="structure">
  <span class="typeStructure">Bibliothèque</span>
  <div class="headerStructure" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="nomStructure">Nom de la structure</span>
    <div class="distanceStructure">
      <span>|-----| 63 m</span>
    </div>
  </div>
  <br />
  <div class="statusStructure" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
    <span class="dot"></span>
    <span>Ouvert actuellement</span>
  </div>
</div>
