<div class="d-flex flex-row-reverse">
  <div class="flex-grow-1 align-self-center">
    <div class="d-flex">
      <small class="flex-grow-1" *ngIf="typologie">{{ typologie }}</small>
      <button
        type="button"
        class="btn btn-close btn-close-white opacity-100 ms-auto"
        tabindex="0"
        aria-label="Revenir à la liste"
        (click)="closeDetails.emit()"></button>
    </div>
    <div class="d-flex">
      <div class="w-50 flex-grow-1 pe-3">
        <h1 class="h2 fw-bold mb-0 text-first-letter-uppercase">
          {{ nom }}
        </h1>
        <ng-container *ngIf="date">
          <span *ngIf="isTooOld(date); else updateDate" class="badge rounded-pill bg-tertiary text-primary fw-normal me-1">
            <span role="img" class="ri-alert-line" aria-hidden="true"></span>
            Dernière mise à jour il y a plus d'un an
          </span>
          <ng-template #updateDate>
            <span class="mt-1 fst-italic me-2">
              Mise à jour le
              <time>{{ date | date : 'dd/MM/y' }}</time>
            </span>
          </ng-template>
        </ng-container>
        <div class="d-flex">
          <div class="text-end ms-1" *ngFor="let source of sources">
            <a
              role="button"
              (click)="scrollToSource.emit()"
              *ngIf="source.logo as logo"
              class="d-block d-sm-none text-secondary mt-1">
              <span class="circle-wrapper">
                <img
                  class="img-fluid p-1"
                  title="{{ source.label }}"
                  [src]="assetsConfiguration.path + '/img/logo/source-update/' + logo + '.svg'"
                  alt="{{ source.label }}" />
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-2" *ngIf="sources">
        <small role="button" (click)="scrollToSource.emit()" class="d-none d-sm-block opacity-75 fst-italic d-flex">
          <span class="text-decoration-underline">Sources des données</span>
        </small>
        <div class="d-flex justify-content-end">
          <div class="text-end ms-1" *ngFor="let source of sources">
            <a
              role="button"
              (click)="scrollToSource.emit()"
              *ngIf="source.logo as logo; else noLogo"
              class="d-none d-sm-block text-secondary mt-1 circle-wrapper">
              <span class="circle-wrapper">
                <img
                  class="img-fluid p-1"
                  title="{{ source.label }}"
                  [src]="assetsConfiguration.path + '/img/logo/source-update/' + logo + '.svg'"
                  alt="{{ source.label }}" />
              </span>
            </a>
            <ng-template #noLogo>
              <span class="circle-wrapper">
                <span role="img" class="ri-lg ri-database-2-line text-primary" aria-hidden="true"></span>
              </span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span role="img" class="ri-4x ri-map-pin-2-line my-auto me-2 d-md-inline d-none" aria-hidden="true"></span>
</div>
