<div class="d-flex">
  <i class="ri-4x ri-account-pin-circle-fill my-auto me-2"></i>
  <div class="flex-grow-1 align-self-center">
    <small *ngIf="typologie">{{ typologie }}</small>
    <h1 class="h2 fw-bold mb-0 text-first-letter-uppercase">
      {{ nom }}
    </h1>
    <div class="fst-italic d-flex align-items-center">
      <small *ngIf="date" class="mt-1">Mise à jour le {{ date | date : 'dd/MM/y' }}</small>
      <div *ngFor="let sourceRedirection of sourceRedirectionLink; index as i">
        <div *ngIf="sourceRedirection.nom === source">
          <div class="ms-2 opacity-75">
            source :
            <a href="{{ sourceRedirection.link }}" target="_blank" rel="noopener noreferrer" class="text-secondary">
              {{ source }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="flex-grow-1 text-end">
      <a
        class="btn btn-close btn-close-white opacity-100"
        aria-label="Close"
        queryParamsHandling="preserve"
        [routerLink]="['..']"></a>
    </div>
  </div>
</div>
